<template>
<div>
  <div class="user-welcome d-block d-xl-flex flex-nowrap align-items-center">
    <div class="page-title mb-2 mb-sm-0">
      <h1>Contactos de Bitrix</h1>
    </div>
    <div class="ml-auto d-flex align-items-center secondary-menu text-center">
      <a-tooltip>
        <template slot='title'>
          Actualizar lista
        </template>
        <a href="javascript:void(0);" @click="load_bitrix_contacts(1)" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Todo list">
          <i class="fe fe-refresh-ccw btn btn-icon text-primary"></i>
        </a>
      </a-tooltip>



    </div>
    <div class="ml-xl-4 mt-xl-0 ml-0 mt-3 d-flex align-items-center">
      <div class="input-group">
        <input @keyup.enter="load_bitrix_contacts(1)" id="search_bar" type="text" class="form-control form-control-sm" placeholder="Buscar correo" aria-label="Buscar correo" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button @click="load_bitrix_contacts(1)" class="btn btn-primary btn-xs" type="button" id="button-addon2"><i class="ti ti-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="m-t-40 card">
    <div class="">
      <a-spin :spinning="spinning" :indicator="indicator" >
        <a-icon slot="indicator" type="loading" style="font-size: 32px" spin/>
      <vue-good-table
        max-height="50%"
        :columns="columns"
        :rows="rows"/>
    </a-spin>
    </div>

  </div>
  <div class="user-welcome d-block d-xl-flex flex-nowrap align-items-center">
    <div class="ml-auto d-flex align-items-center secondary-menu text-center">
      <a-pagination :showTotal="total => `${total_res} contactos en total`"
                    :total="total_res"
                    :pageSize="50"
                    @change="getContactsOffset"
      />
    </div>
  </div>
</div>
</template>

<script>
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import axios from 'axios'

export default {
  name: 'bitrix_contacts',
  components: {
    VueGoodTable,
  },
  data(){
    let total_res
    return{
      indicator: <a-icon type="loading" style="font-size: 24px" spin />,
      spinning: false,
      total_res,
      columns: [
        {
          label: 'Bitrix ID',
          field: 'ID',
          sortable: false,
        },
        {
          label: 'Nombre',
          field: 'NAME',
          sortable: false,
        },
        {
          label: 'Apellido',
          field: 'LAST_NAME',
          sortable: false,
        },
        {
          label: 'Lead ID',
          field: 'LEAD_ID',
          sortable: false,
        },
        {
          label: 'Creado',
          field: 'DATE_CREATE',
          sortable: false,
        },
        {
          label: 'Telefono',
          field: 'PHONE.0.VALUE',
          sortable: false,
        },
        {
          label: 'Correo',
          field: 'EMAIL.0.VALUE',
          sortable: false,
        },
      ],
      rows: [{}],
    }
  },
  methods:{
    getContactsOffset(value){
      this.load_bitrix_contacts(value);
    },
    load_bitrix_contacts(start){
      let search='';
      this.rows = [{}];
      let _this = this;
      this.spinning = true;
      let bContactP
      let offset

      search = document.getElementById('search_bar')
      offset = (start * 50)-50;
      bContactP={
        "offset": offset,
        "search_val": search.value
      }
      axios.post(process.env.BASE_URL+"/managment/bitrix/bitrix_getlist",bContactP).then((result) => {
        this.rows = result.data.result;
        this.total_res = result.data.total;
        _this.spinning = false;
        if (result.data.error){
          this.$message.error('Ha ocurrido un error al sincronizar los contactos de Bitrix');
        }
      });
    },
  },
  mounted () {
    this.load_bitrix_contacts(0)
  },

}
</script>

<style>

</style>
