<template>
  <aside class="app-navbar">
    <!-- begin sidebar-nav -->
    <div class="sidebar-nav scrollbar scroll_light">
      <ul class="metismenu" id="sidebarNav">
        <li class="">
          <router-link to="/" aria-expanded="false">
            <i class="nav-icon ti ti-home"></i>
            <span class="nav-title">Inicio</span>
          </router-link>
        </li>
        <li class="nav-static-title">Gestión</li>
        <li class="">
          <router-link to="/managment/contacts_adviser" aria-expanded="false">
            <i class="nav-icon ti ti-archive"></i>
            <span class="nav-title">Miembros</span>
          </router-link>
        </li>
        <li class="">
          <router-link to="/managment/payrolls_list" aria-expanded="false">
            <i class="nav-icon ti ti-archive"></i>
            <span class="nav-title">Nominas</span>
          </router-link>
        </li>
      </ul>
    </div>
    <!-- end sidebar-nav -->
  </aside>
</template>

<script>
import * as mb from '../../../entities/models'

export default {
  name: 'asesor_sidebar',

  data(){
    return {
      mb,
      user:{},
      image:null,
      show_modal_pass:false
    }
  },
  mounted () {
    this.user=this.$store.site.user;
    this.image=mb.statics('Users').getImageURL(this.user.image)
  }
}
</script>

<style scoped>

</style>
