<template>
  <footer class="footer">
    <div class="row">
      <div class="">
        <p>© Copyright {{new Date().getFullYear()}}  Todos los derechos reservados. Desarrollado por  <a href="http://thecloud.group">The Cloud Group</a></p>
      </div>
    </div>
  </footer>
</template>

<script>
    export default {
        name: "footer_template"
    }
</script>

<style scoped>

</style>
