<template>
  <aside class="app-navbar">
    <!-- begin sidebar-nav -->
    <div class="sidebar-nav scrollbar scroll_light">
      <ul v-if="$store.site.has_access()" class="metismenu" id="sidebarNav">
        <li class="">
          <router-link to="/" aria-expanded="false">
            <i class="nav-icon ti ti-dashboard"></i>
            <span class="nav-title">Inicio</span>
          </router-link>
        </li>


        <li class="nav-static-title">Gestión</li>
        <li>
          <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
            <i class="nav-icon ti ti-archive"></i>
            <span class="nav-title">Contactos</span>
<!--            <span class="nav-label label label-primary">1</span>-->
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <router-link to="/managment/contacts_list">Contactos</router-link>
            </li>
            <li>
              <router-link to="/managment/club_members_list">Miembros</router-link>
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
            <i class="nav-icon ti ti-archive"></i>
            <span class="nav-title">Productos</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <router-link to="/managment/products_list">Productos</router-link>
            </li>
            <li>
              <router-link to="/managment/services_list">Servicios</router-link>
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
            <i class="nav-icon ti ti-archive"></i>
            <span class="nav-title">Eventos</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <router-link to="/managment/event_list">Eventos</router-link>
            </li>
          </ul>
        </li>

        <li>
          <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
            <i class="nav-icon ti ti-archive"></i>
            <span class="nav-title">Ventas</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <router-link to="/billings/budgets_list">Presupuestos</router-link>
            </li>
            <li>
              <router-link to="/billings/billings_list">Facturas</router-link>
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
            <i class="nav-icon ti ti-archive"></i>
            <span class="nav-title">Gastos</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <router-link to="/billings/orders_list">Pedidos</router-link>
            </li>
            <li>
              <router-link to="/billings/expenses_list">Gastos</router-link>
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
            <i class="nav-icon ti ti-archive"></i>
            <span class="nav-title">Equipo</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <router-link to="/managment/employees_list">Empleados</router-link>
            </li>
            <li>
              <router-link to="/managment/contracts_list">Contratos</router-link>
            </li>
            <li>
              <router-link to="/managment/payrolls_list">Nóminas</router-link>
            </li>
          </ul>
        </li>
        <li class="nav-static-title">CRM</li>
        <li>
          <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
            <i class="nav-icon ti ti-bag"></i>
            <span class="nav-title">Bitrix</span>
                        <span class="nav-label label label-primary">nuevo</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <router-link to="/nomenclatures/bitrix_contacts">Contactos</router-link>
            </li>
            <li>
              <router-link to="/nomenclatures/bitrix_deals">Transacciones</router-link>
            </li>
          </ul>
        </li>
        <li class="nav-static-title">Maestros</li>
        <li>
          <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
            <i class="nav-icon ti ti-layers"></i>
            <span class="nav-title">Estados</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <router-link to="/nomenclatures/contact_status_list">Estado del Contacto</router-link>
            </li>
            <li>
              <router-link to="/nomenclatures/ficha_list">Estado de las Fichas</router-link>
            </li>
            <li>
              <router-link to="/nomenclatures/contract_status_list">Estado del Contrato</router-link>
            </li>
            <li>
              <router-link to="/nomenclatures/employee_status_list">Estado del Empleado</router-link>
            </li>
            <li>
              <router-link to="/nomenclatures/billings_status_list">Estado de la Factura</router-link>
            </li>
            <li>
              <router-link to="/nomenclatures/payroll_status_list">Estado de Nómina</router-link>
            </li>
            <li>
              <router-link to="/nomenclatures/budget_status_list">Estado del Presupuesto</router-link>
            </li>
            <li>
              <router-link to="/nomenclatures/product_status_list">Estado del Producto</router-link>
            </li>
            <li>
              <router-link to="/nomenclatures/service_status_list">Estado del Servicio</router-link>
            </li>
            <li>
              <router-link to="/nomenclatures/order_status_list">Estado de las ordenes</router-link>
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
            <i class="nav-icon ti ti-layers"></i>
            <span class="nav-title">Localización</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <router-link to="/nomenclatures/languages_list">Idioma</router-link>
            </li>
            <li>
              <router-link to="/nomenclatures/countries_list">Paises</router-link>
            </li>
            <li>
              <router-link to="/nomenclatures/states_list">Provincias</router-link>
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
            <i class="nav-icon ti ti-layers"></i>
            <span class="nav-title">Tipos</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <router-link to="/nomenclatures/contact_types_list">Tipo de Contacto</router-link>
            </li>
            <li>
              <router-link to="/nomenclatures/contract_types_list">Tipo de Contrato</router-link>
            </li>
            <li>
              <router-link to="/nomenclatures/legal_types_list">Formas Jurídicas</router-link>
            </li>
            <li>
              <router-link to="/nomenclatures/payment_types_list">Formas de Pago</router-link>
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
            <i class="nav-icon ti ti-layers"></i>
            <span class="nav-title">Otros</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <router-link to="/nomenclatures/currencies_list">Monedas</router-link>
            </li>
            <li>
              <router-link to="/nomenclatures/contract_payment_unities_list">Unidad en el pago</router-link>
            </li>
          </ul>
        </li>
        <li class="nav-static-title">Acceso</li>
        <li>
          <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
            <i class="nav-icon ti ti-unlock"></i>
            <span class="nav-title">Seguridad</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <router-link to="/security/users_list">Usuario</router-link>
            </li>
            <li>
              <router-link to="/security/role_list">Roles</router-link>
            </li>
            <li>
              <router-link to="/security/permissions_list">Permisos</router-link>
            </li>
            <li>
              <router-link to="/security/logs_list">Trazas</router-link>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- end sidebar-nav -->
  </aside>
</template>

<script>
export default {
  name: 'sidebar',
  data () {
    return {}
  }
}
</script>

<style scoped>

</style>
