<template>
  <header class="app-header top-bar">
    <!-- begin navbar -->
    <nav class="navbar navbar-expand-md">

      <!-- begin navbar-header -->
      <div class="navbar-header d-flex align-items-center">
        <a href="javascript:void(0)" class="mobile-toggle"><i class="ti ti-align-right"></i></a>
        <router-link class="navbar-brand" :to="{name:'index'}">
          <img src="/static/assets/img/logo1.png" class="img-fluid logo-desktop" alt="logo">
          <img src="/static/assets/img/favicon.png" class="img-fluid logo-mobile" alt="logo">
        </router-link>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="ti ti-align-left"></i>
      </button>
      <!-- end navbar-header -->
      <!-- begin navigation -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navigation d-flex">
          <ul class="navbar-nav nav-left">
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link sidebar-toggle">
                <i class="ti ti-align-right"></i>
              </a>
            </li>
          </ul>

          <ul class="navbar-nav nav-right ml-auto" style="padding-right: 15px">
            <li class="navbar-item m-r-30" style="padding-top: 10px">
              <h1 id="rolex" class="" style="color: rgba(57,57,59,0.8);">{{rolex}}</h1>
            </li>
            <li class="nav-item dropdown" v-if="$store.site.user.id_role<3">
              <a class="nav-link dropdown-toggle m-r-20" href="javascript:void(0)" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fe fe-bell"></i>
                <span v-if="not_list.length>0" class="notify">
                  <span class="blink"></span>
                  <span class="dot"></span>
                </span>
              </a>
              <div class="dropdown-menu extended animated fadeIn" aria-labelledby="navbarDropdown">
                <ul>
                  <li class="dropdown-body min-h-240 nicescroll">
                    <ul class="scrollbar scroll_dark max-h-240">
                      <li v-if="not_list.length===0">
                        <div class="ant-empty ant-empty-normal m-t-70"><div class="ant-empty-image"><svg width="64" height="41" viewBox="0 0 64 41" xmlns="http://www.w3.org/2000/svg"><g transform="translate(0 1)" fill="none" fillRule="evenodd"><ellipse fill="#F5F5F5" cx="32" cy="33" rx="32" ry="7"></ellipse><g fillRule="nonzero" stroke="#D9D9D9"><path d="M55 12.76L44.854 1.258C44.367.474 43.656 0 42.907 0H21.093c-.749 0-1.46.474-1.947 1.257L9 12.761V22h46v-9.24z"></path><path d="M41.613 15.931c0-1.605.994-2.93 2.227-2.931H55v18.137C55 33.26 53.68 35 52.05 35h-40.1C10.32 35 9 33.259 9 31.137V13h11.16c1.233 0 2.227 1.323 2.227 2.928v.022c0 1.605 1.005 2.901 2.237 2.901h14.752c1.232 0 2.237-1.308 2.237-2.913v-.007z" fill="#FAFAFA"></path></g></g></svg></div><p class="ant-empty-description">No hay notificaciones</p></div>
                      </li>
                      <li v-for="(not, index) in not_list">
                        <a href="javascript:void(0)" @click="redirect('/managment/payrolls_list')">
                          <div class="notification d-flex flex-row align-items-center">
                            <div class="notify-icon bg-img align-self-center">
                              <div class="bg-type bg-type-md">
                                <span>NT</span>
                              </div>
                            </div>
                            <div class="notify-message">
                              <p class="font-weight-bold">{{not.not_desc}}</p>
                              <small>Just now</small>
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item dropdown user-profile">
              <a href="javascript:void(0)" class="nav-link dropdown-toggle " id="navbarDropdown4" role="button"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img :src="image" alt="avtar-img" style="margin-right: 15px;">
<!--                <span class="bg-success user-status"></span>-->
                <i class="fa fa-angle-down" style="border-radius: 50%;display: block;position: absolute;right: -5px;bottom: inherit;top: 20px;"></i>
              </a>
              <div class="dropdown-menu animated fadeIn" aria-labelledby="navbarDropdown">
                <div class="bg-gradient px-4 py-3">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="mr-1">
                      <h4 class="text-white mb-0">{{user.nombre_usuario}} {{user.apellido_usuario}}</h4>
                      <small class="text-white">{{user.email}}</small>
                    </div>
                    <a href="javascript:void(0)" class="text-white font-20 tooltip-wrapper" data-toggle="tooltip" @click="logout_action"
                       data-placement="top" title="" data-original-title="Salir"> <i
                      class="zmdi zmdi-power"></i></a>
                  </div>
                </div>
                <div class="p-4">
                <a class="dropdown-item d-flex nav-link" v-if="$store.site.is_member" href="javascript:void(0)">
                  <i class="fa fa-eur pr-2 text-success"></i> Cantidad de inner coins {{innser_coins}}</a>
                <a class="dropdown-item d-flex nav-link" href="javascript:void(0)" @click="show_modal_pass=true">
                  <i class="fa fa-lock pr-2 text-primary"></i> Cambiar contraseña
                </a>
                  <a v-if="this.$route.name!=='account_profile'" class="dropdown-item d-flex nav-link" href="../../../account/profile">
                    <i class="fa fa-cog pr-2 text-primary"></i> Administrar cuenta
                  </a>
                  <a class="dropdown-item d-flex nav-link" href="javascript:void(0)" @click="logout_action">
                    <i class="fa fa-power-off pr-2 text-primary"></i> Cerrar sesion
                  </a>

              </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- end navigation -->
    </nav>
    <a-modal
      @cancel="onCloseModal"
      class="modal-form"
      width="55rem"
      :visible="show_modal_pass"
      :destroyOnClose="true"
      on-ok="handleOk"
      :header="null"
      :footer="null"
      :title="'Cambiar contraseña'"
      :maskClosable="false"
    >
      <users_pass :modal=true :is_global="true"  :model="$store.site.user"/>
    </a-modal>
    <!-- end navbar -->
  </header>
</template>

<script>
  import * as mb from '../../../entities/models'
  import users_pass from '../../views/security/users/form/users_pass'
  import axios from 'axios'



  export default {
    name: "topbar",
    inject: {
      logout: { default: ()=>{} }
    },
    provide: function () {
      return {
        close_modal: this.onCloseModal,
      }
    },
    components:{
      users_pass
    },
    data(){
      return {
        rolex:'--:--',
        mb,
        user:{},
        image:null,
        show_modal_pass:false,
        not_list:false,
        show_not_blink:false
      }
    },
    computed:{
      innser_coins(){
        return this.$store.site.innser_coins+' €'
      }
    },
    methods:{
      redirect(option) {
        this.$router.push(option);
      },
      getNot(){
        axios.get(process.env.BASE_URL+"/managment/notifications").then((result) => {
          this.not_list = result.data;
        })
      },
      logout_action(){
        this.logout()
      },
      onCloseModal(){
        this.show_modal_pass=false
      }
    },
    mounted () {
      this.user=this.$store.site.user;
      this.image=mb.statics('Users').getImageURL(this.user.image)
      this.getNot()
      this.interval = setInterval(() => {
        // Concise way to format time according to system locale.
        // In my case this returns "3:48:00 am"
        this.rolex = Intl.DateTimeFormat(navigator.language, {
          hour: 'numeric',
          minute: 'numeric',
        }).format()
      }, 1000)
    }
  }
</script>

<style scoped>

</style>
