<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model">
    <spinner v-if="loading" />
    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0" >
      <tc-form
        :feedbacks="mb.statics('Budget_items_list_taxes').feedbacks"
        :vobject="$v"
        nested="budget_items_list_taxes"
        ref="form"
        class="form-row"
      >
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Impuesto</label>
          <tc-input placeholder="Ingrese el impuesto" name="budget_items_list_taxes_tax" v-model="budget_items_list_taxes.budget_items_list_taxes_tax"></tc-input>
        </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancelar</button>
    </div>
  </div>
</template>

<script>
import Budget_items_list_taxes from "../../../../../entities/models/modules/billings/budget_items_list_taxes.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models";

export default {
  name: "budget_items_list_taxes_form",
  inject: {
    close_modal: { default: ()=>{} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
    modal: {
      type: Boolean,
      default: false
    },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: mb.statics('Budget_items_list_taxes').validations,
  data() {
    return {
      // This property must have the same name of the model
      mb,
      loading: false,
      budget_items_list_taxes: mb.instance('Budget_items_list_taxes')
    };
  },
  computed: {
    budget_items_list_taxesFeedbacks() {
      return mb.statics('Budget_items_list_taxes').feedbacks;
    },
    button_text() {
      return this.budget_items_list_taxes.get_id() ? "Modificar" : "Agregar";
    },
    modalTitle() {
      return this.budget_items_list_taxes.get_id()
        ? "Editar Impuesto"
        : "Agregar Impuesto";
    }
  },

  mounted: function() {
    this.budget_items_list_taxes = mb.instance('Budget_items_list_taxes', this.model);

  },
  components: {},
  methods: {
    cancel(){
      this.modal?this.close_modal(null,false):this.$router.push({name: 'budget_items_list_taxes_list'})
    },
    save_model() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.budget_items_list_taxes.get_id() ? "actualizado" : "insertado";
        this.budget_items_list_taxes
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
              this.modal?this.close_modal(null,false):this.$router.push({name: 'budget_items_list_taxes_list'})
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "budget_items_list_taxes_form.css";
</style>

