<template>
  <div>
    <reset_pass v-if="$route.name === 'reset_pass' || $route.name === 'init_pass'"/>
    <register_member v-if="$route.name === 'register_member'"/>
  </div>
</template>

<script>
  import reset_pass from '../../views/site/reset_pass'
  import register_member from '../../views/site/register_member'

  export default {
    name: 'Reset',
    components: {
      reset_pass,
      register_member
    },
    beforeCreate () {
    },
    beforeDestroy () {
      const recaptchaScripts = document.querySelectorAll('script')
      for (let i = 0; i < recaptchaScripts.length; i += 1) {
        recaptchaScripts[i].parentElement.removeChild(recaptchaScripts[i])
      }
    },
    async beforeMount () {
    },
    methods: {}
  }
</script>

<style scoped>

</style>
