<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model()">
    <spinner v-if="loading" />
    <div class="card-body p-0" >

      <tc-form
        :feedbacks="mb.statics('Orders_product').feedbacks"
        :vobject="$v"
        nested="orders_product"
        ref="form"
        class="form-row"
      >
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Orders<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el Orders"
              name="id_order"
              :search_params= "{}"
              ref="select_order"
              :successFeed="false"
              :defaultValue="orders_product.id_order"
              v-model="orders_product.id_order"
              :url="mb.statics('Orders').select_2_url"
            />
            <a-button type="dashed"
                      icon="plus"
                      class="dashed-primary rounded mt-1 ml-2"
                      @click="openModalCreateorder">
            </a-button>
          </div>
        </tc-form-item>

        <a-modal
          @cancel="showModalCreateorder = false"
          v-if="showModalCreateorder"
          class="modal-form"
          :title="'Añadir orders'"
          :visible="true"
          :header="null"
          :footer="null"
          :maskClosable="false"
        >
          <orders_form :model="null" @close_modal="orderAdded"/>
        </a-modal>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Products</label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el Products"
              name="id_product"
              :search_params= "{}"
              ref="select_product"
              :successFeed="false"
              :defaultValue="orders_product.id_product"
              v-model="orders_product.id_product"
              :url="mb.statics('Products').select_2_url"
            />
            <a-button type="dashed"
                      icon="plus"
                      class="dashed-primary rounded mt-1 ml-2"
                      @click="openModalCreateproduct">
            </a-button>
          </div>
        </tc-form-item>

        <a-modal
          @cancel="showModalCreateproduct = false"
          v-if="showModalCreateproduct"
          class="modal-form"
          :title="'Añadir products'"
          :visible="true"
          :header="null"
          :footer="null"
          :maskClosable="false"
        >
          <products_form :model="null" @close_modal="productAdded"/>
        </a-modal>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Services</label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el Services"
              name="id_services"
              :search_params= "{}"
              ref="select_services"
              :successFeed="false"
              :defaultValue="orders_product.id_services"
              v-model="orders_product.id_services"
              :url="mb.statics('Services').select_2_url"
            />
            <a-button type="dashed"
                      icon="plus"
                      class="dashed-primary rounded mt-1 ml-2"
                      @click="openModalCreateservices">
            </a-button>
          </div>
        </tc-form-item>

        <a-modal
          @cancel="showModalCreateservices = false"
          v-if="showModalCreateservices"
          class="modal-form"
          :title="'Añadir services'"
          :visible="true"
          :header="null"
          :footer="null"
          :maskClosable="false"
        >
          <services_form :model="null" @close_modal="servicesAdded"/>
        </a-modal>
      <tc-form-item class="form-group mb-0 col-md-6 px-3">
        <label>Amount</label>
        <tc-input placeholder='Ingrese el valor amount'   type_char='num'  name='amount' v-model="orders_product.amount"></tc-input>
      </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button v-if="!orders_product.get_id()" :disabled="loading" class="btn btn-primary" @click="save_model(true)">Añadir y nuevo</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancel</button>
    </div>
  </div>
</template>

<script>
import Orders_product from "../../../../../entities/models/modules/billings/orders_product.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models"
  import Orders_form from '../../orders/form/orders_form';
  import Products_form from '../../../managment/products/form/products_form';
  import Services_form from '../../../managment/services/form/services_form';

export default {
  name: "orders_product_form",
  inject: {
      close_modal: { default: ()=>{} },
      load_data: {default: () => {} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
      modal: {
        type: Boolean,
        default: false
      },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: mb.statics('Orders_product').validations,
  data() {
    return {
      loading: false,
      mb,      // This property is for load static or instance class
      orders_product: mb.instance( 'Orders_product'),
      showModalCreateorder: false,
      orders_list: [],
      showModalCreateproduct: false,
      products_list: [],
      showModalCreateservices: false,
      services_list: [],
    };
  },
  computed: {
    orders_productFeedbacks() {
      return mb.statics('Orders_product').feedbacks;
    },
    button_text() {
      return this.orders_product.get_id() ? "Actualizar" : "Añadir";
    },
    modalTitle() {
      return this.orders_product.get_id()
        ? "Actualizar Orders_product"
        : "Añadir Orders_product";
    }
  },

  mounted: function() {
    this.orders_product = mb.instance( 'Orders_product',this.model);

  },
  components: {

       Orders_form,
       Products_form,
       Services_form,
             },
  methods: {
      openModalCreateorder() {
        this.showModalCreateorder = true;
      },
      orderAdded(refresh) {
        this.showModalCreateorder = false;
        refresh?this.refreshorder():'';
      },
      async refreshorder() {
        this.loading = true;
        await this.$refs.select_order.load();
        this.loading = false;
      },
      openModalCreateproduct() {
        this.showModalCreateproduct = true;
      },
      productAdded(refresh) {
        this.showModalCreateproduct = false;
        refresh?this.refreshproduct():'';
      },
      async refreshproduct() {
        this.loading = true;
        await this.$refs.select_product.load();
        this.loading = false;
      },
      openModalCreateservices() {
        this.showModalCreateservices = true;
      },
      servicesAdded(refresh) {
        this.showModalCreateservices = false;
        refresh?this.refreshservices():'';
      },
      async refreshservices() {
        this.loading = true;
        await this.$refs.select_services.load();
        this.loading = false;
      },
      cancel(){
        if (this.model === null) {
          this.$emit('close_modal',false)
        } else {
        this.modal?this.close_modal(null,false):this.$router.push({name: 'orders_product_list'})
       }
      },
    save_model(and_new=false) {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.orders_product.get_id() ? "actualizado" : "añadido";
        this.orders_product
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
                if (this.model === null) {
                  this.$emit('close_modal',true)
                  return;
               }
                else
                   !and_new?this.modal?this.close_modal(null,true):this.$router.push({name: 'orders_product_list'}):this.orders_product=mb.instance('Orders_product');this.load_data();this.$refs.form.vobject.$reset()
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "orders_product_form.css";
</style>

