<template>
  <div class="col-xxl-6 m-b-30 p-0">
    <div class="card card-statistics h-100 mb-0">
      <div class="card-header">
        <h4 class="card-title">Revenue overview</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-xs-6 mb-3 mb-xs-0">
            <h2>3.8k</h2>
            <span class="d-block mb-2 font-16">AVG months</span>
            <span class="d-block mb-5"><b class="text-primary">-65.88%</b> vs last 1 months</span>
            <p class="mb-3">Sapiente corporis fugiat, doloremque eveniet nostrum id molestiae quaerat!</p>
            <a class="btn btn-round btn-inverse-primary" href="#"><b>View details </b></a>
          </div>
          <div class="col-xs-6 apexchart" id="charta">
              <div>
                <div class="chart-wrapper">
                  <apexchart
                    type="line"
                    :options="options" :series="series">
                  </apexchart>
                </div>
              </div>

          </div>
        </div>
        <div class="border-top my-4"></div>
        <h4 class="card-title">Income by department</h4>
        <div class="row">
          <div class="col-12 col-xs-3">
            <span>Purchases: <b>$1,475</b></span>
            <div class="progress my-3" style="height: 4px;">
              <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-12 col-xs-3">
            <span>Sells: <b>$23,475</b></span>
            <div class="progress my-3" style="height: 4px;">
              <div class="progress-bar bg-success" role="progressbar" style="width: 66%;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-12 col-xs-3">
            <span>Rented: <b>$1,658</b></span>
            <div class="progress my-3" style="height: 4px;">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 78%;" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-12 col-xs-3">
            <span>Leased: <b>$12,489</b></span>
            <div class="progress my-3" style="height: 4px;">
              <div class="progress-bar bg-info" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import VueApexCharts from 'vue-apexcharts'

Vue.component('apexchart', VueApexCharts)

export default {
  name: "page_stats",
  data: () => ({
    options: {
      colors:['#8e54e9', '#BE9DF2', '#9C27B0'],
      chart: {
        id: 'vuechart-example'
      },
      xaxis: {
        categories: [
        ]
      }
    },
    series: [{
      name: 'Miembros',
      data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
    },{
      name: 'Contactos',
      data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
    }]
  })
}
</script>

<style scoped>

</style>
