<template>
  <div>
    <div class="tab nav-border-bottom">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active show" id="home-02-tab" data-toggle="tab" href="#home-02" role="tab"
             aria-controls="home-02" aria-selected="true">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-02-tab" data-toggle="tab" href="#profile-02" role="tab"
             aria-controls="profile-02" aria-selected="false">Servicios </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade py-3 active show" id="home-02" role="tabpanel" aria-labelledby="home-02-tab">
          <div>
            <div class="card-header">
              <div class="row">
                <div class="col-md-6">
                  <h6 style="text-align: left">Historial de productos comprados por el miembro {{
                    this.club_members.club_members_name+' '+this.club_members.club_member_last_name}}</h6>
                </div>
                <div class="col-md-6" style="text-align: end;float: right">
                  <div class="row">
                    <div class="col-md-12">
                      <a-dropdown-button style="margin-left: 45%;float: right">
                        Exportar
                        <a-menu slot="overlay">
                          <a-menu-item key="1" @click="exportToExcel">
                            <a-icon type="file-excel" theme="twoTone" twoToneColor="#52c41a"/>
                            EXCEL
                          </a-menu-item>
                          <!--                    <a-menu-item key="2" @click=""><a-icon type="file-pdf" theme="twoTone" twoToneColor="#c41c33" />PDF</a-menu-item>-->

                          <a-menu-item key="3" @click="exportToCSV">
                            <a-icon type="file-text" theme="twoTone" twoToneColor="#2771c4"/>
                            CSV
                          </a-menu-item>
                        </a-menu>
                      </a-dropdown-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="offset-6 col-md-6" style="text-align: end;">
                <div class="form-group">
                  <div class="input-group mb-3">
                    <a-tooltip placement="topLeft" title="Buscar..">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        v-model="filter"
                        placeholder="Buscar"
                        aria-label
                      />
                    </a-tooltip>
                    <div class="input-group-append">
                      <a-tooltip placement="topLeft" title="Limpiar filtros">
                        <a-button
                          style="text-align: end"
                          class="rounded-0"
                          type="primary"
                          @click="filter=''"
                        >
                          <i class="ti ti-eraser" style="margin-right: 10px"/>Limpiar
                        </a-button>
                      </a-tooltip>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a-modal
              @cancel="onCloseModal"
              class="modal-form"
              width="55rem"
              :visible="show_modal_form"
              :destroyOnClose="true"
              on-ok="handleOk"
              :header="null"
              :footer="null"
              :maskClosable="false"

            >
              <club_member_history_form :modal=true :model="selected_model"/>
            </a-modal>

            <a-table
              :columns="columns"
              :rowKey="record => record.id_club_member_history"
              :dataSource="data"
              :loading="loading"
              :pagination="pagination.$data"
            >
              <a slot="action" slot-scope="record" href="javascript:;">
                <action_buttons :object="record" :visible_view="false" :v_instance="self"
                                :class_name="selected_model.class_name()"/>
              </a>
              <a slot="price" slot-scope="record" href="javascript:;">
                <span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-pill badge-info">{{(1*record.ammount).toFixed(2)}} (IC))</span>
              </a>
            </a-table>
          </div>
        </div>
        <div class="tab-pane fade py-3" id="profile-02" role="tabpanel" aria-labelledby="profile-02-tab">
          <div>
            <div class="card-header">
              <div class="row">
                <div class="col-md-6">
                  <h6 style="text-align: left">Historial de servicios comprados por el miembro {{
                    this.club_members.club_members_name+' '+this.club_members.club_member_last_name}}</h6>
                </div>
                <div class="col-md-6" style="text-align: end;float: right">
                  <div class="row">
                    <div class="col-md-12">
                      <a-dropdown-button style="margin-left: 45%;float: right">
                        Exportar
                        <a-menu slot="overlay">
                          <a-menu-item key="1" @click="exportToExcel">
                            <a-icon type="file-excel" theme="twoTone" twoToneColor="#52c41a"/>
                            EXCEL
                          </a-menu-item>
                          <!--                    <a-menu-item key="2" @click=""><a-icon type="file-pdf" theme="twoTone" twoToneColor="#c41c33" />PDF</a-menu-item>-->

                          <a-menu-item key="3" @click="exportToCSV">
                            <a-icon type="file-text" theme="twoTone" twoToneColor="#2771c4"/>
                            CSV
                          </a-menu-item>
                        </a-menu>
                      </a-dropdown-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="offset-6 col-md-6" style="text-align: end;">
                <div class="form-group">
                  <div class="input-group mb-3">
                    <a-tooltip placement="topLeft" title="Buscar..">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        v-model="filter_services"
                        placeholder="Buscar"
                        aria-label
                      />
                    </a-tooltip>
                    <div class="input-group-append">
                      <a-tooltip placement="topLeft" title="Limpiar filtros">
                        <a-button
                          style="text-align: end"
                          class="rounded-0"
                          type="primary"
                          @click="filter_services=''"
                        >
                          <i class="ti ti-eraser" style="margin-right: 10px"/>Limpiar
                        </a-button>
                      </a-tooltip>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a-modal
              @cancel="onCloseModal"
              class="modal-form"
              width="55rem"
              :visible="show_modal_form"
              :destroyOnClose="true"
              on-ok="handleOk"
              :header="null"
              :footer="null"
              :maskClosable="false"

            >
              <club_member_history_form :modal=true :model="selected_model"/>
            </a-modal>

            <a-table
              :columns="columns_services"
              :rowKey="record => record.id_club_member_history"
              :dataSource="data_services"
              :loading="loading"
              :pagination="pagination.$data"
            >
              <a slot="action" slot-scope="record" href="javascript:;">
                <action_buttons :object="record" :visible_view="false" :v_instance="self"
                                :class_name="selected_model.class_name()"/>
              </a>
              <a slot="price" slot-scope="record" href="javascript:;">
                <span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-pill badge-info">{{record.services.service_cost}} (IC)</span>
              </a>
            </a-table>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  import * as utils from '../../../../../entities/utils/utils'
  import * as mb from '../../../../../entities/models'
  import action_buttons from '../../../../shared/table/action_buttons/action_buttons'
  import pagination_functions from '../../../../shared/table/pagination/pagination_options'
  import vantdpagination from '../../../../shared/table/pagination/antd_pagination'
  import club_member_history_form from '../form/club_member_history_form'

  export default {
    name: 'club_member_history_view',
    props: {
      model: {
        type: Object,
        default: () => {
        }
      },
      modal: {
        type: Boolean,
        default: false
      }
    },
    inject: {
      close_modal_history: {
        default: () => {
        }
      }
    },
    provide: function () {
      return {
        close_modal: this.onCloseModal,
        load_data: this.load_data
      }
    },
    data () {
      return {
        data: [],
        data_services: [],
        self: null,
        club_member_history_list: [],
        club_member_history_services_list: [],
        filter: null,
        filter_services: null,
        columns: mb.statics('Club_member_history').show_columns(['product.product_name','cant_element','price','created_at']),
        columns_services: mb.statics('Club_member_history').show_columns(['services.service_name','history_description','price','created_at']),
        loading: false,
        text_select: 'Select All',
        selectedRowKeys: [],
        pagination: vantdpagination,
        selected_model: mb.instance('Club_member_history'),
        show_modal_form: false,
        mb
      }
    },
    components: {
      action_buttons,
      pagination_functions,
      vantdpagination,
      club_member_history_form
    },
    watch: {
      filter: function () {
        this.data = this.club_member_history_list.data.filter(this.filter_data)
      },
      filter_services: function () {
        this.data_services = this.club_member_history_services_list.data.filter(this.filter_data_services)
      },
      selectedRowKeys: function () {
        if (this.selectedRowKeys.length == this.data.length) {
          this.text_select = 'Desseleccionar todo'
        } else {
          this.text_select = 'Seleccionar todo'
        }
      }
    },
    computed: {
      rowSelection () {
        const {selectedRowKeys} = this
        return {
          selectedRowKeys,
          hideDefaultSelections: true,
          selections: [
            {
              key: 'all-data',
              text: this.text_select,
              onSelect: () => {
                if (this.selectedRowKeys.length == this.data.length) {
                  this.selectedRowKeys = []
                } else {
                  this.selectedRowKeys = this.data.map(e => {
                    return e.id_club_member_history
                  })
                }
              }
            }
          ],
          onSelection: this.onSelection,
          onChange: this.onChange
        }
      }
    },
    methods: {
      exportToExcel () {
        utils.exportToExcelVinstance(this)
      },
      exportToCSV () {
        utils.exportToCSV(this)
      },
      onCloseModal (e, reload_data = false) {
        this.selected_model = mb.instance('Club_member_history')
        this.show_modal_form = false
        reload_data ? this.load_data() : ''
      },
      showModalForm () {
        this.show_modal_form = !this.show_modal_form
      },
      filter_data (object) {
        return utils.filter_object_column(object, this.filter, this.columns)
      },
      filter_data_services (object) {
        return utils.filter_object_column(object, this.filter_services, this.columns_services)
      },
      onChange: function (selectedRowKeys) {
        this.selectedRowKeys = selectedRowKeys
      },
      showDeleteConfirm () {
        if (this.selectedRowKeys.length == 0) {
          utils.openNotificationWithIcon(
            'error',
            'Eliminar elementos seleccionados',
            'Debe seleccionar al menos u elemento'
          )
          return
        }
        let _this = this
        this.$confirm({
          title: 'Eliminar elementos seleccionados?',
          icon: 'delete',
          // icon:()=>{return ( <a-icon type="delete" style="color:red"/> )},
          okText: 'Si',
          okType: 'danger',
          class: 'delete_confirm',
          cancelText: 'No',
          async onOk () {
            try {
              const response = await mb.statics('Club_member_history').delete_by_ids(
                _this.selectedRowKeys
              )
              utils.process_response(response, 'borrado(s)')
              _this.selectedRowKeys = []
              _this.load_data()
            } catch (error) {
              utils.process_error(error)
              _this.selectedRowKeys = []
            }
          },
          onCancel () {
          }
        })
      },
      async load_data () {
        try {
          this.loading = true
          var params = {}
          params.relations = ['club_member', 'product']
          params.attr = {club_member_id: this.club_members.id_club_members}
          params.oper = ['is not|product_id|null']
          const resp = await mb.statics('Club_member_history').list(params)
          this.club_member_history_list = resp
          params={};
          params.relations = ['club_member', 'services']
          params.attr = {club_member_id: this.club_members.id_club_members}
          params.oper = ['is not|services_id|null']
          this.club_member_history_services_list= await mb.statics('Club_member_history').list(params)

          this.data = this.club_member_history_list.data.filter(this.filter_data)
          this.data_services = this.club_member_history_services_list.data.filter(this.filter_data_services)
          this.loading = false
        } catch (error) {
          utils.process_error(error)
          this.loading = false
        }
      },

      onEditing (model) {
        this.selected_model = mb.instance('Club_member_history', model)
        this.showModalForm()
      }
    },

    beforeMount () {
      this.loading = true
      this.data = []
      this.club_members = this.model
      this.load_data()
      this.self = this
      this.pagination.$options.props = {
        load_data: this.load_data
      }
    }
  }
</script>

<style>
  @import "club_member_history_list.css";
</style>

