<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Gestión</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Club</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Miembros</li>
      </ol>
    </nav>
    <div>
      <div class="row">
        <div class="col-md-3">
          <a-button-group style="margin-bottom: 10px">
            <a-tooltip placement="topLeft" title="Añadir nuevo elemento">
              <a-button icon="plus" type="primary" @click="showModalForm">Agregar</a-button>
            </a-tooltip>
            <a-tooltip placement="topLeft" title="Eliminar elementos seleccionados">
              <a-button icon="delete" type="danger" @click="showDeleteConfirm">Eliminar</a-button>
            </a-tooltip>
          </a-button-group>

        </div>
        <div class="col-md-2">
          <label>Pendientes</label>
          <a-switch v-model="pendientes"/>
          <label v-if="pendientes" style="font-size: 11px">Click en el botón <span class="badge badge-warning-inverse"
                                                                                   style="font-size: 12px">Pendiente</span>
            para activar el miembro</label>
        </div>
        <div class="col-md-1" v-if="pendientes">
          <a-tooltip placement="topLeft" title="Activar Seleccionadas">
            <a-button type="primary" @click="activateConfirm"
                      style="float: left;font-size: smaller;background-color: #f7b731;border-color: #f7b731">Activar
              seleccionadas
            </a-button>
          </a-tooltip>
        </div>
        <div class="col-md-4 offset-2" style="text-align: end;float: right">
          <div class="form-group">
            <div class="input-group mb-3">
              <a-tooltip placement="topLeft" title="Buscar..">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  v-model="filter"
                  placeholder="Buscar"
                  aria-label
                />
              </a-tooltip>
              <div class="input-group-append">
                <a-tooltip placement="topLeft" title="Limpiar filtros">
                  <a-button
                    style="text-align: end"
                    class="rounded-0"
                    type="primary"
                    @click="filter=''"
                  >
                    <i class="ti ti-eraser" style="margin-right: 10px"/>Limpiar
                  </a-button>
                </a-tooltip>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <h6 style="text-align: left">Listado de Miembros</h6>
          </div>
          <div class="col-md-6" style="text-align: end;float: right">
            <div class="row">
              <div class="col-md-8" style="text-align: end">
                <p style="text-align: end">
                  Elementos seleccionados {{selectedRowKeys.length}}/{{data.length}}
                </p>
              </div>
              <div class="col-md-3">
                <a-dropdown-button style="margin-left: 45%;">
                  Exportar
                  <a-menu slot="overlay">
                    <a-menu-item key="1" @click="exportToExcel">
                      <a-icon type="file-excel" theme="twoTone" twoToneColor="#52c41a"/>
                      Excel
                    </a-menu-item>
                    <!--                    <a-menu-item key="2" @click=""><a-icon type="file-pdf" theme="twoTone" twoToneColor="#c41c33" />PDF</a-menu-item>-->

                    <a-menu-item key="3" @click="exportToCSV">
                      <a-icon type="file-text" theme="twoTone" twoToneColor="#2771c4"/>
                      CSV
                    </a-menu-item>
                  </a-menu>
                </a-dropdown-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a-modal
        @cancel="onCloseModal"
        class="modal-form"
        :visible="show_modal_form"
        :destroyOnClose="true"
        on-ok="handleOk"
        :header="null"
        :footer="null"
        :maskClosable="false"
        :width="950"
        :title="modal_title"

      >
        <wizard_member :modal=true :model="selected_model"/>
      </a-modal>
      <a-modal
        @cancel="onCloseModalMonto"
        class="modal-form"
        :visible="show_modal_form_amount"
        :destroyOnClose="true"
        on-ok="handleOk"
        :header="null"
        :footer="null"
        :maskClosable="false"
        :width="950"
        :title="modal_title_monto"

      >
        <amount_club_member_form :modal=true :model="selected_model"/>
      </a-modal>
      <a-modal
        @cancel="onCloseModalHistory"
        class="modal-form"
        :visible="show_modal_member_history"
        :destroyOnClose="true"
        on-ok="handleOk"
        :header="null"
        :footer="null"
        :maskClosable="false"
        :width="950"
        :title="modal_title_history"
      >
        <club_member_history_view :modal=true :model="selected_model"/>
      </a-modal>

      <a-modal
        title="Ficha del miembro"
        :visible="mf_visible"
        :centered="true"
        :maskClosable="true"
        :destroyOnClose="true"
      >
        <template slot="footer">
          <a-button v-if="$store.site.user.id_role<3" key="add_values" @click="redirect('/nomenclatures/ficha_list')">Agregar elementos</a-button>
          <a-button key="back" @click="ficha_cancel">Cancelar</a-button>
          <a-button key="submit" type="primary" @click="getFormValues()">
            Guardar
          </a-button>
        </template>
        <div class="border-bottom p-b-20">
        <a-select defaultValue="0" style="width: 100%" @change="handleChange">
          <a-select-option value="0">Seleccione una opcion</a-select-option>
          <a-select-option v-for="ficha_it in ficha_content_array" v-bind:key="ficha_it.form_id" :value="ficha_it.form_id">{{ficha_it.form_name}}</a-select-option>
<!--          <a-select-option value="2">Suscripción Alvertodo</a-select-option>-->
        </a-select>
        </div>
        <a-spin :spinning="spinning" style="min-height: 100px">
        <form id="frm_labels" class="m-t-20" @submit.prevent="getFormValues">
          <div class="form-group" v-for="ficha_ct in ficha_content">
            <label>{{ficha_ct.label_name}}</label>
            <input :name="ficha_ct.label_id" type="text" class="form-control" ref="m_input">
          </div>
        </form>
        </a-spin>

      </a-modal>
      <a-table
        :columns="columns"
        :rowKey="record => record.id_club_members"
        :dataSource="data"
        :rowSelection="rowSelection"
        :loading="loading"
        :pagination="pagination.$data"
        :scroll="{ x: '130%'}"
      >
        <a slot="action" slot-scope="record" href="javascript:;">
          <a-dropdown>
            <a-menu slot="overlay">
              <a-menu-item key="1" @click="onShowAmount(record)">
                <i type="delete" style="padding-right: 12px;color: #8a6d3b;font-size: 20px;"
                   class="fa fa-eur"/>Asignar/Quitar saldo
              </a-menu-item>
              <a-menu-item key="7" @click="show_profile(record)">
                <i type="delete" style="padding-right: 12px;color: #8a6d3b;font-size: 20px;"
                   class="ion ion-ios-person-add"/>Perfil
              </a-menu-item>
              <a-menu-item key="8" @click="show_ficha_member(record)">
                <i type="delete" style="padding-right: 12px;color: #8a6d3b;font-size: 20px;"
                   class="ion ion-ios-person-add"/>Ficha del cliente
              </a-menu-item>
              <a-menu-item key="2" @click="onShowHistory(record)">
                <i type="delete" style="padding-right: 5px;color: deepskyblue;font-size: 20px;"
                   class="ti ti-shopping-cart"/>Historial de Compras
              </a-menu-item>
              <a-menu-item key="5" @click="active_pending(record)">
                <i type="delete" style="padding-right: 5px;color: #8e54e9;font-size: 20px;"
                   class="ti ti-email"/>Reenviar acceso,Activar
              </a-menu-item>
              <a-menu-item key="6" @click="payment_recurrency(record)">
                <i type="delete" style="padding-right: 5px;color: #8e54e9;font-size: 20px;"
                   class="dripicons dripicons-alarm"/>Pagos Recurrentes
              </a-menu-item>

              <a-menu-item key="3" @click="onEditing(record)">
                <i type="success" style="padding-right: 5px;color: #1c7430;font-size: 20px;"
                   class="ti ti-pencil-alt"/>Modificar Elemento
              </a-menu-item>
              <a-menu-item key="4" @click="showDeleteSelected(record)">
                <i type="delete" style="padding-right: 5px;color: red;font-size: 20px;"
                   class="ti ti-trash"/>Eliminar Elemento
              </a-menu-item>
            </a-menu>
            <a-button>
              Acciones
              <a-icon type="down"/>
            </a-button>
          </a-dropdown>
        </a>
        <a slot="amount" slot-scope="record" href="javascript:;">
          <a-tooltip placement="top" title="Cuenta">
            <span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-pill badge-success " @click="onShowAmount(record)"
                  style="font-size: 15px">{{record.clum_members_currency}} (IC)</span>
          </a-tooltip>
        </a>
        <a slot="email" slot-scope="record" href="javascript:;">
          <a-tooltip placement="top" title="Correo">
            <a :href="'mailto:'+record.club_members_email">{{record.club_members_email}}</a>
          </a-tooltip>
        </a>
        <a slot="phone" slot-scope="record" href="javascript:;">
          <a-tooltip placement="top" title="Teléfono">
            <a :href="'tel:'+record.club_members_phone">{{record.club_members_phone}}</a>
          </a-tooltip>
        </a>

        <label v-if="record.user.status=='P'" slot="code" style="font-size: 13px;cursor: pointer" slot-scope="record"
               @click="active_pending(record)"
               class="badge badge-warning-inverse">Pendiente</label>
        <label v-else slot="code" style="font-size: 13px" slot-scope="record" class="badge badge-success-inverse">{{record.club_member_code}}</label>
        <template slot="club_members_picture" slot-scope="record">
          <a-popover :title="record.club_members_full_name">
            <template slot="content">
              <a-avatar :size="80" :src="mb.statics('Club_members').getImageURL(record.user.image)"/>
            </template>
            <a-avatar size="large" :src="mb.statics('Club_members').getImageURL(record.user.image)"/>
          </a-popover>
        </template>
      </a-table>
    </div>
  </div>

</template>

<script>
  import Club_members from '../../../../../entities/models/modules/managment/club_members.model'
  import * as utils from '../../../../../entities/utils/utils'
  import action_buttons from '../../../../shared/table/action_buttons/action_buttons'
  import pagination_functions from '../../../../shared/table/pagination/pagination_options'
  import vantdpagination from '../../../../shared/table/pagination/antd_pagination'
  import club_members_form from '../form/club_members_form'
  import * as mb from '../../../../../entities/models'
  import wizard_member from '../form/wizard_member'
  import amount_club_member_form from '../../amount_club_member/form/amount_club_member_form'
  import club_member_history_view from '../../club_member_history/list/club_member_history_view'
  import Member_ficha from './modal/member_ficha'
  import axios from 'axios'

  let _this;

  export default {
    name: 'club_members_list',
    provide: function () {
      return {
        close_modal: this.onCloseModal,
        close_modal_monto: this.onCloseModalMonto,
        close_modal_history: this.onCloseModalHistory
      }
    },
    data () {
      return {
        user:{},
        tabla_ficha_name:0,
        tabla_ficha_label:0,
        data_ficha:{},
        form_ficha: {},
        spinning:false,
        ficha_content:[],
        ficha_content_array:[],
        ficha_record:[],
        mf_visible:false,
        data: [],
        self: null,
        club_members_list: [],
        filter: null,
        columns: mb.statics('Club_members').show_columns([
          'club_members_picture',
          'club_member_code',
          'club_members_name',
          'club_member_last_name',
          'club_members_email',
          'clum_members_currency',
          'languages.language_desc',
          'created_at',
          'country.country_name',
          'club_members_phone',
          'adviser.adviser',
          'action_elements'], true),
        loading: false,
        text_select: 'Marcar todos',
        pendientes: false,
        selectedRowKeys: [],
        pagination: vantdpagination,
        selected_model: mb.instance('Club_members'),
        show_modal_form: false,
        show_modal_form_amount: false,
        show_modal_member_history: false,
        mb
      }
    },
    components: {
      Member_ficha,
      action_buttons,
      pagination_functions,
      vantdpagination,
      club_members_form,
      wizard_member,
      amount_club_member_form,
      club_member_history_view

    },
    watch: {
      filter: function () {
        if (this.pendientes) {
          this.data = this.club_members_pending_list.filter(this.filter_data)
        } else {
          this.data = this.club_members_list.data.filter(this.filter_data)
        }
      },
      pendientes: function (value, oldValue) {
        this.filter = ''
        if (value) {
          this.data = this.club_members_pending_list
        } else {
          this.data = this.club_members_list.data
        }
      },
      selectedRowKeys: function () {
        if (this.selectedRowKeys.length == this.data.length) {
          this.text_select = 'Desmarcar todos'
        } else {
          this.text_select = 'Marcar todos'
        }
      }
    },
    computed: {
      value:{
        get(){
          return this.ficha_ct.value
        }
      },
      modal_title () {
        return !this.selected_model.get_id() ? 'Añadir Miembro del Club' : 'Modificar Miembro del Club '+this.selected_model.club_member_code
      },
      club_members_pending_list(){
        return this.club_members_list.data.filter((element) => {
          return element.user.status == 'P'
        })
      },
      modal_title_monto () {
        return 'Insertar/Decrementar monto a cliente'
      },
      modal_title_history () {
        return 'Listado de productos del miembro'
      },
      rowSelection () {
        const {selectedRowKeys} = this
        return {
          selectedRowKeys,
          hideDefaultSelections: true,
          selections: [
            {
              key: 'all-data',
              text: this.text_select,
              onSelect: () => {
                if (this.selectedRowKeys.length == this.data.length) {
                  this.selectedRowKeys = []
                } else {
                  this.selectedRowKeys = this.data.map(e => {
                    return e.id_club_members
                  })
                }
              }
            }
          ],
          onSelection: this.onSelection,
          onChange: this.onChange
        }
      }
    },
    props: ['ficha_ct'],
    methods: {
      redirect(option) {
        this.$router.push(option);
      },
      getFormValues () {
        let input_cap=[];
        let input_values=[];
        let submitValues=[];
        let error = false;

        let elements = document.getElementById('frm_labels')
        for(let i=0;i<elements.length;i++)
        {
          input_cap={
            "member": this.ficha_record.id_club_members,
            "val_form_ficha_label_id": elements[i].name,
            "val_label_form_id": this.tabla_ficha_name,
            "val_text": elements[i].value,
            "val_id_user": this.user.id_user
          }
          if (elements[i].value === ""){
            error = true
          }else{
            // axios.post(process.env.BASE_URL+"managment/ficha_member", input_cap)
            //   .then(response => this.articleId = response.data.id);
          }


          input_values.push(input_cap)
        }
        submitValues={
          "val_label_form_id":this.tabla_ficha_name,
          "val_id_user": this.user.id_user,
          "val_text":{input_values}
        };

        axios.post(process.env.BASE_URL+"managment/ficha_member", submitValues)
          .then(response => this.articleId = response.data.id);
        if(error) {
          if(input_values.length===0) {
            this.$notification['error']({
              message: 'Error',
              description: 'No hay datos a enviar. Consulte con su administrador. Codigo de error: 0x05',
            });
            console.log('No hay datos para enviar');
          }else{
            this.$notification['error']({
              message: 'Error',
              description: 'Todos los campos son obligatorios. Codigo de error: 0x04',
            });
          }
        }else{
          if(input_values.length===0) {
            this.$notification['error']({
              message: 'Error',
              description: 'No hay datos a enviar. Consulte con su administrador. Codigo de error: 0x05',
            });
          }else{
            this.$notification['success']({
              message: 'Datos guardados',
              description: 'Los datos han sido guardados.',
            });
            console.log(input_values);
            this.ficha_cancel();

          }
        }

      },
      handleChange(value) {
        this.ficha_content=[]
        this.tabla_ficha_name = value
        this.spinning = true
        axios.get(process.env.BASE_URL+'managment/get_ficha_content', {
          params: {
            "attr":{
              "label_form_id":value
            }
          }
        })
          .then(function (response) {
            _this.ficha_content = response.data
            _this.spinning = false
          })
          .catch(function (error) {
            console.log(error);
          });


        function generate_ficha_content (data) {
          let ficha_c;
          ficha_c = `<span> prueba para: ${data}</span>`
          _this.ficha_content = ficha_c;
        }

        // axios(config)
        //   .then(function (response) {
        //     console.log(JSON.stringify(response.data));
        //     generate_ficha_content(response.data);
        //   })
        //   .catch(function (error) {
        //     console.log(error);
        //   });
      },
      ficha_ok(record){

      },
      ficha_cancel(){
        this.mf_visible = false
        this.ficha_content=[]
      },
      show_ficha_member(record){
        this.mf_visible = true
        this.ficha_record = record
        axios.get(process.env.BASE_URL+"managment/get_ficha").then((result) => {
          this.ficha_content_array = result.data;
        })
      },
      payment_recurrency(record){
        this.$router.push({name:"payment_recurrency_list",params:{id:record.id_club_members}})
      },
      active_pending (record) {
        if (!record.id_country) {
          const h = this.$createElement
          this.$info({
            title: 'Error en activar miembro',
            content: h('div', {}, [
              h('p', 'Este miembro no tiene pais asociado')
            ]),
            onOk () {
            },
          })
        } else {
          const _this = this
          this.$confirm({
            title: 'Desea enviar credenciales a este miembro?',
            content: 'Enviar credenciales a  ' + record.club_members_email + '',
            onOk () {
              let params = {}
              _this.loading = true
              params.id = record.id_club_members
              mb.statics('Club_members').custom('post', 'send_email', params).then((response) => {
                if (utils.process_response(response, ' actualizado ')) {
                  _this.load_data()
                  _this.pendientes = false
                  _this.loading = false
                }
              })
                .catch((error) => {
                  utils.process_error(error)
                  _this.loading = false
                })
            },
            onCancel () {
            },
          })
        }
      },
      pendingChange () {
        this.pendientes = !this.pendientes
      },
      exportToExcel () {
        utils.exportToExcelVinstance(this)
      },
      exportToCSV () {
        utils.exportToCSV(this)
      },
      onCloseModal (e, reload_data = false) {
        this.selected_model = new Club_members()
        this.show_modal_form = false
        reload_data ? this.load_data() : ''
      },
      onCloseModalMonto (e, reload_data = false) {
        this.selected_model = mb.instance('Amount_club_member')
        this.show_modal_form_amount = false
        reload_data ? this.load_data() : ''
      },
      onCloseModalHistory (e, reload_data = false) {
        this.selected_model = mb.instance('Amount_club_member')
        this.show_modal_member_history = false
      },
      showModalForm () {
        this.show_modal_form = !this.show_modal_form
      },
      showModalFormMonto () {
        this.show_modal_form_amount = !this.show_modal_form_amount
      },
      showModalFormHistory () {
        this.show_modal_member_history = !this.show_modal_member_history
      },
      filter_data (object) {
        return utils.filter_object_column(object, this.filter, this.columns)
      },
      onChange: function (selectedRowKeys) {
        this.selectedRowKeys = selectedRowKeys
      },
      showDeleteSelected (model) {
        let _this = this
        this.selected_model = mb.instance('Club_members', model)
        this.$confirm({
          title: 'Desea eliminar este elemento?',
          icon: 'delete',
          // icon:()=>{return ( <a-icon type="delete" style="color:red"/> )},
          okText: 'Si',
          okType: 'danger',
          class: 'delete_confirm',
          cancelText: 'No',
          async onOk () {
            try {
              const response = await _this.selected_model.delete()
              utils.process_response(response, 'delete')
              _this.load_data()
            } catch (error) {
              utils.process_error(error)
            }
          },
          onCancel () {

          },
        })
      },

      showDeleteConfirm () {
        if (this.selectedRowKeys.length == 0) {
          utils.openNotificationWithIcon(
            'error',
            'Eliminar elementos seleccionados',
            'Debe seleccionar al menos un elemento'
          )
          return
        }
        let _this = this
        this.$confirm({
          title: 'Desea eliminar los elementos seleccionados?',
          icon: 'delete',
          // icon:()=>{return ( <a-icon type="delete" style="color:red"/> )},
          okText: 'Si',
          okType: 'danger',
          class: 'delete_confirm',
          cancelText: 'No',
          async onOk () {
            try {
              const response = await Club_members.delete_by_ids(
                _this.selectedRowKeys
              )
              utils.process_response(response, 'borrado(s)')
              _this.selectedRowKeys = []
              _this.load_data()
            } catch (error) {
              utils.process_error(error)
              _this.selectedRowKeys = []
            }
          },
          onCancel () {
          }
        })
      },
      activateConfirm () {
        if (this.selectedRowKeys.length == 0) {
          utils.openNotificationWithIcon(
            'error',
            'Activar elementos seleccionados',
            'Debe seleccionar al menos un elemento'
          )
          return
        }
        let _this = this
        this.$confirm({
          title: 'Desea activar los miembros seleccionados?',
          // icon: 'warnning',
          icon:()=>{return ( <a-icon type="warning" style="color:#f7b731"/> )},
          okText: 'Si',
          okType: 'warning',
          cancelText: 'No',
          async onOk () {
            try {
              const response = await Club_members.custom('post','send_email_array',
                _this.selectedRowKeys
              )
              utils.process_response(response, 'borrado(s)')
              _this.selectedRowKeys = []
              _this.load_data()
            } catch (error) {
              utils.process_error(error)
              _this.selectedRowKeys = []
            }
          },
          onCancel () {
          }
        })
      },
      async load_data () {
        try {
          this.loading = true
          var params = {}
          params.relations = ['adviser', 'user','country','languages']
          const resp = await Club_members.list(params)
          this.club_members_list = resp
          this.data = this.club_members_list.data.filter(this.filter_data)
          this.loading = false
          this.pendientes = false
        } catch (error) {
          utils.process_error(error)
          this.loading = false
        }
      },

      async delete_selected () {
      },

      onEditing (model) {
        this.selected_model = new Club_members(model)
        this.showModalForm()
      },
      onShowAmount (model) {
        this.selected_model = mb.instance('Club_members', model)
        this.showModalFormMonto()
      },
      show_profile (record) {
        this.$router.push({name:"profile_member",params:{id:record.id_club_members}})
      },
      onShowHistory (model) {
        this.selected_model = mb.instance('Club_members', model)
        this.showModalFormHistory()
      }
    },
    mounted () {
      _this = this
      this.user=this.$store.site.user;
      //this.ficha_content = '<div class="m-t-30 ant-skeleton ant-skeleton-active"><div class="ant-skeleton-content"><h3 class="ant-skeleton-title" style="width: 38%;"></h3><ul class="ant-skeleton-paragraph"><li></li><li></li><li style="width: 61%;"></li></ul></div></div>'
      this.loading = true
      this.data = []
      this.load_data()
      this.self = this
      this.pagination.$options.props = {
        load_data: this.load_data
      }


    }
  }
</script>

<style>
  @import "club_members_list.css";

  .ant-modal {
    margin-left: 25%;
  }
</style>

