<template>
<div>
<!--  <users_pass :modal=true :is_global="true"  :model="$store.site.user"/>-->
  <users_form :is_global="true"  :model="$store.site.user"/>
</div>
</template>

<script>
import * as mb from '../../../../entities/models'
import users_pass from '../users/form/users_pass'
import Users_form from '../users/form/users_form'

export default {
  name: 'user_profile',
  components: {Users_form},
  data(){
    return{
      image,
      user:{},
    }
  },
  mounted () {
    this.user=this.$store.site.user;
    this.image=mb.statics('Users').getImageURL(this.user.image)
  }
}
</script>

<style scoped>

</style>
