<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model">
    <spinner v-if="loading"/>
    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0">
      <tc-form
        :feedbacks="mb.statics('Employees').feedbacks"
        :vobject="$v"
        nested="employees"
        ref="form"
        class="form-row"
      >
        <tc-form-item style="text-align: left" class="form-group mb-0 col-md-6 px-3">
          <label>Foto</label>
          <a-upload
            name="avatar"
            listType="picture-card"
            class="avatar-uploader"
            style="display: inline-table"
            :showUploadList="false"
            :before-upload="beforeUpload"
            @change="handleImageChange"
          >
            <img id="employee_picture" height="102px" width="102px" v-show="employees.employee_picture" :src="mb.statics('Employees').getImageURL(employees.employee_picture)" alt="Image"/>
            <div v-if="!employees.employee_picture">
              <a-icon :type="loading ? 'loading' : 'plus'"/>
              <div class="ant-upload-text">Subir</div>
            </div>
          </a-upload>
        </tc-form-item>
        <tc-form-item style="text-align: left" class="form-group mb-0 col-md-6 px-3">
          <label>Documento</label>
          <a-upload
            name="avatar"
            listType="picture-card"
            class="avatar-uploader"
            style="display: inline-table"
            :showUploadList="false"
            :beforeUpload="beforeUploadDoc"
            @change="handleDocumentChange"
          >
            <img id="employee_attachment" height="102px" width="102px" v-show="employees.employee_attachment"
                 :src="mb.statics('Employees').getDocumentURL(employees.employee_attachment)" alt="Image"/>
            <div v-if="!employees.employee_attachment">
              <a-icon :type="loading ? 'loading' : 'plus'"/>
              <div class="ant-upload-text">Subir</div>
            </div>
          </a-upload>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Nombre<span class="required_field">*</span></label>
          <tc-input placeholder="Ingrese el nombre" name="employee_name" v-model="employees.employee_name"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Apellidos<span class="required_field">*</span></label>
          <tc-input placeholder="Ingrese los apellidos" name="employee_last_name"
                    v-model="employees.employee_last_name"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>NIF<span class="required_field">*</span></label>
          <tc-input placeholder="Ingrese el nif" type_car="num_car" name="employee_nif" v-model="employees.employee_nif"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Estado<span class="required_field">*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el estado"
              name="employee_status_id"
              :successFeed="false"
              :defaultValue="employees.employee_status_id"
              v-model="employees.employee_status_id"
              :url="mb.statics('Employee_status').select_2_url"

            />
          </div>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Correo corporativo<span class="required_field">*</span></label>
          <tc-input placeholder="Ingrese el correo" name="employee_email_work"
                    v-model="employees.employee_email_work"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Correo personal</label>
          <tc-input placeholder="Ingrese el correo" name="employee_email_owned"
                    v-model="employees.employee_email_owned"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Dirección<span class="required_field">*</span></label>
          <tc-input placeholder="Ingrese la dirección" name="employee_address"
                    v-model="employees.employee_address"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Código postal<span class="required_field">*</span></label>
          <tc-input placeholder="Ingrese el código postal" name="employee_postal_code"
                    v-model="employees.employee_postal_code"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>País<span class="required_field">*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el país"
              name="country_id"
              :successFeed="false"
              @change="handleChangePais"
              :defaultValue="employees.country_id"
              v-model="employees.country_id"
              :url="mb.statics('Countries').select_2_url"
            />
          </div>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Provicia/Estado<span class="required_field">*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione la provincia/estado"
              name="state_id"
              :successFeed="false"
              :defaultValue="employees.state_id"
              v-model="employees.state_id"
              :dataSource="province"
              :disabled="disable_state"
            />
          </div>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>País de trabajo<span class="required_field">*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el país"
              name="work_country_id"
              :successFeed="false"
              :defaultValue="employees.work_country_id"
              v-model="employees.work_country_id"
              :url="mb.statics('Countries').select_2_url"
            />
          </div>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Zona de Trabajo<span class="required_field">*</span></label>
          <tc-input placeholder="Ingrese la zona" name="employee_work_zone"
                    v-model="employees.employee_work_zone"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Moneda<span class="required_field">*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione la moneda"
              name="currency_id"
              :successFeed="false"
              :defaultValue="employees.currency_id"
              v-model="employees.currency_id"
              :url="mb.statics('Currencies').select_2_url"
            />
          </div>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Tipo de pago<span class="required_field">*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el tipo de pago"
              name="payment_type_id"
              :successFeed="false"
              :defaultValue="employees.payment_type_id"
              v-model="employees.payment_type_id"
              :url="mb.statics('Payment_types').select_2_url"
            />
          </div>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Idioma<span class="required_field">*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el idioma"
              name="language_id"
              :successFeed="false"
              :defaultValue="employees.language_id"
              v-model="employees.language_id"
              :url="mb.statics('Languages').select_2_url"
            />
          </div>
        </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-3">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancelar</button>
    </div>
  </div>
</template>

<script>
  import Employees from '../../../../../entities/models/modules/managment/employees.model'
  import * as utils from '../../../../../entities/utils/utils'
  import * as mb from '../../../../../entities/models'

  export default {
    name: 'employees_form',
    inject: {
      close_modal: {
        default: () => {
        }
      }
    },
    props: {
      model: {
        type: Object,
        default: () => {
        }
      },
      modal: {
        type: Boolean,
        default: false
      },
      popoverPlacement: {
        type: String,
        default: 'bottomLeft'
      }
    },
    validations: mb.statics('Employees').validations,
    data () {
      return {
        // This property must have the same name of the model
        mb,
        loading: false,
        employees: mb.instance('Employees'),
        country: mb.instance('Countries'),
        state: mb.instance('States'),
        language: mb.instance('Languages'),
        payment_type: mb.instance('Payment_types'),
        currency: mb.instance('Currencies'),
        employee_status: mb.instance('Employee_status'),
        province: [],
        disable_state:true
      }
    },
    computed: {
      employeesFeedbacks () {
        return mb.statics('Employees').feedbacks
      },
      button_text () {
        return this.employees.get_id() ? 'Modificar' : 'Agregar'
      },
      modalTitle () {
        return this.employees.get_id()
          ? 'Editar Empleado'
          : 'Agregar Empleado'
      }
    },

    mounted: async function () {
      this.employees = mb.instance('Employees', this.model)
      if (this.employees.get_id()) {
        this.loading = true
        const params = {}
        params.attr = {country_id: this.employees.country_id}
        const response = await mb.statics('States').list(params)
        this.province = response.data.map((element) => {
          return {id: element.id_state, text: element.state_name}
        })
        this.loading = false
        this.disable_state=false
      }
    },
    components: {},
    methods: {
      async handleChangePais (value) {
        this.disable_state=true
        const params = {}
        params.attr = {country_id: value}
        const response = await mb.statics('States').list(params)
        this.province = response.data.map((element) => {
          return {id: element.id_state, text: element.state_name}
        })
        this.disable_state=false
        this.contacts.state_id = null
      },
      handleImageChange(info) {
        let reader = new FileReader();
        reader.onload = function (e) {
          document.getElementById("employee_picture").setAttribute("src", e.target.result);
        }
        reader.readAsDataURL(info.file);
        this.employees.employee_picture=info.file
      },
      beforeUpload (file) {
        // const isJpgOrPng = file.type === 'image/jpeg' || file.type === 'image/png';
        // if (!isJpgOrPng) {
        //   alert('Solo puede subir imágenes');
        // }
        return false
      },
      handleDocumentChange (info) {
        let reader = new FileReader()
        reader.onload = function (e) {
          document.getElementById('employee_attachment').setAttribute('src', e.target.result)
        }
        reader.readAsDataURL(info.file)
        this.employees.employee_attachment = info.file
      },
      beforeUploadDoc (file) {
        return false
      },
      cancel () {
        // this.$emit("close_modal",null,true)
        this.modal ? this.close_modal(null, false) : this.$router.push({name: 'employees_list'})
      },
      save_model () {
        if (this.$refs.form.validate()) {
          this.loading = true
          const accion = this.employees.get_id() ? 'actualizado' : 'insertado'
          this.employees.isFormData = (this.employees.employee_picture instanceof File || this.employees.employee_attachment instanceof File) ? true : false
          // this.employees.isFormData = (this.employees.employee_attachment instanceof File) ? true : false;
          this.employees
            .save()
            .then((response) => {
              if (utils.process_response(response, accion)) {
                // this.$emit("close_modal",null,true)
                this.modal ? this.close_modal(null, true) : this.$router.push({name: 'employees_list'})
              }
              this.loading = false
            })
            .catch((error) => {
              this.loading = false
              utils.process_error(error)
            })
        }
      }
    }
  }
</script>

<style scoped>
  @import "employees_form.css";
</style>

