<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Nomenclatures</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Ficha</li>
      </ol>
    </nav>
    <div>
      <div class="row">
        <div class="col-md-6">
          <a-button-group style="margin-bottom: 10px">
            <a-modal
              :centered="true"
              title="Añadir ficha"
              :visible="visible_form_name"
              @cancel="visible_form_name=false"
              @ok="send_form"
            >
              <form id="frm_ficha" class="m-t-20" @submit.prevent="">
                <input type="text" class="form-control" placeholder="Nombre de la ficha">
              </form>

            </a-modal>
            <a-tooltip placement="topLeft" title="Añadir nueva ficha">
              <a-button icon="plus" type="primary" @click="visible_form_name=true">Añadir ficha</a-button>
            </a-tooltip>

            <a-modal
              :centered="true"
              title="Añadir campo"
              :visible="visible_form_label"
              @cancel="visible_form_label=false"
              @ok="send_form_label"
            >
              <form id="frm_ficha_label" class="m-t-20" @submit.prevent="">
                <a-select id="select_form" class="m-b-20" defaultValue="0" style="width: 100%" @change="set_select_val">
                  <a-select-option value="0">Seleccione una opcion</a-select-option>
                  <a-select-option v-for="ficha_it in ficha_content_array" v-bind:key="ficha_it.form_id" :value="ficha_it.form_id">{{ficha_it.form_name}}</a-select-option>

                </a-select>
                <input type="text" class="form-control" placeholder="Nombre de la ficha">
              </form>

            </a-modal>
            <a-tooltip placement="topLeft" title="Añadir nuevo elemento a la ficha">
              <a-button icon="plus" type="primary" @click="show_ficha_member">Añadir campo</a-button>
            </a-tooltip>
          </a-button-group>
        </div>
        <div class="col-md-6" style="text-align: end;">
          <div class="form-group">
            <div class="input-group mb-3">

              <a-tooltip placement="topLeft" title="Buscar..">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  v-model="filter"
                  placeholder="Buscar"
                  aria-label
                />
              </a-tooltip>
              <div class="input-group-append">
                <a-tooltip placement="topLeft" title="Limpiar Filtros">
                  <a-button
                    style="text-align: end"
                    class="rounded-0"
                    type="primary"
                    @click="filter=''"
                  >
                    <i class="fa fa-eraser" style="margin-right: 10px" />Limpiar
                  </a-button>
                </a-tooltip>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
          </div>
          <div class="col-md-6" style="text-align: end;float: right" >
            <div class="row">
              <div class="col-md-8" style="text-align: end">
                <p style="text-align: end">
                  Elementos seleccionados  {{selectedRowKeys.length}}/{{data.length}}
                </p>
              </div>
              <div class="col-md-3">
                <a-dropdown-button style="margin-left: 45%;" >
                  Exportar
                  <a-menu slot="overlay">
                    <a-menu-item key="1" @click="exportToExcel"><a-icon type="file-excel" theme="twoTone" twoToneColor="#52c41a" />EXCEL</a-menu-item>
                    <!--                    <a-menu-item key="2" @click=""><a-icon type="file-pdf" theme="twoTone" twoToneColor="#c41c33" />PDF</a-menu-item>-->

                    <a-menu-item key="3" @click="exportToCSV"><a-icon type="file-text" theme="twoTone" twoToneColor="#2771c4" />CSV</a-menu-item>
                  </a-menu>
                </a-dropdown-button>
              </div>
            </div>
          </div>        </div>
      </div>
      <a-modal
        @cancel="onCloseModal"
        class="modal-form"
        width="55rem"
        :visible="show_modal_form"
        :destroyOnClose="true"
        on-ok="handleOk"
        :header="null"
        :footer="null"
        :maskClosable="false"

      >
        <event_type_form  :modal=true :model="selected_model" />
      </a-modal>

      <a-table
        :columns="columns"
        :rowKey="record => record.id_event_type"
        :dataSource="data"
        :loading="loading"
        :pagination="pagination.$data"
      >
        <a slot="action" slot-scope="record" href="javascript:;">
          <action_buttons :object="record" :visible_view="false" :v_instance="self" :class_name="selected_model.class_name()"/>
        </a>
      </a-table>
    </div>
  </div>
</template>

<script>
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models";
import action_buttons from "../../../../shared/table/action_buttons/action_buttons";
import pagination_functions from "../../../../shared/table/pagination/pagination_options";
import vantdpagination from "../../../../shared/table/pagination/antd_pagination";
import event_type_form from "../../event_type/form/event_type_form";
import axios from 'axios'

export default {
  name: "ficha_member_list",
  provide: function(){
    return{
      close_modal: this.onCloseModal,
      load_data: this.load_data
    }
  },
  data() {
    return {
      select_val:'',
      ficha_content_array:[],
      visible_form_label:false,
      visible_form_name: false,
      data: [],
      self: null,
      event_type_list: [],
      filter: null,
      columns: mb.statics('Ficha_member_type').columns,
      loading: false,
      text_select: "Select All",
      selectedRowKeys: [],
      pagination: vantdpagination,
      selected_model: mb.instance( 'Ficha_member_type'),
      show_modal_form: false,
      mb
    };
  },
  components: {
    action_buttons,
    pagination_functions,
    vantdpagination,
    event_type_form
  },
  watch: {
    filter: function() {
      this.data = this.event_type_list.data.filter(this.filter_data);
    },
    selectedRowKeys: function() {
      if (this.selectedRowKeys.length == this.data.length) {
        this.text_select = "Desseleccionar todo";
      } else {
        this.text_select = "Seleccionar todo";
      }
    }
  },
  computed: {
    rowSelection() {
      const { selectedRowKeys } = this;
      return {
        selectedRowKeys,
        hideDefaultSelections: true,
        selections: [
          {
            key: "all-data",
            text: this.text_select,
            onSelect: () => {
              if (this.selectedRowKeys.length == this.data.length) {
                this.selectedRowKeys = [];
              } else {
                this.selectedRowKeys = this.data.map(e => {
                  return e.id_event_type;
                });
              }
            }
          }
        ],
        onSelection: this.onSelection,
        onChange: this.onChange
      };
    }
  },
  methods: {
    set_select_val(value){
      this.select_val=value;
    },
    send_form_label(){
      this.visible_form_label=false
      let elements = document.getElementById('frm_ficha_label')
      for(let i=0;i<elements.length;i++){
        let input_cap
        input_cap={
          "label_form_id": this.select_val,
          "label_name":elements[i].value
        }
        axios.post(process.env.BASE_URL+"managment/get_ficha_content", input_cap)
          .then(function (response) {
              this.articleId = response.data.id
          }
          );
        //alert(this.select_val+' - '+elements[i].value)
      }
    },
    send_form(){
      let elements = document.getElementById('frm_ficha')
      for(let i=0;i<elements.length;i++){
        let input_cap
        input_cap={
          "form_name": elements[i].value,
        }
        if (elements[i].value === ""){
          this.$notification['error']({
            message: 'Error',
            description: 'No hay datos a enviar. Consulte con su administrador. Codigo de error: 0x05',
          });
        }else{
          axios.post(process.env.BASE_URL+"managment/get_ficha", input_cap)
            .then(response => this.articleId = response.data.id);
          this.visible_form_name = false
          this.$notification['success']({
            message: 'Ficha guardada',
          });
        }
      }
    },
    show_ficha_member(){
      this.visible_form_label=true
      axios.get(process.env.BASE_URL+"managment/get_ficha").then((result) => {
        this.ficha_content_array = result.data;
      })
    },
    exportToExcel () {
      utils.exportToExcelVinstance(this)
    },
    exportToCSV () {
      utils.exportToCSV(this)
    },
    onCloseModal(e,reload_data=false) {
      this.selected_model = mb.instance('Ficha_member_type');
      this.show_modal_form = false;
      reload_data?this.load_data():''
    },
    showModalForm() {
      this.show_modal_form = !this.show_modal_form;
    },
    filter_data(object) {
      return utils.filter_object_column(object, this.filter,this.columns);
    },
    onChange: function(selectedRowKeys) {
      this.selectedRowKeys = selectedRowKeys;
    },
    showDeleteConfirm() {
      if (this.selectedRowKeys.length == 0) {
        utils.openNotificationWithIcon(
          "error",
          "Eliminar elementos seleccionados",
          "Debe seleccionar al menos u elemento"
        );
        return;
      }
      let _this = this;
      this.$confirm({
        title: "Eliminar elementos seleccionados?",
        icon: "delete",
        // icon:()=>{return ( <a-icon type="delete" style="color:red"/> )},
        okText: "Si",
        okType: "danger",
        class: "delete_confirm",
        cancelText: "No",
        async onOk() {
          try {
            const response = await mb.statics('Ficha_member_type').delete_by_ids(
              _this.selectedRowKeys
            );
            utils.process_response(response, "deleted");
            _this.selectedRowKeys=[];
            _this.load_data();
          } catch (error) {
            utils.process_error(error);
            _this.selectedRowKeys=[];
          }
        },
        onCancel() {}
      });
    },
    async load_data() {
      try {
        this.loading = true;
        var params = {};
        params.relations=['form'];

        const resp = await mb.statics('Ficha_member_type').list(params);
        this.event_type_list = resp;
        this.data = this.event_type_list.data.filter(this.filter_data);
        this.loading = false;
      } catch (error) {
        utils.process_error(error);
        this.loading = false;
      }
    },


    onEditing(model) {
      this.selected_model = mb.instance('Ficha_member_type',model);
      this.showModalForm();
    }
  },

  mounted() {
    this.loading = true;
    this.data = [];
    this.load_data();
    this.self = this;
    this.pagination.$options.props = {
      load_data: this.load_data
    };
  }
};
</script>

<style>
</style>

