<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model()">
    <spinner v-if="loading"/>
    <div class="card-header p-0">
      <h4>Agregar Factura asociada al presupuesto </h4>
    </div>
    <div class="card-body p-0">

      <tc-form
        :feedbacks="mb.statics('Billings').feedbacks"
        :vobject="$v"
        nested="billings"
        ref="form"
        class="form-row"
      >

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Cliente/Contacto<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el Contacts"
              name="id_contact"
              :search_params="{}"
              ref="select_contact"
              :successFeed="false"
              :defaultValue="billings.id_contact"
              v-model="billings.id_contact"
              :url="mb.statics('Contacts').select_2_url"
            />
            <a-button type="dashed"
                      icon="plus"
                      class="dashed-primary rounded mt-1 ml-2"
                      @click="openModalCreatecontact">
            </a-button>
          </div>
        </tc-form-item>
        <a-modal
          @cancel="showModalCreatebillings_status = false"
          v-if="showModalCreatebillings_status"
          class="modal-form"
          :title="'Añadir billings_status'"
          :visible="true"
          :header="null"
          :footer="null"
          :maskClosable="false"
        >
          <billings_status_form :model="null" @close_modal="billings_statusAdded"/>
        </a-modal>


        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Estado<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el Billings_status"
              name="billings_status_id"
              :search_params="{}"
              ref="select_billings_status"
              :successFeed="false"
              :defaultValue="billings.billings_status_id"
              v-model="billings.billings_status_id"
              :url="mb.statics('Billings_status').select_2_url"
            />
            <a-button type="dashed"
                      icon="plus"
                      class="dashed-primary rounded mt-1 ml-2"
                      @click="openModalCreatebillings_status">
            </a-button>
          </div>
        </tc-form-item>
        <a-modal
          @cancel="showModalCreatecontact = false"
          v-if="showModalCreatecontact"
          class="modal-form"
          :title="'Añadir contacts'"
          :visible="true"
          :header="null"
          :footer="null"
          :width="1100"
          :maskClosable="false"
        >
          <contacts_form :model="null" @close_modal="contactAdded"/>
        </a-modal>
        <tc-form-item class="form-group mb-0 col-md-4 px-3">
          <label>Fecha<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-date-picker name="date_at" @change="changeDateAt" :disabled-date="disabledDate"
                            v-model="billings.date_at"></tc-date-picker>
          </div>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-4 px-3">
          <label>Fecha de Vencimiento<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-date-picker name="expiration_date" :default-value="endDefault" :disabled-date="disabledDateEnd"
                            v-model="billings.expiration_date"></tc-date-picker>
          </div>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-4 px-3">
          <label>Tipo de Pago<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el Payment_types"
              name="id_payment_type"
              :search_params="{}"
              ref="select_payment_type"
              :successFeed="false"
              :defaultValue="billings.id_payment_type"
              v-model="billings.id_payment_type"
              :url="mb.statics('Payment_types').select_2_url"
            />
            <a-button type="dashed"
                      icon="plus"
                      class="dashed-primary rounded mt-1 ml-2"
                      @click="openModalCreatepayment_type">
            </a-button>
          </div>
        </tc-form-item>

        <a-modal
          @cancel="showModalCreatepayment_type = false"
          v-if="showModalCreatepayment_type"
          class="modal-form"
          :title="'Añadir payment_types'"
          :visible="true"
          :header="null"
          :footer="null"
          :maskClosable="false"
        >
          <payment_types_form :model="null" @close_modal="payment_typeAdded"/>
        </a-modal>
        <tc-form-item class="form-group px-3 col-12">
          <label>Descripción Interna de la empresa<span class='required_field'>*</span></label>
          <tc-input :rows="5" :text_area="true" size="large" name="billing_description"
                    v-model="billings.billing_description"/>
        </tc-form-item>
      </tc-form>
    </div>
    <div class="col-12 mb-2" v-if="error_list">
      <div class="alert alert-outline-danger" role="alert">
        Debe insertar todos los datos requeridos de cada elemento
      </div>
    </div>
    <div class="card-body p-0">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th></th>
          <th>Concepto <span class="required_field">*</span></th>
          <th>Tipo <span class="required_field">*</span></th>
          <th>Descripción <span class="required_field">*</span></th>
          <th>Cantidad <span class="required_field">*</span></th>
          <th>Precio (€) <span class="required_field">*</span></th>
          <th>Impuesto <span class="required_field">*</span></th>
          <th>Total</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(product_item, counter) in billing_product_list" v-bind:key="counter">
          <td style="width: 10px">
            <a-tooltip placement="topLeft" title="Seleccionar Producto">
              <a-button type="primary" @click="showModalForm(counter)" icon="upload"/>
            </a-tooltip>
          </td>
          <td style="width: 300px">
            <input type="text" placeholder="Ingrese el concepto" class="form-control"
                   v-model="product_item.billing_product_list_concept">
          </td>
          <td style="width: 200px">
            <label>{{product_item.type}}</label>
          </td>
          <td style="width: 300px">
            <a-popover title="Descripcion">
              <template slot="content">
                {{product_item.billing_product_list_desc}}
              </template>
              <input type="text" placeholder="Ingrese la descripción" class="form-control"
                     v-model="product_item.billing_product_list_desc">
            </a-popover>

          </td>
          <td style="width: 100px">
            <input type="number" placeholder="Ingrese la cantidad" maxlength="8" min="1" class="form-control"
                   v-model="product_item.billing_product_list_quantity">
          </td>
          <td style="width: 150px">
            <input type="number" placeholder="Ingrese el Precio" maxlength="8" min="1" class="form-control"
                   v-model="product_item.billing_product_list_price">
          </td>
          <td style="width: 150px">
            <a-select defaultValue="1" style="width: 190px" v-model="product_item.tax_id">
              <a-select-option v-for="(item,index) in options_tax" :key="item.id" :value="item.id">{{item.label}}
              </a-select-option>
            </a-select>
          </td>
          <td style="width: 80px">
            {{ total(counter) }} €
          </td>
          <td class="align-center">
            <button class="btn btn-primary" @click="addProduct">+</button>
            <button class="btn btn-danger" v-if="(counter) >= 1 && !product_item.id_billing_product_list" @click="deleteProduct(counter)">-</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <a-modal
      @cancel="onCloseModal"
      class="modal-form"
      :width="1050"
      :visible="show_modal_form"
      :destroyOnClose="true"
      on-ok="handleOk"
      :header="null"
      title="Seleccionar Productos"
      :footer="null"
      :maskClosable="false"
    >
      <products_table :modal="true"/>
    </a-modal>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button v-if="!billings.get_id()" :disabled="loading" class="btn btn-primary" @click="save_model(true)">Añadir y
        nuevo
      </button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancel</button>
    </div>
    <div class="col-md-12" style="margin-top: 10px">
      <a-affix :offsetBottom="bottom">
        <div class="row">
          <div class="col-md-12">
            <div class="alert border-0 alert-primary bg-gradient m-b-30 alert-dismissible fade show border-radius-none"
                 style="float: right" role="alert">
              <ul class="nav justify-content-center text-center" style="font-size: 3rem">
                <li class=" border-right mt-3 px-3 mr-10">
                  <div>
                    <h4 style="color: white;font-size: 4.0rem" class="mb-0">{{total_price}}<span> €</span></h4>
                    <p style="margin-top: 20px">Subtotal</p>
                  </div>
                </li>

                <li class="nav-item border-right mt-3 px-3 mr-10">
                  <div>
                    <h4 style="color: white;font-size: 4.0rem" class="mb-0">{{total_tax}}<span>%</span></h4>
                    <p style="margin-top: 20px"> Impuesto</p>
                  </div>
                </li>

                <li class="nav-item mt-3 px-3 mr-10">
                  <div>
                    <h4 style="color: white;font-size: 4.0rem" class="mb-0">{{total_all}}<span> €</span></h4>
                    <p style="margin-top: 20px">Total</p>
                  </div>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </a-affix>
    </div>
  </div>
</template>

<script>
  import Billings from '../../../../../entities/models/modules/billings/billings.model'
  import * as utils from '../../../../../entities/utils/utils'
  import * as mb from '../../../../../entities/models'
  import Budgets_form from '../../budgets/form/budgets_form'
  import Billings_status_form from '../../../nomenclatures/billings_status/form/billings_status_form'
  import Contacts_form from '../../../managment/contacts/form/contacts_form'
  import Payment_types_form from '../../../nomenclatures/payment_types/form/payment_types_form'
  import products_table from '../../../managment/products/list/products_table'

  export default {
    name: 'billings_budget_form',
    provide: function () {
      return {
        close_modal_product: this.onCloseModal,
        add_elements: this.add_elements,
        get_list_product: this.billing_product_list
      }
    },
    inject: {
      close_modal: {
        default: () => {
        }
      },
      load_data: {
        default: () => {
        }
      }
    },
    props: {
      model: {
        type: Object,
        default: () => {
        }
      },
      modal: {
        type: Boolean,
        default: false
      },
      popoverPlacement: {
        type: String,
        default: 'bottomLeft'
      }
    },
    validations: mb.statics('Billings').validations,
    data () {
      return {
        bottom: 0,
        loading: false,
        mb,      // This property is for load static or instance class
        billings: mb.instance('Billings'),
        showModalCreatebudget: false,
        budgets_list: [],
        showModalCreatebillings_status: false,
        billings_status_list: [],
        showModalCreatecontact: false,
        contacts_list: [],
        showModalCreatepayment_type: false,
        payment_types_list: [],
        options_tax: [
          {
            id: '1',
            label: 'Exento',
            value: 0,
          },
          {
            id: '2',
            label: 'Impuesto del 4 %',
            value: 4,
          },
          {
            id: '3',
            label: 'Impuesto del 10 %',
            value: 10,
          },
          {
            id: '4',
            label: 'Impuesto del 21 %',
            value: 21,
          }
        ],
        error_list: false,
        endDefault: null,
        position: -1,
        show_modal_form: false,
        billing_product_list: [{
          billing_product_list_concept: '',
          billing_product_list_desc: '',
          billing_product_list_quantity: 1,
          billing_product_list_price: 0,
          type: 'Producto',
          tax_id: '1',
          id_product: null,
          id_service: null,
        }]
      }
    },
    computed: {
      total_price () {
        let total = 0
        this.billing_product_list.forEach((el) => {
          total += Number(el.billing_product_list_price)
        })
        return total
      },
      total_tax () {
        let total = 0
        this.billing_product_list.forEach((el) => {
          total += Number(this.find_tax(el.tax_id).value)
        })
        return total
      },
      total_all () {
        let result = 0
        this.billing_product_list.forEach((value, index) => {
          result += Number(this.total(index))
        })
        return result.toFixed(2)
      },
      billingsFeedbacks () {
        return mb.statics('Billings').feedbacks
      },
      button_text () {
        return this.billings.get_id() ? 'Modificar' : 'Añadir'
      },
      modalTitle () {
        return this.billings.get_id()
          ? 'Modificar Factura'
          : 'Añadir Factura'
      }
    },

    mounted: async function() {
      this.loading=true
      if (this.$route.params.id) {
        const params={}
        params.relations=["arraybilling_product_list"]
        const billings = await mb.statics('Billings').view(this.$route.params.id,params).then(response => response.data).catch(data => {
          if (data.response.status == 404) {
            _this.$router.push({name: 'billings_list'})
          }
          return data
        })
        this.billings = mb.instance('Billings', billings)
        this.billing_product_list=billings.arraybilling_product_list
        this.addProduct();
        this.billing_product_list.pop()

      } else {
        this.billings = mb.instance('Billings', this.model)
      }
      this.loading=false

    },
    components: {

      Budgets_form,
      Billings_status_form,
      Contacts_form,
      Payment_types_form,
      products_table
    },
    watch:{
      billing_product_list:function(a,b){
        this.validate_list()
      }
    },
    methods: {
      add_elements (array_products) {
        const cant = array_products.length + this.billing_product_list.length
        this.billing_product_list.pop()
        array_products.forEach((element) => {
          this.billing_product_list.push(
            {
              billing_product_list_concept: element.product_name,
              billing_product_list_desc: element.product_desc,
              billing_product_list_quantity: 1,
              billing_product_list_price: element.product_cost,
              tax_id: '1',
              type: 'Producto',
              id_product: element.id_product
            }
          )
        })
        this.addProduct()
        this.billing_product_list.pop()
        this.show_modal_form = false
      },
      addProduct () {
        this.billing_product_list.push({
          billing_product_list_concept: '',
          billing_product_list_desc: '',
          billing_product_list_quantity: 1,
          billing_product_list_price: 0,
          type: 'Producto',
          tax_id: '1',
          id_product: null,
          id_service: null,
        })
      },
      deleteProduct (counter) {
        this.billing_product_list.splice(counter, 1)
      },
      cancel () {
        this.modal ? this.close_modal(null, false) : this.$router.push({name: 'budgets_list'})
      },
      validate_list () {
        this.error_list = this.billing_product_list.some((el) => {
          return el.billing_product_list_concept === '' || el.billing_product_list_desc === ''
        })
        return this.error_list
      },
      find_tax (id) {
        return id ? this.options_tax.find(el => el.id === id) : 0
      },
      total (counter) {
        const selected_budget_item = this.billing_product_list[counter]
        const tax = this.options_tax.find(element => element.id == selected_budget_item.tax_id)

        if (tax) {
          const result = selected_budget_item.billing_product_list_quantity * selected_budget_item.billing_product_list_price + selected_budget_item.billing_product_list_quantity * selected_budget_item.billing_product_list_price * tax.value / 100
          return result.toFixed(2)
        }
        return 0
      },
      showModalForm (counter) {
        this.position = counter
        this.show_modal_form = !this.show_modal_form
      },
      onCloseModal (e, reload_data = false) {
        this.position = -1
        this.show_modal_form = false
      },
      changeDateAt () {
        // this.billings.expiration_date = moment(this.billings.date_at).add(1, 'years')
      },
      disabledDate (current) {
        // Can not select days before today and today
        return this.billings.expiration_date == null ? current && current < moment().subtract(1, 'days') : (current && current < moment().subtract(1, 'days')) || (current > moment(this.billings.expiration_date))
      },
      disabledDateEnd (current) {
        // Can not select days before today and today
        return current && current < moment(this.billings.date_at).add(1, 'days')
      },
      openModalCreatebudget () {
        this.showModalCreatebudget = true
      },
      budgetAdded (refresh) {
        this.showModalCreatebudget = false
        refresh ? this.refreshbudget() : ''
      },
      async refreshbudget () {
        this.loading = true
        await this.$refs.select_budget.load()
        this.loading = false
      },
      openModalCreatebillings_status () {
        this.showModalCreatebillings_status = true
      },
      billings_statusAdded (refresh) {
        this.showModalCreatebillings_status = false
        refresh ? this.refreshbillings_status() : ''
      },
      async refreshbillings_status () {
        this.loading = true
        await this.$refs.select_billings_status.load()
        this.loading = false
      },
      openModalCreatecontact () {
        this.showModalCreatecontact = true
      },
      contactAdded (refresh) {
        this.showModalCreatecontact = false
        refresh ? this.refreshcontact() : ''
      },
      async refreshcontact () {
        this.loading = true
        await this.$refs.select_contact.load()
        this.loading = false
      },
      openModalCreatepayment_type () {
        this.showModalCreatepayment_type = true
      },
      payment_typeAdded (refresh) {
        this.showModalCreatepayment_type = false
        refresh ? this.refreshpayment_type() : ''
      },
      async refreshpayment_type () {
        this.loading = true
        await this.$refs.select_payment_type.load()
        this.loading = false
      },
      cancel () {
        if (this.model === null) {
          this.$emit('close_modal', false)
        } else {
          this.modal ? this.close_modal(null, false) : this.$router.push({name: 'billings_list'})
        }
      },
      save_model () {
        this.validate_list()
        if (this.$refs.form.validate() && !this.error_list) {
          this.loading = true
          this.billings.billing_product_list = this.billing_product_list
          const accion = this.billings.get_id() ? 'actualizado' : 'insertado'
          mb.statics('Billings')
            .custom('post', 'register_billing', this.billings)
            .then((response) => {
              if (utils.process_response(response, accion)) {
                this.modal ? this.close_modal(null, true) : this.$router.push({name: 'billings_list'})
              }
              this.loading = false
            })
            .catch((error) => {
              this.loading = false
              utils.process_error(error)
            })
        }
      }

    }
  }
</script>

<style scoped>
  @import "billings_form.css";
</style>

