<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Gestión</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Contactos - Beyond Inner</li>
      </ol>
    </nav>
    <div>
      <div class="row">
        <div class="col-md-6">
          <a-button-group style="margin-bottom: 10px">
            <a-tooltip placement="topLeft" title="Añadir nuevo elemento">
              <a-button icon="plus" type="primary" @click="showModalForm">Agregar</a-button>
            </a-tooltip>
            <a-tooltip placement="topLeft" title="Eliminar elementos seleccionados">
              <a-button icon="delete" type="danger" @click="showDeleteConfirm">Eliminar</a-button>
            </a-tooltip>
          </a-button-group>
        </div>
        <div class="col-md-6" style="text-align: end;">
          <div class="form-group">
            <div class="input-group mb-3">
              <a-tooltip placement="topLeft" title="Buscar..">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  v-model="filter"
                  placeholder="Buscar"
                  aria-label
                />
              </a-tooltip>
              <div class="input-group-append">
                <a-tooltip placement="topLeft" title="Limpiar filtros">
                  <a-button
                    style="text-align: end"
                    class="rounded-0"
                    type="primary"
                    @click="filter=''"
                  >
                    <i class="ti ti-eraser" style="margin-right: 10px"/>Limpiar
                  </a-button>
                </a-tooltip>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <h6 style="text-align: left">Listado de Contactos</h6>
          </div>
          <div class="col-md-6" style="text-align: end;float: right">
            <div class="row">
              <div class="col-md-8" style="text-align: end">
                <p style="text-align: end">
                  Elementos seleccionados {{selectedRowKeys.length}}/{{data.length}}
                </p>
              </div>
              <div class="col-md-3">
                <a-dropdown-button style="margin-left: 45%;">
                  Exportar
                  <a-menu slot="overlay">
                    <a-menu-item key="1" @click="exportToExcel">
                      <a-icon type="file-excel" theme="twoTone" twoToneColor="#52c41a"/>
                      Excel
                    </a-menu-item>
                    <!--                    <a-menu-item key="2" @click=""><a-icon type="file-pdf" theme="twoTone" twoToneColor="#c41c33" />PDF</a-menu-item>-->

                    <a-menu-item key="3" @click="exportToCSV">
                      <a-icon type="file-text" theme="twoTone" twoToneColor="#2771c4"/>
                      CSV
                    </a-menu-item>
                  </a-menu>
                </a-dropdown-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a-modal
        @cancel="onCloseModal"
        class="modal-form"
        :visible="show_modal_form"
        :destroyOnClose="true"
        on-ok="handleOk"
        :header="null"
        :footer="null"
        :width="990"
        :maskClosable="false"

      >
        <contacts_form :modal=true :model="selected_model"/>
      </a-modal>

      <a-modal
        @cancel="onCloseModal"
        class="modal-form"
        width="55rem"
        :visible="show_modal_view"
        :destroyOnClose="true"
        on-ok="handleOk"
        :header="null"
        :footer="null"
        :maskClosable="false"

      >
        <contacts_view :modal=true :model="selected_model"/>
      </a-modal>

      <a-table
        :columns="columns"
        :rowKey="record => record.id_contact"
        :dataSource="data"
        :rowSelection="rowSelection"
        :loading="loading"
        :pagination="pagination.$data"
        :scroll="{ x: '130%' }"

      >
        <a slot="action" slot-scope="record" href="javascript:;">
          <action_buttons :object="record" :visible_view="false" @click="goToContract(record)" :v_instance="self"
                          :class_name="selected_model.class_name()"/>
        </a>
        <template slot="contact_picture" slot-scope="record">
          <a-popover :title="record.contact_commercial_name">
            <template slot="content">
              <a-avatar :size="80" :src="mb.statics('Contacts').getImageURL(record.contact_picture)"/>
            </template>
            <a-avatar size="large" :src="mb.statics('Contacts').getImageURL(record.contact_picture)"/>
          </a-popover>
        </template>
        <div slot="expandedRowRender" slot-scope="record" class="col-md-12">
          <div class="card card-statistics contact-contant">
            <div class="card-body py-4">
              <div class="d-flex align-items-center">
                <div class="bg-img">
                  <img :src="mb.statics('Contacts').getImageURL(record.contact_picture)" alt="" class="img-fluid">
                </div>
                <div class="ml-3">
                  <h4 class="mb-0">{{record.contact_full_name}}</h4>
                  <p>Tipo de contacto:<span class="badge badge-warning-inverse px-2 py-1 mt-1">{{record.contact_types.contact_type_siglas}}</span>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <ul class="nav">
                    <li class="nav-item">
                      <div class="img-icon"><i class="fa fa-mobile"></i></div>
                    </li>
                    <li class="nav-item">
                      <p>{{record.contact_phone}}</p>
                    </li>
                  </ul>
                  <ul class="nav">
                    <li class="nav-item">
                      <div class="img-icon"><i class="fa fa-phone"></i></div>
                    </li>
                    <li class="nav-item">
                      <p>{{record.contact_cellphone}}</p>
                    </li>
                  </ul>
                  <ul class="nav">
                    <li class="nav-item">
                      <div class="img-icon"><i class="fa fa-envelope-o"></i></div>
                    </li>
                    <li class="nav-item">
                      <p>{{record.contact_email}}</p>
                    </li>
                  </ul>
                </div>
                <div class="col-md-2">
                  <ul class="nav">
                    <li class="nav-item">
                      <div class="img-icon"><i class="fa fa-map-marker"></i></div>
                    </li>
                    <li class="nav-item">
                      <p>{{record.contact_postal_code}}</p>
                    </li>
                  </ul>
                  <ul class="nav">
                    <li class="nav-item">
                      <div class="img-icon"><i class="fa fa-flag"></i></div>
                    </li>
                    <li class="nav-item">
                      <p>{{record.countries.country_name}}</p>
                    </li>
                  </ul>
                  <ul class="nav">
                    <li class="nav-item">
                      <div class="img-icon"><i class="fa fa-map-o"></i></div>
                    </li>
                    <li class="nav-item">
                      <p>{{record.states.state_desc}}</p>
                    </li>
                  </ul>
                </div>
                <div class="col-md-2">
                  <ul class="nav">
                    <li class="nav-item">
                      <div class="img-icon"><i class="fa fa-internet-explorer"></i></div>
                    </li>
                    <li class="nav-item">
                      <p>{{record.contact_website}}</p>
                    </li>
                  </ul>
                  <ul class="nav">
                    <li class="nav-item">
                      <div class="img-icon"><i class="fa fa-map"></i></div>
                    </li>
                    <li class="nav-item">
                      <p>{{record.contact_address}}</p>
                    </li>
                  </ul>
                  <ul class="nav">
                    <li class="nav-item">
                      <div class="img-icon"><i class="fa fa-cc-paypal"></i></div>
                    </li>
                    <li class="nav-item">
                      <p>{{record.payment_types.payment_type_siglas}}</p>
                    </li>
                  </ul>
                </div>
                <div class="col-md-2">
                  <ul class="nav">
                    <li class="nav-item">
                      <div class="img-icon"><i class="fa fa-list"></i></div>
                    </li>
                    <li class="nav-item">
                      <p>{{record.legal_types.legal_type_siglas}}</p>
                    </li>
                  </ul>
                  <ul class="nav">
                    <li class="nav-item">
                      <div class="img-icon"><i class="fa fa-language"></i></div>
                    </li>
                    <li class="nav-item">
                      <p>{{record.languages.language_desc}}</p>
                    </li>
                  </ul>
                  <ul class="nav">
                    <li class="nav-item">
                      <div class="img-icon"><i class="fa fa-dollar"></i></div>
                    </li>
                    <li class="nav-item">
                      <p>{{record.currencies.currency_siglas}}</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a slot="contact_type" slot-scope="record" href="javascript:;">
          <a-tooltip placement="topLeft" title="Tipo de contacto">
            <div v-if="record.contact_type_id==='1'" class="badge badge-success badge-pill">{{record.contact_types.contact_type_desc}}</div>
            <div v-if="record.contact_type_id==='3'" class="badge badge-warning badge-pill">{{record.contact_types.contact_type_desc}}</div>
            <div v-if="record.contact_type_id==='4'" class="badge badge-info badge-pill">{{record.contact_types.contact_type_desc}}</div>
            <div v-if="record.contact_type_id==='5'" class="badge badge-primary badge-pill">{{record.contact_types.contact_type_desc}}</div>
          </a-tooltip>
        </a>
      </a-table>
    </div>
  </div>
</template>

<script>
  import Contacts from '../../../../../entities/models/modules/managment/contacts.model'
  import * as utils from '../../../../../entities/utils/utils'
  import action_buttons from '../../../../shared/table/action_buttons/action_buttons'
  import pagination_functions from '../../../../shared/table/pagination/pagination_options'
  import vantdpagination from '../../../../shared/table/pagination/antd_pagination'
  import contacts_form from '../form/contacts_form'
  import contacts_view from '../view/contacts_view'
  import * as mb from '../../../../../entities/models'

  export default {
    name: 'contacts_list',
    provide: function () {
      return {
        close_modal: this.onCloseModal
      }
    },
    data () {
      return {
        data: [],
        self: null,
        contacts_list: [],
        filter: null,
        columns: mb.statics('Contacts').show_columns(['legal_types.id_legal_type','contact_commercial_name', 'contact_cellphone', 'contact_website', 'contact_address', 'contact_postal_code', 'states.id_state', 'contact_internal_reference', 'languages.id_language', 'currencies.id_currency', 'payment_types.id_payment_type', 'created_at', 'updated_at'], false),
        loading: false,
        text_select: 'Marcar todos',
        selectedRowKeys: [],
        pagination: vantdpagination,
        selected_model: mb.instance('Contacts'),
        show_modal_form: false,
        show_modal_view: false,
        mb
      }
    },
    components: {
      action_buttons,
      pagination_functions,
      vantdpagination,
      contacts_form,
      contacts_view
    },
    watch: {
      filter: function () {
        this.data = this.contacts_list.data.filter(this.filter_data)
      },
      selectedRowKeys: function () {
        if (this.selectedRowKeys.length == this.data.length) {
          this.text_select = 'Desmarcar todos'
        } else {
          this.text_select = 'Marcar todos'
        }
      }
    },
    computed: {
      rowSelection () {
        const {selectedRowKeys} = this
        return {
          selectedRowKeys,
          hideDefaultSelections: true,
          selections: [
            {
              key: 'all-data',
              text: this.text_select,
              onSelect: () => {
                if (this.selectedRowKeys.length == this.data.length) {
                  this.selectedRowKeys = []
                } else {
                  this.selectedRowKeys = this.data.map(e => {
                    return e.id_contact
                  })
                }
              }
            }
          ],
          onSelection: this.onSelection,
          onChange: this.onChange
        }
      }
    },
    methods: {
      goToContract (record) {
        this.$router.push({
          name: 'contacts_view',
          params: {
            // contact_legal_type_id: record.
            // employee_id: record.id_employee,
            // created_at: record.created_at ,
            // updated_at: record.updated_at ,
            employee: record
          }
        })
        this.$router.go(1)
      },
      exportToExcel () {
        utils.exportToExcelVinstance(this)
      },
      exportToCSV () {
        utils.exportToCSV(this)
      },
      onCloseModal (e, reload_data = false) {
        this.selected_model = new Contacts()
        this.show_modal_form = false
        this.show_modal_view = false
        reload_data ? this.load_data() : ''
      },
      showModalForm () {
        this.show_modal_form = !this.show_modal_form
      },
      showModalView () {
        this.show_modal_view = !this.show_modal_view
      },
      filter_data (object) {
        return utils.filter_object_column(object, this.filter, this.columns)
      },
      onChange: function (selectedRowKeys) {
        this.selectedRowKeys = selectedRowKeys
      },
      showDeleteConfirm () {
        if (this.selectedRowKeys.length == 0) {
          utils.openNotificationWithIcon(
            'error',
            'Eliminar elementos seleccionados',
            'Debe seleccionar al menos un elemento'
          )
          return
        }
        let _this = this
        this.$confirm({
          title: 'Desea eliminar los elementos seleccionados?',
          icon: 'delete',
          // icon:()=>{return ( <a-icon type="delete" style="color:red"/> )},
          okText: 'Si',
          okType: 'danger',
          class: 'delete_confirm',
          cancelText: 'No',
          async onOk () {
            try {
              const response = await Contacts.delete_by_ids(
                _this.selectedRowKeys
              )
              utils.process_response(response, 'borrado(s)')
              _this.selectedRowKeys = []
              _this.load_data()
            } catch (error) {
              utils.process_error(error)
              _this.selectedRowKeys = []
            }
          },
          onCancel () {
          }
        })
      },
      async load_data () {
        try {
          this.loading = true
          var params = {}
          params.relations = ['legal_types', 'contact_types', 'countries', 'states', 'languages', 'currencies', 'payment_types', 'contact_status']
          const resp = await mb.statics('Contacts').list(params)
          this.contacts_list = resp
          this.data = this.contacts_list.data.filter(this.filter_data)
          this.loading = false
        } catch (error) {
          utils.process_error(error)
          this.loading = false
        }
      },

      async delete_selected () {
      },

      onEditing (model) {
        this.selected_model = new Contacts(model)
        this.showModalForm()
      },

      onView (model) {
        this.selected_model = new Contacts(model)
        this.showModalView()
      }
    },

    mounted () {
      this.loading = true
      this.data = []
      this.load_data()
      this.self = this
      this.pagination.$options.props = {
        load_data: this.load_data
      }
    }
  }
</script>

<style>
  @import "contacts_list.css";
</style>

