.form-dashed {
  border: 1px dashed #dee2e6 !important;
  border-radius: .25rem !important;
  padding: 1.5rem;
  position: relative;
}

.form-dashed>label:first-child {
  top: -11px;
  left: 8px;
  padding: 0px 8px;
  background: #fafafa;
  font-weight: 700;
  position: absolute;
}

.row-cols-4>* {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.row-cols-3>* {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
