<template>
  <div class="card position-relative mb-0">
    <div class="tab nav-border-bottom">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link show active" id="home-02-tab" data-toggle="tab" href="#home-02" role="tab"
             aria-controls="home-02" aria-selected="true">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link show" id="profile-02-tab" data-toggle="tab" href="#profile-02" role="tab"
             aria-controls="profile-02" aria-selected="false">Servicios </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade py-3 active show" id="home-02" role="tabpanel" aria-labelledby="home-02-tab">
          <div class="card-header">
            <div class="row">
              <div class="col-md-6">
                <h4 class="card-title">Productos</h4>
              </div>

              <div class="col-md-6" style="text-align: end;float: right">
                <div class="row">
                  <div class="col-md-12" style="text-align: end">
                    <p style="text-align: end">
                      Elementos seleccionados {{selectedRowKeys.length}}/{{data.length}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="offset-6 col-md-6" style="text-align: end;">
              <div class="form-group">
                <div class="input-group mb-3">
                  <a-tooltip placement="topLeft" title="Buscar..">
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      v-model="filter_product"
                      placeholder="Buscar"
                      aria-label
                    />
                  </a-tooltip>
                  <div class="input-group-append">
                    <a-tooltip placement="topLeft" title="Limpiar filtros">
                      <a-button
                        style="text-align: end"
                        class="rounded-0"
                        type="primary"
                        @click="filter=''"
                      >
                        <i class="ti ti-eraser" style="margin-right: 10px"/>Limpiar
                      </a-button>
                    </a-tooltip>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a-table
            :columns="columns"
            :rowKey="record => record.id_product"
            :dataSource="data"
            :rowSelection="rowSelection"
            :loading="loading"
            :pagination="pagination.$data"
          >
            <a slot="action" slot-scope="record" href="javascript:;">
              <action_buttons :object="record" :visible_view="false" :v_instance="self"
                              :class_name="selected_model.class_name()"/>
            </a>
            <template slot="product_picture" slot-scope="record">
              <a-popover :title="record.product_name">
                <template slot="content">
                  <a-avatar :size="80" :src="mb.statics('Products').getImageURL(record.product_picture)"/>
                </template>
                <a-avatar size="large" :src="mb.statics('Products').getImageURL(record.product_picture)"/>
              </a-popover>
            </template>
            <a slot="status" slot-scope="record" href="javascript:;">
              <span v-if="record.product_status_id==='1'"
                    class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-pill badge-success">Aceptado</span>
              <span v-else class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-danger">Cancelado</span>
            </a>
          </a-table>
        </div>
        <div class="tab-pane fade py-3" id="profile-02" role="tabpanel" aria-labelledby="profile-02-tab">
          <div class="card-header">
            <div class="row">
              <div class="col-md-6">
                <h4 class="card-title">Servicios</h4>
              </div>

              <div class="col-md-6" style="text-align: end;float: right">
                <div class="row">
                  <div class="col-md-12" style="text-align: end">
                    <p style="text-align: end">
                      Elementos seleccionados {{selectedRowKeysServices.length}}/{{data_services.length}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="offset-6 col-md-6" style="text-align: end;">
              <div class="form-group">
                <div class="input-group mb-3">
                  <a-tooltip placement="topLeft" title="Buscar..">
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      v-model="filter_services"
                      placeholder="Buscar"
                      aria-label
                    />
                  </a-tooltip>
                  <div class="input-group-append">
                    <a-tooltip placement="topLeft" title="Limpiar filtros">
                      <a-button
                        style="text-align: end"
                        class="rounded-0"
                        type="primary"
                        @click="filter_services=''"
                      >
                        <i class="ti ti-eraser" style="margin-right: 10px"/>Limpiar
                      </a-button>
                    </a-tooltip>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a-table
            :columns="columns_service"
            :rowKey="record => record.id_service"
            :dataSource="data_services"
            :rowSelection="rowSelection_services"
            :loading="loading"
            :pagination="pagination.$data"
          >
            <a slot="action" slot-scope="record" href="javascript:;">
              <action_buttons :object="record" :visible_view="false" :v_instance="self"
                              :class_name="selected_model.class_name()"/>
            </a>
            <template slot="service_picture" slot-scope="record">
              <a-popover :title="record.service_code">
                <template slot="content">
                  <a-avatar :size="80" :src="mb.statics('Services').getImageURL(record.service_picture)"/>
                </template>
                <a-avatar size="large" :src="mb.statics('Services').getImageURL(record.service_picture)"/>
              </a-popover>
            </template>
            <a slot="status" slot-scope="record" href="javascript:;">
              <span v-if="record.service_status_id==='1'"
                    class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-pill badge-success">Aceptado</span>
              <span v-else class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-danger">Cancelado</span>
            </a>
          </a-table>
        </div>
      </div>
    </div>
    <div class="card-footer p-3">
      <button class="btn btn-danger" style="float: right" @click="close_modal()">Cancelar</button>
      <button class="btn btn-primary" style="float: right" @click="addProducts()">Seleccionar</button>
    </div>
  </div>
</template>

<script>
  import Products from '../../../../../entities/models/modules/managment/products.model'
  import * as utils from '../../../../../entities/utils/utils'
  import action_buttons from '../../../../shared/table/action_buttons/action_buttons'
  import pagination_functions from '../../../../shared/table/pagination/pagination_options'
  import vantdpagination from '../../../../shared/table/pagination/antd_pagination'
  import products_form from '../form/products_form'
  import * as mb from '../../../../../entities/models'

  export default {
    name: 'products_table',
    inject: {
      close_modal_product: {
        default: () => {
        }
      },
      add_elements: {
        default: () => {
        }
      },
      get_list_product: {
        default: () => {
        }
      }
    },
    data () {
      return {
        data: [],
        data_services: [],
        self: null,
        products_list: [],
        service_list: [],
        filter_product: null,
        filter_services: null,
        columns: mb.statics('Products').show_columns(['product_picture','action_elements', 'product_desc', 'product_tax_buy', 'product_subtotal', 'product_tax_sale', 'product_sku', 'product_bar_code', 'product_factory_code', 'product_weigth', 'created_at', 'updated_at'], false),
        columns_service: mb.statics('Services').show_columns(['service_name', 'service_code', 'service_cost', 'service_status.id_service_status'], true),
        loading: false,
        text_select: 'Marcar todos',
        text_select_services: 'Marcar todos los servicios',
        selectedRowKeys: [],
        selectedRowKeysServices: [],
        pagination: vantdpagination,
        selected_model: mb.instance('Products'),
        show_modal_form: false,
        mb
      }
    },
    components: {
      action_buttons,
      pagination_functions,
      vantdpagination,
      products_form
    },
    watch: {
      filter_product: function () {
        this.data = this.products_list.data.filter(this.filter_product_data)
      },
      filter_services: function () {
        this.data_services = this.service_list.data.filter(this.filter_service_data)
      },
      selectedRowKeys: function () {
        if (this.selectedRowKeys.length == this.data.length) {
          this.text_select = 'Desmarcar todos'
        } else {
          this.text_select = 'Marcar todos'
        }
      },
      selectedRowKeysServices: function () {
        if (this.selectedRowKeysServices.length == this.data_services.length) {
          this.text_select_services = 'Desmarcar todos los servicios'
        } else {
          this.text_select_services = 'Marcar todos los servicios'
        }
      }
    },
    computed: {
      rowSelection () {
        const {selectedRowKeys} = this
        return {
          selectedRowKeys,
          hideDefaultSelections: true,
          selections: [
            {
              key: 'all-data',
              text: this.text_select,
              onSelect: () => {
                if (this.selectedRowKeys.length == this.data.length) {
                  this.selectedRowKeys = []
                } else {
                  this.selectedRowKeys = this.data.map(e => {
                    return e.id_product
                  })
                }
              }
            }
          ],
          onSelection: this.onSelection,
          onChange: this.onChange
        }
      },
      rowSelection_services () {
        const {selectedRowKeysServices} = this
        return {
          selectedRowKeysServices,
          hideDefaultSelections: true,
          selections: [
            {
              key: 'all-data',
              text: this.text_select_services,
              onSelect: () => {
                if (this.selectedRowKeysServices.length === this.data_services.length) {
                  this.selectedRowKeysServices = []
                } else {
                  this.selectedRowKeysServices = this.data_services.map(e => {
                    return e.id_service
                  })
                }
              }
            }
          ],
          onChange: this.onChangeService,
          onSelection: this.onSelection,

        }
      }
    },
    methods: {
      addProducts () {
        if (this.selectedRowKeys.length === 0 && this.selectedRowKeysServices.length === 0) {
          utils.openNotificationWithIcon(
            'error',
            'Agregar elementos seleccionados',
            'Debe seleccionar al menos un servicio o producto'
          )
          return
        }
        const selectedobject = this.data.filter((element) => {
          return this.selectedRowKeys.indexOf(element.id_product) !== -1
        })
        const selectedobject_services = this.data_services.filter((element) => {
          return this.selectedRowKeysServices.indexOf(element.id_service) !== -1
        })
        if (selectedobject.length > 0) {
          this.add_elements(selectedobject)
        }
        if (selectedobject_services.length > 0) {
          this.add_elements(selectedobject_services)
        }
      },
      close_modal () {
        this.close_modal_product()
      },
      exportToExcel () {
        utils.exportToExcelVinstance(this)
      },
      exportToCSV () {
        utils.exportToCSV(this)
      },
      onCloseModal (e, reload_data = false) {
        this.selected_model = new Products()
        this.show_modal_form = false
        reload_data ? this.load_data() : ''
      },
      showModalForm () {
        this.show_modal_form = !this.show_modal_form
      },
      filter_product_data (object) {
        return utils.filter_object_column(object, this.filter_product, this.columns)
      },
      filter_service_data (object) {
        return utils.filter_object_column(object, this.filter_services, this.columns_service)
      },
      onChange: function (selectedRowKeys) {
        this.selectedRowKeys = selectedRowKeys
      },
      onChangeService: function (selectedRowKeys) {
        this.selectedRowKeysServices = selectedRowKeys
      },
      showDeleteConfirm () {
        if (this.selectedRowKeys.length == 0) {
          utils.openNotificationWithIcon(
            'error',
            'Eliminar elementos seleccionados',
            'Debe seleccionar al menos un elemento'
          )
          return
        }
        let _this = this
        this.$confirm({
          title: 'Desea eliminar los elementos seleccionados?',
          icon: 'delete',
          // icon:()=>{return ( <a-icon type="delete" style="color:red"/> )},
          okText: 'Si',
          okType: 'danger',
          class: 'delete_confirm',
          cancelText: 'No',
          async onOk () {
            try {
              const response = await Products.delete_by_ids(
                _this.selectedRowKeys
              )
              utils.process_response(response, 'borrado(s)')
              _this.selectedRowKeys = []
              _this.load_data()
            } catch (error) {
              utils.process_error(error)
              _this.selectedRowKeys = []
            }
          },
          onCancel () {
          }
        })
      },
      async load_data () {
        try {
          this.loading = true
          var params = {}
          params.relations = ['contact', 'product_status']
          params.oper = ['>=|product_stock|1']
          const resp = await Products.list(params)
          var paramsservices = {}
          paramsservices.relations = ['service_status']
          const resp_services = await mb.statics('Services').list(paramsservices)

          this.products_list = resp
          const product_list = this.get_list_product
          this.data = this.products_list.data.filter(this.filter_product_data).filter((element) => {
            return product_list.findIndex((el) => element.id_product === el.id_product && el.type==="Producto") === -1
          })
          this.service_list = resp_services
          const service_list = this.get_list_product
          this.data_services = this.service_list.data.filter(this.filter_service_data).filter((element) => {
            return service_list.findIndex((el) => {
              return element.id_service === el.id_product && el.type==="Servicio"
            }) === -1
          })

          this.loading = false
        } catch (error) {
          utils.process_error(error)
          this.loading = false
        }
      },

      async delete_selected () {
      },

      onEditing (model) {
        this.selected_model = new Products(model)
        this.showModalForm()
      }
    },

    mounted () {
      this.loading = true
      this.data = []
      this.load_data()
      this.self = this
      this.pagination.$options.props = {
        load_data: this.load_data
      }
    }
  }
</script>

<style>
  @import "products_list.css";
</style>

