.card-header {
  height: 44px;
}

.ant-btn-danger {
  color: #fff;
  background-color: #ff4d4f;
  border-color: #ff4d4f;
}

.ant-btn-danger:hover {
  color: #fff;
  background-color: #ff8f85;
  border-color: #ff8f85;
}

.ant-table-tbody>tr>td {
  padding: 5px 16px;
}

.delete_confirm .anticon {
  color: red !important;
}

.modal-form .ant-modal-close:focus {
  outline: none;
}

.modal-form .ant-modal-body {
  padding-top: .5rem !important;
}

.ant-modal {
  margin-left: 25%;
}
