<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model">
    <spinner v-if="loading" />
    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0" >
      <tc-form
        :feedbacks="mb.statics('Contract_types').feedbacks"
        :vobject="$v"
        nested="contract_types"
        ref="form"
        class="form-row"
      >
        <tc-form-item class="form-group mb-0 col-md-10 px-3">
          <label>Tipo de contrato</label>
          <tc-input placeholder="Ingrese el tipo de contrato" name="contract_type_siglas" v-model="contract_types.contract_type_siglas"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-12 px-3">
          <label>Descripción</label>
          <tc-input placeholder="Ingrese la descripción" name="contract_types" v-model="contract_types.contract_type_desc"></tc-input>
        </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-3">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancelar</button>
    </div>
  </div>
</template>

<script>
import Contract_types from "../../../../../entities/models/modules/nomenclatures/contract_types.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models";

export default {
  name: "contract_types_form",
  inject: {
    close_modal: { default: ()=>{} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
    modal: {
      type: Boolean,
      default: false
    },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: mb.statics('Contract_types').validations,
  data() {
    return {
      // This property must have the same name of the model
      mb,
      loading: false,
      contract_types: mb.instance('Contract_types')
    };
  },
  computed: {
    contract_typesFeedbacks() {
      return mb.statics('Contract_types').feedbacks;
    },
    button_text() {
      return this.contract_types.get_id() ? "Modificar" : "Agregar";
    },
    modalTitle() {
      return this.contract_types.get_id()
        ? "Editar Tipo de contrato"
        : "Agregar Tipo de contrato";
    }
  },

  mounted: function() {
    this.contract_types = mb.instance('Contract_types',this.model);

  },
  components: {},
  methods: {
    cancel(){
      this.modal?this.close_modal(null,false):this.$router.push({name: 'contract_types_list'})
    },
    save_model() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.contract_types.get_id() ? "actualizado" : "insertado";
        this.contract_types
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
              this.modal?this.close_modal(null,true):this.$router.push({name: 'contract_types_list'})
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "contract_types_form.css";
</style>

