.card-header {
  height: 44px;
}

.ant-table-tbody>tr>td {
  padding: 5px 16px;
}

.delete_confirm .anticon {
  color: red !important;
}

.modal-form .ant-modal-close:focus {
  outline: none;
}

.modal-form .ant-modal-body {
  padding-top: .5rem !important;
}
