<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Seguridad</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Trazas</li>
      </ol>
    </nav>
    <div>
    </div>
    <div>
      <div class="col-md-6 offset-6" style="text-align: end;">
        <div class="form-group">
          <div class="input-group mb-3">
            <a-tooltip placement="topLeft" title="Buscar..">
              <input
                type="text"
                class="form-control form-control-sm"
                v-model="filter"
                placeholder="Buscar"
                aria-label
              />
            </a-tooltip>
            <div class="input-group-append">
              <a-tooltip placement="topLeft" title="Limpiar Filtros">
                <a-button
                  style="text-align: end"
                  class="rounded-0"
                  type="primary"
                  @click="filter=''"
                >
                  <i class="fa fa-eraser" style="margin-right: 10px" />Limpiar
                </a-button>
              </a-tooltip>
            </div>
          </div>
        </div>
      </div>
      <div class="card-header">

        <div class="row">
          <div class="col-md-6">
            <h6 style="text-align: left">Listado de Trazas</h6>
          </div>

          <div class="col-md-6" style="text-align: end">
            <div class="row">
              <div class="col-md-12">
                <a-dropdown-button style="margin-left: 45%;;float: right">
                  Exportar
                  <a-menu slot="overlay">
                    <a-menu-item key="1" @click="exportToExcel">
                      <a-icon type="file-excel" theme="twoTone" twoToneColor="#52c41a"/>
                      EXCEL
                    </a-menu-item>
                    <a-menu-item key="3" @click="exportToCSV">
                      <a-icon type="file-text" theme="twoTone" twoToneColor="#2771c4"/>
                      CSV
                    </a-menu-item>
                  </a-menu>
                </a-dropdown-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a-modal
        @cancel="onCloseModal"
        :title="selected_model.get_id()?'Modificar logs':'Añadir logs'"
        class="modal-form"
        width="55rem"
        :visible="show_modal_form"
        :destroyOnClose="true"
        on-ok="handleOk"
        :header="null"
        :footer="null"
        :maskClosable="false"

      >
        <logs_form :modal=true :model="selected_model"/>
      </a-modal>

      <a-table
        :columns="columns"
        :rowKey="record => record.id_log"
        :dataSource="data"
        :loading="loading"
        :pagination="pagination.$data"
      >
        <a slot="action" slot-scope="record" href="javascript:;">
          <action_buttons :object="record" :visible_view="false" :v_instance="self"
                          :class_name="selected_model.constructor.name"/>
        </a>
      </a-table>
    </div>
  </div>
</template>

<script>
  import * as utils from '../../../../../entities/utils/utils'
  import * as mb from '../../../../../entities/models'
  import action_buttons from '../../../../shared/table/action_buttons/action_buttons'
  import pagination_functions from '../../../../shared/table/pagination/pagination_options'
  import vantdpagination from '../../../../shared/table/pagination/antd_pagination'
  import logs_form from '../form/logs_form'

  export default {
    name: 'logs_list',
    provide: function () {
      return {
        close_modal: this.onCloseModal,
        load_data: this.load_data
      }
    },
    data () {
      return {
        data: [],
        self: null,
        logs_list: [],
        filter: null,
        columns: mb.statics('Logs').show_columns(
          [
            'name_user',
            'log_action',
            'table',
            'id_table',
            'created_at'], true
        ),
        loading: false,
        text_select: 'Select All',
        selectedRowKeys: [],
        pagination: vantdpagination,
        selected_model: mb.instance('Logs'),
        show_modal_form: false,
        mb
      }
    },
    components: {
      action_buttons,
      pagination_functions,
      vantdpagination,
      logs_form
    },
    watch: {
      filter: function () {
        this.data = this.logs_list.data.filter(this.filter_data)
      },
      selectedRowKeys: function () {
        if (this.selectedRowKeys.length == this.data.length) {
          this.text_select = 'Desseleccionar todo'
        } else {
          this.text_select = 'Seleccionar todo'
        }
      }
    },
    computed: {
      rowSelection () {
        const {selectedRowKeys} = this
        return {
          selectedRowKeys,
          hideDefaultSelections: true,
          selections: [
            {
              key: 'all-data',
              text: this.text_select,
              onSelect: () => {
                if (this.selectedRowKeys.length == this.data.length) {
                  this.selectedRowKeys = []
                } else {
                  this.selectedRowKeys = this.data.map(e => {
                    return e.id_log
                  })
                }
              }
            }
          ],
          onSelection: this.onSelection,
          onChange: this.onChange
        }
      }
    },
    methods: {
      exportToExcel () {
        utils.exportToExcelVinstance(this)
      },
      exportToCSV () {
        utils.exportToCSV(this)
      },
      onCloseModal (e, reload_data = false) {
        this.selected_model = mb.instance('Logs')
        this.show_modal_form = false
        reload_data ? this.load_data() : ''
      },
      showModalForm () {
        this.show_modal_form = !this.show_modal_form
      },
      filter_data (object) {
        return utils.filter_object_column(object, this.filter, this.columns)
      },
      onChange: function (selectedRowKeys) {
        this.selectedRowKeys = selectedRowKeys
      },
      showDeleteConfirm () {
        if (this.selectedRowKeys.length == 0) {
          utils.openNotificationWithIcon(
            'error',
            'Eliminar elementos seleccionados',
            'Debe seleccionar al menos u elemento'
          )
          return
        }
        let _this = this
        this.$confirm({
          title: 'Eliminar elementos seleccionados?',
          icon: 'delete',
          // icon:()=>{return ( <a-icon type="delete" style="color:red"/> )},
          okText: 'Si',
          okType: 'danger',
          class: 'delete_confirm',
          cancelText: 'No',
          async onOk () {
            try {
              const response = await mb.statics('Logs').delete_by_ids(
                _this.selectedRowKeys
              )
              utils.process_response(response, 'borrado(s)')
              _this.selectedRowKeys = []
              _this.load_data()
            } catch (error) {
              utils.process_error(error)
              _this.selectedRowKeys = []
            }
          },
          onCancel () {
          }
        })
      },
      async load_data () {
        try {
          this.loading = true
          var params = {}
          params.relations = []
          params.orderby=[{id_log:3}]
          const resp = await mb.statics('Logs').list(params)
          this.logs_list = resp
          this.data = this.logs_list.data.filter(this.filter_data)
          this.loading = false
        } catch (error) {
          utils.process_error(error)
          this.loading = false
        }
      },

      onEditing (model) {
        this.selected_model = mb.instance('Logs', model)
        this.showModalForm()
      }
    },

    mounted () {
      this.loading = true
      this.data = []
      this.load_data()
      this.self = this
      this.pagination.$options.props = {
        load_data: this.load_data
      }
    }
  }
</script>

<style>
  @import "logs_list.css";
</style>

