<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Gestión</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Ventas</li>
      </ol>
    </nav>
    <div>
      <div class="row">
        <div class="col-md-6">
          <a-button-group style="margin-bottom: 10px">
            <a-tooltip placement="topLeft" title="Añadir nuevo elemento">
              <a-button icon="plus" type="primary" @click="showModalForm">Añadir</a-button>
            </a-tooltip>
            <a-tooltip placement="topLeft" title="Eliminar elementos seleccionados">
              <a-button icon="delete" type="danger" @click="showDeleteConfirm">Eliminar</a-button>
            </a-tooltip>
          </a-button-group>
        </div>
        <div class="col-md-6" style="text-align: end;">
          <div class="form-group">
            <div class="input-group mb-3">
              <a-tooltip placement="topLeft" title="Buscar..">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  v-model="filter"
                  placeholder="Buscar"
                  aria-label
                />
              </a-tooltip>
              <div class="input-group-append">
                <a-tooltip placement="topLeft" title="Limpiar Filtros">
                  <a-button
                    style="text-align: end"
                    class="rounded-0"
                    type="primary"
                    @click="filter=''"
                  >
                    <i class="fa fa-eraser" style="margin-right: 10px"/>Limpiar
                  </a-button>
                </a-tooltip>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <h6 style="text-align: left">{{title}}</h6>
          </div>
          <div class="col-md-6" style="text-align: end;float: right">
            <div class="row">
              <div class="col-md-8" style="text-align: end">
                <p style="text-align: end">
                  Elementos seleccionados {{selectedRowKeys.length}}/{{data.length}}
                </p>
              </div>
              <div class="col-md-3">
                <a-dropdown-button style="margin-left: 45%;">
                  Exportar
                  <a-menu slot="overlay">
                    <a-menu-item key="1" @click="exportToExcel">
                      <a-icon type="file-excel" theme="twoTone" twoToneColor="#52c41a"/>
                      EXCEL
                    </a-menu-item>
                    <a-menu-item key="3" @click="exportToCSV">
                      <a-icon type="file-text" theme="twoTone" twoToneColor="#2771c4"/>
                      CSV
                    </a-menu-item>
                  </a-menu>
                </a-dropdown-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a-modal
        @cancel="onCloseModal"
        :title="selected_model.get_id()?'Modificar billings':'Añadir billings'"
        class="modal-form"
        width="55rem"
        :visible="show_modal_form"
        :destroyOnClose="true"
        on-ok="handleOk"
        :header="null"
        :footer="null"
        :maskClosable="false"

      >
        <billings_form :modal=true :model="selected_model"/>
      </a-modal>

      <a-table
        :columns="columns"
        :rowKey="record => record.id_billings"
        :dataSource="data"
        :rowSelection="rowSelection"
        :loading="loading"
        :pagination="pagination.$data"
        :scroll="{ x: '130%'}"
      >
        <a slot="action" slot-scope="record" href="javascript:;">
          <action_buttons :object="record" :visible_view="false" :v_instance="self"
                          :class_name="selected_model.constructor.name"/>
        </a>
        <a slot="budget" slot-scope="record" href="javascript:;">
          <span v-if="record.budget_id!=null" class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-pill badge-success">{{record.budget.budget_doc_number}}</span>
          <span v-else class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-danger">No tiene</span>
        </a>
      </a-table>
    </div>
  </div>
</template>

<script>
  import * as utils from '../../../../../entities/utils/utils'
  import * as mb from '../../../../../entities/models'
  import action_buttons from '../../../../shared/table/action_buttons/action_buttons'
  import pagination_functions from '../../../../shared/table/pagination/pagination_options'
  import vantdpagination from '../../../../shared/table/pagination/antd_pagination'
  import billings_form from '../form/billings_form'

  export default {
    name: 'billings_list',
    provide: function () {
      return {
        close_modal: this.onCloseModal,
        load_data: this.load_data
      }
    },
    data () {
      return {
        data: [],
        is_gastos:false,
        self: null,
        billings_list: [],
        filter: null,
        columns: mb.statics('Billings').show_columns(['' +
        'contact.contact_full_name',
          'budget.budget_doc_number',
          'billings_status.billings_status_siglas',
          'date_at',
          'expiration_date',
          'payment_type.payment_type_siglas', 'action_elements']),
        loading: false,
        text_select: 'Select All',
        selectedRowKeys: [],
        pagination: vantdpagination,
        selected_model: mb.instance('Billings'),
        show_modal_form: false,
        mb
      }
    },
    components: {
      action_buttons,
      pagination_functions,
      vantdpagination,
      billings_form
    },
    watch: {
      filter: function () {
        this.data = this.billings_list.data.filter(this.filter_data)
      },
      selectedRowKeys: function () {
        if (this.selectedRowKeys.length == this.data.length) {
          this.text_select = 'Desseleccionar todo'
        } else {
          this.text_select = 'Seleccionar todo'
        }
      }
    },
    computed: {
      title(){
        return this.is_gastos?'Listado de Gastos':'Listado de facturas'
      },
      rowSelection () {
        const {selectedRowKeys} = this
        return {
          selectedRowKeys,
          hideDefaultSelections: true,
          selections: [
            {
              key: 'all-data',
              text: this.text_select,
              onSelect: () => {
                if (this.selectedRowKeys.length == this.data.length) {
                  this.selectedRowKeys = []
                } else {
                  this.selectedRowKeys = this.data.map(e => {
                    return e.id_billings
                  })
                }
              }
            }
          ],
          onSelection: this.onSelection,
          onChange: this.onChange
        }
      }
    },
    methods: {
      exportToExcel () {
        utils.exportToExcelVinstance(this)
      },
      exportToCSV () {
        utils.exportToCSV(this)
      },
      onCloseModal (e, reload_data = false) {
        this.selected_model = mb.instance('Billings')
        this.show_modal_form = false
        reload_data ? this.load_data() : ''
      },
      showModalForm () {
        this.is_gastos?this.$router.push({name:'expenses_form'}):this.$router.push({name:'billings_form'});
      },
      filter_data (object) {
        return utils.filter_object_column(object, this.filter, this.columns)
      },
      onChange: function (selectedRowKeys) {
        this.selectedRowKeys = selectedRowKeys
      },
      showDeleteConfirm () {
        if (this.selectedRowKeys.length == 0) {
          utils.openNotificationWithIcon(
            'error',
            'Eliminar elementos seleccionados',
            'Debe seleccionar al menos u elemento'
          )
          return
        }
        let _this = this
        this.$confirm({
          title: 'Eliminar elementos seleccionados?',
          icon: 'delete',
          // icon:()=>{return ( <a-icon type="delete" style="color:red"/> )},
          okText: 'Si',
          okType: 'danger',
          class: 'delete_confirm',
          cancelText: 'No',
          async onOk () {
            try {
              const response = await mb.statics('Billings').delete_by_ids(
                _this.selectedRowKeys
              )
              utils.process_response(response, 'borrado(s)')
              _this.selectedRowKeys = []
              _this.load_data()
            } catch (error) {
              utils.process_error(error)
              _this.selectedRowKeys = []
            }
          },
          onCancel () {
          }
        })
      },
      async load_data () {
        try {
          this.loading = true
          var params = {}
          params.relations = ['budget', 'billings_status', 'contact', 'payment_type']
          if(this.is_gastos)
              params.attr={billing_types:"G"}
          const resp = await mb.statics('Billings').list(params)
          this.billings_list = resp
          this.data = this.billings_list.data.filter(this.filter_data)
          this.loading = false
        } catch (error) {
          utils.process_error(error)
          this.loading = false
        }
      },

      onEditing(model) {
        this.$router.push({
          name: 'update_billings',
          params: {
            id: model.id_billings,
          }
        })
      }
    },

    mounted () {
      this.is_gastos=this.$route.meta.gastos?this.$route.meta.gastos:false
      this.loading = true
      this.data = []
      this.load_data()
      this.self = this
      this.pagination.$options.props = {
        load_data: this.load_data
      }
    }
  }
</script>

<style>
  @import "billings_list.css";
</style>

