<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model">
    <spinner v-if="loading" />
    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0" >
      <tc-form
        :feedbacks="mb.statics('Contact_status').feedbacks"
        :vobject="$v"
        nested="contact_status"
        ref="form"
        class="form-row"
      >
        <tc-form-item class="form-group mb-0 col-md-10 px-3">
          <label>Estado del contacto<span class="required_field">*</span></label>
          <tc-input placeholder="Ingrese el estado del contacto" name="contact_status_siglas" v-model="contact_status.contact_status_siglas"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-12 px-3">
          <label>Descripción<span class="required_field">*</span></label>
          <tc-input :text_area="true" placeholder="Ingrese la descripción" name="contact_status_desc" v-model="contact_status.contact_status_desc"></tc-input>
        </tc-form-item>

      </tc-form>
    </div>
    <div class="card-footer p-3">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancelar</button>
    </div>
  </div>
</template>

<script>
import Contact_status from "../../../../../entities/models/modules/nomenclatures/contact_status.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models"
export default {
  name: "contact_status_form",
  inject: {
    close_modal: { default: ()=>{} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
    modal: {
      type: Boolean,
      default: false
    },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: mb.statics('Contact_status').validations,
  data() {
    return {
      loading: false,
      mb,
      // This property must have the same name of the model
      contact_status: mb.instance( 'Contact_status')
    };
  },
  computed: {
    contact_statusFeedbacks() {
      return mb.statics('Contact_status').feedbacks;
    },
    button_text() {
      return this.contact_status.get_id() ? "Modificar" : "Añadir";
    },
    modalTitle() {
      return this.contact_status.get_id()
        ? "Editar Estado del contacto"
        : "Agregar Estado del contacto";
    }
  },

  mounted: function() {
    this.contact_status = mb.instance( 'Contact_status',this.model);

  },
  components: {},
  methods: {
    cancel(){
      this.modal ? this.close_modal(null,false) : this.$router.push({name: 'contact_status_list'})
    },
    save_model() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.contact_status.get_id() ? "actualizado" : "añadido";
        this.contact_status
          .save()
          .then((response) => {
            if (utils.process_response(response,accion)) {
              this.modal ? this.close_modal(null,true) : this.$router.push({name: 'contact_status_list'})
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "contact_status_form.css";
</style>

