<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model">
    <spinner v-if="loading" />
    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0" >
      <tc-form
        :feedbacks="mb.statics('Payroll_status').feedbacks"
        :vobject="$v"
        nested="payroll_status"
        ref="form"
        class="form-row"
      >
        <tc-form-item class="form-group mb-0 col-md-10 px-3">
          <label>Estado de la nómina</label>
          <tc-input placeholder="Ingrese el estado de la nómina" name="payroll_status_siglas" v-model="payroll_status.payroll_status_siglas"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-12 px-3">
          <label>Descripción</label>
          <tc-input placeholder="Ingrese la descripción" name="payroll_status_desc" v-model="payroll_status.payroll_status_desc"></tc-input>
        </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-3">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancelar</button>
    </div>
  </div>
</template>

<script>
import Payroll_status from "../../../../../entities/models/modules/nomenclatures/payroll_status.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models";

export default {
  name: "payroll_status_form",
  inject: {
    close_modal: { default: ()=>{} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
    modal: {
      type: Boolean,
      default: false
    },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: mb.statics('Payroll_status').validations,
  data() {
    return {
      // This property must have the same name of the model
      mb,
      loading: false,
      payroll_status: mb.instance('Payroll_status')
    };
  },
  computed: {
    payroll_statusFeedbacks() {
      return mb.statics('Payroll_status').feedbacks;
    },
    button_text() {
      return this.payroll_status.get_id() ? "Modificar" : "Agregar";
    },
    modalTitle() {
      return this.payroll_status.get_id()
        ? "Editar Estado de la nómina"
        : "Agregar Estado de la nómina";
    }
  },

  mounted: function() {
    this.payroll_status = mb.instance('Payroll_status',this.model);

  },
  components: {},
  methods: {
    cancel(){
      this.modal?this.close_modal(null,false):this.$router.push({name: 'payroll_status_list'})
    },
    save_model() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.payroll_status.get_id() ? "actualizado" : "insertado";
        this.payroll_status
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
			//this.$emit("close_modal",null,true)
              this.modal?this.close_modal(null,true):this.$router.push({name: 'payroll_status_list'})
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "payroll_status_form.css";
</style>

