<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model">
    <spinner v-if="loading" />
    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0" >
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
    </div>
  </div>
</template>

<script>
import User_action_access from "../../../../../entities/models/modules/security/user_action_access.model";
import * as utils from "../../../../../entities/utils/utils";

export default {
  name: "user_action_access_form",
  props: {
    model: {
      type: Object,
      default: () => {}
    },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: User_action_access.validations,
  data() {
    return {
      loading: false,
      // This property must have the same name of the model
      user_action_access: new User_action_access()
    };
  },
  computed: {
    user_action_accessFeedbacks() {
      return User_action_access.feedbacks;
    },
    button_text() {
      return this.user_action_access.get_id() ? "Modificar" : "Agregar";
    },
    modalTitle() {
      return this.user_action_access.get_id()
        ? "Editar Tipo de salida"
        : "Agregar Tipo de salida";
    }
  },

  mounted: function() {
    this.user_action_access = new User_action_access(this.model);

  },
  components: {},
  methods: {
    save_model() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.user_action_access.get_id() ? "actualizado" : "insertado";
        this.user_action_access
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
              this.$emit("close_modal",null,true)
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "user_action_access_form.css";
</style>

