<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model()">
    <spinner v-if="loading"/>
    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0">

      <tc-form
        :feedbacks="mb.statics('Event_product').feedbacks"
        :vobject="$v"
        nested="event_product"
        ref="form"
        class="form-row"
      >
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Producto<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el Products"
              name="id_product"
              :search_params="{}"
              ref="select_product"
              :successFeed="false"
              :defaultValue="event_product.id_product"
              v-model="event_product.id_product"
              :url="mb.statics('Products').select_2_url"
            />
            <a-button type="dashed"
                      icon="plus"
                      class="dashed-primary rounded mt-1 ml-2"
                      @click="openModalCreateproduct">
            </a-button>
          </div>
        </tc-form-item>

        <a-modal
          @cancel="showModalCreateproduct = false"
          v-if="showModalCreateproduct"
          class="modal-form"
          :visible="true"
          :header="null"
          :footer="null"
          :width="1000"
          :maskClosable="false"
        >
          <products_form :model="null" @close_modal="productAdded"/>
        </a-modal>
        <tc-form-item class="form-group p-0 col-6">
          <label>Cantidad<span class='required_field'>*</span></label>
          <tc-input placeholder='Ingrese el valor amount' type_car='num' name='amount'
                    v-model="event_product.amount"></tc-input>
        </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button v-if="!event_product.get_id()" :disabled="loading" class="btn btn-primary" @click="save_model(true)">
        Añadir y nuevo
      </button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancel</button>
    </div>
  </div>
</template>

<script>
  import Event_product from '../../../../../entities/models/modules/managment/event_product.model'
  import * as utils from '../../../../../entities/utils/utils'
  import * as mb from '../../../../../entities/models'
  import Event_form from '../../event/form/event_form'
  import Products_form from '../../products/form/products_form'

  export default {
    name: 'event_product_form',
    inject: {
      close_modal: {
        default: () => {
        }
      },
      load_data: {
        default: () => {
        }
      },
      get_event: {
        default: () => {
        }
      }
    },
    props: {
      model: {
        type: Object,
        default: () => {
        }
      },
      modal: {
        type: Boolean,
        default: false
      },
      popoverPlacement: {
        type: String,
        default: 'bottomLeft'
      }
    },
    validations: mb.statics('Event_product').validations,
    data () {
      return {
        loading: false,
        mb,      // This property is for load static or instance class
        event_product: mb.instance('Event_product'),
        showModalCreateevent: false,
        event_list: [],
        showModalCreateproduct: false,
        products_list: [],
      }
    },
    computed: {
      event_productFeedbacks () {
        return mb.statics('Event_product').feedbacks
      },
      button_text () {
        return this.event_product.get_id() ? 'Modificar' : 'Añadir'
      },
      modalTitle () {
        return this.event_product.get_id()
          ? 'Modificar producto en evento'
          : 'Añadir producto en evento'
      }
    },

    mounted: function () {
      const event = this.get_event()
      this.event_product = mb.instance('Event_product', this.model)
      this.event_product.id_event = event.id_event

    },
    components: {
      Event_form,
      Products_form,
    },
    methods: {
      openModalCreateevent () {
        this.showModalCreateevent = true
      },
      eventAdded (refresh) {
        this.showModalCreateevent = false
        refresh ? this.refreshevent() : ''
      },
      async refreshevent () {
        this.loading = true
        await this.$refs.select_event.load()
        this.loading = false
      },
      openModalCreateproduct () {
        this.showModalCreateproduct = true
      },
      productAdded (refresh) {
        this.showModalCreateproduct = false
        refresh ? this.refreshproduct() : ''
      },
      async refreshproduct () {
        this.loading = true
        await this.$refs.select_product.load()
        this.loading = false
      },
      cancel () {
        if (this.model === null) {
          this.$emit('close_modal', false)
        } else {
          this.modal ? this.close_modal(null, false) : this.$router.push({name: 'event_product_list'})
        }
      },
      save_model (and_new = false) {
        if (this.$refs.form.validate()) {
          this.loading = true
          const accion = this.event_product.get_id() ? 'actualizado' : 'añadido'
          this.event_product
            .save()
            .then((response) => {
              if (utils.process_response(response, accion)) {
                if (this.model === null) {
                  this.$emit('close_modal', true)
                  return
                } else {
                  !and_new ? this.modal ? this.close_modal(null, true) : this.$router.push({name: 'event_product_list'}) : this.event_product = mb.instance('Event_product')
                }
                this.load_data()
                this.$refs.form.vobject.$reset()
              }
              this.loading = false
            })
            .catch((error) => {
              this.loading = false
              utils.process_error(error)
            })
        }
      }
    }
  }
</script>

<style scoped>
  @import "event_product_form.css";
</style>

