<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model()">
    <spinner v-if="loading"/>
    <div class="card-header p-0">
      <h4>{{title}}</h4>
    </div>
    <div class="card-body p-0">

      <tc-form
        :feedbacks="mb.statics('Orders').feedbacks"
        :vobject="$v"
        nested="orders"
        ref="form"
        class="form-row"
      >

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Proveedor<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el proveedor"
              name="id_contact"
              :search_params="search_params"
              ref="select_contact"
              :successFeed="false"
              :defaultValue="orders.id_contact"
              v-model="orders.id_contact"
              :url="mb.statics('Contacts').select_2_url"
            />
          </div>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3" v-if="false">
          <label>Estado de la Orden<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el estado"
              name="id_order_status"
              :search_params="search_params_status"
              ref="select_order_status"
              :successFeed="false"
              :defaultValue="orders.id_order_status"
              v-model="orders.id_order_status"
              :url="mb.statics('Order_status').select_2_url"
            />
            <a-button type="dashed"
                      icon="plus"
                      class="dashed-primary rounded mt-1 ml-2"
                      @click="openModalCreateorder_status">
            </a-button>
          </div>
        </tc-form-item>

        <a-modal
          @cancel="showModalCreateorder_status = false"
          v-if="showModalCreateorder_status"
          class="modal-form"
          :title="'Añadir Estado de orden'"
          :visible="true"
          :header="null"
          :footer="null"
          :maskClosable="false"
        >
          <order_status_form :model="null" @close_modal="order_statusAdded"/>
        </a-modal>
        <tc-form-item class="form-group px-3 col-12">
          <label>Descripción del pedido</label>
          <tc-input :rows="5" :text_area="true" size="large" name="order_description"
                    v-model="orders.order_description"/>
        </tc-form-item>
      </tc-form>
    </div>
    <div class="col-12 mb-2" v-if="error_list">
      <div class="alert alert-outline-danger" role="alert">
        Debe insertar todos los datos requeridos de cada elemento
      </div>
    </div>
    <div class="card-body p-0">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th></th>
          <th>Concepto <span class="required_field">*</span></th>
          <th>Tipo <span class="required_field">*</span></th>
          <th>Descripción <span class="required_field">*</span></th>
          <th>Cantidad <span class="required_field">*</span></th>
          <th>Precio (€) <span class="required_field">*</span></th>
          <th>Impuesto <span class="required_field">*</span></th>
          <th>Total</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(product_item, counter) in order_product_list" v-bind:key="counter">
          <td style="width: 10px">
            <a-tooltip placement="topLeft" title="Seleccionar Producto">
              <a-button :disabled="is_budget" type="primary" @click="showModalForm(counter)" icon="upload"/>
            </a-tooltip>
          </td>
          <td style="width: 300px">
            <input :disabled="is_budget" type="text" placeholder="Ingrese el concepto" class="form-control"
                   v-model="product_item.order_product_list_concept">
          </td>
          <td style="width: 200px">
            <label>{{product_item.type}}</label>
          </td>
          <td style="width: 300px">
            <a-popover title="Descripcion">
              <template slot="content">
                {{product_item.order_product_list_desc}}
              </template>
              <input :disabled="is_budget" type="text" placeholder="Ingrese la descripción" class="form-control"
                     v-model="product_item.order_product_list_desc">
            </a-popover>

          </td>
          <td style="width: 100px">
            <input :disabled="is_budget||product_item.type==='Servicio'" type="number" placeholder="Ingrese la cantidad"
                   maxlength="8" min="1"
                   class="form-control"
                   v-model="product_item.order_product_list_quantity">
          </td>
          <td style="width: 150px">
            <input :disabled="is_budget" type="number" placeholder="Ingrese el Precio" maxlength="8" min="1"
                   class="form-control"
                   v-model="product_item.order_product_list_price">
          </td>
          <td style="width: 150px">
            <a-select :disabled="is_budget" defaultValue="1" style="width: 190px" v-model="product_item.tax_id">
              <a-select-option v-for="(item,index) in options_tax" :key="item.id" :value="item.id">{{item.label}}
              </a-select-option>
            </a-select>
          </td>
          <td style="width: 80px">
            {{ total(counter) }} €
          </td>
          <td class="align-center">
            <button class="btn btn-primary" @click="addProduct">+</button>
            <button class="btn btn-danger" v-if="(counter) >= 1 && !product_item.id_order_product_list"
                    @click="deleteProduct(counter)">-
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <a-modal
      @cancel="onCloseModal"
      class="modal-form"
      :width="1050"
      :visible="show_modal_form"
      :destroyOnClose="true"
      on-ok="handleOk"
      :header="null"
      title="Seleccionar Productos y Servicios"
      :footer="null"
      :maskClosable="false"
    >
      <products_table :modal="true"/>
    </a-modal>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button v-if="!orders.get_id()" :disabled="loading" class="btn btn-primary" @click="save_model(true)">Añadir y
        nuevo
      </button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancel</button>
    </div>
    <div class="col-md-12" style="margin-top: 10px">
      <a-affix :offsetBottom="bottom">
        <div class="row">
          <div class="col-md-12">
            <div class="alert border-0 alert-primary bg-gradient m-b-30 alert-dismissible fade show border-radius-none"
                 style="float: right" role="alert">
              <ul class="nav justify-content-center text-center" style="font-size: 3rem">
                <li class=" border-right mt-3 px-3 mr-10">
                  <div>
                    <h4 style="color: white;font-size: 4.0rem" class="mb-0">{{total_price}}<span> €</span></h4>
                    <p style="margin-top: 20px">Subtotal</p>
                  </div>
                </li>

                <li class="nav-item border-right mt-3 px-3 mr-10">
                  <div>
                    <h4 style="color: white;font-size: 4.0rem" class="mb-0">{{total_tax}}<span> €</span></h4>
                    <p style="margin-top: 20px"> Impuesto</p>
                  </div>
                </li>

                <li class="nav-item mt-3 px-3 mr-10">
                  <div>
                    <h4 style="color: white;font-size: 4.0rem" class="mb-0">{{total_all}}<span> €</span></h4>
                    <p style="margin-top: 20px">Total</p>
                  </div>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </a-affix>
    </div>
  </div>
</template>

<script>
  import Orders from '../../../../../entities/models/modules/billings/orders.model'
  import * as utils from '../../../../../entities/utils/utils'
  import * as mb from '../../../../../entities/models'
  import Contacts_form from '../../../managment/contacts/form/contacts_form'
  import Payment_types_form from '../../../nomenclatures/payment_types/form/payment_types_form'
  import products_table from '../../../managment/products/list/products_table'
  import order_status_form from '../../../nomenclatures/order_status/form/order_status_form'

  export default {
    name: 'orders_form',
    provide: function () {
      return {
        close_modal_product: this.onCloseModal,
        add_elements: this.add_elements,
        get_list_product: this.order_product_list
      }
    },
    inject: {
      close_modal: {
        default: () => {
        }
      },
      load_data: {
        default: () => {
        }
      }
    },
    props: {
      model: {
        type: Object,
        default: () => {
        }
      },
      modal: {
        type: Boolean,
        default: false
      },
      popoverPlacement: {
        type: String,
        default: 'bottomLeft'
      }
    },
    validations: mb.statics('Orders').validations,
    data () {
      return {
        bottom: 0,
        showModalCreateorder_status: false,
        is_gastos: false,
        loading: false,
        mb,      // This property is for load static or instance class
        orders: mb.instance('Orders'),
        showModalCreatebudget: false,
        showModalCreateorders_status: false,
        orders_status_list: [],
        showModalCreatecontact: false,
        contacts_list: [],
        showModalCreatepayment_type: false,
        payment_types_list: [],
        options_tax: [
          {
            id: '1',
            label: 'Exento',
            value: 0,
          },
          {
            id: '2',
            label: 'Impuesto del 4 %',
            value: 4,
          },
          {
            id: '3',
            label: 'Impuesto del 10 %',
            value: 10,
          },
          {
            id: '4',
            label: 'Impuesto del 21 %',
            value: 21,
          }
        ],
        error_list: false,
        endDefault: null,
        position: -1,
        is_budget: false,
        show_modal_form: false,
        order_product_list: [{
          order_product_list_concept: '',
          order_product_list_desc: '',
          order_product_list_quantity: 1,
          order_product_list_price: 0,
          type: 'Producto',
          tax_id: '1',
          id_product: null,
          id_service: null,
        }]
      }
    },
    computed: {
      search_params_status () {
        let params = {}
        params.oper = ['<>|id_order_status|1']
        return params
      },
      search_params () {
        return {attr: {contact_type_id: 4, contact_status_id: 1}}
      },
      title () {
        const orders_title = ''
        if (this.orders.id_orders) {
          return 'Modificar Orden  :  ' + this.orders.orders_code
        }
        return 'Agregar Orden  '
      },
      total_price () {
        let total = 0
        this.order_product_list.forEach((el) => {
          total += Number(el.order_product_list_price)
        })
        return total
      },
      total_tax () {
        let total = 0
        this.order_product_list.forEach((el) => {
          total += Number((this.find_tax(el.tax_id).value * el.order_product_list_price) / 100)
        })
        return total
      },
      total_all () {
        let result = 0
        this.order_product_list.forEach((value, index) => {
          result += Number(this.total(index))
        })
        return result.toFixed(2)
      },
      ordersFeedbacks () {
        return mb.statics('Orders').feedbacks
      },
      button_text () {
        return this.orders.get_id() ? 'Modificar' : 'Añadir'
      },
      modalTitle () {
        return this.orders.get_id()
          ? 'Modificar Orden'
          : 'Añadir Orden'
      }
    },

    beforeMount: async function () {
      this.loading = true

      if (this.$route.params.id) {
        const params = {}
        params.relations = ['arrayorders_product.product','arrayorders_product.services']
        const orders = await mb.statics('Orders').view(this.$route.params.id, params).then(response => response.data).catch(data => {
          if (data.response.status == 404) {
            _this.$router.push({name: 'orders_list'})
          }
          return data
        })
        this.orders = mb.instance('Orders', orders)
        if (this.orders.id_order_status>1)
          this.$router.push({name: 'orders_list'})

        this.order_product_list = orders.arrayorders_product.map(element => {
          return {
            order_product_list_concept: element.product?element.product.product_name:element.services.service_name,
            order_product_list_desc: element.product?element.product.product_desc:element.services.service_desc,
            order_product_list_quantity: element.amount,
            order_product_list_price: element.product?element.product.product_cost:element.services.service_cost,
            type: element.product?"Producto":"Servicio",
            tax_id: element.tax_id,
            id_product: element.id_product,
            id_service: element.id_service,
          }
        })

      } else {
        this.orders = mb.instance('Orders', this.model)
      }
      this.loading = false

    },
    components: {

      Contacts_form,
      Payment_types_form,
      products_table,
      order_status_form
    },
    watch: {
      order_product_list: function (a, b) {
        this.validate_list()
      }
    },
    methods: {
      openModalCreateorder_status () {
        this.showModalCreateorder_status = true
      },
      order_statusAdded (refresh) {
        this.showModalCreateorder_status = false
        refresh ? this.refreshorder_status() : ''
      },
      add_elements (array_products) {
        const cant = array_products.length + this.order_product_list.length
        this.order_product_list.pop()
        array_products.forEach((element) => {
          this.order_product_list.push(
            {
              order_product_list_concept: element.product_name || element.service_name,
              order_product_list_desc: element.product_desc || element.service_desc,
              order_product_list_quantity: 1,
              order_product_list_price: element.product_cost || element.service_cost,
              tax_id: '1',
              type: element.id_product ? 'Producto' : 'Servicio',
              id_product: element.id_product,
              id_service: element.id_service
            }
          )

        })
        this.addProduct()
        this.order_product_list.pop()
        this.show_modal_form = false
      },
      addProduct () {
        this.order_product_list.push({
          order_product_list_concept: '',
          order_product_list_desc: '',
          order_product_list_quantity: 1,
          order_product_list_price: 0,
          type: 'Producto',
          tax_id: '1',
          id_product: null,
          id_service: null,
        })
      },
      deleteProduct (counter) {
        this.order_product_list.splice(counter, 1)
      },
      cancel () {
        this.modal ? this.close_modal(null, false) : this.$router.push({name: 'orders_list'})
      },
      validate_list () {
        this.error_list = this.order_product_list.some((el) => {
          return el.order_product_list_concept === '' || el.order_product_list_desc === ''
        })
        return this.error_list
      },
      find_tax (id) {
        return id ? this.options_tax.find(el => el.id === id) : 0
      },
      total (counter) {
        const selected_budget_item = this.order_product_list[counter]
        const tax = this.options_tax.find(element => element.id == selected_budget_item.tax_id)

        if (tax) {
          const result = selected_budget_item.order_product_list_quantity * selected_budget_item.order_product_list_price + selected_budget_item.order_product_list_quantity * selected_budget_item.order_product_list_price * tax.value / 100
          return result.toFixed(2)
        }
        return 0
      },
      showModalForm (counter) {
        this.position = counter
        this.show_modal_form = !this.show_modal_form
      },
      onCloseModal (e, reload_data = false) {
        this.position = -1
        this.show_modal_form = false
      },
      changeDateAt () {
        // this.orders.expiration_date = moment(this.orders.date_at).add(1, 'years')
      },
      disabledDate (current) {
        // Can not select days before today and today
        return this.orders.expiration_date == null ? current && current < moment().subtract(1, 'days') : (current && current < moment().subtract(1, 'days')) || (current > moment(this.orders.expiration_date))
      },
      disabledDateEnd (current) {
        // Can not select days before today and today
        return current && current < moment(this.orders.date_at).add(1, 'days')
      },
      openModalCreatebudget () {
        this.showModalCreatebudget = true
      },
      budgetAdded (refresh) {
        this.showModalCreatebudget = false
        refresh ? this.refreshbudget() : ''
      },
      async refreshbudget () {
        this.loading = true
        await this.$refs.select_budget.load()
        this.loading = false
      },
      openModalCreateorders_status () {
        this.showModalCreateorders_status = true
      },
      orders_statusAdded (refresh) {
        this.showModalCreateorders_status = false
        refresh ? this.refreshorders_status() : ''
      },
      async refreshorders_status () {
        this.loading = true
        await this.$refs.select_orders_status.load()
        this.loading = false
      },
      openModalCreatecontact () {
        this.showModalCreatecontact = true
      },
      contactAdded (refresh) {
        this.showModalCreatecontact = false
        refresh ? this.refreshcontact() : ''
      },
      async refreshcontact () {
        this.loading = true
        await this.$refs.select_contact.load()
        this.loading = false
      },
      openModalCreatepayment_type () {
        this.showModalCreatepayment_type = true
      },
      payment_typeAdded (refresh) {
        this.showModalCreatepayment_type = false
        refresh ? this.refreshpayment_type() : ''
      },
      async refreshpayment_type () {
        this.loading = true
        await this.$refs.select_payment_type.load()
        this.loading = false
      },
      cancel () {
        if (this.model === null) {
          this.$emit('close_modal', false)
        } else {
          this.modal ? this.close_modal(null, false) : this.$router.push({name: 'orders_list'})
        }
      },
      save_model () {
        this.validate_list()
        if (this.$refs.form.validate() && !this.error_list) {
          this.loading = true
          this.orders.order_product_list = this.order_product_list
          this.orders.id_user = this.$store.site.user.id_user
          const accion = this.orders.get_id() ? ' actualizado' : ' insertado'
          mb.statics('Orders')
            .custom('post', 'register_order', this.orders)
            .then((response) => {
              if (utils.process_response(response, accion)) {
                this.modal ? this.close_modal(null, true) : this.$router.push({name: 'orders_list'})
              }
              this.loading = false
            })
            .catch((error) => {
              this.loading = false
              utils.process_error(error)
            })
        }
      }

    }
  }
</script>

<style scoped>
  @import "orders_form.css";
</style>

