.ant-modal-content {
  bottom: 60px;
}

.ant-modal-body{
  padding-top: 10px;
}

.card{
  box-shadow: none;
}
.form-control {
  height: 40px;
  border: 1px solid #dee2e6;
  color:black;
}
.card-footer{
  text-align: end;
}

