<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model">
    <spinner v-if="loading" />
    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0" >
      <div class="form-group">
        <tc-form
          :feedbacks="mb.statics('Contract_payment_unities').feedbacks"
          :vobject="$v"
          nested="contract_payment_unities"
          ref="form"
          class="form-row"
        >
          <tc-form-item class="form-group mb-0 col-md-10 px-3">
            <label>Unidad</label>
            <tc-input placeholder="Ingrese la unidad" name="contract_payment_unity_siglas" v-model="contract_payment_unities.contract_payment_unity_siglas"></tc-input>
          </tc-form-item>

          <tc-form-item class="form-group mb-0 col-md-12 px-3">
            <label>Descripción</label>
            <tc-input placeholder="Ingrese la descripción" name="contract_payment_unity_desc" v-model="contract_payment_unities.contract_payment_unity_desc"></tc-input>
          </tc-form-item>
        </tc-form>
      </div>
    </div>
    <div class="card-footer p-3">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancelar</button>
    </div>
  </div>
</template>

<script>
import Contract_payment_unities from "../../../../../entities/models/modules/nomenclatures/contract_payment_unities.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models";

export default {
  name: "contract_payment_unities_form",
  inject: {
    close_modal: { default: ()=>{} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
    modal: {
      type: Boolean,
      default: false
    },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: mb.statics('Contract_payment_unities').validations,
  data() {
    return {
      // This property must have the same name of the model
      mb,
      loading: false,
      contract_payment_unities: mb.instance('Contract_payment_unities')
    };
  },
  computed: {
    contract_payment_unitiesFeedbacks() {
      return mb.statics('Contract_payment_unities').feedbacks;
    },
    button_text() {
      return this.contract_payment_unities.get_id() ? "Modificar" : "Agregar";
    },
    modalTitle() {
      return this.contract_payment_unities.get_id()
        ? "Editar Tipo de unidad"
        : "Agregar Tipo de unidad";
    }
  },

  mounted: function() {
    this.contract_payment_unities = mb.instance('Contract_payment_unities',this.model);

  },
  components: {},
  methods: {
    cancel(){
      this.modal?this.close_modal(null,false):this.$router.push({name: 'contract_payment_unities_list'})
    },
    save_model() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.contract_payment_unities.get_id() ? "actualizado" : "insertado";
        this.contract_payment_unities
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
              this.modal?this.close_modal(null,true):this.$router.push({name: 'contract_payment_unities_list'})
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "contract_payment_unities_form.css";
</style>

