<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model">
    <spinner v-if="loading" />
    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0" >
      <tc-form
        :feedbacks="mb.statics('Product_status').feedbacks"
        :vobject="$v"
        nested="product_status"
        ref="form"
        class="form-row"
      >
        <tc-form-item class="form-group mb-0 col-md-10 px-3">
          <label>Estado del producto</label>
          <tc-input placeholder="Ingrese el estado del producto" name="product_status_siglas" v-model="product_status.product_status_siglas"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-12 px-3">
          <label>Descripción</label>
          <tc-input placeholder="Ingrese la descripción" name="product_status_desc" v-model="product_status.product_status_desc"></tc-input>
        </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-3">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancelar</button>
    </div>
  </div>
</template>

<script>
import Product_status from "../../../../../entities/models/modules/nomenclatures/product_status.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models";

export default {
  name: "product_status_form",
  inject: {
    close_modal: { default: ()=>{} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
    modal: {
      type: Boolean,
      default: false
    },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: mb.statics('Product_status').validations,
  data() {
    return {
      // This property must have the same name of the model
      mb,
      loading: false,
      product_status: mb.instance('Product_status')
    };
  },
  computed: {
    product_statusFeedbacks() {
      return mb.statics('Product_status').feedbacks;
    },
    button_text() {
      return this.product_status.get_id() ? "Modificar" : "Agregar";
    },
    modalTitle() {
      return this.product_status.get_id()
        ? "Editar Estado del producto"
        : "Agregar Estado del producto";
    }
  },

  mounted: function() {
    this.product_status = mb.instance('Product_status',this.model);

  },
  components: {},
  methods: {
    cancel(){
      this.modal?this.close_modal(null,false):this.$router.push({name: 'product_status_list'})
    },
    save_model() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.product_status.get_id() ? "actualizado" : "insertado";
        this.product_status
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
              this.modal?this.close_modal(null,true):this.$router.push({name: 'product_status_list'})
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "product_status_form.css";
</style>

