<template>

</template>

<script>
  import * as mb from "../../../../../entities/models";

  export default {
    name: "contact_view",
    inject: {
      close_modal: { default: ()=>{} }
    },
    props: {
      model: {
        type: Object,
        default: () => {}
      },
      modal: {
        type: Boolean,
        default: false
      },
      popoverPlacement: {
        type: String,
        default: "bottomLeft"
      }
    },
    data () {
      return {
        mb,
        loading: false,
        contacts: mb.instance('Contacts'),
      };
    },
    computed:{},
    mounted() {},
    components:{},
    methods: {
      cancel(){
        // this.$emit("close_modal",null,true)
        this.modal?this.close_modal(null,false):this.$router.push({name: 'contacts_list'})
      },
    }
  }
</script>

<style scoped>

</style>
