<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model()">
    <spinner v-if="loading" />
    <div class="card-body p-0" >

      <tc-form
        :feedbacks="mb.statics('Cant_transaction').feedbacks"
        :vobject="$v"
        nested="cant_transaction"
        ref="form"
        class="form-row"
      >
      <tc-form-item class="form-group mb-0 col-md-6 px-3">
        <label>Club_members_name</label>
        <tc-input placeholder='Ingrese el valor club_members_name' name='club_members_name' v-model="cant_transaction.club_members_name"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group mb-0 col-md-6 px-3">
        <label>Club_members_email</label>
        <tc-input placeholder='Ingrese el valor club_members_email' name='club_members_email' v-model="cant_transaction.club_members_email"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group mb-0 col-md-6 px-3">
        <label>Count_transaction<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el valor count_transaction'   type_char='num'  name='count_transaction' v-model="cant_transaction.count_transaction"></tc-input>
      </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button v-if="!cant_transaction.get_id()" :disabled="loading" class="btn btn-primary" @click="save_model(true)">Añadir y nuevo</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancel</button>
    </div>
  </div>
</template>

<script>
import Cant_transaction from "../../../../../entities/models/modules/reports/cant_transaction.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models"

export default {
  name: "cant_transaction_form",
  inject: {
      close_modal: { default: ()=>{} },
      load_data: {default: () => {} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
      modal: {
        type: Boolean,
        default: false
      },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: mb.statics('Cant_transaction').validations,
  data() {
    return {
      loading: false,
      mb,      // This property is for load static or instance class
      cant_transaction: mb.instance( 'Cant_transaction'),
    };
  },
  computed: {
    cant_transactionFeedbacks() {
      return mb.statics('Cant_transaction').feedbacks;
    },
    button_text() {
      return this.cant_transaction.get_id() ? "Actualizar" : "Añadir";
    },
    modalTitle() {
      return this.cant_transaction.get_id()
        ? "Actualizar Cant_transaction"
        : "Añadir Cant_transaction";
    }
  },

  mounted: function() {
    this.cant_transaction = mb.instance( 'Cant_transaction',this.model);

  },
  components: {

             },
  methods: {
      cancel(){
        if (this.model === null) {
          this.$emit('close_modal',false)
        } else {
        this.modal?this.close_modal(null,false):this.$router.push({name: 'cant_transaction_list'})
       }
      },
    save_model(and_new=false) {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.cant_transaction.get_id() ? "actualizado" : "añadido";
        this.cant_transaction
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
                if (this.model === null) {
                  this.$emit('close_modal',true)
                  return;
               }
                else
                   !and_new?this.modal?this.close_modal(null,true):this.$router.push({name: 'cant_transaction_list'}):this.cant_transaction=mb.instance('Cant_transaction');this.load_data();this.$refs.form.vobject.$reset()
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "cant_transaction_form.css";
</style>

