<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model">
    <spinner v-if="loading" />
    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0" >
      <tc-form
        :feedbacks="mb.statics('Budget_status').feedbacks"
        :vobject="$v"
        nested="budget_status"
        ref="form"
        class="form-row"
      >
        <tc-form-item class="form-group mb-0 col-md-10 px-3">
          <label>Estado del presupuesto</label>
          <tc-input placeholder="Ingrese el estado" name="budget_status_siglas" v-model="budget_status.budget_status_siglas"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-12 px-3">
          <label>Descripcion</label>
          <tc-input placeholder="Ingrese la descripción" name="budget_status_desc" v-model="budget_status.budget_status_desc"></tc-input>
        </tc-form-item>

      </tc-form>
    </div>
    <div class="card-footer p-3">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancelar</button>
    </div>
  </div>
</template>

<script>
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models";

export default {
  name: "budget_status_form",
  inject: {
    close_modal: { default: ()=>{} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
	modal: {
        type: Boolean,
        default: false
      },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: mb.statics('Budget_status').validations,
  data() {
    return {

      loading: false,
      mb,
      // This property must have the same name of the model
      budget_status: mb.instance('Budget_status')
    };
  },
  computed: {
    budget_statusFeedbacks() {
      return mb.statics('Budget_status').feedbacks;
    },
    button_text() {
      return this.budget_status.get_id() ? "Modificar" : "Agregar";
    },
    modalTitle() {
      return this.budget_status.get_id()
        ? "Editar Estado de cuenta"
        : "Agregar Estado de cuenta";
    }
  },

  mounted: function() {
    this.budget_status = mb.instance('Budget_status',this.model);
  },
  components: {},
  methods: {
    cancel(){
      this.modal?this.close_modal(null,false):this.$router.push({name: 'budget_status_list'})
    },
    save_model() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.budget_status.get_id() ? "actualizado" : "insertado";
        this.budget_status
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
              this.modal?this.close_modal(null,true):this.$router.push({name: 'budget_status_list'})
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "budget_status_form.css";
</style>

