<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model()">
    <spinner v-if="loading" />
    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0" >

      <tc-form
        :feedbacks="mb.statics('Cliente_ser_prods').feedbacks"
        :vobject="$v"
        nested="cliente_ser_prods"
        ref="form"
        class="form-row"
      >
      <tc-form-item class="form-group p-0 col-6">
        <label>Id_cliente<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el valor id_cliente'   type_car='num'  name='id_cliente' v-model="cliente_ser_prods.id_cliente"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>Id_serv_prod</label>
        <tc-input placeholder='Ingrese el valor id_serv_prod'   type_car='num'  name='id_serv_prod' v-model="cliente_ser_prods.id_serv_prod"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>Comment</label>
        <tc-input placeholder='Ingrese el valor comment' name='comment' v-model="cliente_ser_prods.comment"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>Type<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el valor type' name='type' v-model="cliente_ser_prods.type"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>Coins</label>
        <tc-input placeholder='Ingrese el valor coins'   type_car='dec'  name='coins' v-model="cliente_ser_prods.coins"></tc-input>
      </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button v-if="!cliente_ser_prods.get_id()" :disabled="loading" class="btn btn-primary" @click="save_model(true)">Añadir y nuevo</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancel</button>
    </div>
  </div>
</template>

<script>
import Cliente_ser_prods from "../../../../../entities/models/modules/managment/cliente_ser_prods.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models"

export default {
  name: "cliente_ser_prods_form",
  inject: {
      close_modal: { default: ()=>{} },
      load_data: {default: () => {} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
      modal: {
        type: Boolean,
        default: false
      },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: mb.statics('Cliente_ser_prods').validations,
  data() {
    return {
      loading: false,
      mb,      // This property is for load static or instance class
      cliente_ser_prods: mb.instance( 'Cliente_ser_prods'),
    };
  },
  computed: {
    cliente_ser_prodsFeedbacks() {
      return mb.statics('Cliente_ser_prods').feedbacks;
    },
    button_text() {
      return this.cliente_ser_prods.get_id() ? "Modificar" : "Añadir";
    },
    modalTitle() {
      return this.cliente_ser_prods.get_id()
        ? "Modificar Cliente_ser_prods"
        : "Añadir Cliente_ser_prods";
    }
  },

  mounted: function() {
    this.cliente_ser_prods = mb.instance( 'Cliente_ser_prods',this.model);

  },
  components: {

             },
  methods: {
      cancel(){
        if (this.model === null) {
          this.$emit('close_modal',false)
        } else {
        this.modal?this.close_modal(null,false):this.$router.push({name: 'cliente_ser_prods_list'})
       }
      },
    save_model(and_new=false) {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.cliente_ser_prods.get_id() ? "actualizado" : "añadido";
        this.cliente_ser_prods
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
                if (this.model === null) {
                  this.$emit('close_modal',true)
                  return;
               }
                else
                   !and_new?this.modal?this.close_modal(null,true):this.$router.push({name: 'cliente_ser_prods_list'}):this.cliente_ser_prods=mb.instance('Cliente_ser_prods');this.load_data();this.$refs.form.vobject.$reset()
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "cliente_ser_prods_form.css";
</style>

