<template>
<div>
  <a-button type="default" icon="eye" @click="() => modal2Visible = true">Ver evento</a-button>
  <a-modal
    :title=this.event_name
    centered
    v-model="modal2Visible"
    @ok="() => modal2Visible = false"
    width="1000px"
  >
    <template slot="footer">
      <label class="text-danger m-r-20">Al dar click en participar se le descontar&aacute; de sus Inner Coins</label>
      <a-button key="back" @click="() => modal2Visible = false">Cancelar</a-button>
      <a-button key="submit" icon="check-circle" :loading="loading" @click="() => modal2Visible = false">
        Participar
      </a-button>
    </template>
    <div class="form-row">
      <div class="form-group p-3 col-3">
        <label>Precio:</label>
        <h4>{{event_price}} IC</h4>
      </div>
      <div class="form-group p-3 col-3">
        <label>Fecha inicio:</label>
        <h4>{{event_date}}</h4>
      </div>
      <div class="form-group p-3 col-3">
        <label>Duraci&oacute;n:</label>
        <h4>{{event_duration}}h</h4>
      </div>
      <div class="form-group p-3 col-3">
        <label>Todo el dia</label>
        <h4 v-if="event_is_all_day==='1'" class="icons-list"><a-icon type="check-circle" theme="twoTone" twoToneColor="#52c41a" /></h4>
        <h4 v-else class="icons-list"><a-icon type="close-circle" theme="twoTone" twoToneColor="#eb2f96" /></h4>
      </div>
      <div class="form-group p-3 col-3">
        <label>Lugar:</label>
        <h4>{{event_location}}</h4>
      </div>
      <div class="row col-md-12">
        <div class="form-group p-3 col-6">
          <label>Correos responsables</label>
          <p>{{event_emails}}</p>
        </div>
        <div class="form-group p-3 col-6">
          <label>Tel&eacute;fonos responsables</label>
          <p>{{event_phones}}</p>
        </div>
      </div>
    </div>

  </a-modal>
</div>
</template>

<script>
import Services_view from '../../../../../entities/models/modules/managment/services_view.model'

export default {
  props: {
    model: {
      type: Object,
      default: () => {}
    },
    event_id:{
      type: String,
      default: "Error al obtener el servicio"
    },
    event_name:{
      type: String,
      default: "Error al obtener el servicio"
    },
    event_price:{
      type: String,
      default: "Error al obtener el servicio"
    },
    event_date:{
      type: String,
      default: "Error al obtener el servicio"
    },
    event_duration:{
      type: String,
      default: "Error al obtener el servicio"
    },
    event_is_all_day:{
      type: String,
      default: "Error al obtener el servicio"
    },
    event_location:{
      type: String,
      default: "Error al obtener el servicio"
    },
    event_emails:{
      type: String,
      default: "Error al obtener el servicio"
    },
    event_phones:{
      type: String,
      default: "Error al obtener el servicio"
    },
  },
  validations: Event.validations,
  name: 'event_buy_action_buttons',
  data() {
    return {
      modal1Visible: false,
      modal2Visible: false,
    }
  },
  methods: {
    setModal1Visible(modal1Visible) {
      this.modal1Visible = modal1Visible;
    },
  }
}
</script>

<style>
.icons-list >>> .anticon {
  margin-right: 6px;
  font-size: 24px;
}
</style>
