.ant-notification {
  z-index: 99999 !important;
}

/*Customize*/

/*Header grid*/

.ant-table-thead > tr > th {
  text-align: center !important;
  padding: 15px !important;
}

.ant-table-placeholder {
  height: 25rem !important;
}

/*.ant-table-content{*/
/*  height: 25rem;*/
/*  background-color: white;*/
/*}*/
.ant-table-row, .ant-table-wrapper {
  background-color: white;
}

/*Container*/
.az-content-body > div {
  width: 100%;
}

.anticon {
  width: 15px;
}

.ant-btn .anticon.anticon-plus > svg, .ant-btn .anticon.anticon-delete > svg {
  margin-bottom: 6px;
}

.ant-table-tbody > tr > td, .ant-table-thead > tr > th {
  padding: 5px 16px !important;
}

div[role='dialog'] {
  /*z-index: 1060;*/
  margin-top: -6%;
  /*overflow-y: hidden;*/
}
.ant-modal {
  margin-left: 20%!important;
}

.top-bar {
  z-index: 100;
}

label, legend {
  font-weight: 500 !important;
  color: #090909;
}

.required_field{
  color:red!important;
  margin-left: 5px!important;
}
.ant-btn-danger {
  color: #fff!important;
  background-color: #ff4d4f!important;
  border-color: #ff4d4f!important;
}
.ant-btn-danger:hover {
  color: #fff!important;
  background-color: #ff8f85!important;
  border-color: #ff8f85!important;
}
.text-muted {
  color: #6c757d !important;
}
