<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model()">
    <spinner v-if="loading" />
    <div class="card-body p-0" >

      <tc-form
        :feedbacks="mb.statics('Contact_service_history').feedbacks"
        :vobject="$v"
        nested="contact_service_history"
        ref="form"
        class="form-row"
      >
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Contacts<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el Contacts"
              name="id_contact"
              :search_params= "{}"
              ref="select_contact"
              :successFeed="false"
              :defaultValue="contact_service_history.id_contact"
              v-model="contact_service_history.id_contact"
              :url="mb.statics('Contacts').select_2_url"
            />
            <a-button type="dashed"
                      icon="plus"
                      class="dashed-primary rounded mt-1 ml-2"
                      @click="openModalCreatecontact">
            </a-button>
          </div>
        </tc-form-item>

        <a-modal
          @cancel="showModalCreatecontact = false"
          v-if="showModalCreatecontact"
          class="modal-form"
          :title="'Añadir contacts'"
          :visible="true"
          :header="null"
          :footer="null"
          :maskClosable="false"
        >
          <contacts_form :model="null" @close_modal="contactAdded"/>
        </a-modal>
      <tc-form-item class="form-group p-0 col-6">
        <label>Id_services</label>
        <tc-input placeholder='Ingrese el valor id_services'   type_car='num'  name='id_services' v-model="contact_service_history.id_services"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-12">
        <label>Contact_service_history_desc</label>
        <tc-input :text_area="true" size="large" name="contact_service_history_desc" v-model="contact_service_history.contact_service_history_desc"/>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>Type</label>
        <tc-input placeholder='Ingrese el valor type'   type_car='num'  name='type' v-model="contact_service_history.type"></tc-input>
      </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button v-if="!contact_service_history.get_id()" :disabled="loading" class="btn btn-primary" @click="save_model(true)">Añadir y nuevo</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancel</button>
    </div>
  </div>
</template>

<script>
import Contact_service_history from "../../../../../entities/models/modules/managment/contact_service_history.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models"
  import Contacts_form from '../../contacts/form/contacts_form';

export default {
  name: "contact_service_history_form",
  inject: {
      close_modal: { default: ()=>{} },
      load_data: {default: () => {} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
      modal: {
        type: Boolean,
        default: false
      },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: mb.statics('Contact_service_history').validations,
  data() {
    return {
      loading: false,
      mb,      // This property is for load static or instance class
      contact_service_history: mb.instance( 'Contact_service_history'),
      showModalCreatecontact: false,
      contacts_list: [],
    };
  },
  computed: {
    contact_service_historyFeedbacks() {
      return mb.statics('Contact_service_history').feedbacks;
    },
    button_text() {
      return this.contact_service_history.get_id() ? "Modificar" : "Añadir";
    },
    modalTitle() {
      return this.contact_service_history.get_id()
        ? "Modificar Contact_service_history"
        : "Añadir Contact_service_history";
    }
  },

  mounted: function() {
    this.contact_service_history = mb.instance( 'Contact_service_history',this.model);

  },
  components: {

       Contacts_form,
             },
  methods: {
      openModalCreatecontact() {
        this.showModalCreatecontact = true;
      },
      contactAdded(refresh) {
        this.showModalCreatecontact = false;
        refresh?this.refreshcontact():'';
      },
      async refreshcontact() {
        this.loading = true;
        await this.$refs.select_contact.load();
        this.loading = false;
      },
      cancel(){
        if (this.model === null) {
          this.$emit('close_modal',false)
        } else {
        this.modal?this.close_modal(null,false):this.$router.push({name: 'contact_service_history_list'})
       }
      },
    save_model(and_new=false) {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.contact_service_history.get_id() ? "actualizado" : "añadido";
        this.contact_service_history
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
                if (this.model === null) {
                  this.$emit('close_modal',true)
                  return;
               }
                else
                   !and_new?this.modal?this.close_modal(null,true):this.$router.push({name: 'contact_service_history_list'}):this.contact_service_history=mb.instance('Contact_service_history');this.load_data();this.$refs.form.vobject.$reset()
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "contact_service_history_form.css";
</style>

