<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model()">
    <spinner v-if="loading"/>
    <div class="card-body p-0">

      <tc-form
        :feedbacks="mb.statics('Amount_club_member').feedbacks"
        :vobject="$v"
        nested="amount_club_member"
        ref="form"
        class="form-row"
      >
        <div class="col-md-5">
          <tc-form-item class="form-group p-0 col-md-12 mb-20">
            <label class="col-md-12"><strong>Usuario</strong> : {{user_name}}</label>
            <label class="col-md-12"><strong>Cantidad</strong> : {{total}} EURO/INNER COINS</label>
          </tc-form-item>
          <tc-form-item class="form-group p-0 col-md-12 mb-20">
            <label><strong>Nombre del Miembro</strong> : {{member_name}}</label>
          </tc-form-item>
          <tc-form-item class="form-group p-0 col-12">
            <label>Cantidad a descontar<span class='required_field'>*</span></label>
            <tc-input placeholder='Ingrese la cantidad' type_car='dec' name='amount'
                      v-model="amount_club_member.amount"/>
          </tc-form-item>
          <tc-form-item class="form-group p-0 col-12">
            <label>Descripción<span class='required_field'>*</span></label>
            <tc-input :text_area="true" name="amiunt_description" :show_char_cant="false"
                      v-model="amount_club_member.amiunt_description">
            </tc-input>
          </tc-form-item>
        </div>
        <div class="col-md-7">
          <a-table
            :columns="columns"
            :rowKey="record => record.id_amount_club_member"
            :dataSource="data"
            :loading="loading"
            :pagination="pagination.$data"
          >
            <a slot="amount" slot-scope="record" href="javascript:;">
              <a-tooltip placement="top" title="Cuenta">
            <span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-pill badge-success "
                  style="font-size: 12px">{{record.amount}} (IC)</span>
              </a-tooltip>
            </a>
            <div slot="expandedRowRender" slot-scope="record" class="col-md-12">
              <div class="card card-statistics contact-contant">
                <div class="card-body py-4">
                      {{record.amiunt_description}}
                </div>
              </div>
            </div>
          </a-table>
          <h4 class="mt-20 text-center">Suma total de asignaciones {{sum}}</h4>
        </div>
      </tc-form>
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button v-if="!amount_club_member.get_id()" :disabled="loading" class="btn btn-primary" @click="save_model(true)">
        Añadir y nuevo
      </button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancel</button>
    </div>
  </div>
</template>

<script>
  import Amount_club_member from '../../../../../entities/models/modules/managment/amount_club_member.model'
  import * as utils from '../../../../../entities/utils/utils'
  import * as mb from '../../../../../entities/models'
  import Users_form from '../../../security/users/form/users_form'
  import Club_members_form from '../../club_members/form/club_members_form'
  import vantdpagination from '../../../../shared/table/pagination/antd_pagination'

  export default {
    name: 'amount_club_member_form_adviser',
    inject: {
      close_modal_monto: {
        default: () => {
        }
      },
      load_data: {
        default: () => {
        }
      }
    },
    props: {
      model: {
        type: Object,
        default: () => {
        }
      },
      modal: {
        type: Boolean,
        default: false
      },
      popoverPlacement: {
        type: String,
        default: 'bottomLeft'
      }
    },
    validations: mb.statics('Amount_club_member').validations,
    data () {
      return {
        loading: false,
        sum:0,
        data: [],
        mb,      // This property is for load static or instance class
        amount_club_member: mb.instance('Amount_club_member'),
        showModalCreateuser: false,
        users_list: [],
        amount_club_member_list: [],
        showModalCreateclub_member: false,
        club_members: null,
        columns: mb.statics('Amount_club_member').show_columns(['user.username', 'amount', 'date_at'], true),
        pagination: vantdpagination,
      }
    },
    computed: {
      amount_club_memberFeedbacks () {
        return mb.statics('Amount_club_member').feedbacks
      },
      total () {
        return this.club_members?this.club_members.clum_members_currency:0
      },
      user_name () {
        return this.$store.site.user.username
      },
      member_name () {
        return this.club_members ? this.club_members.get_full_name() : ''
      },
      button_text () {
        return this.amount_club_member.get_id() ? 'Modificar' : 'Añadir'
      },
      modalTitle () {
        return this.amount_club_member.get_id()
          ? 'Modificar Amount_club_member'
          : 'Añadir Amount_club_member'
      }
    },
    watch: {
      filter: function () {
        this.data = this.amount_club_member_list.data.filter(this.filter_data)
      },
    },
    mounted: function () {
      this.amount_club_member = mb.instance('Amount_club_member', {})
      this.club_members = this.model
      this.amount_club_member.id_user = this.$store.site.user.id_user
      this.amount_club_member.id_club_member = this.club_members.id_club_members
      this.amount_club_member.date_at = moment().format('DD/MM/YYYY')
      this.loading = true
      this.data = []
      this.load_data_amount()
      this.self = this
      this.pagination.$options.props = {
        load_data: this.load_data_amount
      }

    },
    components: {
      vantdpagination,
      Users_form,
      Club_members_form,
    },
    methods: {
      async load_data_amount () {
        try {
          this.loading = true
          var params = {}
          params.relations = ['user', 'club_member']
          params.orderby=[{date_at:3}]
          params.attr = {id_club_member: this.club_members.id_club_members}
          const resp = await mb.statics('Amount_club_member').list(params)
          this.amount_club_member_list = resp
          this.sum=0;
          if(resp.data)
          {
            resp.data.forEach((element)=>{
              this.sum+=Number(element.amount);
            });
          }
          this.data = this.amount_club_member_list.data.filter(this.filter_data)
          this.loading = false
        } catch (error) {
          utils.process_error(error)
          this.loading = false
        }
      },
      filter_data (object) {
        return utils.filter_object_column(object, this.filter, this.columns)
      },
      openModalCreateuser () {
        this.showModalCreateuser = true
      },
      userAdded (refresh) {
        this.showModalCreateuser = false
        refresh ? this.refreshuser() : ''
      },
      async refreshuser () {
        this.loading = true
        await this.$refs.select_user.load()
        this.loading = false
      },
      openModalCreateclub_member () {
        this.showModalCreateclub_member = true
      },
      club_memberAdded (refresh) {
        this.showModalCreateclub_member = false
        refresh ? this.refreshclub_member() : ''
      },
      async refreshclub_member () {
        this.loading = true
        await this.$refs.select_club_member.load()
        this.loading = false
      },
      cancel () {
        if (this.model === null) {
          this.$emit('close_modal', false)
        } else {
          this.modal ? this.close_modal_monto(null, false) : this.$router.push({name: 'amount_club_member_list'})
        }
      },
      save_model (and_new = false) {
        if (this.$refs.form.validate()) {
          this.loading = true
          const accion = this.amount_club_member.get_id() ? 'actualizado' : 'añadido'
          this.amount_club_member.id_club_member=this.club_members.id_club_members;
          this.amount_club_member.id_user=this.$store.site.user.id_user;
          this.amount_club_member.date_at=moment().format('DD/MM/YYYY h:m');
          this.amount_club_member
            .save()
            .then((response) => {
              if (utils.process_response(response, accion)) {
                if (this.model === null) {
                  this.$emit('close_modal', true)
                  return
                } else {
                     this.club_members.clum_members_currency=Number.parseInt(this.club_members.clum_members_currency)+Number.parseInt(this.amount_club_member.amount)
                    !and_new ? this.modal ? this.close_modal_monto(null, true) : this.$router.push({name: 'amount_club_member_list'}) : this.amount_club_member = mb.instance('Amount_club_member')
                }
                this.load_data_amount()
                this.$refs.form.vobject.$reset()
              }
              this.loading = false
            })
            .catch((error) => {
              this.loading = false
              utils.process_error(error)
            })
        }
      }
    }
  }
</script>

<style scoped>
  @import "amount_club_member_form.css";
</style>

