<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model()">
    <spinner v-if="loading" />
    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0" >

      <tc-form
        :feedbacks="mb.statics('Clientes').feedbacks"
        :vobject="$v"
        nested="clientes"
        ref="form"
        class="form-row"
      >
      <tc-form-item class="form-group p-0 col-6">
        <label>Fiscal_name</label>
        <tc-input placeholder='Ingrese el valor fiscal_name' name='fiscal_name' v-model="clientes.fiscal_name"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>Comercial_name</label>
        <tc-input placeholder='Ingrese el valor comercial_name' name='comercial_name' v-model="clientes.comercial_name"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>Name</label>
        <tc-input placeholder='Ingrese el valor name' name='name' v-model="clientes.name"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>Last_name</label>
        <tc-input placeholder='Ingrese el valor last_name' name='last_name' v-model="clientes.last_name"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>Email</label>
        <tc-input placeholder='Ingrese el valor email' name='email' v-model="clientes.email"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>Phone</label>
        <tc-input placeholder='Ingrese el valor phone' name='phone' v-model="clientes.phone"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>Use_products</label>
        <tc-input placeholder='Ingrese el valor use_products' name='use_products' v-model="clientes.use_products"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>State<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el valor state' name='state' v-model="clientes.state"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>Wallet<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el valor wallet'   type_car='num'  name='wallet' v-model="clientes.wallet"></tc-input>
      </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button v-if="!clientes.get_id()" :disabled="loading" class="btn btn-primary" @click="save_model(true)">Añadir y nuevo</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancel</button>
    </div>
  </div>
</template>

<script>
import Clientes from "../../../../../entities/models/modules/managment/clientes.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models"

export default {
  name: "clientes_form",
  inject: {
      close_modal: { default: ()=>{} },
      load_data: {default: () => {} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
      modal: {
        type: Boolean,
        default: false
      },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: mb.statics('Clientes').validations,
  data() {
    return {
      loading: false,
      mb,      // This property is for load static or instance class
      clientes: mb.instance( 'Clientes'),
    };
  },
  computed: {
    clientesFeedbacks() {
      return mb.statics('Clientes').feedbacks;
    },
    button_text() {
      return this.clientes.get_id() ? "Modificar" : "Añadir";
    },
    modalTitle() {
      return this.clientes.get_id()
        ? "Modificar Clientes"
        : "Añadir Clientes";
    }
  },

  mounted: function() {
    this.clientes = mb.instance( 'Clientes',this.model);

  },
  components: {

             },
  methods: {
      cancel(){
        if (this.model === null) {
          this.$emit('close_modal',false)
        } else {
        this.modal?this.close_modal(null,false):this.$router.push({name: 'clientes_list'})
       }
      },
    save_model(and_new=false) {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.clientes.get_id() ? "actualizado" : "añadido";
        this.clientes
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
                if (this.model === null) {
                  this.$emit('close_modal',true)
                  return;
               }
                else
                   !and_new?this.modal?this.close_modal(null,true):this.$router.push({name: 'clientes_list'}):this.clientes=mb.instance('Clientes');this.load_data();this.$refs.form.vobject.$reset()
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "clientes_form.css";
</style>

