<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model">
    <spinner v-if="loading" />
    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0" >
      <tc-form
        :feedbacks="mb.statics('Payrolls').feedbacks"
        :vobject="$v"
        nested="payrolls"
        ref="form"
        class="form-row"
      >
        <tc-form-item style="text-align: left" >
          <label>Documento</label>
          <a-upload
            name="avatar"
            listType="picture-card"
            class="avatar-uploader"
            style="display: inline-table"
            :showUploadList="false"
            :beforeUpload="beforeUpload"
            @change="handleDocumentChange"
          >
            <img id="payroll_attachment" height="102px" width="102px" v-show="payrolls.payroll_attachment" :src="mb.statics('Payrolls').getDocumentURL(payrolls.payroll_attachment)" alt="Image"/>
            <div v-if="!payrolls.payroll_attachment">
              <a-icon :type="loading ? 'loading' : 'plus'"/>
              <div class="ant-upload-text">Subir</div>
            </div>
          </a-upload>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Fecha*</label>
          <div class="d-flex flex-row">
            <tc-date-picker name="payroll_date" v-model="payrolls.payroll_date"></tc-date-picker>
          </div>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Descripción</label>
          <a-textarea size="large" v-model="payrolls.payroll_desc"></a-textarea>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Concepto</label>
          <tc-input placeholder="Ingrese el concepto" name="payroll_concept" v-model="payrolls.payroll_concept"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Impuesto</label>
          <tc-input placeholder="Ingrese el impuesto" name="payroll_tax" v-model="payrolls.payroll_tax"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-4 px-3">
          <label>Cuenta</label>
          <tc-input placeholder="Ingrese la cuenta" name="payroll_account" v-model="payrolls.payroll_account"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-4 px-3">
          <label>Salario neto*</label>
          <tc-input placeholder="Ingrese el salario" name="payroll_total" v-model="payrolls.payroll_total"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-4 px-3">
          <label>Etiquetas</label>
          <tc-input placeholder="Ingrese las etiquetas" name="payroll_tags" v-model="payrolls.payroll_tags"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Cuenta por defecto</label>
          <tc-input placeholder="Ingrese la cuenta" name="payroll_default_account" v-model="payrolls.payroll_default_account"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3" v-if="$store.site.user.id_role===1 || $store.site.user.id_role===2">
          <label>Estado*</label>

          <div class="d-flex flex-row" v-if="$store.site.is_member">
            <tc-autocomplete
              placeholder="Seleccione el estado"
              name="payroll_status_id"
              :successFeed="false"
              :defaultValue="payrolls.payroll_status_id"
              v-model="payrolls.payroll_status_id"
              :url="mb.statics('Payroll_status').select_2_url"
            />
          </div>
          <div class="d-flex flex-row" v-else>
            <tc-autocomplete
              placeholder="Seleccione el estado"
              name="payroll_status_id"
              :successFeed="false"
              :defaultValue="payrolls.payroll_status_id"
              v-model="payrolls.payroll_status_id"
              :url="mb.statics('Payroll_status').select_2_url"
            />

          </div>
        </tc-form-item>

      </tc-form>
    </div>
    <div class="card-footer p-3">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancelar</button>
    </div>
  </div>
</template>

<script>
import Payrolls from "../../../../../entities/models/modules/managment/payrolls.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models"

export default {
  name: "payrolls_form",
  inject: {
    close_modal: { default: ()=>{} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
    modal: {
      type: Boolean,
      default: false
    },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: Payrolls.validations,
  data() {
    let eId
    return {
      // This property must have the same name of the model
      mb,
      loading: false,
      payrolls: mb.instance('Payrolls'),
      payroll_status: mb.instance('Payroll_status'),
      eId
    };
  },
  computed: {
    payrollsFeedbacks() {
      return mb.statics('Payrolls').feedbacks;
    },
    button_text() {
      return this.payrolls.get_id() ? "Modificar" : "Agregar";
    },
    modalTitle() {
      return this.payrolls.get_employee_id()
        ? "Editar Nómina"
        : "Agregar Nómina";
    }
  },

  mounted: function() {
    this.userId = this.$store.site.user.id_user;
    this.payrolls = mb.instance('Payrolls', this.model);
    this.payrolls.id_user = this.$store.site.user.id_user;
    this.payrolls.employee_id = Number.parseInt(this.payrolls.get_employee_id())
    this.payrolls.created_at = (this.$route.params.created_at)
    this.payrolls.updated_at = (this.$route.params.updated_at)
    if(Number.parseInt(this.payrolls.employee_id) > 0){
      this.eId = Number.parseInt(this.payrolls.employee_id)
    }


  },
  components: {},
  methods: {
    handleDocumentChange (info) {
      let reader = new FileReader()
      reader.onload = function (e) {
        document.getElementById('payroll_attachment').setAttribute('src', e.target.result)
      }
      reader.readAsDataURL(info.file)
      this.payrolls.payroll_attachment = info.file
    },
    beforeUpload (file) {
      return false
    },
    cancel(){
      // this.$emit("close_modal",null,true)
      this.modal?this.close_modal(null,false):this.$router.push({name: 'payrolls_list'})
    },
    save_model() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.payrolls.get_id() ? "actualizado" : "insertado";
        this.payrolls.isFormData = (this.payrolls.payroll_attachment instanceof File) ? true : false;
        this.payrolls
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
              // this.$emit("close_modal",null,true)
              this.modal?this.close_modal(null,true):this.$router.push({name: 'payrolls_list'})
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "payrolls_form.css";
</style>

