<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model()">
    <spinner v-if="loading" />
    <div class="card-body p-0" >

      <tc-form
        :feedbacks="mb.statics('Adviser').feedbacks"
        :vobject="$v"
        nested="adviser"
        ref="form"
        class="form-row"
      >
      <tc-form-item class="form-group p-0 col-6">
        <label>Asesor<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el valor adviser' name='adviser' v-model="adviser.adviser"></tc-input>
      </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button v-if="!adviser.get_id()" :disabled="loading" class="btn btn-primary" @click="save_model(true)">Añadir y nuevo</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancel</button>
    </div>
  </div>
</template>

<script>
import Adviser from "../../../../../entities/models/modules/nomenclatures/adviser.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models"

export default {
  name: "adviser_form",
  inject: {
      close_modal: { default: ()=>{} },
      load_data: {default: () => {} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
      modal: {
        type: Boolean,
        default: false
      },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: mb.statics('Adviser').validations,
  data() {
    return {
      loading: false,
      mb,      // This property is for load static or instance class
      adviser: mb.instance( 'Adviser'),
    };
  },
  computed: {
    adviserFeedbacks() {
      return mb.statics('Adviser').feedbacks;
    },
    button_text() {
      return this.adviser.get_id() ? "Modificar" : "Añadir";
    },
    modalTitle() {
      return this.adviser.get_id()
        ? "Modificar Adviser"
        : "Añadir Adviser";
    }
  },

  mounted: function() {
    this.adviser = mb.instance( 'Adviser',this.model);

  },
  components: {

             },
  methods: {
      cancel(){
        if (this.model === null) {
          this.$emit('close_modal',false)
        } else {
        this.modal?this.close_modal(null,false):this.$router.push({name: 'adviser_list'})
       }
      },
    save_model(and_new=false) {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.adviser.get_id() ? "actualizado" : "añadido";
        this.adviser
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
                if (this.model === null) {
                  this.$emit('close_modal',true)
                  return;
               }
                else
                   !and_new?this.modal?this.close_modal(null,true):this.$router.push({name: 'adviser_list'}):this.adviser=mb.instance('Adviser');this.load_data();this.$refs.form.vobject.$reset()
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "adviser_form.css";
</style>

