<template>
  <div>
    <div class="d-block d-lg-flex flex-nowrap align-items-center">
      <div class="page-title mr-4 pr-4">
        <h1>Ficha del miembro</h1>
      </div>

      <div class="ml-auto d-flex align-items-center secondary-menu text-center">
        <a href="javascript:void(0);" class="btn btn-info" @click="show_modal">Nueva ficha</a>
      </div>
    </div>

    <div class="row account-contant m-t-20">

      <div class="col-12">
        <div class="card card-statistics">
          <div class="card-body p-0">
            <div class="row no-gutters">
              <div class="col-xl-3 pb-xl-0 pb-5">
                <div class="page-account-profil" style="min-height: 200px">
                  <div class="list-group p-t-0">
                    <a href="javascript:void(0)" class="list-group-item list-group-item-action active text-center" @click="showDrawer">Agregar nueva ficha</a>
                    <a href="javascript:void(0)" class="list-group-item list-group-item-action">Institutos  Beyond formativos</a>
                    <a href="javascript:void(0)" class="list-group-item list-group-item-action">Escuela consciente</a>
                    <a href="javascript:void(0)" class="list-group-item list-group-item-action">Academia Alverto</a>
                    <a href="javascript:void(0)" class="list-group-item list-group-item-action">Ciclo Formativos Centro de Estudios</a>
                    <a href="javascript:void(0)" class="list-group-item list-group-item-action">Estado</a>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-6 border-t col-12">

              </div>
            </div>
          </div>
        </div>

      </div>
      <a-drawer
        title="Agregar nueva ficha"
        placement="bottom"
        :closable="true"
        @close="onClose"
        :visible="visible"
        width=100%
        height="100%"
        z-index="999999"
      >
        <a-form
          :form="form"
          @submit="handleSubmit"
        >

          <a-form-item
            v-for="(k, index) in form.getFieldValue('keys')"
            :key="k"
            v-bind="index === 0 ? formItemLayout : formItemLayoutWithOutLabel"
            :label="index === 0 ? 'Passengers' : ''"
            :required="false"
          >

            <a-input
              v-decorator="[
          `names[${k}]`,
          {
            validateTrigger: ['change', 'blur'],
            rules: [{
              required: true,
              whitespace: true,
              message: 'Ingrese el valor del campo o borre este elemento.',
            }],
          }
        ]"
              placeholder="passenger name"
              style="width: 60%; margin-right: 8px"
            />
            <a-icon
              v-if="form.getFieldValue('keys').length > 1"
              class="dynamic-delete-button"
              type="minus-circle-o"
              :disabled="form.getFieldValue('keys').length === 1"
              @click="() => remove(k)"
            />
          </a-form-item>
          <a-form-item v-bind="formItemLayoutWithOutLabel">
            <a-button
              type="dashed"
              style="width: 60%"
              @click="add"
            >
              <a-icon type="plus" /> Add field
            </a-button>
          </a-form-item>
          <a-form-item v-bind="formItemLayoutWithOutLabel">
            <a-button
              type="primary"
              html-type="submit"
            >
              Submit
            </a-button>
          </a-form-item>
        </a-form>
      </a-drawer>
    </div>
    <a-modal
      title="Title"
      :visible="modal_name"
      @ok="handleOk"
      :centered=true
      :confirmLoading="confirmLoading"
      @cancel="handleCancel"
    >
      <p>{{ModalText}}</p>
    </a-modal>
  </div>
</template>

<script>
let id = 0;
export default {
  name: 'club_member_ficha',
  data () {
    return {
      visible: false,
      modal_name:false,
      formItemLayout: {
        labelCol: {
          xs: { span: 24 },
          sm: { span: 4 },
        },
        wrapperCol: {
          xs: { span: 24 },
          sm: { span: 20 },
        },
      },
      formItemLayoutWithOutLabel: {
        wrapperCol: {
          xs: { span: 24, offset: 0 },
          sm: { span: 20, offset: 4 },
        },
      },
    }
  },
  beforeCreate () {
    this.form = this.$form.createForm(this);
    this.form.getFieldDecorator('keys', { initialValue: [], preserve: true });
  },
  methods: {
    showDrawer() {
      this.visible = true
    },
    remove  (k) {
      const { form } = this;
      // can use data-binding to get
      const keys = form.getFieldValue('keys');
      // We need at least one passenger
      if (keys.length === 1) {
        return;
      }

      // can use data-binding to set
      form.setFieldsValue({
        keys: keys.filter(key => key !== k),
      });
    },
    add  () {
      const { form } = this;
      // can use data-binding to get
      const keys = form.getFieldValue('keys');
      const nextKeys = keys.concat(++id);
      // can use data-binding to set
      // important! notify form to detect changes
      form.setFieldsValue({
        keys: nextKeys,
      });
    },
    handleSubmit  (e) {
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err) {
          console.log('Received values of form: ', values);
        }
      });
    },
    handleOk(e) {
      this.showDrawer()
      this.modal_name = false
    },
    handleCancel(e) {
      this.modal_name = false
    },
    onClose() {
      this.visible = false
    },
    show_modal(){
      this.modal_name = true
    }
  },
}
</script>

<style scoped>

</style>
