<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model()">
    <spinner v-if="loading" />
    <div class="card-body p-0" >

      <tc-form
        :feedbacks="mb.statics('Billing_product_list').feedbacks"
        :vobject="$v"
        nested="billing_product_list"
        ref="form"
        class="form-row"
      >
      <tc-form-item class="form-group p-0 col-6">
        <label>Billing_product_list_price<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el valor billing_product_list_price'   type_car='dec'  name='billing_product_list_price' v-model="billing_product_list.billing_product_list_price"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>Billing_product_list_concept<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el valor billing_product_list_concept' name='billing_product_list_concept' v-model="billing_product_list.billing_product_list_concept"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>Billing_product_list_desc<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el valor billing_product_list_desc' name='billing_product_list_desc' v-model="billing_product_list.billing_product_list_desc"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>Billing_product_list_quantity<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el valor billing_product_list_quantity'   type_car='num'  name='billing_product_list_quantity' v-model="billing_product_list.billing_product_list_quantity"></tc-input>
      </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Budget_items_list_taxes<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el Budget_items_list_taxes"
              name="tax_id"
              :search_params= "{}"
              ref="select_tax"
              :successFeed="false"
              :defaultValue="billing_product_list.tax_id"
              v-model="billing_product_list.tax_id"
              :url="mb.statics('Budget_items_list_taxes').select_2_url"
            />
            <a-button type="dashed"
                      icon="plus"
                      class="dashed-primary rounded mt-1 ml-2"
                      @click="openModalCreatetax">
            </a-button>
          </div>
        </tc-form-item>

        <a-modal
          @cancel="showModalCreatetax = false"
          v-if="showModalCreatetax"
          class="modal-form"
          :title="'Añadir budget_items_list_taxes'"
          :visible="true"
          :header="null"
          :footer="null"
          :maskClosable="false"
        >
          <budget_items_list_taxes_form :model="null" @close_modal="taxAdded"/>
        </a-modal>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Products</label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el Products"
              name="id_product"
              :search_params= "{}"
              ref="select_product"
              :successFeed="false"
              :defaultValue="billing_product_list.id_product"
              v-model="billing_product_list.id_product"
              :url="mb.statics('Products').select_2_url"
            />
            <a-button type="dashed"
                      icon="plus"
                      class="dashed-primary rounded mt-1 ml-2"
                      @click="openModalCreateproduct">
            </a-button>
          </div>
        </tc-form-item>

        <a-modal
          @cancel="showModalCreateproduct = false"
          v-if="showModalCreateproduct"
          class="modal-form"
          :title="'Añadir products'"
          :visible="true"
          :header="null"
          :footer="null"
          :maskClosable="false"
        >
          <products_form :model="null" @close_modal="productAdded"/>
        </a-modal>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Billings<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el Billings"
              name="id_billing"
              :search_params= "{}"
              ref="select_billing"
              :successFeed="false"
              :defaultValue="billing_product_list.id_billing"
              v-model="billing_product_list.id_billing"
              :url="mb.statics('Billings').select_2_url"
            />
            <a-button type="dashed"
                      icon="plus"
                      class="dashed-primary rounded mt-1 ml-2"
                      @click="openModalCreatebilling">
            </a-button>
          </div>
        </tc-form-item>

        <a-modal
          @cancel="showModalCreatebilling = false"
          v-if="showModalCreatebilling"
          class="modal-form"
          :title="'Añadir billings'"
          :visible="true"
          :header="null"
          :footer="null"
          :maskClosable="false"
        >
          <billings_form :model="null" @close_modal="billingAdded"/>
        </a-modal>
      </tc-form>
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button v-if="!billing_product_list.get_id()" :disabled="loading" class="btn btn-primary" @click="save_model(true)">Añadir y nuevo</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancel</button>
    </div>
  </div>
</template>

<script>
import Billing_product_list from "../../../../../entities/models/modules/billings/billing_product_list.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models"
  import Products_form from '../../../managment/products/form/products_form';
  import Budget_items_list_taxes_form from '../../budget_items_list_taxes/form/budget_items_list_taxes_form';
  import Billings_form from '../../billings/form/billings_form';

export default {
  name: "billing_product_list_form",
  inject: {
      close_modal: { default: ()=>{} },
      load_data: {default: () => {} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
      modal: {
        type: Boolean,
        default: false
      },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: mb.statics('Billing_product_list').validations,
  data() {
    return {
      loading: false,
      mb,      // This property is for load static or instance class
      billing_product_list: mb.instance( 'Billing_product_list'),
      showModalCreateproduct: false,
      products_list: [],
      showModalCreatetax: false,
      budget_items_list_taxes_list: [],
      showModalCreatebilling: false,
      billings_list: [],
    };
  },
  computed: {
    billing_product_listFeedbacks() {
      return mb.statics('Billing_product_list').feedbacks;
    },
    button_text() {
      return this.billing_product_list.get_id() ? "Modificar" : "Añadir";
    },
    modalTitle() {
      return this.billing_product_list.get_id()
        ? "Modificar Billing_product_list"
        : "Añadir Billing_product_list";
    }
  },

  mounted: function() {
    this.billing_product_list = mb.instance( 'Billing_product_list',this.model);

  },
  components: {

       Products_form,
       Budget_items_list_taxes_form,
       Billings_form,
             },
  methods: {
      openModalCreateproduct() {
        this.showModalCreateproduct = true;
      },
      productAdded(refresh) {
        this.showModalCreateproduct = false;
        refresh?this.refreshproduct():'';
      },
      async refreshproduct() {
        this.loading = true;
        await this.$refs.select_product.load();
        this.loading = false;
      },
      openModalCreatetax() {
        this.showModalCreatetax = true;
      },
      taxAdded(refresh) {
        this.showModalCreatetax = false;
        refresh?this.refreshtax():'';
      },
      async refreshtax() {
        this.loading = true;
        await this.$refs.select_tax.load();
        this.loading = false;
      },
      openModalCreatebilling() {
        this.showModalCreatebilling = true;
      },
      billingAdded(refresh) {
        this.showModalCreatebilling = false;
        refresh?this.refreshbilling():'';
      },
      async refreshbilling() {
        this.loading = true;
        await this.$refs.select_billing.load();
        this.loading = false;
      },
      cancel(){
        if (this.model === null) {
          this.$emit('close_modal',false)
        } else {
        this.modal?this.close_modal(null,false):this.$router.push({name: 'billing_product_list_list'})
       }
      },
    save_model(and_new=false) {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.billing_product_list.get_id() ? "actualizado" : "añadido";
        this.billing_product_list
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
                if (this.model === null) {
                  this.$emit('close_modal',true)
                  return;
               }
                else
                   !and_new?this.modal?this.close_modal(null,true):this.$router.push({name: 'billing_product_list_list'}):this.billing_product_list=mb.instance('Billing_product_list');this.load_data();this.$refs.form.vobject.$reset()
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "billing_product_list_form.css";
</style>

