<template>
  <div ref="form_container" class="card position-relative mb-0" style="padding:1rem" v-on:keyup.enter="save_model">
    <spinner v-if="loading"/>
    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0">
      <tc-form
        :feedbacks="mb.statics('Contacts').feedbacks"
        :vobject="$v"
        nested="contacts"
        ref="form"
        class="form-row"
      >
        <tc-form-item style="text-align: center">
          <a-upload
            name="avatar"
            listType="picture-card"
            class="avatar-uploader"
            style="display: inline-table"
            :showUploadList="false"
            :beforeUpload="beforeUpload"
            @change="handleImageChange"
          >
            <img id="contact_picture" height="102px" width="102px" v-show="contacts.contact_picture"
                 :src="mb.statics('Contacts').getImageURL(contacts.contact_picture)" alt="Image"/>
            <div v-if="!contacts.contact_picture">
              <a-icon :type="loading ? 'loading' : 'plus'"/>
              <div class="ant-upload-text">Subir</div>
            </div>
          </a-upload>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-4 px-3">
          <label>Forma jurídica<span class="required_field">*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione una forma jurídica"
              name="contact_legal_type_id"
              :successFeed="false"
              :defaultValue="contacts.contact_legal_type_id"
              v-model="contacts.contact_legal_type_id"
              :url="mb.statics('Legal_types').select_2_url"
            />
          </div>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-4 px-3">
          <label>Tipo de contacto<span class="required_field">*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el tipo de contacto"
              name="contact_type_id"
              :successFeed="false"
              :defaultValue="contacts.contact_type_id"
              v-model="contacts.contact_type_id"
              :url="mb.statics('Contact_types').select_2_url"
            />
          </div>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-4 px-3">
          <label>Nombre Completo</label>
          <tc-input placeholder="Ingrese el nombre completo" name="contact_full_name"
                    v-model="contacts.contact_full_name"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-4 px-3">
          <label>Nombre Comercial</label>
          <tc-input placeholder="Ingrese el nombre comercial" name="contact_commercial_name"
                    v-model="contacts.contact_commercial_name"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-4 px-3">
          <label>Correo<span class="required_field">*</span></label>
          <tc-input placeholder="Ingrese el email" name="contact_email" v-model="contacts.contact_email"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-4 px-3">
          <label>Teléfono</label>
          <tc-input type_car="num" placeholder="Ingrese el teléfono" v-model="contacts.contact_phone"
                    name="contact_phone"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-4 px-3">
          <label>Teléfono móvil</label>
          <tc-input placeholder="Ingrese el teléfono móvil" v-model="contacts.contact_cellphone"
                    name="contact_cellphone"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-4 px-3">
          <label>Sitio web</label>
          <tc-input placeholder="Ingrese el sitio web" name="contact_website"
                    v-model="contacts.contact_website"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-4 px-3">
          <label>Dirección<span class="required_field">*</span></label>
          <tc-input placeholder="Ingrese la dirección" name="contact_address"
                    v-model="contacts.contact_address"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-4 px-3">
          <label>Código postal</label>
          <tc-input placeholder="Ingrese el código postal" name="contact_postal_code"
                    v-model="contacts.contact_postal_code"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-4 px-3">
          <label>País<span class="required_field">*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el país"
              name="country_id"
              @change="handleChangePais"
              :successFeed="false"
              :defaultValue="contacts.country_id"
              v-model="contacts.country_id"
              :url="mb.statics('Countries').select_2_url"

            />
          </div>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-4 px-3">
          <label>Provicia/Estado<span class="required_field">*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione la provincia/estado"
              name="state_id"
              :successFeed="false"
              ref="select_state"
              @change="changeEstado"
              :disabled="!contacts.country_id"
              :defaultValue="contacts.state_id"
              v-model="contacts.state_id"
              :dataSource="province"
            />
          </div>
        </tc-form-item>


        <tc-form-item class="form-group mb-0 col-md-3 px-3">
          <label>Idioma<span class="required_field">*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el idioma"
              name="language_id"
              :successFeed="false"
              :defaultValue="contacts.language_id"
              v-model="contacts.language_id"
              :url="mb.statics('Languages').select_2_url"
            />
          </div>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-3 px-3">
          <label>Moneda<span class="required_field">*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione la moneda"
              name="currency_id"
              :successFeed="false"
              :defaultValue="contacts.currency_id"
              v-model="contacts.currency_id"
              :url="mb.statics('Currencies').select_2_url"
            />
          </div>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-3 px-3">
          <label>Tipo de pago<span class="required_field">*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el tipo de pago"
              name="payment_type_id"
              :successFeed="false"
              :defaultValue="contacts.payment_type_id"
              v-model="contacts.payment_type_id"
              :url="mb.statics('Payment_types').select_2_url"
            />
          </div>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-3 px-3">
          <label>Estado<span class="required_field">*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el estado"
              name="contact_status_id"
              :successFeed="false"
              :defaultValue="contacts.contact_status_id"
              v-model="contacts.contact_status_id"
              :url="mb.statics('Contact_status').select_2_url"
            />
          </div>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-12 px-3">
          <label>Referencia interna</label>
          <tc-input  size="large" name="contact_internal_reference"
                    v-model="contacts.contact_internal_reference"/>
        </tc-form-item>

      </tc-form>
    </div>
    <div class="card-footer p-3">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancelar</button>
    </div>
  </div>
</template>

<script>
  import Contacts from '../../../../../entities/models/modules/managment/contacts.model'
  import * as utils from '../../../../../entities/utils/utils'
  import * as mb from '../../../../../entities/models'
  import Countries from '../../../../../entities/models/modules/nomenclatures/countries.model'

  export default {
    name: 'contacts_form',
    inject: {
      close_modal: {
        default: () => {
        }
      }
    },
    props: {
      model: {
        type: Object,
        default: () => {
        }
      },
      modal: {
        type: Boolean,
        default: false
      },
      popoverPlacement: {
        type: String,
        default: 'bottomLeft'
      }
    },
    validations: mb.statics('Contacts').validations,
    data () {
      return {
        // This property must have the same name of the model
        mb,
        loading: false,
        contacts: mb.instance('Contacts'),
        legal_types: mb.instance('Legal_types'),
        contact_types: mb.instance('Contact_types'),
        countries: mb.instance('Countries'),
        states: mb.instance('States'),
        languages: mb.instance('Languages'),
        currencies: mb.instance('Currencies'),
        payment_types: mb.instance('Payment_types'),
        contact_status: mb.instance('Contact_status'),
        province: []
      }
    },
    watch: {
      'contacts.contact_phone': function (newVal, oldVal) {
        this.contacts.contact_phone = utils.convert_to_phone(newVal)
      },
      'contacts.country_id': function (newVal, oldVal) {
        this.handleChangePais(newVal)
      },
      'contacts.contact_cellphone': function (newVal, oldVal) {
        this.contacts.contact_cellphone = utils.convert_to_phone(newVal)
      },

    },
    computed: {
      contactsFeedbacks () {
        return mb.statics('Contacts').feedbacks
      },
      button_text () {
        return this.contacts.get_id() ? 'Modificar' : 'Agregar'
      },
      modalTitle () {
        return this.contacts.get_id()
          ? 'Editar Contacto'
          : 'Agregar Contacto'
      }
    },

    mounted: async function () {
      this.contacts = mb.instance('Contacts', this.model)
      if (this.contacts.get_id()) {
        this.loading = true
        const params = {}
        params.attr = {country_id: this.contacts.country_id}
        const response = await mb.statics('States').list(params)
        this.province = response.data.map((element) => {
          return {id: element.id_state, text: element.state_name}
        })
        this.loading = false
      }else{
        this.contacts.contact_legal_type_id=3
        this.contacts.contact_type_id=3
        this.contacts.country_id=207
        this.contacts.state_id=653
        this.contacts.language_id=2
        this.contacts.currency_id=2
        this.contacts.payment_type_id=3
        this.contacts.contact_status_id=1
      }
    },
    components: {},
    methods: {
      changeEstado(value){
        // this.$refs.select_state.value=value
      },
      async handleChangePais (value) {
        const params = {}
        params.attr = {country_id: value}
        const response = await mb.statics('States').list(params)
        this.province = response.data.map((element) => {
          return {id: element.id_state, text: element.state_name}
        })
        this.contacts.state_id = this.province[0].id
      },
      acceptNumber () {
        var x = this.contacts.contact_phone.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/)
        this.contacts.contact_phone = !x[2] ? x[1] : '(' + x[1] + ')' + x[2] + (x[3] ? '-' + x[3] : '')
      },
      handleImageChange (info) {
        let reader = new FileReader()
        reader.onload = function (e) {
          document.getElementById('contact_picture').setAttribute('src', e.target.result)
        }
        reader.readAsDataURL(info.file)
        this.contacts.contact_picture = info.file
      },
      beforeUpload (file) {
        const isJpgOrPng = file.type === 'image/jpeg' || file.type === 'image/png'
        if (!isJpgOrPng) {
          alert('Solo puede subir imágenes')
        }
        return false
      },
      cancel () {
        // this.$emit("close_modal",null,true)
        this.modal ? this.close_modal(null, false) : this.$router.push({name: 'contacts_list'})
      },

      save_model () {
        if (this.$refs.form.validate()) {
          this.loading = true
          const accion = this.contacts.get_id() ? 'actualizado' : 'insertado'
          this.contacts.isFormData = (this.contacts.contact_picture instanceof File) ? true : false
          this.contacts
            .save()
            .then((response) => {
              if (utils.process_response(response, accion)) {
                // this.$emit("close_modal",null,true)
                this.modal ? this.close_modal(null, true) : this.$router.push({name: 'contacts_list'})
              }
              this.loading = false
            })
            .catch((error) => {
              this.loading = false
              utils.process_error(error)
            })
        }
      }
    }
  }
</script>

<style scoped>
  @import "contacts_form.css";
</style>

