<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model()">
    <spinner v-if="loading" />
    <div class="card-body p-0" >
      <tc-form
        :feedbacks="mb.statics('Order_status').feedbacks"
        :vobject="$v"
        nested="order_status"
        ref="form"
        class="form-row"
      >
      <tc-form-item class="form-group mb-0 col-md-6 px-3">
        <label>Estado<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el estado' name='order_status' v-model="order_status.order_status"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group px-3 col-12">
        <label>Descripción</label>
        <tc-input :text_area="true" size="large" name="order_status_description" v-model="order_status.order_status_description"/>
      </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button v-if="!order_status.get_id()" :disabled="loading" class="btn btn-primary" @click="save_model(true)">Añadir y nuevo</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancel</button>
    </div>
  </div>
</template>

<script>
import Order_status from "../../../../../entities/models/modules/nomenclatures/order_status.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models"

export default {
  name: "order_status_form",
  inject: {
      close_modal: { default: ()=>{} },
      load_data: {default: () => {} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
      modal: {
        type: Boolean,
        default: false
      },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: mb.statics('Order_status').validations,
  data() {
    return {
      loading: false,
      mb,      // This property is for load static or instance class
      order_status: mb.instance( 'Order_status'),
    };
  },
  computed: {
    order_statusFeedbacks() {
      return mb.statics('Order_status').feedbacks;
    },
    button_text() {
      return this.order_status.get_id() ? "Actualizar" : "Añadir";
    },
    modalTitle() {
      return this.order_status.get_id()
        ? "Actualizar Order_status"
        : "Añadir Order_status";
    }
  },

  mounted: function() {
    this.order_status = mb.instance( 'Order_status',this.model);

  },
  components: {

             },
  methods: {
      cancel(){
        if (this.model === null) {
          this.$emit('close_modal',false)
        } else {
        this.modal?this.close_modal(null,false):this.$router.push({name: 'order_status_list'})
       }
      },
    save_model(and_new=false) {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.order_status.get_id() ? "actualizado" : "añadido";
        this.order_status
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
                if (this.model === null) {
                  this.$emit('close_modal',true)
                  return;
               }
                else
                   !and_new?this.modal?this.close_modal(null,true):this.$router.push({name: 'order_status_list'}):this.order_status=mb.instance('Order_status');this.load_data();this.$refs.form.vobject.$reset()
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "order_status_form.css";
</style>

