<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Gestión</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Ventas</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Presupuestos</li>
      </ol>
    </nav>
    <div>
      <div class="row">
        <div class="col-md-6">
          <a-button-group style="margin-bottom: 10px">
            <a-tooltip placement="topLeft" title="Añadir nuevo elemento">
              <a-button icon="plus" type="primary" @click="insertPresupuesto">Agregar</a-button>
              <!--              <a-button icon="plus" type="primary" @click="showModalForm">Agregar</a-button>-->
            </a-tooltip>
            <a-tooltip placement="topLeft" title="Eliminar elementos seleccionados">
              <a-button icon="delete" type="danger" @click="showDeleteConfirm">Eliminar</a-button>
            </a-tooltip>
          </a-button-group>
        </div>
        <div class="col-md-6" style="text-align: end;">
          <div class="form-group">
            <div class="input-group mb-3">
              <a-tooltip placement="topLeft" title="Buscar..">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  v-model="filter"
                  placeholder="Buscar"
                  aria-label
                />
              </a-tooltip>
              <div class="input-group-append">
                <a-tooltip placement="topLeft" title="Limpiar filtros">
                  <a-button
                    style="text-align: end"
                    class="rounded-0"
                    type="primary"
                    @click="filter=''"
                  >
                    <i class="ti ti-eraser" style="margin-right: 10px"/>Limpiar
                  </a-button>
                </a-tooltip>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <h6 style="text-align: left">Listado de Presupuestos</h6>
          </div>
          <div class="col-md-6" style="text-align: end;float: right">
            <div class="row">
              <div class="col-md-8" style="text-align: end">
                <p style="text-align: end">
                  Elementos seleccionados {{selectedRowKeys.length}}/{{data.length}}
                </p>
              </div>
              <div class="col-md-3">
                <a-dropdown-button style="margin-left: 45%;">
                  Exportar
                  <a-menu slot="overlay">
                    <a-menu-item key="1" @click="exportToExcel">
                      <a-icon type="file-excel" theme="twoTone" twoToneColor="#52c41a"/>
                      Excel
                    </a-menu-item>
                    <!--                    <a-menu-item key="2" @click=""><a-icon type="file-pdf" theme="twoTone" twoToneColor="#c41c33" />PDF</a-menu-item>-->

                    <a-menu-item key="3" @click="exportToCSV">
                      <a-icon type="file-text" theme="twoTone" twoToneColor="#2771c4"/>
                      CSV
                    </a-menu-item>
                  </a-menu>
                </a-dropdown-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a-modal
        @cancel="onCloseModal"
        class="modal-form"
        :visible="show_modal_form"
        :destroyOnClose="true"
        on-ok="handleOk"
        :header="null"
        :footer="null"
        :maskClosable="false"

      >
        <budgets_form :modal=true :model="selected_model"/>
      </a-modal>

      <a-table
        :columns="columns"
        :rowKey="record => record.id_budget"
        :dataSource="data"
        :rowSelection="rowSelection"
        :loading="loading"
        :pagination="pagination.$data"
        :scroll="{ x: '110%'}"
      >
        <a slot="action" slot-scope="record" href="javascript:;">
          <action_buttons :object="record" :visible_view="false" :v_instance="self"
                          :class_name="selected_model.class_name()"/>
          <a-tooltip placement="top" title="Factura">
            <i style="padding-right: 5px;color: blue;font-size: 20px;" @click="onCreateBilling(record)"
               class="ti ti-file"/>
          </a-tooltip>
        </a>
        <a slot="action" slot-scope="record" href="javascript:;">
          <a-dropdown>
            <a-menu slot="overlay">
              <a-menu-item key="3" @click="onEditing(record)">
                <i type="success" style="padding-right: 5px;color: #1c7430;font-size: 20px;"
                   class="ti ti-pencil-alt"/>Modificar Elemento
              </a-menu-item>
              <a-menu-item key="4" @click="showDeleteSelected(record)">
                <i type="delete" style="padding-right: 5px;color: red;font-size: 20px;"
                   class="ti ti-trash"/>Eliminar Elemento
              </a-menu-item>
              <a-menu-item key="5" @click="onCreateBilling(record)">
                <i type="delete" style="padding-right: 5px;color: #8e54e9;font-size: 20px;"
                   class="ti ti-file"/>Facturar presupuesto
              </a-menu-item>
              <a-menu-item key="6" @click="onCreatePDF(record)">
                <i type="delete" style="padding-right: 5px;color: #8e54e9;font-size: 20px;"
                   class="zmdi zmdi-collection-pdf"/>Ver PDF
              </a-menu-item>
            </a-menu>
            <a-button>
              Acciones <a-icon type="down" />
            </a-button>
          </a-dropdown>
        </a>
      </a-table>
    </div>
  </div>
</template>

<script>
  import Budgets from '../../../../../entities/models/modules/billings/budgets.model'
  import * as utils from '../../../../../entities/utils/utils'
  import action_buttons from '../../../../shared/table/action_buttons/action_buttons'
  import pagination_functions from '../../../../shared/table/pagination/pagination_options'
  import vantdpagination from '../../../../shared/table/pagination/antd_pagination'
  import budgets_form from '../form/budgets_form'
  import * as mb from '../../../../../entities/models'

  export default {
    name: 'budgets_list',
    provide: function () {
      return {
        close_modal: this.onCloseModal
      }
    },
    data () {
      return {
        data: [],
        self: null,
        budgets_list: [],
        filter: null,
        columns: mb.statics('Budgets').show_columns(['created_at', 'updated_at'], false),
        loading: false,
        text_select: 'Marcar todos',
        selectedRowKeys: [],
        pagination: vantdpagination,
        selected_model: mb.instance('Budgets'),
        show_modal_form: false,
        mb
      }
    },
    components: {
      action_buttons,
      pagination_functions,
      vantdpagination,
      budgets_form
    },
    watch: {
      filter: function () {
        this.data = this.budgets_list.data.filter(this.filter_data)
      },
      selectedRowKeys: function () {
        if (this.selectedRowKeys.length == this.data.length) {
          this.text_select = 'Desmarcar todos'
        } else {
          this.text_select = 'Marcar todos'
        }
      }
    },
    computed: {
      rowSelection () {
        const {selectedRowKeys} = this
        return {
          selectedRowKeys,
          hideDefaultSelections: true,
          selections: [
            {
              key: 'all-data',
              text: this.text_select,
              onSelect: () => {
                if (this.selectedRowKeys.length == this.data.length) {
                  this.selectedRowKeys = []
                } else {
                  this.selectedRowKeys = this.data.map(e => {
                    return e.id_budgets
                  })
                }
              }
            }
          ],
          onSelection: this.onSelection,
          onChange: this.onChange
        }
      }
    },
    methods: {
      showDeleteSelected (model) {
        let _this = this
        this.selected_model = mb.instance('Budgets', model)
        this.$confirm({
          title: 'Desea eliminar este elemento?',
          icon: 'delete',
          // icon:()=>{return ( <a-icon type="delete" style="color:red"/> )},
          okText: 'Si',
          okType: 'danger',
          class: 'delete_confirm',
          cancelText: 'No',
          async onOk () {
            try {
              const response = await _this.selected_model.delete()
              utils.process_response(response, ' eliminado ')
              _this.load_data()
            } catch (error) {
              utils.process_error(error)
            }
          },
          onCancel () {

          },
        })
      },

      insertPresupuesto (record) {
        this.$router.push({
          name: 'budgets_form',
          params: {
            budget_id: record.id_budget,
            created_at: record.created_at,
            updated_at: record.updated_at,
            budget: record
          }
        })
        this.$router.go(1)
      },
      exportToExcel () {
        utils.exportToExcelVinstance(this)
      },
      exportToCSV () {
        utils.exportToCSV(this)
      },
      onCloseModal (e, reload_data = false) {
        this.selected_model = new Budgets()
        this.show_modal_form = false
        reload_data ? this.load_data() : ''
      },
      showModalForm () {
        this.show_modal_form = !this.show_modal_form
      },
      filter_data (object) {
        return utils.filter_object_column(object, this.filter, this.columns)
      },
      onChange: function (selectedRowKeys) {
        this.selectedRowKeys = selectedRowKeys
      },
      showDeleteConfirm () {
        if (this.selectedRowKeys.length == 0) {
          utils.openNotificationWithIcon(
            'error',
            'Eliminar elementos seleccionados',
            'Debe seleccionar al menos un elemento'
          )
          return
        }
        let _this = this
        this.$confirm({
          title: 'Desea eliminar los elementos seleccionados?',
          icon: 'delete',
          // icon:()=>{return ( <a-icon type="delete" style="color:red"/> )},
          okText: 'Si',
          okType: 'danger',
          class: 'delete_confirm',
          cancelText: 'No',
          async onOk () {
            try {
              const response = await Budgets.delete_by_ids(
                _this.selectedRowKeys
              )
              utils.process_response(response, 'borrado(s)')
              _this.selectedRowKeys = []
              _this.load_data()
            } catch (error) {
              utils.process_error(error)
              _this.selectedRowKeys = []
            }
          },
          onCancel () {
          }
        })
      },
      async load_data () {
        try {
          this.loading = true
          var params = {}
          params.relations = ['payment_types', 'budget_status', 'contacts', 'arraybillings']
          const resp = await Budgets.list(params)
          this.budgets_list = resp
          this.data = this.budgets_list.data.filter(this.filter_data)
          this.loading = false
        } catch (error) {
          utils.process_error(error)
          this.loading = false
        }
      },

      async delete_selected () {
      },

      onEditing (model) {
        this.$router.push({
          name: 'update_budgets',
          params: {
            id: model.id_budget,
          }
        })
      },
      onCreateBilling (model) {
        let _this = this
        if (model.arraybillings.length > 0) {
          const id_billing=model.arraybillings[0].id_billings
          this.$router.push({
            name: 'update_billings',
            params: {
              id: id_billing,
            }
          })
        } else {
          this.$confirm({
            title: 'Desea crear una factura para el presupuesto ' + model.budget_doc_number + '?',
            // icon: "info",
            icon: () => {
              return ( <i class = 'fe fe-alert-octagon'  style = 'color:#40a9ff;font-size:35px' / >   )
            },
            okText: 'Si',
            okType: 'info',
            class: 'delete_confirm',
            cancelText: 'No',
            async onOk () {
              try {
                _this.loading = true
                const accion = 'Insertado'
                mb.statics('Budgets')
                  .custom('post', 'register_budget_bill', {id_budget: model.id_budget})
                  .then((response) => {
                    if (utils.process_response(response, accion)) {

                    }
                    _this.loading = false
                  })
                  .catch((error) => {
                    _this.loading = false
                    utils.process_error(error)
                  })
              } catch (error) {
              }
            },
            onCancel () {
            }
          })
        }
      },
      onCreatePDF (model) {
        window.open(process.env.BASE_URL+'billings/budgets/pdf/'+model.id_budget)

      }
    },

    mounted () {
      this.loading = true
      this.data = []
      this.load_data()
      this.self = this
      this.pagination.$options.props = {
        load_data: this.load_data
      }
    }
  }
</script>

<style>
  @import "budgets_list.css";
</style>

