<template>
  <div ref="form_container" class="card position-relative mb-0" style="padding:1rem" v-on:keyup.enter="save_model">
    <spinner v-if="loading"/>
    <div class="card-body p-0">
      <tc-form
        :feedbacks="mb.statics('Users').feedbacks"
        :vobject="$v"
        nested="users"
        ref="form"
        class="form-row"
      >
        <tc-form-item class="form-group mb-24 col-md-7 offset-xs-2 px-2">
          <a-avatar :size="48" icon="user" :src="mb.statics('Users').getImageURL(users.image)"/>
          <label><h4>{{users.nombre_usuario}} {{users.apellido_usuario}}</h4></label>
        </tc-form-item>

        <tc-form-item  v-if="is_global || is_reset"  class="form-group mb-0 col-md-7 offset-xs-2 px-2">
          <label>Contraseña Actual</label>
          <tc-input placeholder="Ingrese la contraseña actual" type="password" name="pass_actual" v-model="users.pass_actual"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-7 offset-xs-2 px-2">
          <label>Contraseña</label>
          <tc-input placeholder="Ingrese la contraseña" type="password" name="pass" v-model="users.pass"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-7 offset-xs-2 px-2">
          <label>Confirmar contraseña </label>
          <tc-input placeholder="Confirme la contraseña" type="password" v-model="users.confirm_password"
                    name="confirm_password"></tc-input>
        </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-3" v-if="!is_reset" style="margin-top: 30px">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancelar</button>
    </div>
    <div class="mt-3 text-center" v-if="is_reset"><a href="javascript:void(0)" @click="save_model" class="btn  btn-primary"> Cambiar contraseña </a></div>
  </div>
</template>

<script>
  import * as mb from '../../../../../entities/models'
  import * as utils from '../../../../../entities/utils/utils'

  export default {
    name: 'users_form',
    inject: {
      close_modal: {
        default: () => {
        }
      },
      set_auth: {
        default: () => {
        }
      }
    },
    props: {
      model: {
        type: Object,
        default: () => {
        }
      },
      is_reset:{
        type: Boolean,
        default: false
      },
      modal: {
        type: Boolean,
        default: false
      },
      is_global: {
        type: Boolean,
        default: false
      },
      popoverPlacement: {
        type: String,
        default: 'bottomLeft'
      }
    },
    validations: mb.statics('Users').validations,
    data () {
      return {
        showModalCreateRoles: false,
        // This property must have the same name of the model
        mb,
        loading: false,
        users: mb.instance('Users'),
        role: mb.instance('Role'),
      }
    },
    computed: {
      usersFeedbacks () {
        return mb.statics('Users').feedbacks
      },
      params () {
        const params = {}
        return params
      },
      button_text () {
        return this.users.get_id() ? 'Modificar' : 'Agregar'
      },
      modalTitle () {
        return this.users.get_id()
          ? 'Editar Usuario del Sistema'
          : 'Agregar Usuario del Sistema'
      }
    },

    mounted: function () {
      this.users = mb.instance('Users', this.model)
    },
    methods: {
      handleImageChange (info) {
        let reader = new FileReader()
        reader.onload = function (e) {
          document.getElementById('image').setAttribute('src', e.target.result)
        }
        reader.readAsDataURL(info.file)
        this.users.image = info.file
      },
      beforeUpload (file) {
        // const isJpgOrPng = file.type === 'image/jpeg' || file.type === 'image/png';
        // if (!isJpgOrPng) {
        //   alert('Solo puede subir imágenes');
        // }
        return false
      },
      cancel () {
        this.modal ? this.close_modal(null, false) : this.$router.push({name: 'users_list'})
      },
      save_model () {
        if (this.$refs.form.validate()) {
          this.loading = true
          const accion = this.users.get_id() ? 'actualizado' : 'insertado'
          this.users.isFormData = (this.users.image instanceof File) ? true : false
          this.users.auth_key="";
          this.users
            .save()
            .then((response) => {
              if (utils.process_response(response, accion)) {
                this.modal ? this.close_modal(null, true) : this.$router.push({name: 'users_list'})
                if(this.is_reset){
                  this.set_auth(false);
                  this.$router.push({name: 'index'})
                }
                this.is_reset?this.$router.push({name: 'index'}):''
              }
              this.loading = false
            })
            .catch((error) => {
              this.loading = false
              utils.process_error(error)
            })
        }
      }
    }
  }
</script>

<style scoped>
  @import "users_form.css";
</style>

