<template>
  <div ref="form_container" class="card position-relative mb-0" style="padding:1rem" v-on:keyup.enter="save_model">
    <spinner v-if="loading"/>
    <div class="card-header p-10">
      <h4 class="float-left">{{modalTitle}}</h4>
      <div v-if="this.$route.name==='account_profile'"  class="d-flex float-right">
              <button :disabled="loading" class="btn btn-primary" @click="save_model()">Guardar</button>
      </div>
    </div>
    <div class="card-body p-0">
      <tc-form
        :feedbacks="mb.statics('Users').feedbacks"
        :vobject="$v"
        nested="users"
        ref="form"
        class="form-row"
      >
        <tc-form-item style="text-align: center">
          <a-upload
            name="avatar"
            listType="picture-card"
            class="avatar-uploader"
            style="display: inline-table"
            :showUploadList="false"
            :before-upload="beforeUpload"
            @change="handleImageChange"
          >
            <img id="image" height="102px" width="102px" v-show="users.image" :src="mb.statics('Users').getImageURL(users.image)" alt="Image"/>
            <div v-if="!users.image">
              <a-icon :type="loading ? 'loading' : 'plus'"/>
              <div class="ant-upload-text">Subir</div>
            </div>
          </a-upload>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Nombre</label>
          <tc-input placeholder="Ingrese el nombre" name="nombre_usuario" v-model="users.nombre_usuario"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Apellidos</label>
          <tc-input placeholder="Ingrese los apellidos" name="apellido_usuario" v-model="users.apellido_usuario"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Usuario</label>
          <tc-input placeholder="Ingrese el usuario" name="username" v-model="users.username"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Correo</label>
          <tc-input placeholder="Ingrese el correo" name="email" v-model="users.email"></tc-input>
        </tc-form-item>
        <tc-form-item v-if="!users.id_user" class="form-group mb-0 col-md-6 px-3">
          <label>Contraseña</label>
          <tc-input placeholder="Ingrese la contraseña" type="password" name="pass" v-model="users.pass"></tc-input>
        </tc-form-item>

        <tc-form-item v-if="!users.id_user" class="form-group mb-0 col-md-6 px-3">
          <label>Confirmar contraseña </label>
          <tc-input placeholder="Confirme la contraseña" type="password" v-model="users.confirm_password" name="confirm_password"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3" v-if="this.$route.name!=='account_profile'">
          <label>Activo</label>
          <div>
            <a-switch  v-model="users.active"/>
          </div>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3" v-if="this.$route.name!=='account_profile'" >
          <label>Rol</label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el Rol"
              name="id_role"
              :successFeed="false"
              :defaultValue="users.id_role"
              v-model="users.id_role"
              :url="mb.statics('Role').select_2_url"

            />
          </div>
        </tc-form-item>

      </tc-form>
    </div>
    <div v-if="this.$route.name!=='account_profile'"  class="card-footer p-3" style="margin-top: 30px">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button  :disabled="loading" class="btn btn-danger" @click="cancel()">Cancelar</button>
    </div>
  </div>
</template>

<script>
  import * as mb from "../../../../../entities/models"
  import * as utils from "../../../../../entities/utils/utils";

  export default {
    name: "users_form",
    inject: {
      close_modal: { default: ()=>{} }
    },
    props: {
      model: {
        type: Object,
        default: () => {
        }
      },
      modal:{
        type: Boolean,
        default: false
      },
      popoverPlacement: {
        type: String,
        default: "bottomLeft"
      }
    },
    validations: mb.statics('Users').validations,
    data() {
      return {
        showModalCreateRoles: false,
        // This property must have the same name of the model
        mb,
        loading: false,
        users: mb.instance('Users') ,
        role: mb.instance('Role'),
      };
    },
    computed: {
      usersFeedbacks() {
        return mb.statics("Users").feedbacks;
      },
      params(){
        const params = {}
        return params
      },
      button_text() {
        return this.users.get_id() ? "Modificar" : "Agregar";
      },
      modalTitle() {
        return this.users.get_id()
          ? "Editar Usuario del Sistema"
          : "Agregar Usuario del Sistema";
      }
    },

    mounted: function () {
      this.users = mb.instance("Users",this.model);

    },
    methods: {
      handleImageChange(info) {
        let reader = new FileReader();
        reader.onload = function (e) {
          document.getElementById("image").setAttribute("src", e.target.result);
        }
        reader.readAsDataURL(info.file);
        this.users.image=info.file
      },
      beforeUpload (file) {
        // const isJpgOrPng = file.type === 'image/jpeg' || file.type === 'image/png';
        // if (!isJpgOrPng) {
        //   alert('Solo puede subir imágenes');
        // }
        return false
      },
      cancel(){
        this.modal?this.close_modal(null,false):this.$router.push({name: 'users_list'})
      },
      save_model() {
        if (this.$refs.form.validate()) {
          this.loading = true;
          const accion = this.users.get_id() ? "actualizado" : "insertado";
          this.users.isFormData=(this.users.image instanceof File)?true:false;
          this.users
            .save()
            .then((response) => {
              if (utils.process_response(response, accion)) {
                //this.modal ? this.close_modal(null,true) : this.$router.push({name: 'users_list'})
              }
              this.loading = false;
            })
            .catch((error) => {
              this.loading = false;
              utils.process_error(error);
            });
        }
      }
    }
  };
</script>

<style scoped>
  @import "users_form.css";
</style>

