<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Security</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">User_action_access</li>
      </ol>
    </nav>
    <div>
      <div class="row">
        <div class="col-md-6">
          <a-button-group style="margin-bottom: 10px">
            <a-tooltip placement="topLeft" title="Añadir nuevo elemento">
              <a-button icon="plus" type="primary" @click="showModalForm">Agregar</a-button>
            </a-tooltip>
            <a-tooltip placement="topLeft" title="Eliminar elementos seleccionados">
              <a-button icon="delete" type="danger" @click="showDeleteConfirm">Eliminar</a-button>
            </a-tooltip>
          </a-button-group>
        </div>
        <div class="col-md-6" style="text-align: end;">
          <div class="form-group">
            <div class="input-group mb-3">
              <a-tooltip placement="topLeft" title="Buscar..">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  v-model="filter"
                  placeholder="Search"
                  aria-label
                />
              </a-tooltip>
              <div class="input-group-append">
                <a-tooltip placement="topLeft" title="Limpiar filtros">
                  <a-button
                    style="text-align: end"
                    class="rounded-0"
                    type="primary"
                    @click="filter=''"
                  >
                    <i class="ti ti-eraser" style="margin-right: 10px" />Limpiar
                  </a-button>
                </a-tooltip>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <h6 style="text-align: left">Listado de User_action_access</h6>
          </div>
          <div class="col-md-6" style="text-align: end">
            <div class="row">
              <div class="col-md-11" style="text-align: end">
                <p
                  style="text-align: end"
                >Elementos seleccionados {{selectedRowKeys.length}}/{{data.length}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a-modal
        @cancel="onCloseModal"
        class="modal-form"
        :visible="show_modal_form"
        :destroyOnClose="true"
        on-ok="handleOk"
        :header="null"
        :footer="null"
        :maskClosable="false"

      >
        <user_action_access_form :model="selected_model" @close_modal="onCloseModal"/>
      </a-modal>

      <a-table
        :columns="columns"
        :rowKey="record => record.id_user_action_access"
        :dataSource="data"
        :rowSelection="rowSelection"
        :loading="loading"
        :pagination="pagination.$data"
      >
        <a slot="action" slot-scope="record" href="javascript:;">
          <action_buttons :object="record" :visible_view="false" :v_instance="self" :class_name="selected_model.class_name()"/>
        </a>
      </a-table>
    </div>
  </div>
</template>

<script>
import User_action_access from "../../../../../entities/models/modules/security/user_action_access.model";
import * as utils from "../../../../../entities/utils/utils";
import action_buttons from "../../../../shared/table/action_buttons/action_buttons";
import pagination_functions from "../../../../shared/table/pagination/pagination_options";
import vantdpagination from "../../../../shared/table/pagination/antd_pagination";
import user_action_access_form from "../form/user_action_access_form";

export default {
  name: "user_action_access_list",
  data() {
    return {
      data: [],
      self: null,
      user_action_access_list: [],
      filter: null,
      columns: User_action_access.columns,
      loading: false,
      text_select: "Select All",
      selectedRowKeys: [],
      pagination: vantdpagination,
      selected_model: new User_action_access(),
      show_modal_form: false
    };
  },
  components: {
    action_buttons,
    pagination_functions,
    vantdpagination,
    user_action_access_form
  },
  watch: {
    filter: function() {
      this.data = this.user_action_access_list.data.filter(this.filter_data);
    },
    selectedRowKeys: function() {
      if (this.selectedRowKeys.length == this.data.length) {
        this.text_select = "Unselect All";
      } else {
        this.text_select = "Select All";
      }
    }
  },
  computed: {
    rowSelection() {
      const { selectedRowKeys } = this;
      return {
        selectedRowKeys,
        hideDefaultSelections: true,
        selections: [
          {
            key: "all-data",
            text: this.text_select,
            onSelect: () => {
              if (this.selectedRowKeys.length == this.data.length) {
                this.selectedRowKeys = [];
              } else {
                this.selectedRowKeys = this.data.map(e => {
                  return e.id_user_action_access;
                });
              }
            }
          }
        ],
        onSelection: this.onSelection,
        onChange: this.onChange
      };
    }
  },
  methods: {
    onCloseModal(e,reload_data=false) {
      this.selected_model = new User_action_access();
      this.show_modal_form = false;
      reload_data?this.load_data():''
    },
    showModalForm() {
      this.show_modal_form = !this.show_modal_form;
    },
    filter_data(object) {
      return utils.filter_object_column(object, this.filter,this.columns);
    },
    onChange: function(selectedRowKeys) {
      this.selectedRowKeys = selectedRowKeys;
    },
    showDeleteConfirm() {
      if (this.selectedRowKeys.length == 0) {
        utils.openNotificationWithIcon(
          "error",
          "Eliminar elementos seleccionados",
          "Debe seleccionar al menos un elemento"
        );
        return;
      }
      let _this = this;
      this.$confirm({
        title: "Desea eliminar los elementos seleccionados?",
        icon: "delete",
        // icon:()=>{return ( <a-icon type="delete" style="color:red"/> )},
        okText: "Yes",
        okType: "danger",
        class: "delete_confirm",
        cancelText: "No",
        async onOk() {
          try {
            const response = await User_action_access.delete_by_ids(
                _this.selectedRowKeys
              );
               utils.process_response(response, "deleted");
              _this.selectedRowKeys=[];
              _this.load_data();
            } catch (error) {
              utils.process_error(error);
              _this.selectedRowKeys=[];
            }
        },
        onCancel() {}
      });
    },
    async load_data() {
      try {
        this.loading = true;
        var params = {};
        const resp = await User_action_access.list(params);
        this.user_action_access_list = resp;
        this.data = this.user_action_access_list.data.filter(this.filter_data);
        this.loading = false;
      } catch (error) {
        utils.process_error(error);
        this.loading = false;
      }
    },

    async delete_selected() {},

    onEditing(model) {
      this.selected_model = new User_action_access(model);
      this.showModalForm();
    }
  },

  mounted() {
    this.loading = true;
    this.data = [];
    this.load_data();
    this.self = this;
    this.pagination.$options.props = {
      load_data: this.load_data
    };
  }
};
</script>

<style>
@import "user_action_access_list.css";
</style>

