<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Ventas</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Pedidos</li>
      </ol>
    </nav>
    <div>
      <div class="row">
        <div class="col-md-6">
          <a-button-group style="margin-bottom: 10px">
            <a-tooltip placement="topLeft" title="Añadir nuevo elemento">
              <a-button icon="plus" type="primary" @click="showModalForm">Añadir</a-button>
            </a-tooltip>
            <a-tooltip placement="topLeft" title="Eliminar elementos seleccionados">
              <a-button icon="delete" type="danger" @click="showDeleteConfirm">Eliminar</a-button>
            </a-tooltip>
          </a-button-group>
        </div>
        <div class="col-md-6" style="text-align: end;">
          <div class="form-group">
            <div class="input-group mb-3">
              <a-tooltip placement="topLeft" title="Buscar..">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  v-model="filter"
                  placeholder="Buscar"
                  aria-label
                />
              </a-tooltip>
              <div class="input-group-append">
                <a-tooltip placement="topLeft" title="Limpiar Filtros">
                  <a-button
                    style="text-align: end"
                    class="rounded-0"
                    type="primary"
                    @click="filter=''"
                  >
                    <i class="fa fa-eraser" style="margin-right: 10px" />Limpiar
                  </a-button>
                </a-tooltip>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <h6 style="text-align: left">Listado de pedidos</h6>
          </div>
          <div class="col-md-6" style="text-align: end;float: right" >
            <div class="row">
              <div class="col-md-8" style="text-align: end">
                <p style="text-align: end">
                  Elementos seleccionados  {{selectedRowKeys.length}}/{{data.length}}</p>
              </div>
              <div class="col-md-3">
                <a-dropdown-button style="margin-left: 45%;" >
                  Exportar
                  <a-menu slot="overlay">
                    <a-menu-item key="1" @click="exportToExcel"><a-icon type="file-excel" theme="twoTone" twoToneColor="#52c41a" />EXCEL</a-menu-item>
                    <a-menu-item key="2" @click=""><a-icon type="file-pdf" theme="twoTone" twoToneColor="#c41c33" />PDF</a-menu-item>
                    <a-menu-item key="3" @click="exportToCSV"><a-icon type="file-text" theme="twoTone" twoToneColor="#2771c4" />CSV</a-menu-item>
                  </a-menu>
                </a-dropdown-button>
              </div>
            </div>
          </div>        </div>
      </div>
      <a-modal
        @cancel="onCloseModal"
        :title="selected_model.get_id()?'Actualizar orders':'Añadir orders'"
        class="modal-form"
        width="55rem"
        :visible="show_modal_form"
        :destroyOnClose="true"
        on-ok="handleOk"
        :header="null"
        :footer="null"
        :maskClosable="false"

      >
        <orders_form  :modal=true :model="selected_model" />
      </a-modal>

      <a-table
        :columns="columns"
        :rowKey="record => record.id_orders"
        :dataSource="data"
        :rowSelection="rowSelection"
        :loading="loading"
        :pagination="pagination.$data"
      >
        <a slot="action" slot-scope="record" href="javascript:;">
          <a-dropdown>
            <a-menu slot="overlay">
              <a-menu-item key="1" v-if="record.id_order_status==='1'" @click="onEditing(record)">
                <i type="success" style="padding-right: 5px;color: #1c7430;font-size: 20px;"
                   class="ti ti-pencil-alt"/>Modificar Elemento
              </a-menu-item>
              <a-menu-item key="2" @click="showDeleteSelected(record)">
                <i type="delete" style="padding-right: 5px;color: red;font-size: 20px;"
                   class="ti ti-trash"/>Eliminar Elemento
              </a-menu-item>
              <a-menu-item key="3" v-if="record.id_order_status!=='2'" @click="acceptOrder(record)">
                <i type="delete" style="padding-right: 5px;color: #57e94d;font-size: 20px;"
                   class="ti ti-check-box"/>Aceptar Orden
              </a-menu-item>
              <a-menu-item key="4" v-if="record.id_order_status!=='3'" @click="cancelOrder(record)">
                <i type="delete" style="padding-right: 5px;color: red;font-size: 20px;"
                   class="ti ti-na"/>Cancelar Orden
              </a-menu-item>
              <a-menu-item key="5" v-if="record.id_order_status==='2'">
                <i type="delete" style="padding-right: 5px;color: #8e54e9;font-size: 20px;"
                   class="ti ti-file"/>Facturar orden
              </a-menu-item>
            </a-menu>
            <a-button>
              Acciones <a-icon type="down" />
            </a-button>
          </a-dropdown>
        </a>
        <a slot="status" slot-scope="record" href="javascript:;">
          <span v-if="record.id_order_status==='1'" class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-pill badge-warning">{{record.order_status.order_status}}</span>
          <span v-if="record.id_order_status==='2'" class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-pill badge-success">{{record.order_status.order_status}}</span>
          <span v-if="record.id_order_status==='3'" class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-pill badge-danger">{{record.order_status.order_status}}</span>
        </a>
      </a-table>
    </div>
  </div>
</template>

<script>
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models";
import action_buttons from "../../../../shared/table/action_buttons/action_buttons";
import pagination_functions from "../../../../shared/table/pagination/pagination_options";
import vantdpagination from "../../../../shared/table/pagination/antd_pagination";
import orders_form from "../form/orders_form";

export default {
  name: "orders_list",
    provide: function(){
      return{
        close_modal: this.onCloseModal,
        load_data: this.load_data
      }
    },
  data() {
    return {
      data: [],
      self: null,
      orders_list: [],
      filter: null,
      columns: mb.statics('Orders').columns,
      loading: false,
      text_select: "Select All",
      selectedRowKeys: [],
      pagination: vantdpagination,
      selected_model: mb.instance( 'Orders'),
      show_modal_form: false,
      mb
    };
  },
  components: {
    action_buttons,
    pagination_functions,
    vantdpagination,
    orders_form
  },
  watch: {
    filter: function() {
      this.data = this.orders_list.data.filter(this.filter_data);
    },
    selectedRowKeys: function() {
      if (this.selectedRowKeys.length == this.data.length) {
        this.text_select = "Desseleccionar todo";
      } else {
        this.text_select = "Seleccionar todo";
      }
    }
  },
  computed: {
    rowSelection() {
      const { selectedRowKeys } = this;
      return {
        selectedRowKeys,
        hideDefaultSelections: true,
        selections: [
          {
            key: "all-data",
            text: this.text_select,
            onSelect: () => {
              if (this.selectedRowKeys.length == this.data.length) {
                this.selectedRowKeys = [];
              } else {
                this.selectedRowKeys = this.data.map(e => {
                  return e.id_orders;
                });
              }
            }
          }
        ],
        onSelection: this.onSelection,
        onChange: this.onChange
      };
    }
  },
  methods: {
    showDeleteSelected (model) {
      let _this = this
      this.selected_model = mb.instance('Orders', model)
      this.$confirm({
        title: 'Desea eliminar este elemento?',
        icon: 'delete',
        // icon:()=>{return ( <a-icon type="delete" style="color:red"/> )},
        okText: 'Si',
        okType: 'success',
        class: 'success',
        cancelText: 'No',
        async onOk () {
          try {
            const response = await _this.selected_model.delete()
            utils.process_response(response, ' eliminado ')
            _this.load_data()
          } catch (error) {
            utils.process_error(error)
          }
        },
        onCancel () {

        },
      })
    },
    cancelOrder (model) {
      let _this = this
      this.selected_model = mb.instance('Orders', model)
      this.$confirm({
        title: 'Desea cancelar esta orden?',
        icon: 'stop',
        // icon:()=>{return ( <a-icon type="delete" style="color:red"/> )},
        okText: 'Si',
        okType: 'danger',
        class: 'delete_confirm',
        cancelText: 'No',
        async onOk () {
          try {
            _this.selected_model.id_order_status=3;
            const response = await _this.selected_model.save()
            utils.process_response(response, ' cancelado ')
            _this.load_data()
          } catch (error) {
            utils.process_error(error)
          }
        },
        onCancel () {

        },
      })
    },
    acceptOrder (model) {
      let _this = this
      this.selected_model = mb.instance('Orders', model)
      this.$confirm({
        title: 'Desea aceptar esta orden?',
        icon: 'check-circle',
        // icon:()=>{return ( <a-icon type="delete" style="color:red"/> )},
        okText: 'Si',
        okType: 'danger',
        class: 'primary',
        cancelText: 'No',
        async onOk () {
          try {
            _this.selected_model.id_order_status=2;
            const response = await _this.selected_model.save()
            utils.process_response(response, ' aceptado ')
            _this.load_data()
          } catch (error) {
            utils.process_error(error)
          }
        },
        onCancel () {

        },
      })
    },

    exportToExcel () {
      utils.exportToExcelVinstance(this)
    },
    exportToCSV () {
      utils.exportToCSV(this)
    },
    onCloseModal(e,reload_data=false) {
      this.selected_model = mb.instance('Orders');
      this.show_modal_form = false;
      reload_data?this.load_data():''
    },
    showModalForm() {
      this.$router.push({name: 'orders_form'})
    },
    filter_data(object) {
      return utils.filter_object_column(object, this.filter,this.columns);
    },
    onChange: function(selectedRowKeys) {
      this.selectedRowKeys = selectedRowKeys;
    },
    showDeleteConfirm() {
      if (this.selectedRowKeys.length == 0) {
        utils.openNotificationWithIcon(
          "error",
          "Eliminar elementos seleccionados",
          "Debe seleccionar al menos u elemento"
        );
        return;
      }
      let _this = this;
      this.$confirm({
        title: "Eliminar elementos seleccionados?",
        icon: "delete",
        // icon:()=>{return ( <a-icon type="delete" style="color:red"/> )},
        okText: "Si",
        okType: "danger",
        class: "delete_confirm",
        cancelText: "No",
        async onOk() {
          try {
            const response = await mb.statics('Orders').delete_by_ids(
                _this.selectedRowKeys
              );
               utils.process_response(response, "deleted");
              _this.selectedRowKeys=[];
              _this.load_data();
            } catch (error) {
              utils.process_error(error);
              _this.selectedRowKeys=[];
            }
        },
        onCancel() {}
      });
    },
    async load_data() {
      try {
        this.loading = true;
        var params = {};
        params.relations=['contact','user','order_status'];

        const resp = await mb.statics('Orders').list(params);
        this.orders_list = resp;
        this.data = this.orders_list.data.filter(this.filter_data);
        this.loading = false;
      } catch (error) {
        utils.process_error(error);
        this.loading = false;
      }
    },
    onEditing(model) {
      this.$router.push({
        name: 'update_order',
        params: {
          id: model.id_orders,
        }
      })
    }
  },

  mounted() {
    this.loading = true;
    this.data = [];
    this.load_data();
    this.self = this;
    this.pagination.$options.props = {
      load_data: this.load_data
    };
  }
};
</script>

<style>
@import "orders_list.css";
</style>

