<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model">
    <spinner v-if="loading" />
    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0" >
      <tc-form
        :feedbacks="mb.statics('Budget_items_list').feedbacks"
        :vobject="$v"
        nested="budget_items_list"
        ref="form"
        class="form-row"
      >
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Concepto</label>
          <tc-input placeholder="Ingrese el concepto" name="budget_items_list_concept" v-model="budget_items_list.budget_items_list_concept"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Descripción</label>
          <a-textarea size="large" v-model="budget_items_list.budget_items_list_desc"></a-textarea>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Cantidad</label>
          <tc-input placeholder="Ingrese la cantidad" name="budget_items_list_quantity" v-model="budget_items_list.budget_items_list_quantity"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>País*</label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el impuesto"
              name="tax_id"
              :successFeed="false"
              :defaultValue="budget_items_list.tax_id"
              v-model="budget_items_list.tax_id"
              :url="mb.statics('Budget_items_list_taxes').select_2_url"
            />
          </div>
        </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancelar</button>
    </div>
  </div>
</template>

<script>
import Budget_items_list from "../../../../../entities/models/modules/billings/budget_items_list.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models";

export default {
  name: "budget_items_list_form",
  inject: {
    close_modal: { default: ()=>{} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
    modal: {
      type: Boolean,
      default: false
    },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    },
    budget_id: {
      type: Number,
      require: true
    }
  },
  validations: mb.statics('Budget_items_list').validations,
  data() {
    return {
      // This property must have the same name of the model
      mb,
      loading: false,
      budget_items_list: mb.instance('Budget_items_list'),
      budget_items_list_taxes: mb.instance('Budget_items_list_taxes')
    };
  },
  computed: {
    budget_items_listFeedbacks() {
      return mb.statics('Budget_items_list').feedbacks;
    },
    button_text() {
      return this.budget_items_list.get_id() ? "Modificar" : "Agregar";
    },
    modalTitle() {
      return this.budget_items_list.get_id()
        ? "Editar Producto"
        : "Agregar Producto";
    }
  },

  mounted: function() {
    this.budget_items_list = mb.statics('Budget_items_list', this.model);

  },
  components: {},
  methods: {
    cancel(){
      this.modal?this.close_modal(null,false):this.$router.push({name: 'budget_items_list_list'})
    },
    save_model() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.budget_items_list.get_id() ? "actualizado" : "insertado";
        this.budget_items_list
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
              this.modal?this.close_modal(null,false):this.$router.push({name: 'budget_items_list_list'})
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "budget_items_list_form.css";
</style>

