<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model()">
    <spinner v-if="loading" />
    <div class="card-body p-0" >

      <tc-form
        :feedbacks="mb.statics('History_buy_wps').feedbacks"
        :vobject="$v"
        nested="history_buy_wps"
        ref="form"
        class="form-row"
      >
      <tc-form-item class="form-group p-0 col-6">
        <label>Email<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el valor email' name='email' v-model="history_buy_wps.email"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>Products<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el valor products' name='products' v-model="history_buy_wps.products"></tc-input>
      </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button v-if="!history_buy_wps.get_id()" :disabled="loading" class="btn btn-primary" @click="save_model(true)">Añadir y nuevo</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancel</button>
    </div>
  </div>
</template>

<script>
import History_buy_wps from "../../../../../entities/models/modules/managment/history_buy_wps.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models"

export default {
  name: "history_buy_wps_form",
  inject: {
      close_modal: { default: ()=>{} },
      load_data: {default: () => {} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
      modal: {
        type: Boolean,
        default: false
      },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: mb.statics('History_buy_wps').validations,
  data() {
    return {
      loading: false,
      mb,      // This property is for load static or instance class
      history_buy_wps: mb.instance( 'History_buy_wps'),
    };
  },
  computed: {
    history_buy_wpsFeedbacks() {
      return mb.statics('History_buy_wps').feedbacks;
    },
    button_text() {
      return this.history_buy_wps.get_id() ? "Modificar" : "Añadir";
    },
    modalTitle() {
      return this.history_buy_wps.get_id()
        ? "Modificar History_buy_wps"
        : "Añadir History_buy_wps";
    }
  },

  mounted: function() {
    this.history_buy_wps = mb.instance( 'History_buy_wps',this.model);

  },
  components: {

             },
  methods: {
      cancel(){
        if (this.model === null) {
          this.$emit('close_modal',false)
        } else {
        this.modal?this.close_modal(null,false):this.$router.push({name: 'history_buy_wps_list'})
       }
      },
    save_model(and_new=false) {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.history_buy_wps.get_id() ? "actualizado" : "añadido";
        this.history_buy_wps
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
                if (this.model === null) {
                  this.$emit('close_modal',true)
                  return;
               }
                else
                   !and_new?this.modal?this.close_modal(null,true):this.$router.push({name: 'history_buy_wps_list'}):this.history_buy_wps=mb.instance('History_buy_wps');this.load_data();this.$refs.form.vobject.$reset()
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "history_buy_wps_form.css";
</style>

