<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model()">
    <spinner v-if="loading"/>
    <div class="card-body p-0">

      <tc-form
        :feedbacks="mb.statics('Event_actions').feedbacks"
        :vobject="$v"
        nested="event_actions"
        ref="form"
        class="form-row"
      >
        <tc-form-item class="form-group p-3 col-6">
          <label>Fecha inicio<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-date-picker name="date_init"  :default-value="event.date_init" @change="changeDateInit" :disabled-date="disabledDate" v-model="event_actions.date_init"></tc-date-picker>
          </div>
        </tc-form-item>
        <tc-form-item  class="form-group p-3 col-md-6">
          <label>Fecha Fin<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-date-picker name="date_end" :default-value="defaultValueEnd" :disabled-date="disabledDateEnd" v-model="event_actions.date_end"></tc-date-picker>
          </div>
        </tc-form-item>
        <a-modal
          @cancel="showModalCreateuser = false"
          v-if="showModalCreateuser"
          class="modal-form"
          :title="'Añadir users'"
          :visible="true"
          :header="null"
          :footer="null"
          :maskClosable="false"
        >
          <users_form :model="null" @close_modal="userAdded"/>
        </a-modal>
        <tc-form-item class="form-group p-0 col-12">
          <label>Descripción<span class='required_field'>*</span></label>
          <tc-input :text_area="true" size="large" name="description" v-model="event_actions.description"></tc-input>
        </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancel</button>
    </div>
  </div>
</template>

<script>
  import Event_actions from '../../../../../entities/models/modules/managment/event_actions.model'
  import * as utils from '../../../../../entities/utils/utils'
  import * as mb from '../../../../../entities/models'
  import Users_form from '../../../security/users/form/users_form'
  import Event_form from '../../event/form/event_form'

  export default {
    name: 'event_actions_posp',
    inject: {
      close_modal_posp: {
        default: () => {
        }
      },
      load_data: {
        default: () => {
        }
      }
    },
    props: {
      model: {
        type: Object,
        default: () => {
        }
      },
      modal: {
        type: Boolean,
        default: false
      },
      popoverPlacement: {
        type: String,
        default: 'bottomLeft'
      }
    },
    validations: mb.statics('Event_actions').validations,
    data () {
      return {
        loading: false,
        defaultValueEnd:null,
        mb,      // This property is for load static or instance class
        event_actions: mb.instance('Event_actions'),
        event: {},
        showModalCreateuser: false,
        users_list: [],
        showModalCreateevent: false,
        event_list: [],
      }
    },
    computed: {
      event_actionsFeedbacks () {
        return mb.statics('Event_actions').feedbacks
      },
      button_text () {
        return 'Posponer'
      },
      modalTitle () {
        return this.event_actions.get_id()
          ? 'Modificar Event_actions'
          : 'Añadir Event_actions'
      }
    },

    beforeMount: function () {
      this.event = mb.instance('Event', this.model)
      this.defaultValueEnd=moment(this.event.date_end)

    },
    components: {

      Users_form,
      Event_form,
    },
    methods: {
      disabledDate (current) {
        // Can not select days before today and today
        return current && current < moment().subtract(1,'days')
      },
      changeDateInit (current) {
        // Can not select days before today and today
        // this.event_actions.date_end=this.event_actions.date_init.add(1,'days')
      },
      disabledDateEnd (current) {
        // Can not select days before today and today
        return current && current < moment(this.event_actions.date_init)
      },
      openModalCreateuser () {
        this.showModalCreateuser = true
      },
      userAdded (refresh) {
        this.showModalCreateuser = false
        refresh ? this.refreshuser() : ''
      },
      async refreshuser () {
        this.loading = true
        await this.$refs.select_user.load()
        this.loading = false
      },
      openModalCreateevent () {
        this.showModalCreateevent = true
      },
      eventAdded (refresh) {
        this.showModalCreateevent = false
        refresh ? this.refreshevent() : ''
      },
      async refreshevent () {
        this.loading = true
        await this.$refs.select_event.load()
        this.loading = false
      },
      cancel () {
        if (this.model === null) {
          this.$emit('close_modal', false)
        } else {
          this.modal ? this.close_modal_posp(null, false) : this.$router.push({name: 'event_actions_list'})
        }
      },
      save_model (and_new = false) {
        if (this.$refs.form.validate()) {
          this.loading = true
          const accion = this.event_actions.get_id() ? 'actualizado' : ' pospuesto'
          this.event_actions.id_user=this.$store.site.user.id_user
          this.event_actions.id_event=this.event.id_event
          this.event_actions.action="Cambiar fecha"
          const ea=mb.statics("Event_actions")
          ea.custom('post','register_action',this.event_actions)
            .then((response) => {
              if (utils.process_response(response, accion)) {
                if (this.model === null) {
                  this.$emit('close_modal', true)
                  return
                } else {
                  !and_new ? this.modal ? this.close_modal_posp(null, true) : this.$router.push({name: 'event_actions_list'}) : this.event_actions = mb.instance('Event_actions')
                }
                this.load_data();
                this.$refs.form.vobject.$reset()
              }
              this.loading = false
            })
            .catch((error) => {
              this.loading = false
              utils.process_error(error)
            })
        }
      }
    }
  }
</script>

<style scoped>
  @import "event_actions_form.css";
</style>

