<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model()">
    <spinner v-if="loading" />
    <div class="card-body p-0" >

      <tc-form
        :feedbacks="mb.statics('Event_actions').feedbacks"
        :vobject="$v"
        nested="event_actions"
        ref="form"
        class="form-row"
      >
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Date_at<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-date-picker name="date_at" v-model="event_actions.date_at"></tc-date-picker>
          </div>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Users<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el Users"
              name="id_user"
              :search_params= "{}"
              ref="select_user"
              :successFeed="false"
              :defaultValue="event_actions.id_user"
              v-model="event_actions.id_user"
              :url="mb.statics('Users').select_2_url"
            />
            <a-button type="dashed"
                      icon="plus"
                      class="dashed-primary rounded mt-1 ml-2"
                      @click="openModalCreateuser">
            </a-button>
          </div>
        </tc-form-item>

        <a-modal
          @cancel="showModalCreateuser = false"
          v-if="showModalCreateuser"
          class="modal-form"
          :title="'Añadir users'"
          :visible="true"
          :header="null"
          :footer="null"
          :maskClosable="false"
        >
          <users_form :model="null" @close_modal="userAdded"/>
        </a-modal>
      <tc-form-item class="form-group p-0 col-6">
        <label>Action<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el valor action' name='action' v-model="event_actions.action"></tc-input>
      </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Event<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el Event"
              name="id_event"
              :search_params= "{}"
              ref="select_event"
              :successFeed="false"
              :defaultValue="event_actions.id_event"
              v-model="event_actions.id_event"
              :url="mb.statics('Event').select_2_url"
            />
            <a-button type="dashed"
                      icon="plus"
                      class="dashed-primary rounded mt-1 ml-2"
                      @click="openModalCreateevent">
            </a-button>
          </div>
        </tc-form-item>

        <a-modal
          @cancel="showModalCreateevent = false"
          v-if="showModalCreateevent"
          class="modal-form"
          :title="'Añadir event'"
          :visible="true"
          :header="null"
          :footer="null"
          :maskClosable="false"
        >
          <event_form :model="null" @close_modal="eventAdded"/>
        </a-modal>
      <tc-form-item class="form-group p-0 col-12">
        <label>Description<span class='required_field'>*</span></label>
        <a-textarea size="large" v-model="event_actions.description"></a-textarea>
      </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button v-if="!event_actions.get_id()" :disabled="loading" class="btn btn-primary" @click="save_model(true)">Añadir y nuevo</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancel</button>
    </div>
  </div>
</template>

<script>
import Event_actions from "../../../../../entities/models/modules/managment/event_actions.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models"
  import Users_form from '../../../security/users/form/users_form';
  import Event_form from '../../event/form/event_form';

export default {
  name: "event_actions_form",
  inject: {
      close_modal: { default: ()=>{} },
      load_data: {default: () => {} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
      modal: {
        type: Boolean,
        default: false
      },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: mb.statics('Event_actions').validations,
  data() {
    return {
      loading: false,
      mb,      // This property is for load static or instance class
      event_actions: mb.instance( 'Event_actions'),
      showModalCreateuser: false,
      users_list: [],
      showModalCreateevent: false,
      event_list: [],
    };
  },
  computed: {
    event_actionsFeedbacks() {
      return mb.statics('Event_actions').feedbacks;
    },
    button_text() {
      return this.event_actions.get_id() ? "Modificar" : "Añadir";
    },
    modalTitle() {
      return this.event_actions.get_id()
        ? "Modificar Event_actions"
        : "Añadir Event_actions";
    }
  },

  mounted: function() {
    this.event_actions = mb.instance( 'Event_actions',this.model);

  },
  components: {

       Users_form,
       Event_form,
             },
  methods: {
      openModalCreateuser() {
        this.showModalCreateuser = true;
      },
      userAdded(refresh) {
        this.showModalCreateuser = false;
        refresh?this.refreshuser():'';
      },
      async refreshuser() {
        this.loading = true;
        await this.$refs.select_user.load();
        this.loading = false;
      },
      openModalCreateevent() {
        this.showModalCreateevent = true;
      },
      eventAdded(refresh) {
        this.showModalCreateevent = false;
        refresh?this.refreshevent():'';
      },
      async refreshevent() {
        this.loading = true;
        await this.$refs.select_event.load();
        this.loading = false;
      },
      cancel(){
        if (this.model === null) {
          this.$emit('close_modal',false)
        } else {
        this.modal?this.close_modal(null,false):this.$router.push({name: 'event_actions_list'})
       }
      },
    save_model(and_new=false) {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.event_actions.get_id() ? "actualizado" : "añadido";
        this.event_actions
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
                if (this.model === null) {
                  this.$emit('close_modal',true)
                  return;
               }
                else
                   !and_new?this.modal?this.close_modal(null,true):this.$router.push({name: 'event_actions_list'}):this.event_actions=mb.instance('Event_actions');this.load_data();this.$refs.form.vobject.$reset()
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "event_actions_form.css";
</style>

