<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model()">
    <spinner v-if="loading"/>
    <div class="card-body p-0">

      <tc-form
        :feedbacks="mb.statics('Event_actions').feedbacks"
        :vobject="$v"
        nested="event_actions"
        ref="form"
        class="form-row"
      >
        <tc-form-item class="form-group p-0 col-12">
          <div v-for="event in array_model" class="badge badge-info badge-pill">{{event.event_name}}</div>
        </tc-form-item>
        <tc-form-item class="form-group p-0 col-12">
          <label>Descripción de la cancelación<span class='required_field'>*</span></label>
          <tc-input :text_area="true" size="large" name="description"
                    v-model="event_actions.description"></tc-input>
        </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancel</button>
    </div>
  </div>
</template>

<script>
  import Event_actions from '../../../../../entities/models/modules/managment/event_actions.model'
  import * as utils from '../../../../../entities/utils/utils'
  import * as mb from '../../../../../entities/models'
  import Users_form from '../../../security/users/form/users_form'
  import Event_form from '../../event/form/event_form'

  export default {
    name: 'event_actions_cancel',
    inject: {
      close_modal_cancel: {
        default: () => {
        }
      },
      load_data: {
        default: () => {
        }
      }
    },
    props: {
      array_model: {
        type: Array,
        default: []
      },
      modal: {
        type: Boolean,
        default: false
      },
      popoverPlacement: {
        type: String,
        default: 'bottomLeft'
      }
    },
    validations: mb.statics('Event_actions').validations,
    data () {
      return {
        loading: false,
        defaultValueEnd: null,
        mb,      // This property is for load static or instance class
        event_actions: mb.instance('Event_actions'),
        event: {},
        showModalCreateuser: false,
        users_list: [],
        showModalCreateevent: false,
        event_list: [],
      }
    },
    computed: {
      event_actionsFeedbacks () {
        return mb.statics('Event_actions').feedbacks
      },
      button_text () {
        return 'Cancelar Eventos'
      }
    },

    beforeMount: function () {

    },
    components: {

      Users_form,
      Event_form,
    },
    methods: {
      disabledDate (current) {
        // Can not select days before today and today
        return current && current < moment().subtract(1, 'days')
      },
      changeDateInit (current) {
        // Can not select days before today and today
        // this.event_actions.date_end=this.event_actions.date_init.add(1,'days')
      },
      disabledDateEnd (current) {
        // Can not select days before today and today
        return current && current < moment(this.event_actions.date_init)
      },
      openModalCreateuser () {
        this.showModalCreateuser = true
      },
      userAdded (refresh) {
        this.showModalCreateuser = false
        refresh ? this.refreshuser() : ''
      },
      async refreshuser () {
        this.loading = true
        await this.$refs.select_user.load()
        this.loading = false
      },
      openModalCreateevent () {
        this.showModalCreateevent = true
      },
      eventAdded (refresh) {
        this.showModalCreateevent = false
        refresh ? this.refreshevent() : ''
      },
      async refreshevent () {
        this.loading = true
        await this.$refs.select_event.load()
        this.loading = false
      },
      cancel () {
        if (this.model === null) {
          this.$emit('close_modal', false)
        } else {
          this.modal ? this.close_modal_cancel(null, false) : this.$router.push({name: 'event_actions_list'})
        }
      },
      save_model (and_new = false) {
        if (this.$refs.form.validate()) {
          this.loading = true
          const accion = ' cancelado'
          this.event_actions.id_user = this.$store.site.user.id_user
          this.event_actions.id_event = this.event.id_event
          this.event_actions.action = 'Cancelar Evento'
          this.event_actions.array_model=this.array_model
          const ea = mb.statics('Event_actions')
          ea.custom('post', 'register_action', this.event_actions)
            .then((response) => {
              if (utils.process_response(response, accion)) {
                if (this.model === null) {
                  this.$emit('close_modal', true)
                  return
                } else {
                  !and_new ? this.modal ? this.close_modal_cancel(null, true) : this.$router.push({name: 'event_actions_list'}) : this.event_actions = mb.instance('Event_actions')
                }
                this.load_data()
                this.$refs.form.vobject.$reset()
              }
              this.loading = false
            })
            .catch((error) => {
              this.loading = false
              utils.process_error(error)
            })
        }
      }
    }
  }
</script>

<style scoped>
  @import "event_actions_form.css";
</style>

