<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model">
    <spinner v-if="loading" />
    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0" >
      <tc-form
        :feedbacks="mb.statics('Products').feedbacks"
        :vobject="$v"
        nested="products"
        ref="form"
        class="form-row"
      >
        <tc-form-item style="text-align: center">
          <a-upload
            name="avatar"
            listType="picture-card"
            class="avatar-uploader"
            style="display: inline-table"
            :showUploadList="false"
            :beforeUpload="beforeUpload"
            @change="handleImageChange"
          >
            <img id="product_picture" height="102px" width="102px" v-show="products.product_picture" :src="mb.statics('Products').getImageURL(products.product_picture)" alt="Image"/>
            <div v-if="!products.product_picture">
              <a-icon :type="loading ? 'loading' : 'plus'"/>
              <div class="ant-upload-text">Subir</div>
            </div>
          </a-upload>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Nombre del producto<span class="required_field">*</span></label>
          <tc-input placeholder="Ingrese el nombre" name="product_name" v-model="products.product_name"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Proveedor<span class="required_field">*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el proveedor"
              name="contact_id"
              :successFeed="false"
              :defaultValue="products.contact_id"
              v-model="products.contact_id"
              :url="mb.statics('Contacts').select_2_url"
            />
          </div>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Impuesto de compra<span class="required_field">*</span></label>
          <tc-input placeholder="Ingrese el impuesto" name="product_tax_buy" type_car="num" v-model="products.product_tax_buy"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Coste de compra<span class="required_field">*</span></label>
          <tc-input placeholder="Ingrese el Coste de compra" name="product_cost" type_car="dec" v-model="products.product_cost" ></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-4 px-3">
          <label>Subtotal/Precio de Venta Bruto<span class="required_field">*</span></label>
          <tc-input placeholder="Ingrese el subtotal"  type_car="num" name="product_subtotal" v-model="products.product_subtotal"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-4 px-3">
          <label>Impuesto de venta (%)<span class="required_field">*</span></label>
          <tc-input placeholder="Ingrese el impuesto" type_car="num" name="product_tax_sale" v-model="products.product_tax_sale"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-4 px-3">
          <label>Total/Precio de Venta Neto<span class="required_field">*</span></label>
          <div><label >${{total_computed}}</label></div>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Stock (Unidades)<span class="required_field">*</span></label>
          <tc-input placeholder="Ingrese la cantidad" name="product_stock" v-model="products.product_stock"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>SKU</label>
          <tc-input placeholder="Ingrese la descripción" name="product_sku" v-model="products.product_sku"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Código de barra</label>
          <tc-input placeholder="Ingrese el código de barra" name="product_bar_code" v-model="products.product_bar_code"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Código de fábrica</label>
          <tc-input placeholder="Ingrese la código de fábrica" name="product_factory_code" v-model="products.product_factory_code"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Peso (Kg)<span class="required_field">*</span></label>
          <tc-input placeholder="Ingrese la cantidad" name="product_weigth" v-model="products.product_weigth"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Estado<span class="required_field">*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el estado"
              name="product_status_id"
              :successFeed="false"
              :defaultValue="products.product_status_id"
              v-model="products.product_status_id"
              :url="mb.statics('Product_status').select_2_url"
            />
          </div>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-12 px-3">
          <label>Descripción</label>
          <tc-input  size="large" :text_area="true"  name="product_desc" v-model="products.product_desc"/>
        </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-3">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancelar</button>
    </div>
  </div>
</template>

<script>
import Products from "../../../../../entities/models/modules/managment/products.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models";

export default {
  name: "products_form",
  inject: {
    close_modal: { default: ()=>{} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
    modal: {
      type: Boolean,
      default: false
    },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: Products.validations,
  data() {
    return {
      // This property must have the same name of the model
      mb,
      loading: false,
      products: mb.instance('Products'),
      product_status: mb.instance('Product_status')
    };
  },
  computed: {
    productsFeedbacks() {
      return mb.statics('Products').feedbacks;
    },
    button_text() {
      return this.products.get_id() ? "Modificar" : "Agregar";
    },
    modalTitle() {
      return this.products.get_id()
        ? "Editar Producto"
        : "Agregar Producto";
    },
    total_computed() {
      let subtotal = Number(this.products.product_subtotal)
      let taxSale = Number(this.products.product_tax_sale)
      let total = subtotal + ((subtotal * taxSale) / 100)
      return total
    }
  },
  watch: {
    total_computed(val) {
      this.products.product_total = val;
    }
  },

  mounted: function() {
    this.products = mb.instance('Products' ,this.model);
  },
  components: {},
  methods: {
    handleImageChange (info) {
      let reader = new FileReader()
      reader.onload = function (e) {
        document.getElementById('product_picture').setAttribute('src', e.target.result)
      }
      reader.readAsDataURL(info.file)
      this.products.product_picture = info.file
    },
    beforeUpload (file) {
      // const isJpgOrPng = file.type === 'image/jpeg' || file.type === 'image/png' || file.type === 'image/jpg';
      // if (!isJpgOrPng) {
      //   alert('Solo puede subir imágenes');
      // }
      return false
    },
    cancel(){
      if (this.model === null) {
        this.$emit('close_modal',false)
      } else {
        this.modal?this.close_modal(null,false):this.$router.push({name: 'products_list'})
      }
    },
    save_model() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.products.get_id() ? "actualizado" : "insertado";
        this.products.isFormData = (this.products.product_picture instanceof File) ? true : false;
        this.products
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
              // this.$emit("close_modal",null,true)
              this.modal ? this.close_modal(null,true) : this.$router.push({name: 'products_list'})
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "products_form.css";
</style>

