<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model">
    <spinner v-if="loading"/>
    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0">
      <tc-form
        :feedbacks="mb.statics('Services').feedbacks"
        :vobject="$v"
        nested="services"
        ref="form"
        class="form-row"
      >
        <tc-form-item style="text-align: center">
          <a-upload
            name="avatar"
            listType="picture-card"
            class="avatar-uploader"
            style="display: inline-table"
            :showUploadList="false"
            :beforeUpload="beforeUpload"
            @change="handleImageChange"
          >
            <img id="service_picture" height="102px" width="102px" v-show="services.service_picture"
                 :src="mb.statics('Services').getImageURL(services.service_picture)" alt="Image"/>
            <div v-if="!services.service_picture">
              <a-icon :type="loading ? 'loading' : 'plus'"/>
              <div class="ant-upload-text">Subir</div>
            </div>
          </a-upload>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Nombre<span class="required_field">*</span></label>
          <tc-input placeholder="Ingrese el nombre" name="service_name" v-model="services.service_name"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Código<span class="required_field">*</span></label>
          <tc-input placeholder="Ingrese el código" name="service_code" v-model="services.service_code"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Estado<span class="required_field">*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el estado"
              name="service_status_id"
              :successFeed="false"
              :defaultValue="services.service_status_id"
              v-model="services.service_status_id"
              :url="mb.statics('Service_status').select_2_url"
            />
          </div>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Coste<span class="required_field">*</span></label>
          <tc-input placeholder="Ingrese el coste" name="service_cost" type_car="num" v-model="services.service_cost"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-4 px-3">
          <label>Subtotal / Precio de Venta Bruto<span class="required_field">*</span></label>
          <tc-input placeholder="Ingrese el subtotal" name="service_subtotal" type_car="num"
                    v-model="services.service_subtotal"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-4 px-3">
          <label>Impuesto (%)<span class="required_field">*</span></label>
          <tc-input placeholder="Ingrese el impuesto" name="service_tax_sale" type_car="num"
                    v-model="services.service_tax_sale"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-4 px-3">
          <label>Total / Precio de Venta Neto</label>
          <div>
            <label>${{total_computed}}</label>
          </div>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-12 px-3">
          <label>Descripción</label>
          <tc-input size="large" :show_char_cant="false" name="service_desc" :text_area="true"
                    v-model="services.service_desc"></tc-input>
        </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-3">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancelar</button>
    </div>
  </div>
</template>

<script>
  import Services from '../../../../../entities/models/modules/managment/services.model'
  import * as utils from '../../../../../entities/utils/utils'
  import * as mb from '../../../../../entities/models'

  export default {
    name: 'services_form',
    inject: {
      close_modal: {
        default: () => {
        }
      }
    },
    props: {
      model: {
        type: Object,
        default: () => {
        }
      },
      modal: {
        type: Boolean,
        default: false
      },
      popoverPlacement: {
        type: String,
        default: 'bottomLeft'
      }
    },
    validations: Services.validations,
    data () {
      return {
        // This property must have the same name of the model
        mb,
        loading: false,
        services: mb.instance('Services'),
        service_status: mb.instance('Service_status')
      }
    },
    computed: {
      servicesFeedbacks () {
        return mb.statics('Services').feedbacks
      },
      button_text () {
        return this.services.get_id() ? 'Modificar' : 'Agregar'
      },
      modalTitle () {
        return this.services.get_id()
          ? 'Editar Servicio'
          : 'Agregar Servicio'
      },
      total_computed () {
        let subtotal = Number(this.services.service_subtotal)
        let taxSale = Number(this.services.service_tax_sale)
        return subtotal + ((subtotal * taxSale) / 100)
      }
    },

    watch: {
      total_computed (val) {
        this.services.service_total = val
      }
    },

    beforeMount: function () {
      this.services = mb.instance('Services', this.model)
    },
    components: {},
    methods: {
      handleImageChange (info) {
        let reader = new FileReader()
        reader.onload = function (e) {
          document.getElementById('service_picture').setAttribute('src', e.target.result)
        }
        reader.readAsDataURL(info.file)
        this.services.service_picture = info.file
      },
      beforeUpload (file) {
        // const isJpgOrPng = file.type === 'image/jpeg' || file.type === 'image/png';
        // if (!isJpgOrPng) {
        //   alert('Solo puede subir imágenes');
        // }
        return false
      },
      cancel () {
        // this.$emit("close_modal",null,true)
        this.modal ? this.close_modal(null, false) : this.$router.push({name: 'services_list'})
      },
      save_model () {
        if (this.$refs.form.validate()) {
          this.loading = true
          const accion = this.services.get_id() ? 'actualizado' : 'insertado'
          this.services.isFormData = (this.services.service_picture instanceof File) ? true : false
          this.services
            .save()
            .then((response) => {
              if (utils.process_response(response, accion)) {
                // this.$emit("close_modal",null,true)
                this.modal ? this.close_modal(null, true) : this.$router.push({name: 'services_list'})
              }
              this.loading = false
            })
            .catch((error) => {
              this.loading = false
              utils.process_error(error)
            })
        }
      }
    }
  }
</script>

<style scoped>
  @import "services_form.css";
</style>

