<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model()">
    <spinner v-if="loading"/>
    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0">

      <tc-form
        :feedbacks="mb.statics('Participants').feedbacks"
        :vobject="$v"
        nested="participants"
        ref="form"
        class="form-row"
      >
        <tc-form-item class="form-group p-3 col-4">
          <label>Participante Interno</label>
          <div>
            <a-switch checkedChildren="Si" unCheckedChildren="No" v-model="intern"/>
          </div>
        </tc-form-item>

        <tc-form-item class="form-group p-3 col-4">
          <label v-if="intern">Tipo de participante</label>
          <div v-if="intern">
            <a-radio-group defaultValue="contact" v-model="participant_type" buttonStyle="solid">
              <a-radio-button value="contact">Contacto</a-radio-button>
              <a-radio-button value="member">Miembro</a-radio-button>
            </a-radio-group>
          </div>
        </tc-form-item>
        <tc-form-item v-if="intern" class="form-group p-3 col-4 ">
          <label v-show="participant_type==='contact'">Contacto</label>
          <div v-show="participant_type==='contact' " class="d-flex flex-row">
            <tc-autocomplete v-if="participant_type==='contact'"
              placeholder="Seleccione el Contacts"
              name="id_contact"
              :search_params="{}"
               @change="changeContact"
               ref="select_contact"
              :successFeed="false"
              :defaultValue="participants.id_contact"
              v-model="participants.id_contact"
              :url="mb.statics('Contacts').select_2_url"
            />
          </div>
          <label v-show="participant_type==='member'">Miembro del Club</label>
          <div v-show="participant_type==='member' " class="d-flex flex-row">
            <tc-autocomplete v-if="participant_type==='member'"
              placeholder="Seleccione el miembro"
              name="club_member_id"
              :search_params="{}"
               @change="changeContact"
              ref="select_club_member"
              :successFeed="false"
              :defaultValue="participants.club_member_id"
              v-model="participants.club_member_id"
              :url="mb.statics('Club_members').select_2_url"
            />
          </div>
        </tc-form-item>

        <tc-form-item class="form-group p-0 px-3 col-6">
          <label>Nombre <span class='required_field'>*</span></label>
          <tc-input :disabled='intern' placeholder='Ingrese el valor ' name='participant_name'
                    v-model="participants.participant_name"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group p-0 px-3 col-6">
          <label>Apellidos<span class='required_field'>*</span></label>
          <tc-input :disabled='intern' placeholder='Ingrese el valor ' name='apellidos' v-model="participants.apellidos"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group p-0 px-3 col-6">
          <label>Correo<span class='required_field'>*</span></label>
          <tc-input :disabled='intern' placeholder='Ingrese el valor ' name='participant_email'
                    v-model="participants.participant_email"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group p-0 px-3 col-6" v-if="participants.participant_phone!='--'">
          <label>Teléfono<span class='required_field'>*</span></label>
          <tc-input :disabled='intern' v-if="participants.participant_phone!='--'" placeholder='Ingrese el valor' type_car='num' name='participant_phone'
                    v-model="participants.participant_phone"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Tipo de pago</label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el Payment_types"
              name="id_payment_types"
              :search_params="{}"
              ref="select_payment_types"
              :successFeed="false"
              :defaultValue="participants.id_payment_types"
              v-model="participants.id_payment_types"
              :url="mb.statics('Payment_types').select_2_url"
            />
            <a-button type="dashed"
                      icon="plus"
                      class="dashed-primary rounded mt-1 ml-2"
                      @click="openModalCreatepayment_types">
            </a-button>
          </div>
        </tc-form-item>

        <a-modal
          @cancel="showModalCreatepayment_types = false"
          v-if="showModalCreatepayment_types"
          class="modal-form"
          :visible="true"
          :header="null"
          :footer="null"
          :maskClosable="false"
        >
          <payment_types_form :model="null" @close_modal="payment_typesAdded"/>
        </a-modal>
      </tc-form>
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button v-if="!participants.get_id()" :disabled="loading" class="btn btn-primary" @click="save_model(true)">Añadir
        y nuevo
      </button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancel</button>
    </div>
  </div>
</template>

<script>
  import Participants from '../../../../../entities/models/modules/managment/participants.model'
  import * as utils from '../../../../../entities/utils/utils'
  import * as mb from '../../../../../entities/models'
  import Payment_types_form from '../../../nomenclatures/payment_types/form/payment_types_form'

  export default {
    name: 'participants_form',
    inject: {
      close_modal: {
        default: () => {
        }
      },
      load_data: {
        default: () => {
        }
      },
    },
    props: {
      model: {
        type: Object,
        default: () => {
        }
      },
      modal: {
        type: Boolean,
        default: false
      },
      popoverPlacement: {
        type: String,
        default: 'bottomLeft'
      }
    },
    validations: mb.statics('Participants').validations,
    watch: {
      intern (newValue,oldValue) {
        if (!newValue) {
          this.participants.participant_name = ''
          this.participants.apellidos = ''
          this.participants.participant_email = ''
          this.participants.participant_phone = ''
        }

      },
      'participants.participant_name' (newValue, oldValue) {
        this.participants.participant_name = utils.capitalize(newValue)
      },
      'participants.apellidos' (newValue, oldValue) {
        this.participants.apellidos = utils.capitalize(newValue)
      },
    },
    data () {
      return {
        loading: false,
        intern: false,
        participant_type: 'contact',
        mb,      // This property is for load static or instance class
        participants: mb.instance('Participants'),
        showModalCreatepayment_types: false,
        payment_types_list: [],
      }
    },
    computed: {

      participantsFeedbacks () {
        return mb.statics('Participants').feedbacks
      },
      button_text () {
        return this.participants.get_id() ? 'Modificar' : 'Añadir'
      },
      modalTitle () {
        return this.participants.get_id()
          ? 'Modificar participante'
          : 'Añadir participante'
      }
    },

    mounted: function () {
      this.participants = mb.instance('Participants', this.model)
    },
    components: {

      Payment_types_form,
    },
    methods: {
      changeContact(value){
        const contact=this.$refs.select_contact.data.find((element)=>element.id==value)
        const array_name=contact.contact_full_name.split(" ")
         if(array_name.length==1){
            this.participants.participant_name=array_name[0];
            this.participants.apellidos='--';
         }
         if(array_name.length==2){
            this.participants.participant_name=array_name[0];
            this.participants.apellidos=array_name[1]
         }
         if(array_name.length==3){
            this.participants.participant_name=array_name.shift();
            this.participants.apellidos=array_name.join(' ');
         }
         if(array_name.length>3){
            this.participants.participant_name=array_name.shift()+" "+array_name.shift();
           this.participants.apellidos=array_name.join(' ');
         }
        this.participants.participant_email=contact.contact_email;
        this.participants.participant_phone=contact.contact_phone!=''?contact.contact_phone:"--";
      },
      openModalCreatepayment_types () {
        this.showModalCreatepayment_types = true
      },
      payment_typesAdded (refresh) {
        this.showModalCreatepayment_types = false
        refresh ? this.refreshpayment_types() : ''
      },
      async refreshpayment_types () {
        this.loading = true
        await this.$refs.select_payment_types.load()
        this.loading = false
      },
      cancel () {
        if (this.model === null) {
          this.$emit('close_modal', false)
        } else {
          this.modal ? this.close_modal(null, false) : this.$router.push({name: 'participants_list'})
        }
      },
      save_model (and_new = false) {
        if (this.$refs.form.validate()) {
          this.loading = true
          const accion = this.participants.get_id() ? 'actualizado' : 'añadido'
          this.participants
            .save()
            .then((response) => {
              if (utils.process_response(response, accion)) {
                if (this.model === null) {
                  this.$emit('close_modal', true)
                  return
                } else {
                  !and_new ? this.modal ? this.close_modal(null, true) : this.$router.push({name: 'participants_list'}) : this.participants = mb.instance('Participants')
                }
                this.load_data()
                this.$refs.form.vobject.$reset()
              }
              this.loading = false
            })
            .catch((error) => {
              this.loading = false
              utils.process_error(error)
            })
        }
      }
    }
  }
</script>

<style scoped>
  @import "participants_form.css";
</style>

