<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model()">
    <spinner v-if="loading" />
    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0" >

      <tc-form
        :feedbacks="mb.statics('Club_member_history').feedbacks"
        :vobject="$v"
        nested="club_member_history"
        ref="form"
        class="form-row"
      >
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Club_members<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el Club_members"
              name="club_member_id"
              :search_params= "{}"
              ref="select_club_member"
              :successFeed="false"
              :defaultValue="club_member_history.club_member_id"
              v-model="club_member_history.club_member_id"
              :url="mb.statics('Club_members').select_2_url"
            />
            <a-button type="dashed"
                      icon="plus"
                      class="dashed-primary rounded mt-1 ml-2"
                      @click="openModalCreateclub_member">
            </a-button>
          </div>
        </tc-form-item>

        <a-modal
          @cancel="showModalCreateclub_member = false"
          v-if="showModalCreateclub_member"
          class="modal-form"
          :visible="true"
          :header="null"
          :footer="null"
          :maskClosable="false"
        >
          <club_members_form :model="null" @close_modal="club_memberAdded"/>
        </a-modal>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Products<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el Products"
              name="product_id"
              :search_params= "{}"
              ref="select_product"
              :successFeed="false"
              :defaultValue="club_member_history.product_id"
              v-model="club_member_history.product_id"
              :url="mb.statics('Products').select_2_url"
            />
            <a-button type="dashed"
                      icon="plus"
                      class="dashed-primary rounded mt-1 ml-2"
                      @click="openModalCreateproduct">
            </a-button>
          </div>
        </tc-form-item>

        <a-modal
          @cancel="showModalCreateproduct = false"
          v-if="showModalCreateproduct"
          class="modal-form"
          :visible="true"
          :header="null"
          :footer="null"
          :maskClosable="false"
        >
          <products_form :model="null" @close_modal="productAdded"/>
        </a-modal>
      </tc-form>
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button v-if="!club_member_history.get_id()" :disabled="loading" class="btn btn-primary" @click="save_model(true)">Añadir y nuevo</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancel</button>
    </div>
  </div>
</template>

<script>
import Club_member_history from "../../../../../entities/models/modules/managment/club_member_history.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models"
  import Club_members_form from '../../club_members/form/club_members_form';
  import Products_form from '../../products/form/products_form';

export default {
  name: "club_member_history_form",
  inject: {
      close_modal: { default: ()=>{} },
      load_data: {default: () => {} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
      modal: {
        type: Boolean,
        default: false
      },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: mb.statics('Club_member_history').validations,
  data() {
    return {
      loading: false,
      mb,      // This property is for load static or instance class
      club_member_history: mb.instance( 'Club_member_history'),
      showModalCreateclub_member: false,
      club_members_list: [],
      showModalCreateproduct: false,
      products_list: [],
    };
  },
  computed: {
    club_member_historyFeedbacks() {
      return mb.statics('Club_member_history').feedbacks;
    },
    button_text() {
      return this.club_member_history.get_id() ? "Modificar" : "Añadir";
    },
    modalTitle() {
      return this.club_member_history.get_id()
        ? "Modificar Club_member_history"
        : "Añadir Club_member_history";
    }
  },

  mounted: function() {
    this.club_member_history = mb.instance( 'Club_member_history',this.model);

  },
  components: {

       Club_members_form,
       Products_form,
             },
  methods: {
      openModalCreateclub_member() {
        this.showModalCreateclub_member = true;
      },
      club_memberAdded(refresh) {
        this.showModalCreateclub_member = false;
        refresh?this.refreshclub_member():'';
      },
      async refreshclub_member() {
        this.loading = true;
        await this.$refs.select_club_member.load();
        this.loading = false;
      },
      openModalCreateproduct() {
        this.showModalCreateproduct = true;
      },
      productAdded(refresh) {
        this.showModalCreateproduct = false;
        refresh?this.refreshproduct():'';
      },
      async refreshproduct() {
        this.loading = true;
        await this.$refs.select_product.load();
        this.loading = false;
      },
      cancel(){
        if (this.model === null) {
          this.$emit('close_modal',false)
        } else {
        this.modal?this.close_modal(null,false):this.$router.push({name: 'club_member_history_list'})
       }
      },
    save_model(and_new=false) {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.club_member_history.get_id() ? "actualizado" : "añadido";
        this.club_member_history
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
                if (this.model === null) {
                  this.$emit('close_modal',true)
                  return;
               }
                else
                   !and_new?this.modal?this.close_modal(null,true):this.$router.push({name: 'club_member_history_list'}):this.club_member_history=mb.instance('Club_member_history');this.load_data();this.$refs.form.vobject.$reset()
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "club_member_history_form.css";
</style>

