<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Eventos</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Gestión de eventos</li>
      </ol>
    </nav>
    <div>
      <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6" style="text-align: end;">
          <div class="form-group">
            <div class="input-group mb-3">
              <a-tooltip placement="topLeft" title="Buscar..">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  v-model="filter"
                  placeholder="Buscar"
                  aria-label
                />
              </a-tooltip>
              <div class="input-group-append">
                <a-tooltip placement="topLeft" title="Limpiar Filtros">
                  <a-button
                    style="text-align: end"
                    class="rounded-0"
                    type="primary"
                    @click="filter=''"
                  >
                    <i class="fa fa-eraser" style="margin-right: 10px"/>Limpiar
                  </a-button>
                </a-tooltip>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <h6 style="text-align: left">Listado de Eventos</h6>
          </div>
          <div class="col-md-6" style="text-align: end;float: right">
            <div class="row">
              <div class="col-md-8" style="text-align: end">
                <p style="text-align: end">
                  Elementos seleccionados {{selectedRowKeys.length}}/{{data.length}}
                </p>
              </div>
              <div class="col-md-3">
                <a-dropdown-button style="margin-left: 45%;">
                  Exportar
                  <a-menu slot="overlay">
                    <a-menu-item key="1" @click="exportToExcel">
                      <a-icon type="file-excel" theme="twoTone" twoToneColor="#52c41a"/>
                      EXCEL
                    </a-menu-item>
                    <a-menu-item key="2" @click="">
                      <a-icon type="file-pdf" theme="twoTone" twoToneColor="#c41c33"/>
                      PDF
                    </a-menu-item>
                    <a-menu-item key="3" @click="exportToCSV">
                      <a-icon type="file-text" theme="twoTone" twoToneColor="#2771c4"/>
                      CSV
                    </a-menu-item>
                  </a-menu>
                </a-dropdown-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a-modal
        @cancel="onCloseModal"
        class="modal-form"
        width="55rem"
        :visible="show_modal_form"
        :destroyOnClose="true"
        on-ok="handleOk"
        :header="null"
        :footer="null"
        :maskClosable="false"

      >
        <event_form :modal=true :model="selected_model"/>
      </a-modal>
      <a-modal
        @cancel="onCloseModalPosp"
        class="modal-form"
        width="55rem"
        :visible="show_modal_posponer"
        :destroyOnClose="true"
        on-ok="handleOk"
        :header="null"
        :footer="null"
        :maskClosable="false"
        title="Posponer evento"

      >
        <event_actions_posp :modal=true :model="selected_model"/>
      </a-modal>
      <a-modal
        @cancel="onCloseModalCancel"
        class="modal-form"
        width="55rem"
        :visible="show_modal_cancel"
        :destroyOnClose="true"
        on-ok="handleOk"
        :header="null"
        :footer="null"
        :maskClosable="false"
        title="Cancelar Eventos"

      >
        <event_actions_cancel :modal=true :array_model="array_model"/>
      </a-modal>

      <a-table
        :columns="columns"
        :rowKey="record => record.id_event"
        :dataSource="data"
        :rowSelection="rowSelection"
        :loading="loading"
        :pagination="pagination.$data"
        :scroll="{ x: '130%' }"
      >
<!--            <action_buttons :object="record" :visible_view="false" :visible_delete="false" :visible_edit="record.state!='Cancelado'" :v_instance="self"-->
<!--                            :class_name="selected_model.class_name()"/>-->
        <a slot="action" style="height: 60px" slot-scope="record" href="javascript:;">
          <event_buy_action_buttons
            :object="record"
            :visible_view="false"
            :v_instance="self"
            :class_name="selected_model.class_name()"
            :event_name="record.event_name"
            :event_price="record.event_price"
            :event_date="record.date_init"
            :event_duration="record.event_duration"
            :event_is_all_day="record.is_all_day"
            :event_location="record.location.location"
            :event_emails="record.emails"
            :event_phones="record.phones"
            :event_id="record.id_event"
          />
        </a>
        <a slot="state" slot-scope="record" href="javascript:;">
          <div v-if="record.state==='Activo'" class="badge badge-success badge-pill">Activo</div>
          <div v-if="record.state==='Cancelado'" class="badge badge-danger badge-pill">Cancelado</div>
          <div v-if="record.state==='Inactivo'" class="badge badge-danger badge-pill">Inactivo</div>
        </a>
      </a-table>
    </div>
  </div>
</template>

<script>
  import * as utils from '../../../../../entities/utils/utils'
  import * as mb from '../../../../../entities/models'
  import action_buttons from '../../../../shared/table/action_buttons/action_buttons'
  import pagination_functions from '../../../../shared/table/pagination/pagination_options'
  import vantdpagination from '../../../../shared/table/pagination/antd_pagination'
  import event_form from '../../event/form/event_form'
  import event_actions_posp from '../../event_actions/form/event_actions_posp'
  import event_actions_cancel from '../../event_actions/form/event_actions_cancel'
  import Event_buy_action_buttons from '../buttons/event_buy_action_buttons'

  export default {
    name: 'event_buy_list',
    provide: function () {
      return {
        close_modal: this.onCloseModal,
        load_data: this.load_data,
        close_modal_posp: this.onCloseModalPosp,
        close_modal_cancel: this.onCloseModalCancel

      }
    },
    data () {
      return {
        data: [],
        self: null,
        event_list: [],
        filter: null,
        columns: mb.statics('Event').show_columns([
          'event_name', 'event_price', 'is_all_day', 'event_duration', 'amount_guess', 'location.location', 'state', 'action_elements', 'date_init', 'date_end'
        ], true),
        loading: false,
        text_select: 'Select All',
        selectedRowKeys: [],
        array_model: [],
        pagination: vantdpagination,
        selected_model: mb.instance('Event'),
        show_modal_form: false,
        show_modal_posponer: false,
        show_modal_cancel: false,
        mb
      }
    },
    components: {
      Event_buy_action_buttons,
      action_buttons,
      pagination_functions,
      vantdpagination,
      event_form,
      event_actions_posp,
      event_actions_cancel,
    },
    watch: {
      filter: function () {
        this.data = this.event_list.data.filter(this.filter_data)
      },
      selectedRowKeys: function () {
        if (this.selectedRowKeys.length == this.data.length) {
          this.text_select = 'Desseleccionar todo'
        } else {
          this.text_select = 'Seleccionar todo'
        }
      }
    },
    computed: {
      disabledTemplate () {
        return this.selectedRowKeys.length == 1 ? false : true
      },
      disabledCancel () {
        return this.selectedRowKeys.length > 0 ? false : true
      },
      rowSelection () {
        const {selectedRowKeys} = this
        return {
          selectedRowKeys,
          hideDefaultSelections: true,
          selections: [
            {
              key: 'all-data',
              text: this.text_select,
              onSelect: () => {
                if (this.selectedRowKeys.length == this.data.length) {
                  this.selectedRowKeys = []
                } else {
                  this.selectedRowKeys = this.data.map(e => {
                    return e.id_event
                  })
                }
              }
            }
          ],
          onSelection: this.onSelection,
          onChange: this.onChange
        }
      }
    },
    methods: {
      onCloseModalPosp (e, reload_data = false) {
        this.selected_model = mb.instance('Event')
        this.show_modal_posponer = false
        reload_data ? this.load_data() : ''
      },
      onCloseModalCancel (e, reload_data = false) {
        this.show_modal_cancel = false
        this.selectedRowKeys = []
        reload_data ? this.load_data() : ''
      },
      showModalFormPosp () {
        this.show_modal_posponer = !this.show_modal_posponer
      },
      showModalFormCancel () {
        this.show_modal_cancel = !this.show_modal_cancel
      },
      onShowPosp (model) {
        this.selected_model = mb.instance('Event', model)
        this.showModalFormPosp()
      },
      onShowCancel () {
        this.showModalFormCancel()
      },
      exportToExcel () {
        utils.exportToExcelVinstance(this)
      },
      exportToCSV () {
        utils.exportToCSV(this)
      },
      onCloseModal (e, reload_data = false) {
        this.selected_model = mb.instance('Event')
        this.show_modal_form = false
        reload_data ? this.load_data() : ''
      },
      showModalForm () {
        if (!this.selected_model.get_id()) {
          this.$router.push({name: 'add_event'})
        } else {
          this.$router.push({name: 'update_event', params: {id: this.selected_model.get_id()}})
        }

      },
      createTemplate () {
        const _this = this
        this.$confirm({
          title: 'Crear plantilla',
          content: 'Desea crear un nuevo evento a partir de este evento como plantilla?',
          onOk () {
            const model = _this.data.find((el) => el.id_event === _this.selectedRowKeys[0])
            mb.statics('Event')
              .custom('post', 'register_template', model)
              .then((response) => {
                if (utils.process_response(response, ' creado a partir de la plantilla ')) {
                  _this.$router.push({
                    name: 'add_event_template', props: {}, params: {
                      id: response.data.id_event,
                      template: true
                    }
                  })
                }
                _this.loading = false
              })
              .catch((error) => {
                _this.loading = false
                utils.process_error(error)
              })
          },
          onCancel () {

          },
          class: 'test',
        })

      },
      createCancel () {
        const _this = this
        this.$confirm({
          title: 'Cancelar Eventos',
          content: 'Desea cancelar los eventos seleccionados?',
          onOk () {
            _this.array_model = _this.data.filter((el) => _this.selectedRowKeys.indexOf(el.id_event)!=-1)
            _this.onShowCancel()
          },
          onCancel () {

          },
          class: 'test',
        })

      },
      filter_data (object) {
        return utils.filter_object_column(object, this.filter, this.columns)
      },
      onChange: function (selectedRowKeys) {
        this.selectedRowKeys = selectedRowKeys
      },
      showDeleteConfirm () {
        if (this.selectedRowKeys.length == 0) {
          utils.openNotificationWithIcon(
            'error',
            'Eliminar elementos seleccionados',
            'Debe seleccionar al menos u elemento'
          )
          return
        }
        let _this = this
        this.$confirm({
          title: 'Eliminar elementos seleccionados?',
          icon: 'delete',
          // icon:()=>{return ( <a-icon type="delete" style="color:red"/> )},
          okText: 'Si',
          okType: 'danger',
          class: 'delete_confirm',
          cancelText: 'No',
          async onOk () {
            try {
              const response = await mb.statics('Event').delete_by_ids(
                _this.selectedRowKeys
              )
              utils.process_response(response, 'borrado(s)')
              _this.selectedRowKeys = []
              _this.load_data()
            } catch (error) {
              utils.process_error(error)
              _this.selectedRowKeys = []
            }
          },
          onCancel () {
          }
        })
      },
      async load_data () {
        try {
          this.loading = true
          var params = {}
          params.relations = ['register_type', 'event_type', 'location']

          const resp = await mb.statics('Event').list(params)
          this.event_list = resp
          this.data = this.event_list.data.filter(this.filter_data)
          this.loading = false
        } catch (error) {
          utils.process_error(error)
          this.loading = false
        }
      },

      onEditing (model) {
        this.selected_model = mb.instance('Event', model)
        this.showModalForm()
      }
    },

    mounted () {
      this.loading = true
      this.data = []
      this.load_data()
      this.self = this
      this.pagination.$options.props = {
        load_data: this.load_data
      }
    }
  }
</script>

<style>

  @import "event_list.css";
</style>

