<template>
  <div>

    <div class="col-md-12">
      <!-- begin page title -->

      <div class="user-welcome d-block d-xl-flex flex-nowrap align-items-center" style="border: 1px solid #e8e8e8;border-bottom: 0px solid #e8e8e8 !important;">
        <div class="col-lg-12" style="padding-left: 0px !important; padding-right: 0px !important;">
          <div class="card card-statistics widget-social-box14" style="margin-bottom: 0px !important;">
            <div class="card-body p-0">
              <div class="media widget-social-contant align-items-center p-4">
                <div class="bg-img mr-3"><img class="img-fluid" :src="image" alt="socialwidget-img"></div>
                <div class="pr-1">
                  <h4 class="mb-0">{{ club_members.get_full_name()}} </h4>

                  <p>Código {{club_members.club_member_code}}</p>
                </div>

                <div class="ml-auto d-flex align-items-center secondary-menu text-center">
                  <h4>
                        <span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-success-inverse text-bold" style="color: #32b432;">
                          Saldo: {{$store.site.user.club_member.clum_members_currency}} (IC)
                        </span>
                  </h4>
                </div>
              </div>

            </div>
          </div>

        </div>
        <!--            <div class="bg-img mb-2 mb-xl-0 mr-3">-->
        <!--              <img class="img-fluid rounded" :src="image" alt="user">-->
        <!--            </div>-->
        <!--            <div class="page-title mb-2 mb-xl-0">-->
        <!--              <h1 class="mb-1">Perfil del miembro {{ club_members.get_full_name()}} </h1>-->
        <!--              <h4>Código {{club_members.club_member_code}}</h4>-->

        <!--            </div>-->

      </div>
    </div>
    <a-card title="Historial del miembro"
            style="padding-left: 0px!important;padding-right: 0px!important; background-color: #ffffff !important; padding-bottom: 30px !important;"
    >
    <div class="">
      <div class="">
        <div class="">
          <div class="tab nav-border-bottom">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home" role="tab"
                   aria-controls="home" aria-selected="true">Inner Coins</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                   aria-controls="profile" aria-selected="false">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="portfolio-tab" data-toggle="tab" href="#portfolio" role="tab"
                   aria-controls="portfolio" aria-selected="false">Servicios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="subscription-tab" data-toggle="tab" href="#subscription" role="tab"
                   aria-controls="portfolio" aria-selected="false">Subscripciones</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade active show py-3" id="home" role="tabpanel" aria-labelledby="home-tab">
                <a-table
                  :columns="columns_amount"
                  :rowKey="record => record.id_amount_club_member"
                  :dataSource="data_amount"
                  :loading="loading_amount"
                  :pagination="pagination_amount.$data"
                >
                  <a slot="amount" slot-scope="record" href="javascript:;">
                    <a-tooltip placement="top" title="Cuenta">
            <span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-pill badge-success "
                  style="font-size: 12px">{{record.amount}} (IC)</span>
                    </a-tooltip>
                  </a>
                </a-table>
              </div>
              <div class="tab-pane fade py-3" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div>
                  <div class="card-header">
                    <div class="row">
                      <div class="col-md-6">
                        <h6 style="text-align: left">Historial de productos comprados por el miembro {{
                          club_members.club_members_name+' '+ club_members.club_member_last_name}}</h6>
                      </div>
                      <div class="col-md-6" style="text-align: end;float: right">
                        <div class="row">
                          <div class="col-md-12">
<!--                            <a-dropdown-button style="margin-left: 45%;float: right">-->
<!--                              Exportar-->
<!--                              <a-menu slot="overlay">-->
<!--                                <a-menu-item key="1" @click="exportToExcel">-->
<!--                                  <a-icon type="file-excel" theme="twoTone" twoToneColor="#52c41a"/>-->
<!--                                  EXCEL-->
<!--                                </a-menu-item>-->
<!--                                &lt;!&ndash;                    <a-menu-item key="2" @click=""><a-icon type="file-pdf" theme="twoTone" twoToneColor="#c41c33" />PDF</a-menu-item>&ndash;&gt;-->

<!--                                <a-menu-item key="3" @click="exportToCSV">-->
<!--                                  <a-icon type="file-text" theme="twoTone" twoToneColor="#2771c4"/>-->
<!--                                  CSV-->
<!--                                </a-menu-item>-->
<!--                              </a-menu>-->
<!--                            </a-dropdown-button>-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="offset-6 col-md-6" style="text-align: end;">
                      <div class="form-group">
                        <div class="input-group mb-3">
                          <a-tooltip placement="topLeft" title="Buscar..">
                            <input
                              type="text"
                              class="form-control form-control-sm"
                              v-model="filter"
                              placeholder="Buscar"
                              aria-label
                            />
                          </a-tooltip>
                          <div class="input-group-append">
                            <a-tooltip placement="topLeft" title="Limpiar filtros">
                              <a-button
                                style="text-align: end"
                                class="rounded-0"
                                type="primary"
                                @click="filter=''"
                              >
                                <i class="ti ti-eraser" style="margin-right: 10px"/>Limpiar
                              </a-button>
                            </a-tooltip>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a-table
                    :columns="columns"
                    :rowKey="record => record.id_club_member_history"
                    :dataSource="data_p"
                    :loading="loading_product"
                    :pagination="pagination_p.$data"
                  >
                    <a slot="price" slot-scope="record" href="javascript:;">
                      <span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-pill badge-info">{{record.ammount.toFixed(2)}} (IC))</span>
                    </a>
                  </a-table>
                </div>
              </div>
              <div class="tab-pane fade py-3" id="portfolio" role="tabpanel" aria-labelledby="portfolio-tab">
                <div>
                  <div class="card-header">
                    <div class="row">
                      <div class="col-md-6">
                        <h6 style="text-align: left">Historial de servicios comprados por el miembro {{
                          club_members.club_members_name+' '+club_members.club_member_last_name}}</h6>
                      </div>
                      <div class="col-md-6" style="text-align: end;float: right">
                        <div class="row">
                          <div class="col-md-12">
<!--                            <a-dropdown-button style="margin-left: 45%;float: right">-->
<!--                              Exportar-->
<!--                              <a-menu slot="overlay">-->
<!--                                <a-menu-item key="1" @click="exportToExcel">-->
<!--                                  <a-icon type="file-excel" theme="twoTone" twoToneColor="#52c41a"/>-->
<!--                                  EXCEL-->
<!--                                </a-menu-item>-->
<!--                                &lt;!&ndash;                    <a-menu-item key="2" @click=""><a-icon type="file-pdf" theme="twoTone" twoToneColor="#c41c33" />PDF</a-menu-item>&ndash;&gt;-->

<!--                                <a-menu-item key="3" @click="exportToCSV">-->
<!--                                  <a-icon type="file-text" theme="twoTone" twoToneColor="#2771c4"/>-->
<!--                                  CSV-->
<!--                                </a-menu-item>-->
<!--                              </a-menu>-->
<!--                            </a-dropdown-button>-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="offset-6 col-md-6" style="text-align: end;">
                      <div class="form-group">
                        <div class="input-group mb-3">
                          <a-tooltip placement="topLeft" title="Buscar..">
                            <input
                              type="text"
                              class="form-control form-control-sm"
                              v-model="filter_services"
                              placeholder="Buscar"
                              aria-label
                            />
                          </a-tooltip>
                          <div class="input-group-append">
                            <a-tooltip placement="topLeft" title="Limpiar filtros">
                              <a-button
                                style="text-align: end"
                                class="rounded-0"
                                type="primary"
                                @click="filter_services=''"
                              >
                                <i class="ti ti-eraser" style="margin-right: 10px"/>Limpiar
                              </a-button>
                            </a-tooltip>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <a-table
                    :columns="columns_services"
                    :rowKey="record => record.id_club_member_history"
                    :dataSource="data_s"
                    :loading="loading_services"
                    :pagination="pagination_s.$data"
                  >
                    <a slot="price" slot-scope="record" href="javascript:;">
                      <span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-pill badge-info">{{record.services.service_cost}} (IC)</span>
                    </a>
                  </a-table>
                </div>
              </div>
              <div class="tab-pane fade py-3" id="subscription" role="tabpanel" aria-labelledby="portfolio-tab">
                <div>
                  <div class="card-header">
                    <div class="row">
                      <div class="col-md-6">
                        <h6 style="text-align: left">Subscripciones del miembro {{
                          club_members.club_members_name+' '+club_members.club_member_last_name}}</h6>
                      </div>
                      <div class="col-md-6" style="text-align: end;float: right">
<!--                        <div class="row">-->
<!--                          <div class="col-md-12">-->
<!--                            <a-dropdown-button style="margin-left: 45%;float: right">-->
<!--                              Exportar-->
<!--                              <a-menu slot="overlay">-->
<!--                                <a-menu-item key="1" @click="exportToExcel">-->
<!--                                  <a-icon type="file-excel" theme="twoTone" twoToneColor="#52c41a"/>-->
<!--                                  EXCEL-->
<!--                                </a-menu-item>-->
<!--                                &lt;!&ndash;                    <a-menu-item key="2" @click=""><a-icon type="file-pdf" theme="twoTone" twoToneColor="#c41c33" />PDF</a-menu-item>&ndash;&gt;-->

<!--                                <a-menu-item key="3" @click="exportToCSV">-->
<!--                                  <a-icon type="file-text" theme="twoTone" twoToneColor="#2771c4"/>-->
<!--                                  CSV-->
<!--                                </a-menu-item>-->
<!--                              </a-menu>-->
<!--                            </a-dropdown-button>-->
<!--                          </div>-->
<!--                        </div>-->
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="offset-6 col-md-6" style="text-align: end;">
                      <div class="form-group">
                        <div class="input-group mb-3">
                          <a-tooltip placement="topLeft" title="Buscar..">
                            <input
                              type="text"
                              class="form-control form-control-sm"
                              v-model="filter_services"
                              placeholder="Buscar"
                              aria-label
                            />
                          </a-tooltip>
                          <div class="input-group-append">
                            <a-tooltip placement="topLeft" title="Limpiar filtros">
                              <a-button
                                style="text-align: end"
                                class="rounded-0"
                                type="primary"
                                @click="filter_services=''"
                              >
                                <i class="ti ti-eraser" style="margin-right: 10px"/>Limpiar
                              </a-button>
                            </a-tooltip>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <a-table
                    :columns="columns_services"
                    :rowKey="record => record.id_club_member_history"
                    :dataSource="data_s"
                    :loading="loading_services"
                    :pagination="pagination_s.$data"
                  >
                    <a slot="price" slot-scope="record" href="javascript:;">
                      <span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-pill badge-info">{{record.services.service_cost}} (IC)</span>
                    </a>
                  </a-table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </a-card>
  </div>
</template>

<script>
  import ACard from "ant-design-vue/lib/card";
  import * as mb from '../../../entities/models'
  import moment from 'moment'
  import vantdpagination from '../../shared/table/pagination/antd_pagination'
  import * as utils from '../../../entities/utils/utils'

  export default {
    name: 'index_member',
    provide: function () {
      return {
        load_data: this.load_data
      }
    },
    data () {
      return {
        mb,
        user: {},
        image: null,
        moment,
        club_member_history_list: [],
        club_member_history_services_list: [],
        filter: null,
        filter_services: null,
        data_amount: [],
        data_p: [],
        data_s: [],
        loading_amount: false,
        loading_product: true,
        loading_services: false,
        club_members: {},
        pagination_amount: vantdpagination,
        pagination_p: vantdpagination,
        pagination_s: vantdpagination,
        columns_amount: mb.statics('Amount_club_member').show_columns(['user.username', 'amount', 'date_at', 'amiunt_description'], true),
        columns: mb.statics('Club_member_history').show_columns(['product.product_name','cant_element','ammount','created_at']),
        columns_services: mb.statics('Club_member_history').show_columns(['services.service_name','history_description','price','created_at']),

      }
    },
    components: {
      vantdpagination,
    },
    watch: {
      filter: function () {
        this.data_p = this.club_member_history_list.data.filter(this.filter_data)
      },
      filter_services: function () {
        this.data_s = this.club_member_history_services_list.data.filter(this.filter_data_services)
      },
    },
    methods: {
      exportToExcel () {
        utils.exportToExcelVinstance(this)
      },
      exportToCSV () {
        utils.exportToCSV(this)
      },
      async load_data () {
        await this.loading_amount()
      },
      filter_data (object) {
        return utils.filter_object_column(object, this.filter, this.columns)
      },
      filter_data_services (object) {
        return utils.filter_object_column(object, this.filter_services, this.columns_services)
      },
      async load_data_p () {
        try {
          this.loading_product = true
          var params = {}
          params.relations = ['club_member', 'product']
          params.attr = {club_member_id: this.club_members.id_club_members}
          params.oper = ['is not|product_id|null']
          const resp = await mb.statics('Club_member_history').list(params)
          this.club_member_history_list = resp
          this.data_p = this.club_member_history_list.data.filter(this.filter_data)
          this.loading_product = false
        } catch (error) {
          utils.process_error(error)
          this.loading_product = false
        }
      },
      async load_data_s () {
        try {
          this.loading_services = true
          var params={}
          params.relations = ['club_member', 'services']
          params.attr = {club_member_id: this.club_members.id_club_members}
          params.oper = ['is not|services_id|null']
          this.club_member_history_services_list = await mb.statics('Club_member_history').list(params)
          this.data_s = this.club_member_history_services_list.data.filter(this.filter_data_services)
          this.loading_services = false
        } catch (error) {
          utils.process_error(error)
          this.loading_services = false
        }
      },
      async load_data_amount () {
        try {
          this.loading_amount = true
          var params = {}
          params.relations = ['user', 'club_member']
          params.orderby = [{date_at: 3}]
          params.attr = {id_club_member: this.$store.site.user.club_member.id_club_members}
          const resp = await mb.statics('Amount_club_member').list(params)
          this.amount_club_member_list = resp
          this.data_amount = this.amount_club_member_list.data
          this.loading_amount = false
        } catch (error) {
          utils.process_error(error)
          this.loading_amount = false
        }
      },
    },
    async beforeMount () {
      this.user = this.$store.site.user
      this.club_members = mb.instance('Club_members', this.$store.site.user.club_member)
      this.image = mb.statics('Users').getImageURL(this.user.image)
      this.load_data_amount()
      this.load_data_p()
      this.load_data_s()
      this.pagination_amount.$options.props = {
        load_data: this.load_data_amount
      }
      this.pagination_p.$options.props = {
        load_data: this.load_data_p
      }
      this.pagination_s.$options.props = {
        load_data: this.load_data_s
      }

    }
  }
</script>

<style scoped>

</style>
