<template>
  <div>
    <index_member v-if="$store.site.is_member"/>
    <index_admin v-if="!$store.site.is_member"/>
  </div>
</template>

<script>
  import * as mb from '../../../entities/models'
  import moment from 'moment'
  import index_admin from './index_admin'
  import index_member from './index_member'
  export default {
    name: 'index',
    data () {
      return {
        mb,
        user: {},
        image: null,
        moment
      }
    },
    components:{
      index_member,
      index_admin
    },
    async beforeMount () {
      this.user=this.$store.site.user;
      this.image=mb.statics('Users').getImageURL(this.user.image)
    }
  }
</script>

<style scoped>

</style>
