<template>
    <div>
      <div class="d-block d-lg-flex flex-nowrap align-items-center p-b-20">
        <div class="page-title mr-4 pr-4 border-right">
          <h1>Dashboard</h1>
        </div>
        <div class="breadcrumb-bar align-items-center">
          <nav>
            <ol class="breadcrumb p-0 m-b-0">
              <li class="breadcrumb-item">
                <a href="/"><i class="ti ti-home"></i></a>
              </li>
              <li class="breadcrumb-item">
                Dashboard
              </li>
            </ol>
          </nav>
        </div>
<!--        <div class="ml-auto d-flex align-items-center secondary-menu text-center">-->
<!--          <a-tooltip>-->
<!--            <template slot='title'>-->
<!--              Facturas-->
<!--            </template>-->
<!--            <a href="javascript:void(0);" @click="redirect('/billings/billings_list')" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Todo list">-->
<!--              <i class="fe fe-edit btn btn-icon text-primary"></i>-->
<!--            </a>-->
<!--          </a-tooltip>-->
<!--          <a href="javascript:void(0);" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Projects">-->
<!--            <i class="fa fa-lightbulb-o btn btn-icon text-success"></i>-->
<!--          </a>-->
<!--          <a href="javascript:void(0);" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Task">-->
<!--            <i class="fa fa-check btn btn-icon text-warning"></i>-->
<!--          </a>-->
<!--          <a href="javascript:void(0);" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Calendar">-->
<!--            <i class="fa fa-calendar-o btn btn-icon text-cyan"></i>-->
<!--          </a>-->
<!--          <a href="javascript:void(0);" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Analytics">-->
<!--            <i class="fa fa-bar-chart-o btn btn-icon text-danger"></i>-->
<!--          </a>-->
<!--          <a href="javascript:void(0);" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Analytics">-->
<!--            <i class="fa fa-bar-chart-o btn btn-icon text-danger"></i>-->
<!--          </a>-->
<!--        </div>-->
      </div>

<!--      <page_stats/>-->
<!--      <div class="row">-->
<!--        <div class="col-md-12 m-b-30">-->
<!--          &lt;!&ndash; begin page title &ndash;&gt;-->

<!--          <div class="user-welcome d-block d-xl-flex flex-nowrap align-items-center">-->
<!--            <div class="bg-img mb-2 mb-xl-0 mr-3">-->
<!--              <img class="img-fluid rounded" :src="image" alt="user">-->
<!--            </div>-->
<!--            <div class="page-title mb-2 mb-xl-0">-->
<!--              <h1 class="mb-1">Bienvenido {{ $store.site.user.nombre_usuario}} {{ $store.site.user.apellido_usuario}} </h1>-->
<!--              <p>You have 7 essential tasks today, 8 messages and notifications to respond.</p>-->
<!--            </div>-->
<!--&lt;!&ndash;            <div class="ml-auto d-flex align-items-center secondary-menu text-center" >-->
<!--              <a href="javascript:void(0);" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Todo list">-->
<!--                <i class="fe fe-edit btn btn-icon text-primary"></i>-->
<!--              </a>-->
<!--              <a href="javascript:void(0);" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Projects">-->
<!--                <i class="fa fa-lightbulb-o btn btn-icon text-success"></i>-->
<!--              </a>-->
<!--              <a href="javascript:void(0);" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Task">-->
<!--                <i class="fa fa-check btn btn-icon text-warning"></i>-->
<!--              </a>-->
<!--              <a href="javascript:void(0);" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Calendar">-->
<!--                <i class="fa fa-calendar-o btn btn-icon text-cyan"></i>-->
<!--              </a>-->
<!--              <a href="javascript:void(0);" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Analytics">-->
<!--                <i class="fa fa-bar-chart-o btn btn-icon text-danger"></i>-->
<!--              </a>-->
<!--            </div>-->
<!--            <div class="ml-xl-4 mt-xl-0 ml-0 mt-3 d-flex align-items-center">-->
<!--              <div class="dropdown">-->
<!--                <a class="btn btn-primary" href="#!" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                  Add New-->
<!--                </a>-->
<!--                <div class="dropdown-menu custom-dropdown dropdown-menu-right dropdown-menu-left-mobile p-4">-->
<!--                  <a class="dropdown-item" href="#"><i class="ti ti-layers-alt"></i>Add Project </a>-->
<!--                  <a class="dropdown-item" href="#"><i class="ti ti-files"></i>Add Task </a>-->
<!--                  <a class="dropdown-item" href="#"><i class="ti ti-id-badge"></i>Add Team </a>-->
<!--                  <a class="dropdown-item" href="#"><i class="ti ti-pencil-alt"></i>Leave App </a>-->
<!--                  <a class="dropdown-item" href="#"><i class="ti ti-email"></i>New Message</a>-->
<!--                  <a class="dropdown-item" href="#"><i class="ti ti-user"></i>Edit Profile</a>-->
<!--                  <a class="dropdown-item" href="#"><i class="ti ti-settings"></i>Settings</a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; end page title &ndash;&gt;-->
<!--      </div>-->

      <div v-if="!$store.site.is_member && counter.length>0" class="row row-action-buttons">

        <div class="col-xs-6 col-xxl-2 m-b-30">
          <div class="card card-statistics h-100 m-b-0 bg-pink" @click="redirect('/billings/billings_list')"
               style="cursor: pointer">
            <div class="card-body">
              <h2 class="text-white mb-0">{{counter[0].count_all}}</h2>
              <p class="text-white">Facturas</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-xxl-2 m-b-30">
          <div class="card card-statistics h-100 m-b-0 bg-primary" @click="redirect('/managment/club_members_list')"
               style="cursor: pointer">
            <div class="card-body">
              <h2 class="text-white mb-0">{{counter[1].count_all}}</h2>
              <p class="text-white">Miembros </p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-xxl-2 m-b-30">
          <div class="card card-statistics h-100 m-b-0 bg-orange" @click="redirect('/managment/contacts_list')"
               style="cursor: pointer">
            <div class="card-body">
              <h2 class="text-white mb-0">{{counter[2].count_all}}</h2>
              <p class="text-white">Contactos</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-xxl-2 m-b-30">
          <div class="card card-statistics h-100 m-b-0 bg-behance" @click="redirect('/managment/products_list')"
               style="cursor: pointer">
            <div class="card-body">
              <h2 class="text-white mb-0">{{counter[3].count_all}}</h2>
              <p class="text-white">Productos </p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-xxl-2 m-b-30">
          <div class="card card-statistics h-100 m-b-0 bg-info" @click="redirect('/managment/employees_list')"
               style="cursor: pointer">
            <div class="card-body">
              <h2 class="text-white mb-0">{{counter[4].count_all}}</h2>
              <p class="text-white">Empleados</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-xxl-2 m-b-30">
          <div class="card card-statistics h-100 m-b-0 bg-cyan" @click="redirect('/managment/services_list')"
               style="cursor: pointer">
            <div class="card-body">
              <h2 class="text-white mb-0">{{counter[5].count_all}}</h2>
              <p class="text-white">Servicios</p>
            </div>
          </div>
        </div>
      </div>
      <div v-if="!$store.site.is_member" class="row">
        <div v-if="$store.site.is_member" class="col-xl-6 col-xxl-4 mb-30">

          <div class="card card-statistics h-100 mb-0">
            <div class="card-header d-flex justify-content-between">
              <div class="card-heading">
                <h4 class="card-title">Listado de trabajadores</h4>
              </div>
              <div class="dropdown">
              </div>
            </div>
            <div class="card-body">
              <div class="row align-items-center m-b-20" v-for="(w, counter) in worker" v-bind:key="counter">
                <div class="bg-img">
                  <a-avatar size="large" :src="mb.statics('Employees').getImageURL(w.employee_picture)"/>
                </div>
                <div class="col-12 col-sm-6 mb-3 mb-sm-0">
                  <h4 class="mb-0">{{w.employee_name}}{{w.employee_last_name}} </h4>
                  <span>{{w.employee_email_owned}}</span>
                </div>
                <div class="col-3">
                  <label class="badge badge-primary-inverse">Trabajador</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-8 mb-30">

          <a-card title="Top 20 de miembros con mas INNER COINS"
                  style="background-color: #fff"
                  :bodyStyle="{padding:'0px', background:'#FFFFFF'}"
          >
            <a href="javascript:void(0);" @click="redirect('/managment/club_members_list')" slot="extra">Ver todos</a>
                <div class="table-responsive">
                  <table class="table mb-0">
                    <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Correo</th>
                      <th scope="col">Inner Coins</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(m, counter) in members" v-bind:key="counter">
                      <td><a-avatar size="large" :src="mb.statics('Club_members').getImageURL(m.club_members_picture)"/></td>
                      <td>{{m.club_members_name}} {{m.club_member_last_name}}</td>
                      <td>{{m.club_members_email}}</td>
                      <td><label class="badge badge-success-inverse">{{m.clum_members_currency}} IC</label></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
          </a-card>

        </div>
      </div>
      <div v-if="!$store.site.is_member" class="row">


        <div class="col-xl-12 col-xxl-4 mb-30">
          <div class="card card-statistics h-100 mb-0">
            <div class="card-header d-flex justify-content-between">
              <div class="card-heading">
                <h4 class="card-title">Eventos</h4>
              </div>
            </div>
            <div class="card-body">
              <ul class="activity">
                <li class="activity-item primary" v-for="(e, counter) in events" v-bind:key="counter">
                  <div class="activity-info">
                    <h5 class="mb-0">{{e.event_name}}</h5>
                    <span>{{moment(e.date_init).format("DD/MM/YYYY H:mm a")}}</span>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
  import * as mb from '../../../entities/models'
  import moment from 'moment'
  import Page_stats from "./elements/page_stats";
  export default {
    name: 'index_admin',
    components: {Page_stats},
    data () {
      return {
        mb,
        user: {},
        image: null,
        counter: [],
        worker: [],
        members: [],
        events: [],
        moment
      }
    },
    methods:{
      redirect(option) {
        this.$router.push(option).catch(()=>{});
      }
    },
    async beforeMount () {
      this.user=this.$store.site.user;
      this.image=mb.statics('Users').getImageURL(this.user.image)
      const response = await mb.statics('Count_all').list()
      this.counter = response.data
      const params = {}
      params.pagination = {page: 0, pagesize: 10}
      const response_worker = await mb.statics('Employees').list(params)
      const response_event = await mb.statics('Event').list(params)
      this.worker = response_worker.data.items
      this.events = response_event.data.items
      const response_members = await mb.statics('Cant_transaction').list(params)
      this.members = response_members.data.items

    }
  }

</script>

<style scoped>

</style>
