<template>
  <div class="row no-gutters" v-on:keyup.enter="reset_pass">
    <tc-form
      nested="user"
      :feedbacks="feedbacks"
      :vobject="$v"
      ref="form"
      class="mt-12 mt-sm-5 " style="margin-left: 5rem">
      <div style="width: 35rem">
        <tc-form-item>
          <tc-input type="text" style="width: 35rem" v-model.trim="user.email" name="email"
                    placeholder="Ingrese el correo electrónico"
                    class="login-input"/>
        </tc-form-item>
        <div class="mt-3">
          <a-button class="text-uppercase btn" @click="reset_pass" :loading="loading">
            Enviar correo
          </a-button>

        </div>

      </div>
    </tc-form>
  </div>
</template>

<script>
  import {email, required} from 'vuelidate/lib/validators'
  import Users from '../../../entities/models/modules/security/users.model'
  import * as mb from '../../../entities/models'
  import * as utils from '../../../entities/utils/utils'
  import SiteModel from '../../../entities/models/site.model'
  import {openNotificationWithIcon} from '../../../entities/utils/utils'

  export default {
    name: 'init_pass',
    validations: {
      user: {
        email: {
          required,
          email,
          async isUnique (value, object) {
            if (!value) {
              return true
            }
            const _specific = true
            const {id_user, email} = object
            const params = {id_user, email}
            const _scenario = id_user ? 'update' : undefined
            const validation = await Users.validate({...params, _specific, _scenario})
            return !validation.data ? true : !validation.data.success
          }
        }
      }
    },
   methods:{
     reset_pass () {
       if (this.$refs.form.validate()) {
         this.loading = true
         SiteModel.custom('post','site/reset_pass',{email:this.user.email})
           .then((response) => {
             if(response.data.success) {
               openNotificationWithIcon('success', 'Reinicio de contraseña', "Se ha enviado un correo con la nueva contraseña")
               this.$router.push({name: 'index'})
             }
             else
               openNotificationWithIcon('error', 'Reinicio de contraseña', "Error en el envio")
             this.loading = false
           })
           .catch((error) => {
             this.loading = false
             utils.process_error(error)
           })
       }
     }

   },
    data () {
      return {
        feedbacks : {
          user: {
            email: {
              isUnique: 'Este correo no se encuentra registrado en el sistema'
            }
          },
        },
        user: {
          email: ''
        },
        loading: false
      }
    },
  }
</script>

<style scoped>

</style>
