<template>
  <div>
    <!-- begin pre-loader -->
    <!-- end pre-loader -->
    <!--start login contant-->
    <div class="app-contant">
      <div class="bg-white comingsoon">
        <div class="container-fluid p-0">
          <div class="row no-gutters">
            <div class="col-lg-6 align-self-center bg-gradient">
              <div class="d-flex align-items-center h-100-vh">
                <div class="comingsoon-wrap w-100">
                  <div class="row no-gutters align-items-center justify-content-center" style="color: white">
                    <tc-form
                      :feedbacks="mb.statics('Club_members').feedbacks"
                      :vobject="$v"
                      nested="club_members"
                      ref="form"
                      class="form-row"
                    >
                      <tc-form-item class="form-group mb-0 col-md-6 px-3">
                        <label>Nombre <span class='required_field'>*</span></label>
                        <tc-input placeholder='Ingrese el nombre' name='club_members_name' type_car=""
                                  v-model="club_members.club_members_name"></tc-input>
                      </tc-form-item>
                      <tc-form-item class="form-group mb-0 col-md-6 px-3">
                        <label>Apellidos</label>
                        <tc-input placeholder='Ingrese los apellidos' name='club_member_last_name'
                                  v-model="club_members.club_member_last_name"></tc-input>
                      </tc-form-item>
                      <tc-form-item class="form-group mb-0 col-md-6 px-3">
                        <label>Pasaporte/DNI<span class="required_field">*</span></label>
                        <tc-input placeholder="Ingrese el dni o pasaporte" name="club_members_dni" type_car="num_car"
                                  v-model="club_members.club_members_dni"></tc-input>
                      </tc-form-item>
                      <tc-form-item class="form-group mb-0 col-md-6 px-3">
                        <label>Fecha de Nacimiento<span class="required_field">*</span></label>
                        <div class="d-flex flex-row">
                          <tc-date-picker :default-value="defaultValue" :disabled-date="disabledDate"
                                          name="club_members_birthday" v-model="club_members.club_members_birthday"/>
                        </div>
                      </tc-form-item>
                      <tc-form-item class="form-group mb-0 col-md-6 px-3">
                        <label>Correo<span class="required_field">*</span></label>
                        <tc-input placeholder="Ingrese el correo" name="club_members_email" type_car="num_car"
                                  v-model="club_members.club_members_email"></tc-input>
                      </tc-form-item>
                      <tc-form-item class="form-group mb-0 col-md-6 px-3">
                        <label>Teléfono<span class="required_field">*</span></label>
                        <tc-input placeholder="Ingrese el teléfono" name="club_members_phone" type_car="num"
                                  v-model="club_members.club_members_phone"></tc-input>
                      </tc-form-item>
                      <tc-form-item class="form-group mb-0 col-md-6 px-3">
                        <label>Dirección<span class="required_field">*</span></label>
                        <tc-input placeholder="Ingrese la dirección" name="club_members_address"
                                  v-model="club_members.club_members_address"></tc-input>
                      </tc-form-item>

                      <tc-form-item class="form-group mb-0 col-md-6 px-3">
                        <label>Asesor</label>
                        <div class="d-flex flex-row">
                          <tc-autocomplete
                            placeholder="Seleccione el Adviser"
                            name="id_adviser"
                            :search_params="{}"
                            ref="select_adviser"
                            :successFeed="false"
                            :defaultValue="club_members.id_adviser"
                            v-model="club_members.id_adviser"
                            :url="mb.statics('Adviser').select_2_url"
                          />
                        </div>
                      </tc-form-item>
                      <a-modal
                        @cancel="showModalCreateadviser = false"
                        v-if="showModalCreateadviser"
                        class="modal-form"
                        :title="'Añadir Asesor'"
                        :visible="true"
                        :header="null"
                        :footer="null"
                        :maskClosable="false"
                      >
                      </a-modal>
                      <tc-form-item class="form-group mb-0 col-md-6 px-3">
                        <label>País</label>
                        <div class="d-flex flex-row">
                          <tc-autocomplete
                            placeholder="Seleccione el Countries"
                            name="id_country"
                            :search_params="{}"
                            ref="select_country"
                            :successFeed="false"
                            :defaultValue="club_members.id_country"
                            v-model="club_members.id_country"
                            @change="handleChangePais"
                            :url="mb.statics('Countries').select_2_url"
                          />
                        </div>
                      </tc-form-item>
                    </tc-form>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 align-self-end">
              <img class="img-fluid" src="/static/assets/img/bg/coming-soon-bg.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end login contant-->
  </div>
</template>
<script>
  import users_pass from '../security/users/form/users_pass'
  import * as mb from '../../../entities/models'
  import Users from '../../../entities/models/modules/security/users.model'
  import init_pass from './init_pass'
  import moment from 'moment'
  import * as utils from '../../../entities/utils/utils'

  export default {
    name: 'register_member',
    inject: {
      set_auth: {
        default: () => {
        }
      },
    },
    validations: mb.statics('Club_members').validations,
    data () {
      return {
        mb,
        moment,
        loading: false,
        club_members: {},
        defaultValue: moment().subtract(18, 'years'),
        showModalCreateadviser: false,
        adviser_list: [],
        province: []
      }
    },
    components: {
      init_pass,
      users_pass
    },
    async beforeMount () {
      if (this.$route.name === 'reset_pass') {
        this.reset_pass = true
        if (this.$route.params.id) {
          const params = {}
          params.attr = {auth_key: this.$route.params.id}
          const resp = await mb.statics('Users').list(params)
          this.selected_model = resp.data[0]
          if (!this.selected_model) {
            this.set_auth(false)
            this.$router.push({name: 'index'})
          }

        } else {
          this.$router.push({name: 'index'})
        }
      }
      if (this.$route.name === 'init_pass') {
        this.init_pass = true
      }
    },
    methods: {}
  }
</script>

<style scoped>
  .ant-btn {
    background-color: #8e54e9 !important;
    color: #fff !important;
    float: right;
    border-color: #8e54e9 !important;
    height: 45px;
    width: 140px;
  }
  label{
    color: white!important;
    font-size: 20px;
  }
  .ant-input{
    height: 45px!important;
  }
</style>
