<template>
  <div>
    <!-- begin pre-loader -->
    <!-- end pre-loader -->
    <!--start login contant-->
    <div class="app-contant">
      <div class="bg-white comingsoon">
        <div class="container-fluid p-0">
          <div class="row no-gutters">
            <div class="col-lg-6 align-self-center bg-gradient">
              <div class="d-flex align-items-center h-100-vh">
                <div class="comingsoon-wrap w-100">
                  <div class="row no-gutters align-items-center justify-content-center">
                    <div v-if="reset_pass" class="col-md-10 m-b-40">
                      <users_pass v-if="selected_model" :model="selected_model" :is_reset="true"/>
                    </div>
                    <div v-if="init_pass" class="col-md-10 text-center m-b-40">
                      <!-- Coming soon text -->
                      <div class="px-5">
                        <h3 class="text-white display-4 font-weight-normal">Reinicie su
                          contraseña</h3>
                        <span class="text-white">Inserte su correo y se le enviará una contraseña nueva y un link para reiniciar su contraseña.</span>
                      </div>
                      <init_pass/>
                      <div class="px-5 py-5">
                        <span class="text-white"><a href="/index" class="text-white">Ir a
                                              autenticarse
                                            </a></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 align-self-end">
              <img class="img-fluid" src="/static/assets/img/bg/coming-soon-bg.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end login contant-->
  </div>
</template>
<script>
  import users_pass from '../security/users/form/users_pass'
  import * as mb from '../../../entities/models'
  import Users from '../../../entities/models/modules/security/users.model'
  import init_pass from './init_pass'

  export default {
    name: 'reset_pass',
    inject: {
      set_auth: {
        default: () => {
        }
      },
    },

    data () {
      return {
        selected_model: null,
        reset_pass: false,
        init_pass: false,
        user: {
          email: ''
        },
        loading: false
      }
    },
    components: {
      init_pass,
      users_pass
    },
    async beforeMount () {
      if (this.$route.name === 'reset_pass') {
        this.reset_pass = true
        if (this.$route.params.id) {
          const params = {}
          params.attr = {auth_key: this.$route.params.id}
          const resp = await mb.statics('Users').list(params)
          this.selected_model = resp.data[0]
          if (!this.selected_model) {
            this.set_auth(false)
            this.$router.push({name: 'index'})
          }

        } else {
          this.$router.push({name: 'index'})
        }
      }
      if (this.$route.name === 'init_pass') {
        this.init_pass = true
      }
    },
    methods: {}
  }
</script>

<style scoped>
  .ant-btn {
    background-color: #8e54e9 !important;
    color: #fff !important;
    float: right;
    border-color: #8e54e9 !important;
    height: 45px;
    width: 140px;
  }
</style>
