<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link :to="{name:'index'}">Inicio</router-link>
        </li>
        <li class="breadcrumb-item">
          <router-link :to="{name:'club_members_list'}">Miembros</router-link>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Pago recurrente</li>
      </ol>
    </nav>

    <div class="container">
      <div>
        <div class="row">
          <div class="col-md-6">
            <a-button-group style="margin-bottom: 10px">
              <a-tooltip placement="topLeft" title="Añadir nuevo elemento">
                <a-button icon="plus" type="primary" @click="showModalForm">Añadir</a-button>
              </a-tooltip>
              <a-tooltip placement="topLeft" title="Eliminar elementos seleccionados">
                <a-button icon="delete" type="danger" @click="showDeleteConfirm">Eliminar</a-button>
              </a-tooltip>
            </a-button-group>
          </div>
          <div class="col-md-6" style="text-align: end;">
            <div class="form-group">
              <div class="input-group mb-3">
                <a-tooltip placement="topLeft" title="Buscar..">
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    v-model="filter"
                    placeholder="Buscar"
                    aria-label
                  />
                </a-tooltip>
                <div class="input-group-append">
                  <a-tooltip placement="topLeft" title="Limpiar Filtros">
                    <a-button
                      style="text-align: end"
                      class="rounded-0"
                      type="primary"
                      @click="filter=''"
                    >
                      <i class="fa fa-eraser" style="margin-right: 10px"/>Limpiar
                    </a-button>
                  </a-tooltip>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <h4 style="text-align: left">Listado de pagos recurrentes del miembro {{club_member.get_full_name()}}</h4>
          </div>
          <div class="col-md-6" style="text-align: end;float: right">
            <div class="row">
              <div class="col-md-8" style="text-align: end">
                <p style="text-align: end">
                  Elementos seleccionados {{selectedRowKeys.length}}/{{data.length}}
                </p>
              </div>
              <div class="col-md-3">
                <a-dropdown-button style="margin-left: 45%;">
                  Exportar
                  <a-menu slot="overlay">
                    <a-menu-item key="1" @click="exportToExcel">
                      <a-icon type="file-excel" theme="twoTone" twoToneColor="#52c41a"/>
                      Excel
                    </a-menu-item>
                    <!--                    <a-menu-item key="2" @click=""><a-icon type="file-pdf" theme="twoTone" twoToneColor="#c41c33" />PDF</a-menu-item>-->

                    <a-menu-item key="3" @click="exportToCSV">
                      <a-icon type="file-text" theme="twoTone" twoToneColor="#2771c4"/>
                      CSV
                    </a-menu-item>
                  </a-menu>
                </a-dropdown-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a-modal
        @cancel="onCloseModal"
        :title="selected_model.get_id()?'Actualizar pago recurrente '+this.club_member.get_full_name():'Añadir pago recurrente almiembro '+this.club_member.get_full_name()"
        class="modal-form"
        width="55rem"
        :visible="show_modal_form"
        :destroyOnClose="true"
        on-ok="handleOk"
        :header="null"
        :footer="null"
        :maskClosable="false"

      >
        <payment_recurrency_form :club_member="club_member" :modal=true :model="selected_model"/>
      </a-modal>

      <a-table
        :columns="columns"
        :rowKey="record => record.id_payment_recurrency"
        :dataSource="data"
        :rowSelection="rowSelection"
        :loading="loading"
        :pagination="pagination.$data"
        :scroll="{ x: '100%' }"
      >
        <a slot="action" slot-scope="record" href="javascript:;">
          <action_buttons :object="record" :visible_view="false" :v_instance="self"
                          :class_name="selected_model.class_name()"/>
        </a>
        <template slot="activo" slot-scope="record">
          <i v-if="record.active==='1'" style="color:green;font-size: 20px" class="ti ti-arrow-circle-down"></i>
          <i v-if="record.active==='0'" style="color:red;font-size: 20px" class="ti ti-na"></i>
        </template>
      </a-table>
    </div>
  </div>
</template>

<script>
  import * as utils from '../../../../../entities/utils/utils'
  import * as mb from '../../../../../entities/models'
  import action_buttons from '../../../../shared/table/action_buttons/action_buttons'
  import pagination_functions from '../../../../shared/table/pagination/pagination_options'
  import vantdpagination from '../../../../shared/table/pagination/antd_pagination'
  import payment_recurrency_form from '../form/payment_recurrency_form'

  export default {
    name: 'payment_recurrency_list',
    provide: function () {
      return {
        close_modal: this.onCloseModal,
        load_data: this.load_data
      }
    },
    data () {
      return {
        data: [],
        club_member: mb.instance('Club_members'),
        self: null,
        payment_recurrency_list: [],
        filter: null,
        columns: mb.statics('Payment_recurrency').show_columns([
          'service.service_name',
          'initial_date',
          'recurrency_date',
          'active',
          'action_elements',
        ], true),
        loading: false,
        text_select: 'Select All',
        selectedRowKeys: [],
        pagination: vantdpagination,
        selected_model: mb.instance('Payment_recurrency'),
        show_modal_form: false,
        mb
      }
    },
    components: {
      action_buttons,
      pagination_functions,
      vantdpagination,
      payment_recurrency_form
    },
    watch: {
      filter: function () {
        this.data = this.payment_recurrency_list.data.filter(this.filter_data)
      },
      selectedRowKeys: function () {
        if (this.selectedRowKeys.length == this.data.length) {
          this.text_select = 'Desseleccionar todo'
        } else {
          this.text_select = 'Seleccionar todo'
        }
      }
    },
    computed: {
      rowSelection () {
        const {selectedRowKeys} = this
        return {
          selectedRowKeys,
          hideDefaultSelections: true,
          selections: [
            {
              key: 'all-data',
              text: this.text_select,
              onSelect: () => {
                if (this.selectedRowKeys.length == this.data.length) {
                  this.selectedRowKeys = []
                } else {
                  this.selectedRowKeys = this.data.map(e => {
                    return e.id_payment_recurrency
                  })
                }
              }
            }
          ],
          onSelection: this.onSelection,
          onChange: this.onChange
        }
      }
    },
    methods: {
      exportToExcel () {
        utils.exportToExcelVinstance(this)
      },
      exportToCSV () {
        utils.exportToCSV(this)
      },
      onCloseModal (e, reload_data = false) {
        this.selected_model = mb.instance('Payment_recurrency')
        this.show_modal_form = false
        reload_data ? this.load_data() : ''
      },
      showModalForm () {
        this.show_modal_form = !this.show_modal_form
      },
      filter_data (object) {
        return utils.filter_object_column(object, this.filter, this.columns)
      },
      onChange: function (selectedRowKeys) {
        this.selectedRowKeys = selectedRowKeys
      },
      showDeleteConfirm () {
        if (this.selectedRowKeys.length == 0) {
          utils.openNotificationWithIcon(
            'error',
            'Eliminar elementos seleccionados',
            'Debe seleccionar al menos un elemento'
          )
          return
        }
        let _this = this
        this.$confirm({
          title: 'Eliminar elementos seleccionados?',
          icon: 'delete',
          // icon:()=>{return ( <a-icon type="delete" style="color:red"/> )},
          okText: 'Si',
          okType: 'danger',
          class: 'delete_confirm',
          cancelText: 'No',
          async onOk () {
            try {
              const response = await mb.statics('Payment_recurrency').delete_by_ids(
                _this.selectedRowKeys
              )
              utils.process_response(response, 'deleted')
              _this.selectedRowKeys = []
              _this.load_data()
            } catch (error) {
              utils.process_error(error)
              _this.selectedRowKeys = []
            }
          },
          onCancel () {
          }
        })
      },
      async load_data () {
        try {
          this.loading = true
          var params = {}
          params.relations = ['service', 'club_members']
          params.attr={id_club_members:this.club_member.id_club_members}
          const resp = await mb.statics('Payment_recurrency').list(params)
          this.payment_recurrency_list = resp
          this.data = this.payment_recurrency_list.data.filter(this.filter_data)
          this.loading = false
        } catch (error) {
          utils.process_error(error)
          this.loading = false
        }
      },

      onEditing (model) {
        this.selected_model = mb.instance('Payment_recurrency', model)
        this.selected_model.initial_date = moment(model.initial_date)
        this.showModalForm()
      }
    },

    async beforeMount () {
      if (this.$route.params.id) {
        this.loading = true
        const club_member_id = this.$route.params.id
        const resp = await mb.statics('Club_members').view(club_member_id).then(response => response).catch(error => {
            if (error.response.status === 404) {
              this.$router.push({name: 'club_members_list'})
              return 0
            }
          }
        )
        this.club_member = mb.instance('Club_members', resp.data)
        this.data = []
        this.load_data()
        this.self = this
        this.pagination.$options.props = {
          load_data: this.load_data
        }
        this.loading = false
      } else {
        this.$router.push({name: 'payment_recurrency_list'})
      }
    }

  }
</script>

<style>
  @import "payment_recurrency_list.css";
</style>

