<template>
  <a-spin tip="Cargando Perfil" :spinning="loading">
    <div>
      <div class="row">
        <div class="col-md-12">
          <!-- begin page title -->

          <div class="user-welcome d-block d-xl-flex flex-nowrap align-items-center" style="border: 1px solid #e8e8e8;border-bottom: 0px solid #e8e8e8 !important;">
            <div class="col-lg-12" style="padding-left: 0px !important; padding-right: 0px !important;">
              <div class="card card-statistics widget-social-box14" style="margin-bottom: 0px !important;">
                <div class="card-body p-0">
                  <div class="media widget-social-contant align-items-center p-4">
                    <div class="bg-img mr-3"><img class="img-fluid" :src="image" alt="socialwidget-img"></div>
                    <div class="pr-1">
                      <h4 class="mb-0">{{ club_members.get_full_name()}} </h4>

                      <p>Código {{club_members.club_member_code}}</p>
                    </div>

                    <div class="ml-auto d-flex align-items-center secondary-menu text-center">
                      <h4>
                        <span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-success-inverse text-bold" style="color: #32b432;">
                          Saldo: {{club_members.clum_members_currency}} (IC)
                        </span>
                      </h4>
                    </div>
                  </div>

                </div>
              </div>

            </div>
<!--            <div class="bg-img mb-2 mb-xl-0 mr-3">-->
<!--              <img class="img-fluid rounded" :src="image" alt="user">-->
<!--            </div>-->
<!--            <div class="page-title mb-2 mb-xl-0">-->
<!--              <h1 class="mb-1">Perfil del miembro {{ club_members.get_full_name()}} </h1>-->
<!--              <h4>Código {{club_members.club_member_code}}</h4>-->

<!--            </div>-->

          </div>
        </div>
        <!-- end page title -->
      </div>
      <a-card title="Historial del miembro" style=""
              bodyStyle="padding-left: 0px!important;padding-right: 0px!important; background-color: #ffffff !important; padding-bottom: 30px !important;"
      >
          <div class="" >
            <div class="tab nav-border-bottom">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home" role="tab"
                     aria-controls="home" aria-selected="true">Inner Coins</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                     aria-controls="profile" aria-selected="false">Productos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="portfolio-tab" data-toggle="tab" href="#portfolio" role="tab"
                     aria-controls="portfolio" aria-selected="false">Servicios</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="subscription-tab" data-toggle="tab" href="#subscription" role="tab"
                     aria-controls="portfolio" aria-selected="false">Subscripciones</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="ficha-tab" data-toggle="tab" href="#historial" role="tab"
                     aria-controls="portfolio" aria-selected="false">Historial</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <a-table
                    :columns="columns_amount"
                    :rowKey="record => record.id_amount_club_member"
                    :dataSource="data_amount"
                    :loading="loading_amount"
                    :pagination="pagination_amount.$data"
                  >
                    <a slot="amount" slot-scope="record" href="javascript:;">
                      <a-tooltip placement="top" title="Cuenta">
            <span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-pill badge-success "
                  style="font-size: 12px">{{record.amount}} (IC)</span>
                      </a-tooltip>
                    </a>
                  </a-table>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <div>
                    <div class="card-header">
                      <div class="row">
                        <div class="col-md-6">
                          <h6 style="text-align: left">Historial de productos comprados por el miembro {{
                            club_members.club_members_name+' '+ club_members.club_member_last_name}}</h6>
                        </div>
                        <div class="col-md-6" style="text-align: end;float: right">
                          <div class="row">
                            <div class="col-md-12">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="offset-6 col-md-6" style="text-align: end; margin-top: 10px; margin-bottom: 10px; padding-right: 25px !important;">
                        <div>
                          <a-input-search
                            placeholder="Buscar"
                            style="width: 400px"
                            @search="filter=''"
                            v-model="filter"
                            enterButton='Limpiar'
                            icon="cloud-download"
                          />

                        </div>
                      </div>

                    </div>
                    <a-table
                      :columns="columns"
                      :rowKey="record => record.id_club_member_history"
                      :dataSource="data_p"
                      :loading="loading_product"
                      :pagination="pagination_p.$data"
                    >
                      <a slot="price" slot-scope="record" href="javascript:;">
                        <span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-pill badge-info">{{record.ammount.toFixed(2)}} (IC))</span>
                      </a>
                    </a-table>
                  </div>
                </div>
                <div class="tab-pane fade" id="portfolio" role="tabpanel" aria-labelledby="portfolio-tab">
                  <div>
                    <div class="card-header">
                      <div class="row">
                        <div class="col-md-6">
                          <h6 style="text-align: left">Historial de servicios comprados por el miembro {{
                            club_members.club_members_name+' '+club_members.club_member_last_name}}</h6>
                        </div>
                        <div class="col-md-6" style="text-align: end;float: right">
                          <div class="row">
                            <div class="col-md-12">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="offset-6 col-md-6" style="text-align: end; margin-top: 10px; margin-bottom: 10px; padding-right: 25px !important;">
                        <div>
                          <a-input-search
                            placeholder="Buscar"
                            style="width: 400px"
                            @search="filter_services=''"
                            v-model="filter_services"
                            enterButton='Limpiar'
                            icon="cloud-download"
                          />

                        </div>
                      </div>

                    </div>

                    <a-table
                      :columns="columns_services"
                      :rowKey="record => record.id_club_member_history"
                      :dataSource="data_s"
                      :loading="loading_services"
                      :pagination="pagination_s.$data"
                    >
                      <a slot="price" slot-scope="record" href="javascript:;">
                        <span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-pill badge-info">{{record.services.service_cost}} (IC)</span>
                      </a>
                    </a-table>
                  </div>
                </div>
                <div class="tab-pane fade" id="subscription" role="tabpanel" aria-labelledby="portfolio-tab">
                  <div>
                    <div class="card-header">
                      <div class="row">
                        <div class="col-md-6">
                          <h6 style="text-align: left">Subscripciones del miembro {{
                              club_members.club_members_name+' '+club_members.club_member_last_name}}</h6>
                        </div>
                        <div class="col-md-6" style="text-align: end;float: right">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="offset-6 col-md-6" style="text-align: end; margin-top: 10px; margin-bottom: 10px; padding-right: 25px !important;">
                        <div>
                          <a-input-search
                            placeholder="Buscar"
                            style="width: 400px"
                            @search="filter_subscriptions=''"
                            v-model="filter_subscriptions"
                            enterButton='Limpiar'
                            icon="cloud-download"
                          />

                        </div>
                      </div>
                    </div>

                    <a-table
                      :columns="columns_sub"
                      :rowKey="record => record.id_payment_recurrency"
                      :dataSource="data_sub"
                      :loading="loading"
                      :pagination="pagination_sub.$data"
                    >
                      <template slot="activo" slot-scope="record">
                        <i v-if="record.active==='1'" style="color:green;font-size: 20px" class="ti ti-arrow-circle-down"></i>
                        <i v-if="record.active==='0'" style="color:red;font-size: 20px" class="ti ti-na"></i>
                      </template>
                    </a-table>
                  </div>
                </div>
                <div class="tab-pane fade" id="historial" role="tabpanel" aria-labelledby="portfolio-tab">
                  <div>
                    <div class="card-header">
                      <div class="row">
                        <div class="col-md-6">
                          <h6 style="text-align: left">Historial de ficha del miembro {{
                              club_members.club_members_name+' '+club_members.club_member_last_name}}</h6>
                        </div>
                        <div class="col-md-6" style="text-align: end;float: right">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="offset-6 col-md-6" style="text-align: end; margin-top: 10px; margin-bottom: 10px; padding-right: 25px !important;">
                        <div>
                          <a-input-search
                            placeholder="Buscar"
                            style="width: 400px"
                            @search="filter_subscriptions=''"
                            v-model="filter_subscriptions"
                            enterButton='Limpiar'
                            icon="cloud-download"
                          />

                        </div>
                      </div>
                    </div>

                    <a-table
                      :columns="columns_other"
                      :rowKey="record => record.id_payment_recurrency"
                      :dataSource="data_other"
                      :loading="loading"
                      :pagination="pagination_oth.$data"
                    >
                    </a-table>

                  </div>
                </div>

              </div>
            </div>
          </div>
      </a-card>
    </div>
  </a-spin>
</template>

<script>
import * as mb from '../../../../../entities/models'
import moment from 'moment'
import vantdpagination from '../../../../shared/table/pagination/antd_pagination'
import * as utils from '../../../../../entities/utils/utils'

export default {
    name: 'profile_member',
    provide: function () {
      return {
        load_data: this.load_data
      }
    },
    data () {
      return {
        mb,
        user: {},
        image: null,
        loading: false,
        moment,
        club_member_history_list: [],
        club_member_history_services_list: [],
        club_member_subscription_list: [],
        history_other_list: [],
        filter: null,
        filter_services: null,
        filter_subscriptions: null,
        data_amount: [],
        data_p: [],
        data_s: [],
        data_sub: [],
        data_other: [],
        loading_amount: false,
        loading_product: false,
        loading_services: false,
        loading_subscriptions: false,
        club_members: mb.instance('Club_members', {}),
        pagination_amount: vantdpagination,
        pagination_p: vantdpagination,
        pagination_s: vantdpagination,
        pagination_sub: vantdpagination,
        pagination_oth: vantdpagination,
        columns_amount: mb.statics('Amount_club_member').show_columns(['user.username', 'amount', 'date_at', 'amiunt_description'], true),
        columns: mb.statics('Club_member_history').show_columns(['product.product_name', 'cant_element','ammount', 'created_at']),
        columns_services: mb.statics('Club_member_history').show_columns(['services.service_name', 'history_description', 'price', 'created_at']),
        columns_other: mb.statics('Club_member_history_other').show_columns(['history_create_at','history_description']),
        columns_sub: mb.statics('Payment_recurrency').show_columns([
        'service.service_name',
        'initial_date',
        'recurrency_date',
        'active',
        'action_elements',
      ], true),

      }
    },
    components: {
      vantdpagination,
    },
    watch: {
      filter: function () {
        this.data_p = this.club_member_history_list.data.filter(this.filter_data)
      },
      filter_services: function () {
        this.data_s = this.club_member_history_services_list.data.filter(this.filter_data_services)
      },
      filter_subscriptions: function () {
        this.data_s = this.club_member_subscription_list.data.filter(this.filter_data_services)
      },
    },
    methods: {
      exportToExcel () {
        utils.exportToExcelVinstance(this)
      },
      exportToCSV () {
        utils.exportToCSV(this)
      },
      async load_data () {
        await this.loading_amount()
      },
      filter_data (object) {
        return utils.filter_object_column(object, this.filter, this.columns)
      },
      filter_data_services (object) {
        return utils.filter_object_column(object, this.filter_services, this.columns_services)
      },
      filter_data_sub (object) {
        return utils.filter_object_column(object, this.filter_subscriptions, this.columns_sub)
      },
      async load_data_p () {
        try {
          this.loading_product = true
          var params = {}
          params.relations = ['club_member', 'product']
          params.attr = {club_member_id: this.club_members.id_club_members}
          params.oper = ['is not|product_id|null']
          const resp = await mb.statics('Club_member_history').list(params)
          this.club_member_history_list = resp
          this.data_p = this.club_member_history_list.data.filter(this.filter_data)
          this.loading_product = false
        } catch (error) {
          utils.process_error(error)
          this.loading_product = false
        }
      },
      async load_data_s () {
        try {
          this.loading_services = true
          var params = {}
          params.relations = ['club_member', 'services']
          params.attr = {club_member_id: this.club_members.id_club_members}
          params.oper = ['is not|services_id|null']
          this.club_member_history_services_list = await mb.statics('Club_member_history').list(params)
          this.data_s = this.club_member_history_services_list.data.filter(this.filter_data_services)
          this.loading_services = false
        } catch (error) {
          utils.process_error(error)
          this.loading_services = false
        }
      },
      async load_data_amount () {
        try {
          this.loading_amount = true
          var params = {}
          params.relations = ['user', 'club_member']
          params.orderby = [{date_at: 3}]
          params.attr = {id_club_member: this.club_members.id_club_members}
          this.amount_club_member_list = await mb.statics('Amount_club_member').list(params)
          this.data_amount = this.amount_club_member_list.data
          this.loading_amount = false
        } catch (error) {
          utils.process_error(error)
          this.loading_amount = false
        }
      },
      async load_data_sub () {
        try {
          this.loading_subscriptions = true
          var params = {}
          params.relations = ['service', 'club_members']
          params.attr={id_club_members:this.club_members.id_club_members}
          const resp = await mb.statics('Payment_recurrency').list(params)
          this.club_member_subscription_list = resp
          this.data_sub = this.club_member_subscription_list.data.filter(this.filter_data_sub)
          this.loading = false
        } catch (error) {
          utils.process_error(error)
          this.loading_subscriptions = false
        }
      },
      async load_data_other () {
        try {
          this.loading_subscriptions = true
          var params = {
            "attr":{
              "history_member_id":this.club_members.id_club_members
            }
          }
          //params.attr={id_club_members:this.club_members.id_club_members}
          this.history_other_list = await mb.statics('Club_member_history_other').list(params)
          this.data_other = this.history_other_list.data.filter(this.filter_data_sub)
          this.loading = false
        } catch (error) {
          utils.process_error(error)
          this.loading_subscriptions = false
        }
      },
    },
    async beforeMount () {
      this.loading = true
      if (this.$route.params.id) {
        this.user = this.$store.site.user
        const resp = await mb.statics('Club_members').view(this.$route.params.id).then((response) => response).catch((error) => {
          this.$router.push({name: 'club_members_list'})
        })
        this.club_members = mb.instance('Club_members', resp.data)
        var club_members_picture;
        club_members_picture = this.club_members.club_members_picture  || 'club_members_picture.jpg'
        this.image = process.env.BASE_URL + 'assets/club_members/'+club_members_picture
        this.load_data_amount()
        this.load_data_p()
        this.load_data_s()
        this.load_data_sub()
        this.load_data_other()
        this.pagination_amount.$options.props = {
          load_data: this.load_data_amount
        }
        this.pagination_p.$options.props = {
          load_data: this.load_data_p
        }
        this.pagination_s.$options.props = {
          load_data: this.load_data_s
        }
      } else {
        this.$router.push({name: 'club_members_list'})
      }
      this.loading = false
    }
  }
</script>

<style scoped>
.tab-pane{

}
</style>
