<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model()">
    <spinner v-if="loading" />
    <div class="card-body p-0" >

      <tc-form
        :feedbacks="mb.statics('Count_all').feedbacks"
        :vobject="$v"
        nested="count_all"
        ref="form"
        class="form-row"
      >
      <tc-form-item class="form-group mb-0 col-md-6 px-3">
        <label>Count_all<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el valor count_all'   type_char='num'  name='count_all' v-model="count_all.count_all"></tc-input>
      </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button v-if="!count_all.get_id()" :disabled="loading" class="btn btn-primary" @click="save_model(true)">Añadir y nuevo</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancel</button>
    </div>
  </div>
</template>

<script>
import Count_all from "../../../../../entities/models/modules/reports/count_all.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models"

export default {
  name: "count_all_form",
  inject: {
      close_modal: { default: ()=>{} },
      load_data: {default: () => {} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
      modal: {
        type: Boolean,
        default: false
      },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: mb.statics('Count_all').validations,
  data() {
    return {
      loading: false,
      mb,      // This property is for load static or instance class
      count_all: mb.instance( 'Count_all'),
    };
  },
  computed: {
    count_allFeedbacks() {
      return mb.statics('Count_all').feedbacks;
    },
    button_text() {
      return this.count_all.get_id() ? "Actualizar" : "Añadir";
    },
    modalTitle() {
      return this.count_all.get_id()
        ? "Actualizar Count_all"
        : "Añadir Count_all";
    }
  },

  mounted: function() {
    this.count_all = mb.instance( 'Count_all',this.model);

  },
  components: {

             },
  methods: {
      cancel(){
        if (this.model === null) {
          this.$emit('close_modal',false)
        } else {
        this.modal?this.close_modal(null,false):this.$router.push({name: 'count_all_list'})
       }
      },
    save_model(and_new=false) {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.count_all.get_id() ? "actualizado" : "añadido";
        this.count_all
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
                if (this.model === null) {
                  this.$emit('close_modal',true)
                  return;
               }
                else
                   !and_new?this.modal?this.close_modal(null,true):this.$router.push({name: 'count_all_list'}):this.count_all=mb.instance('Count_all');this.load_data();this.$refs.form.vobject.$reset()
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "count_all_form.css";
</style>

