<template>
  <div>
    <a-button type="default" icon="shopping" @click="showModal(products.product_name,'qwe')">Comprar</a-button>
    <a-modal
      title="Confirmar compra"
      centered
      :visible="visible"
      :confirmLoading="confirmLoading"
      :closable="false"
    >
      <template slot="footer">
        <a-button key="back" @click="handleCancel">Cancelar</a-button>
        <a-button key="submit" type="primary" :loading="confirmLoading" @click="handleOk">
          Comprar
        </a-button>
      </template>
      <p>Servicio: {{this.prod_name}}</p>
      <p>Precio: {{this.prod_price}} IC</p>
    </a-modal>
  </div>
</template>
<script>
  import * as utils from '../../../../entities/utils/utils';
  import * as model_factory from "../../../../entities/models";
  import * as mb from '../../../../entities/models'
  import Services_view from '../../../../entities/models/modules/managment/services_view.model'
  import Products from '../../../../entities/models/modules/managment/products.model'
  let _this;

  function sendBuy(prod_name,prod_price,club_members_email){
    _this.$message.loading("Comprando", 50)
    var axios = require('axios');
    var data = JSON.stringify({
      "service": {
        "name": prod_name,
        "price": prod_price
      },
      "email": club_members_email,
      "test": false
    });
    var config = {
      method: 'post',
      url: process.env.BASE_URL+'managment/services/buy',
      headers: {
        'Content-Type': 'application/json'
      },
      data : data
    };



    axios(config)
      .then(function (response) {
        //console.log(JSON.stringify(response.data));
        // console.log(response.data.success)
        _this.$message.destroy()
        _this.$message.success("Compra completada", 2.5)
        _this.confirmLoading = false;
        _this.visible=false;
        if (response.data.success){
          //setCurrency(prod_price);
          //_this.$store.site.user.club_member.clum_members_currency = _this.$store.site.user.club_member.clum_members_currency - prod_price;
        }
        return response.data;


      })
      .catch(function (error) {
        // this.setloadingConfirmFalse();
        // console.log(error);
        _this.$message.error(error, 2.5)
        return false;
      });

    //this.confirmLoading = false;
    //this.visible = false


  }
  export default {
    props: {
      model: {
        type: Object,
        default: () => {}
      },
      prod_name:{
        type: String,
        default: "Error al obtener el servicio"
      },
      prod_price:{
        type: String,
        default: "Error al obtener el servicio"
      },
      prod_stock:{
        type: String,
        default: "Error al obtener el servicio"
      },
    },
    validations: Services_view.validations,
    data() {
      return {
        products: mb.instance('Services_view'),
        ModalText: 'Content of the modal',
        visible: false,
        confirmLoading: false,
        product_name: this.prod_name,
        product_price: this.prod_price,
        club_members: {},
        currency:''
      }
    },
    async beforeMount(){
      this.club_members = mb.instance('Club_members', this.$store.site.user.club_member)
    },
    mounted: function() {
      this.products = mb.instance('Services_view' ,this.model);
      _this = this;
    },
    methods: {
      check_Stock(){
        let stock = parseInt(this.prod_stock);
        if (stock> 0){
          return 1
        }else{
          return 0
        }


      },
      showModal(pr_name, pr_price) {
        this.visible = true
        this.product_name = pr_name
        this.product_price = pr_price
      },
      onCloseModal(e,reload_data=false) {
        this.selected_model = new Services_view();
        this.show_modal_form = false;
        reload_data?this.load_data():''
      },
      handleOk(e,reload_data=false) {
        this.visible=false;
        sendBuy(this.prod_name, this.prod_price, this.club_members.club_members_email)
        this.selected_model = new Services_view();
        this.show_modal_form = false;
        reload_data?this.load_data():''
      },
      handleCancel(e,reload_data=false) {
        console.log('Clicked cancel button');
        this.visible = false
        this.selected_model = new Services_view();
        this.show_modal_form = false;
        reload_data?this.load_data():''
      },
    }
  }

</script>

<style scoped>
  /*.delete_confirm*/

</style>

