<template>
  <div>
    <a-button v-if="check_Stock()>0" type="default" icon="shopping" @click="showModal(products.product_name,'qwe')">Comprar</a-button>
    <a-button v-else type="default" icon="shopping" @click="showModal(products.product_name,'qwe')" disabled>Comprar</a-button>
<!--    <a href="javascript:void(0);" class="btn btn-sm btn-outline-success" @click="showModal">Comprar</a>-->
    <a-modal
      title="Confirmar compra"
      centered
      :visible="visible"
      :confirmLoading="confirmLoading"
      :closable="false"
    >
      <template slot="footer">
        <a-button key="back" @click="handleCancel">Cancelar</a-button>
        <a-button key="submit" type="primary" :loading="confirmLoading" @click="handleOk">
          Comprar
        </a-button>
      </template>

      <p>Servicio: {{this.prod_name}}</p>
      <p>Precio: {{this.prod_price}} IC</p>
    </a-modal>
  </div>
<!--  <div class="icons-list" style="margin-left: 10px">-->
<!--    <a-tooltip placement="top" v-if="visible_edit" @click="v_instance.onEditing(object)"-->
<!--               title="Modificar elemento">-->
<!--      <i class=" ti ti-pencil-alt" style="padding-right: 5px;color: #1fb473;font-size: 20px;" />-->
<!--    </a-tooltip>-->

<!--    <slot></slot>-->
<!--  </div>-->
</template>
<script>
  import * as utils from '../../../../entities/utils/utils';
  import * as model_factory from "../../../../entities/models";
  import * as mb from '../../../../entities/models'
  import Products_view from '../../../../entities/models/modules/managment/products_view.model'
  import Services_view from '../../../../entities/models/modules/managment/services_view.model'
  import products_buy from '../../../views/managment/products/list/products_buy'
  let _this;

  function sendBuy(prod_name,prod_price,club_members_email){
    _this.$message.loading("Comprando", 50)
    var axios = require('axios');
    var data = JSON.stringify({
      "productos": [
        {
          "name": prod_name,
          "price": prod_price
        }
      ],
      "email": club_members_email,
      "test": false
    });
    var config = {
      method: 'post',
      url: process.env.BASE_URL+'managment/products/buy',
      headers: {
        'Content-Type': 'application/json'
      },
      data : data
    };



    axios(config)
      .then(function (response) {
        //console.log(JSON.stringify(response.data));
        // console.log(response.data.success)
        _this.$message.destroy()
        _this.$message.success("Compra completada", 2.5)
        _this.confirmLoading = false;
        _this.visible=false;
        if (response.data.success){
          //_this.$router.push({name: 'products'})
          //setCurrency(prod_price);
          //_this.$store.site.user.club_member.clum_members_currency = _this.$store.site.user.club_member.clum_members_currency - prod_price;
        }
        return response.data;


      })
      .catch(function (error) {
        // this.setloadingConfirmFalse();
        // console.log(error);
        _this.$message.error(error, 2.5)
        return false;
      });

    //this.confirmLoading = false;
    //this.visible = false


  }
  export default {
    props: {
      model: {
        type: Object,
        default: () => {}
      },
      prod_name:{
        type: String,
        default: "Error al obtener el producto"
      },
      prod_price:{
        type: String,
        default: "Error al obtener el producto"
      },
      prod_stock:{
        type: String,
        default: "Error al obtener el producto"
      },
    },
    validations: Products_view.validations,
    data() {
      return {
        products: mb.instance('Products_view'),
        ModalText: 'Content of the modal',
        visible: false,
        confirmLoading: false,
        product_name: this.prod_name,
        product_price: this.prod_price,
        club_members: {},
        currency:''
      }
    },
    async beforeMount(){
      this.club_members = mb.instance('Club_members', this.$store.site.user.club_member)
    },
    mounted: function() {
      this.products = mb.instance('Products_view' ,this.model);
      _this = this;
    },
    methods: {
      check_Stock(){
        let stock = parseInt(this.prod_stock);
        if (stock> 0){
          return 1
        }else{
          return 0
        }


      },
      showModal(pr_name, pr_price) {
        this.visible = true
        this.product_name = pr_name
        this.product_price = pr_price
      },
      handleOk(e,reload_data=false) {
        this.visible=false;
        sendBuy(this.prod_name, this.prod_price, this.club_members.club_members_email)
        this.selected_model = new Products_view();
        this.show_modal_form = false;



      },
      handleCancel(e,reload_data=false) {
        console.log('Clicked cancel button');
        this.visible = false
        this.selected_model = new Products_view();
        this.show_modal_form = false;
        reload_data?this.load_data():''
      },
    }
  }

  // export default {
  //   name: "action_buttons_buy",
  //   props: {
  //     object: Object,
  //     v_instance: Object,
  //     class_name: {
  //       type: String,
  //       default: "BaseModel"
  //     },
  //     visible_edit: {
  //       type: Boolean,
  //       default: true
  //     },
  //     visible_delete: {
  //       type: Boolean,
  //       default: true
  //     },
  //     visible_view: {
  //       type: Boolean,
  //       default: true
  //     },
  //     visible_custom_button: {
  //       type: Boolean,
  //       default: true
  //     },
  //   },
  //   data() {
  //     return {
  //       model: {}
  //     }
  //   },
  //   methods: {
  //     showDeleteConfirm() {
  //       let _this = this;
  //       this.$confirm({
  //         title: 'Desea eliminar este elemento?',
  //         icon: "delete",
  //         // icon:()=>{return ( <a-icon type="delete" style="color:red"/> )},
  //         okText: 'Si',
  //         okType: 'danger',
  //         class: 'delete_confirm',
  //         cancelText: 'No',
  //         async onOk() {
  //           try {
  //             const response = await _this.model.delete();
  //             utils.process_response(response, 'delete')
  //             _this.v_instance.load_data();
  //           } catch (error) {
  //             utils.process_error(error)
  //           }
  //         },
  //         onCancel() {
  //
  //         },
  //       });
  //     },
  //   },
  //   mounted() {
  //     this.model = model_factory.instance(this.class_name,this.object)
  //
  //   }
  // }
</script>

<style scoped>
  /*.delete_confirm*/

</style>

