<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model()">
    <spinner v-if="loading"/>
    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0">

      <tc-form
        :feedbacks="mb.statics('Event_participant').feedbacks"
        :vobject="$v"
        nested="event_participant"
        ref="form"
        class="form-row"
      >
        <tc-form-item class="form-group mb-0 col-md-6">
          <label>Participante<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el Participants"
              name="id_participant"
              :search_params="{}"
              ref="select_participant"
              :successFeed="false"
              :defaultValue="event_participant.id_participant"
              v-model="event_participant.id_participant"
              :url="mb.statics('Participants').select_2_url"
            />
            <a-button type="dashed"
                      icon="plus"
                      class="dashed-primary rounded mt-1 ml-2"
                      @click="openModalCreateparticipant">
            </a-button>
          </div>
        </tc-form-item>

        <a-modal
          @cancel="showModalCreateparticipant = false"
          v-if="showModalCreateparticipant"
          class="modal-form"
          :visible="true"
          :header="null"
          :footer="null"
          :width="900"
          :maskClosable="false"
        >
          <participants_form :model="null" @close_modal="participantAdded"/>
        </a-modal>
        <tc-form-item class="form-group px-3 col-3">
          <label>Días<span class='required_field'>*</span></label>
          <tc-input placeholder='Ingrese el valor' type_car='num' name='days'
                    v-model="event_participant.days"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 px-3 col-md-3">
          <label>Consume productos<span class='required_field'>*</span></label>
          <div>
            <a-switch v-model="event_participant.consume_products"/>
          </div>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6">
          <label>Tipo de pago<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el Payment_types"
              name="id_payment_types"
              :search_params="{}"
              ref="select_payment_types"
              :successFeed="false"
              :defaultValue="event_participant.id_payment_types"
              v-model="event_participant.id_payment_types"
              :url="mb.statics('Payment_types').select_2_url"
            />
            <a-button type="dashed"
                      icon="plus"
                      class="dashed-primary rounded mt-1 ml-2"
                      @click="openModalCreatepayment_types">
            </a-button>
          </div>
        </tc-form-item>

        <a-modal
          @cancel="showModalCreatepayment_types = false"
          v-if="showModalCreatepayment_types"
          class="modal-form"
          :visible="true"
          :header="null"
          :footer="null"
          :maskClosable="false"
        >
          <payment_types_form :model="null" @close_modal="payment_typesAdded"/>
        </a-modal>
      </tc-form>
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button v-if="!event_participant.get_id()" :disabled="loading" class="btn btn-primary" @click="save_model(true)">
        Añadir y nuevo
      </button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancel</button>
    </div>
  </div>
</template>

<script>
  import Event_participant from '../../../../../entities/models/modules/managment/event_participant.model'
  import * as utils from '../../../../../entities/utils/utils'
  import * as mb from '../../../../../entities/models'
  import Event_form from '../../event/form/event_form'
  import Participants_form from '../../participants/form/participants_form'
  import Payment_types_form from '../../../nomenclatures/payment_types/form/payment_types_form'

  export default {
    name: 'event_participant_form',
    inject: {
      close_modal: {
        default: () => {
        }
      },
      load_data: {
        default: () => {
        }
      },
      get_event: {
        default: () => {
        }
      },
    },
    props: {
      model: {
        type: Object,
        default: () => {
        }
      },
      modal: {
        type: Boolean,
        default: false
      },
      popoverPlacement: {
        type: String,
        default: 'bottomLeft'
      }
    },
    validations: mb.statics('Event_participant').validations,
    data () {
      return {
        loading: false,
        mb,      // This property is for load static or instance class
        event_participant: mb.instance('Event_participant'),
        showModalCreateevent: false,
        event_list: [],
        showModalCreateparticipant: false,
        participants_list: [],
        showModalCreatepayment_types: false,
        payment_types_list: [],
      }
    },
    computed: {
      event_participantFeedbacks () {
        return mb.statics('Event_participant').feedbacks
      },
      button_text () {
        return this.event_participant.get_id() ? 'Modificar' : 'Añadir'
      },
      modalTitle () {
        return this.event_participant.get_id()
          ? 'Modificar participante a evento'
          : 'Añadir participante a evento'
      }
    },

    mounted: function () {
      this.event_participant = mb.instance('Event_participant', this.model)
      const event = this.get_event()
      this.event_participant.id_event = event.id_event
    },
    components: {

      Event_form,
      Participants_form,
      Payment_types_form,
    },
    methods: {
      openModalCreateevent () {
        this.showModalCreateevent = true
      },
      eventAdded (refresh) {
        this.showModalCreateevent = false
        refresh ? this.refreshevent() : ''
      },
      async refreshevent () {
        this.loading = true
        await this.$refs.select_event.load()
        this.loading = false
      },
      openModalCreateparticipant () {
        this.showModalCreateparticipant = true
      },
      participantAdded (refresh) {
        this.showModalCreateparticipant = false
        refresh ? this.refreshparticipant() : ''
      },
      async refreshparticipant () {
        this.loading = true
        await this.$refs.select_participant.load()
        this.loading = false
      },
      openModalCreatepayment_types () {
        this.showModalCreatepayment_types = true
      },
      payment_typesAdded (refresh) {
        this.showModalCreatepayment_types = false
        refresh ? this.refreshpayment_types() : ''
      },
      async refreshpayment_types () {
        this.loading = true
        await this.$refs.select_payment_types.load()
        this.loading = false
      },
      cancel () {
        if (this.model === null) {
          this.$emit('close_modal', false)
        } else {
          this.modal ? this.close_modal(null, false) : this.$router.push({name: 'event_participant_list'})
        }
      },
      save_model (and_new = false) {
        if (this.$refs.form.validate()) {
          this.loading = true
          const accion = this.event_participant.get_id() ? 'actualizado' : 'añadido'
          this.event_participant
            .save()
            .then((response) => {
              if (utils.process_response(response, accion)) {
                if (this.model === null) {
                  this.$emit('close_modal', true)
                  return
                } else {
                  !and_new ? this.modal ? this.close_modal(null, true) : this.$router.push({name: 'event_participant_list'}) : this.event_participant = mb.instance('Event_participant')
                }
                this.load_data()
                this.$refs.form.vobject.$reset()
              }
              this.loading = false
            })
            .catch((error) => {
              this.loading = false
              utils.process_error(error)
            })
        }
      }
    }
  }
</script>

<style scoped>
  @import "event_participant_form.css";
</style>

