<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model()">
    <spinner v-if="loading" />
    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0" >

      <tc-form
        :feedbacks="mb.statics('Event_type').feedbacks"
        :vobject="$v"
        nested="event_type"
        ref="form"
        class="form-row"
      >
      <tc-form-item class="form-group p-0 col-6">
        <label>Event_type<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el valor event_type' name='event_type' v-model="event_type.event_type"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-12">
        <label>Event_type_description</label>
        <a-textarea size="large" v-model="event_type.event_type_description"></a-textarea>
      </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button v-if="!event_type.get_id()" :disabled="loading" class="btn btn-primary" @click="save_model(true)">Añadir y nuevo</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancel</button>
    </div>
  </div>
</template>

<script>
import Event_type from "../../../../../entities/models/modules/nomenclatures/event_type.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models"

export default {
  name: "event_type_form",
  inject: {
      close_modal: { default: ()=>{} },
      load_data: {default: () => {} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
      modal: {
        type: Boolean,
        default: false
      },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: mb.statics('Event_type').validations,
  data() {
    return {
      loading: false,
      mb,      // This property is for load static or instance class
      event_type: mb.instance( 'Event_type'),
    };
  },
  computed: {
    event_typeFeedbacks() {
      return mb.statics('Event_type').feedbacks;
    },
    button_text() {
      return this.event_type.get_id() ? "Modificar" : "Añadir";
    },
    modalTitle() {
      return this.event_type.get_id()
        ? "Modificar Event_type"
        : "Añadir Event_type";
    }
  },

  mounted: function() {
    this.event_type = mb.instance( 'Event_type',this.model);

  },
  components: {

             },
  methods: {
      cancel(){
        if (this.model === null) {
          this.$emit('close_modal',false)
        } else {
        this.modal?this.close_modal(null,false):this.$router.push({name: 'event_type_list'})
       }
      },
    save_model(and_new=false) {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.event_type.get_id() ? "actualizado" : "añadido";
        this.event_type
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
                if (this.model === null) {
                  this.$emit('close_modal',true)
                  return;
               }
                else
                   !and_new?this.modal?this.close_modal(null,true):this.$router.push({name: 'event_type_list'}):this.event_type=mb.instance('Event_type');this.load_data();this.$refs.form.vobject.$reset()
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "event_type_form.css";
</style>

