<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model">
    <spinner v-if="loading"/>

    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0">
      <tc-form
        :feedbacks="mb.statics('Budgets').feedbacks"
        :vobject="$v"
        nested="budgets"
        ref="form"
        class="form-row"
      >
        <tc-form-item class="form-group mb-0 col-md-4 px-3">
          <label>Contacto<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              label="Seleccione el contacto"
              name="contact_id"
              :successFeed="false"
              :defaultValue="budgets.contact_id"
              v-model="budgets.contact_id"
              :url="mb.statics('Contacts').select_2_url"
            />
          </div>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-4 px-3">
          <label>Inicio<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-date-picker @change="onChangeStart" name="budget_start_date" dateFormat="DD/MM/YYYY"
                            :disabled-date="disabledDate" v-model="budgets.budget_start_date"></tc-date-picker>
          </div>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-4 px-3">
          <label>Fin<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-date-picker :options="optionsFn" dateFormat="DD/MM/YYYY" :disabled-date="disabledDate"
                            name="budget_expiration_date"
                            v-model="budgets.budget_expiration_date"></tc-date-picker>
          </div>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Forma de pago<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el tipo"
              name="payment_type_id"
              :successFeed="false"
              :defaultValue="budgets.payment_type_id"
              v-model="budgets.payment_type_id"
              :url="mb.statics('Payment_types').select_2_url"
            />
          </div>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Estado<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el estado"
              name="budget_status_id"
              :successFeed="false"
              :defaultValue="budgets.budget_status_id"
              v-model="budgets.budget_status_id"
              :url="mb.statics('Budget_status').select_2_url"
            />
          </div>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-12 px-3">
          <label>Descripción interna de la empresa</label>
          <tc-input size="large" name="budget_internal_desc" :text_area="true"
                    v-model="budgets.budget_internal_desc"></tc-input>
        </tc-form-item>
      </tc-form>
    </div>
    <br>
    <div class="col-12 mb-2" v-if="error_list">
      <div class="alert alert-outline-danger" role="alert">
        Debe insertar todos los datos requeridos de cada elemento
      </div>
    </div>
    <div class="card-body p-0">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th></th>
          <th>Concepto <span class="required_field">*</span></th>
          <th>Descripción <span class="required_field">*</span></th>
          <th>Cantidad <span class="required_field">*</span></th>
          <th>Precio (€) <span class="required_field">*</span></th>
          <th>Impuesto <span class="required_field">*</span></th>
          <th>Total</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(budget_items, counter) in budget_items_list" v-bind:key="counter">
          <td style="width: 10px">
            <a-tooltip placement="topLeft" title="Seleccionar Producto">
              <a-button type="primary" @click="showModalForm(counter)" icon="upload"/>
            </a-tooltip>
          </td>
          <td style="width: 300px">
            <input type="text" placeholder="Ingrese el concepto" class="form-control"
                   v-model="budget_items.budget_items_list_concept">
          </td>
          <td style="width: 300px">
            <input type="text" placeholder="Ingrese la descripción" class="form-control"
                   v-model="budget_items.budget_items_list_desc">
          </td>
          <td style="width: 100px">
            <input type="number" :disabled="!budget_items.id_product" placeholder="Ingrese la cantidad" maxlength="8" min="1" class="form-control"
                   v-model="budget_items.budget_items_list_quantity">
          </td>
          <td style="width: 150px">
            <input type="number" placeholder="Ingrese el Precio" maxlength="8" min="1" class="form-control"
                   v-model="budget_items.budget_items_list_price">
          </td>
          <td style="width: 150px">
            <a-select defaultValue="1" style="width: 190px" @change="taxChange" v-model="budget_items.tax_id">
              <a-select-option v-for="(item,index) in options_tax" :key="item.id" :value="item.id">{{item.label}}
              </a-select-option>
            </a-select>
          </td>
          <td style="width: 80px">
            {{ total(counter) }} €
          </td>
          <td class="align-center">
            <button class="btn btn-primary" @click="addProduct">+</button>
            <button class="btn btn-danger" v-if="(counter) >= 1" @click="deleteProduct(counter)">-</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <a-modal
      @cancel="onCloseModal"
      class="modal-form"
      :width="1050"
      :visible="show_modal_form"
      :destroyOnClose="true"
      on-ok="handleOk"
      :header="null"
      title="Seleccionar Productos y Servicios"
      :footer="null"
      :maskClosable="false"
    >
      <products_table :modal="true"/>
    </a-modal>
    <div class="card-footer p-3">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancelar</button>
    </div>
    <div>
      <a-affix :offsetBottom="bottom">
        <div class="row">
          <div class="col-md-12">
            <div class="alert border-0 alert-primary bg-gradient m-b-30 alert-dismissible fade show border-radius-none"
                 style="float: right" role="alert">
              <ul class="nav justify-content-center text-center" style="font-size: 3rem">
                <li class=" border-right mt-3 px-3 mr-10">
                  <div>
                    <h4 style="color: white;font-size: 4.0rem" class="mb-0">{{total_price}}<span> €</span></h4>
                    <p style="margin-top: 20px">Subtotal</p>
                  </div>
                </li>

                <li class="nav-item border-right mt-3 px-3 mr-10">
                  <div>
                    <h4 style="color: white;font-size: 4.0rem" class="mb-0">{{total_tax}}<span> €</span></h4>
                    <p style="margin-top: 20px"> Impuesto</p>
                  </div>
                </li>

                <li class="nav-item mt-3 px-3 mr-10">
                  <div>
                    <h4 style="color: white;font-size: 4.0rem" class="mb-0">{{total_all}}<span> €</span></h4>
                    <p style="margin-top: 20px">Total</p>
                  </div>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </a-affix>
    </div>
  </div>
</template>

<script>
  import Budgets from '../../../../../entities/models/modules/billings/budgets.model'
  import * as utils from '../../../../../entities/utils/utils'
  import * as mb from '../../../../../entities/models'
  import budget_items_list_form from '../../budget_items_list/form/budget_items_list_form'
  import products_table from '../../../managment/products/list/products_table'

  export default {
    name: 'budgets_form',
    inject: {
      close_modal: {
        default: () => {
        }
      },

    },
    provide: function () {
      return {
        close_modal_product: this.onCloseModal,
        add_elements: this.add_elements,
        get_list_product: this.budget_items_list,
      }
    },
    props: {
      model: {
        type: Object,
        default: () => {
        }
      },
      modal: {
        type: Boolean,
        default: false
      },
      popoverPlacement: {
        type: String,
        default: 'bottomLeft'
      }
    },
    validations: mb.statics('Budgets').validations,
    data () {
      return {
        // This property must have the same name of the model
        mb,
        bottom: 0,
        position: -1,
        defaultValue: 0,
        loading: false,
        budgets: mb.instance('Budgets'),
        payment_types: mb.instance('Payment_types'),
        budget_status: mb.instance('Budget_status'),
        show_modal_form: false,
        // budget_items_list: mb.instance('Budget_items_list'),
        options_tax: [
          {
            id: "1",
            label: 'Exento',
            value: 0,
          },
          {
            id: "2",
            label: 'Impuesto del 4 %',
            value: 4,
          },
          {
            id: "3",
            label: 'Impuesto del 10 %',
            value: 10,
          },
          {
            id: "4",
            label: 'Impuesto del 21 %',
            value: 21,
          }
        ],
        error_list: false,
        budget_items_list: [{
          budget_items_list_concept: '',
          budget_items_list_desc: '',
          budget_items_list_quantity: 1,
          budget_items_list_price: 0,
          tax_id: "1",
          id_product: null,
          id_service: null,
        }] ,

        // budget: this.id_budget
      }
    },
    computed: {
      total_price () {
        let total = 0
        this.budget_items_list.forEach((el) => {
          total += Number(el.budget_items_list_price)
        })
        return total
      },
      total_tax () {
        let total = 0
        this.budget_items_list.forEach((el) => {
          total += Number((this.find_tax(el.tax_id).value*el.budget_items_list_price)/100)

        })
        return total
      },
      total_all () {
        let result = 0
        this.budget_items_list.forEach((value, index) => {
          result += Number(this.total(index))
        })
        return result.toFixed(2)
      },
      budgetsFeedbacks () {
        return mb.statics('Budgets').feedbacks
      },
      button_text () {
        return this.budgets.get_id() ? 'Modificar' : 'Agregar'
      },
      modalTitle () {
        return this.budgets.get_id()
          ? 'Editar Presupuesto'
          : 'Agregar Presupuesto'
      }
    },
    mounted: async function () {
      this.loading=true
      if (this.$route.params.id) {
        const params={}
        params.relations=["arraybudget_items_list"]
        const budget = await mb.statics('Budgets').view(this.$route.params.id,params).then(response => response.data).catch(data => {
          if (data.response.status == 404) {
            _this.$router.push({name: 'budgets_list'})
          }
          return data
        })
        this.budgets = mb.instance('Budgets', budget)
        this.budget_items_list=budget.arraybudget_items_list
        this.addProduct();
        this.budget_items_list.pop()

      } else {
        this.budgets = mb.instance('Budgets', this.model)
      }
      this.loading=false

    },
    components: {
      budgetItemsListForm: budget_items_list_form,
      products_table
    },
    methods: {
      onChangeStart (value) {
        this.budgets.budget_expiration_date = moment(value).add(1, 'month')
      },
      validate_list () {
        this.error_list = this.budget_items_list.some((el) => {
          return el.budget_items_list_concept === '' || el.budget_items_list_desc === ''
        })
        return this.error_list
      },
      showModalForm (counter) {
        this.position = counter
        this.show_modal_form = !this.show_modal_form
      },
      onCloseModal (e, reload_data = false) {
        this.position = -1
        this.show_modal_form = false
      },
      taxChange (id) {
        // this.budget_items_list[counter].tax_id=id
      },
      find_tax (id) {
        return id ? this.options_tax.find(el => el.id === id) : 0
      },
      total (counter) {
        const selected_budget_item = this.budget_items_list[counter]
        const tax = this.options_tax.find(element => element.id == selected_budget_item.tax_id)

        if (tax) {
          const result = selected_budget_item.budget_items_list_quantity * selected_budget_item.budget_items_list_price + selected_budget_item.budget_items_list_quantity * selected_budget_item.budget_items_list_price * tax.value / 100
          return result.toFixed(2)
        }
        return 0
      },
      optionsFn (date) {
        date = date.split('/')
        let date3 = this.budgets.budget_start_date.split('-')
        let date2 = `${date[0]}-${date[1]}-${date[2]}`
        let date4 = `${date3[2]}-${date3[1]}-${date3[0]}`
        return date2 > date4
      },
      add_elements (array_products) {
        const cant = array_products.length + this.budget_items_list.length
        this.budget_items_list.pop()
        array_products.forEach((element) => {
          this.budget_items_list.push(
            {
              budget_items_list_concept: element.product_name || element.service_name,
              budget_items_list_desc: element.product_desc || element.service_desc,
              budget_items_list_quantity: 1,
              budget_items_list_price: element.product_cost||element.service_cost,
              tax_id: "1",
              type:  element.id_product?'Producto':"Servicio",
              id_product: element.id_product,
              id_service: element.id_service
            }
          )
        })
        this.addProduct()
        this.budget_items_list.pop()
        this.show_modal_form = false
      },
      addProduct () {
        this.budget_items_list.push({
          budget_items_list_concept: '',
          budget_items_list_desc: '',
          budget_items_list_quantity: 1,
          budget_items_list_price: 0,
          tax_id: "1",
          id_product: null,
          id_service: null,
        })
      },
      deleteProduct (counter) {
        this.budget_items_list.splice(counter, 1)
      },
      cancel () {
        this.modal ? this.close_modal(null, false) : this.$router.push({name: 'budgets_list'})
      },
      disabledDate (current) {
        // Can not select days before today and today
        return current && current < moment().subtract(1,'days')
      },
      save_model () {
        this.validate_list()
        if (this.$refs.form.validate() && !this.error_list) {
          this.loading = true
          this.budgets.budget_items_list = this.budget_items_list
          const accion = this.budgets.get_id() ? 'actualizado' : 'insertado'
          mb.statics('Budgets')
            .custom('post', 'register_budget', this.budgets)
            .then((response) => {
              if (utils.process_response(response, accion)) {
                this.modal ? this.close_modal(null, true) : this.$router.push({name: 'budgets_list'})
              }
              this.loading = false
            })
            .catch((error) => {
              this.loading = false
              utils.process_error(error)
            })
        }
      }
    }
  }
</script>

<style scoped>
  @import "budgets_form.css";
</style>

