<template>
  <div>
    <spinner v-if="loading"/>
    <tc-form
      :feedbacks="mb.statics('Club_members').feedbacks"
      :vobject="$v"
      nested="club_members"
      ref="form"
      class="form-row"
    >
      <tc-form-item class="form-group mb-0 col-md-6 px-3">
        <label>Nombre <span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el nombre' name='club_members_name' type_car=""
                  v-model="club_members.club_members_name"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group mb-0 col-md-6 px-3">
        <label>Apellidos</label>
        <tc-input placeholder='Ingrese los apellidos' name='club_member_last_name'
                  v-model="club_members.club_member_last_name"></tc-input>
      </tc-form-item>

      <tc-form-item class="form-group mb-0 col-md-6 px-3">
        <label>Pasaporte/DNI<span class="required_field">*</span></label>
        <tc-input placeholder="Ingrese el dni o pasaporte" name="club_members_dni" type_car="num_car"
                  v-model="club_members.club_members_dni"></tc-input>
      </tc-form-item>

      <tc-form-item class="form-group mb-0 col-md-6 px-3">
        <label>Fecha de Nacimiento<span class="required_field">*</span></label>
        <div class="d-flex flex-row">
          <tc-date-picker :default-value="defaultValue"  :disabled-date="disabledDate"
                          name="club_members_birthday" v-model="club_members.club_members_birthday"/>
        </div>
      </tc-form-item>
      <tc-form-item class="form-group mb-0 col-md-6 px-3">
        <label>Correo<span class="required_field">*</span></label>
        <tc-input placeholder="Ingrese el correo" name="club_members_email" type_car="num_car"
                  v-model="club_members.club_members_email"></tc-input>
      </tc-form-item>

      <tc-form-item class="form-group mb-0 col-md-6 px-3">
        <label>Teléfono</label>
        <tc-input placeholder="Ingrese el teléfono" name="club_members_phone" type_car="num"
                  v-model="club_members.club_members_phone"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group mb-0 col-md-6 px-3">
        <label>Dirección<span class="required_field">*</span></label>
        <tc-input placeholder="Ingrese la dirección" name="club_members_address"
                  v-model="club_members.club_members_address"></tc-input>
      </tc-form-item>

      <tc-form-item class="form-group mb-0 col-md-6 px-3">
        <label>Asesor</label>
        <div class="d-flex flex-row">
          <tc-autocomplete
            placeholder="Seleccione el Adviser"
            name="id_adviser"
            :search_params="{}"
            ref="select_adviser"
            :successFeed="false"
            :defaultValue="club_members.id_adviser"
            v-model="club_members.id_adviser"
            :url="mb.statics('Adviser').select_2_url"
          />
<!--          <a-button type="dashed"-->
<!--                    icon="plus"-->
<!--                    class="dashed-primary rounded mt-1 ml-2"-->
<!--                    @click="openModalCreateadviser">-->
<!--          </a-button>-->
        </div>
      </tc-form-item>
<!--      <a-modal-->
<!--        @cancel="showModalCreateadviser = false"-->
<!--        v-if="showModalCreateadviser"-->
<!--        class="modal-form"-->
<!--        :title="'Añadir Asesor'"-->
<!--        :visible="true"-->
<!--        :header="null"-->
<!--        :footer="null"-->
<!--        :maskClosable="false"-->
<!--      >-->
<!--        <adviser_form :model="null" @close_modal="adviserAdded"/>-->
<!--      </a-modal>-->
      <tc-form-item class="form-group mb-0 col-md-6 px-3" v-if="!is_update">
        <label>Cantidad de Inner Coins (IC)<span class="required_field">*</span></label>
        <tc-input placeholder="Ingrese la cantidad" name="clum_members_currency" type_car="num"
                  v-model="club_members.clum_members_currency"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group mb-0 col-md-6 px-3">
        <label>Idioma<span class='required_field'><span class="required_field">*</span></span></label>
        <div class="d-flex flex-row">
          <tc-autocomplete
            placeholder="Seleccione el lenguaje"
            name="id_languages"
            :search_params="{}"
            ref="select_languages"
            :successFeed="false"
            :defaultValue="club_members.id_languages"
            v-model="club_members.id_languages"
            :url="mb.statics('Languages').select_2_url"
          />
        </div>
      </tc-form-item>
      <tc-form-item class="form-group mb-0 col-md-6 px-3">
        <label>País</label>
        <div class="d-flex flex-row">
          <tc-autocomplete
            placeholder="Seleccione el Countries"
            name="id_country"
            :search_params="{}"
            ref="select_country"
            :successFeed="false"
            :defaultValue="club_members.id_country"
            v-model="club_members.id_country"
            @change="handleChangePais"
            :url="mb.statics('Countries').select_2_url"
          />
        </div>
      </tc-form-item>
      <tc-form-item class="form-group mb-0 col-md-6 px-3">
        <label>Provicia/Estado</label>
        <div class="d-flex flex-row">
          <tc-autocomplete
            placeholder="Seleccione la provincia/estado"
            name="id_state"
            :search_params="{attr:{country_id: club_members.id_country}}"
            ref="select_state"
            :successFeed="false"
            :disabled="!club_members.id_country"
            v-model="club_members.id_state"
            :data-source="province"
          />
        </div>
      </tc-form-item>
      <tc-form-item class="form-group mb-0 col-md-6 px-3">
        <label>Código Postal</label>
        <tc-input placeholder='Ingrese el valor postal_code' name='postal_code'
                  v-model="club_members.postal_code"></tc-input>
      </tc-form-item>
    </tc-form>
  </div>
</template>

<script>
  import Club_members from '../../../../../entities/models/modules/managment/club_members.model'
  import * as mb from '../../../../../entities/models'
  import adviser_form from '../../../nomenclatures/adviser/form/adviser_form'
  import moment from 'moment'
  import * as utils from '../../../../../entities/utils/utils'

  export default {
    name: 'club_members_form',
    inject: {
      set_member: {
        default: () => {
        }
      },
      pclub_members: {
        type: Function,
        default: () => {
        }
      },
      pusers: {
        type: Function,
        default: () => {
        }
      },
    },
    props: {
      model: {
        type: Object,
        default: () => {
        }
      },
      modal: {
        type: Boolean,
        default: false
      },
      popoverPlacement: {
        type: String,
        default: 'bottomLeft'
      }
    },
    validations: mb.statics('Club_members').validations,
    data () {
      return {
        // This property must have the same name of the model
        mb,
        moment,
        loading: false,
        club_members: {},
        defaultValue: moment().subtract(18, 'years'),
        showModalCreateadviser: false,
        adviser_list: [],
        province: []

      }
    },
    computed: {
      dateFormat () {
        return 'DD/MM/YYYY'
      },
      club_membersFeedbacks () {
        return mb.statics('Club_members').feedbacks
      },
      is_update () {
        return this.club_members.id_club_members
      }
    },
    watch: {
      'club_members.club_members_phone': function (newVal, oldVal) {
        this.club_members.club_members_phone = utils.convert_to_phone(newVal)
      },
    },
    mounted: async function () {
      this.club_members = this.pclub_members()
      if (this.club_members.get_id()) {
        this.loading = true
        const params = {}
        params.attr = {country_id: this.club_members.id_country}
        const response = await mb.statics('States').list(params)
        this.province = response.data.map((element) => {
          return {id: element.id_state, text: element.state_name}
        })
        this.loading = false
        this.club_members.club_members_birthday = moment(this.club_members.club_members_birthday)
      }
      else
        this.club_members.club_members_birthday=this.defaultValue;

    },
    components: {
      adviser_form
    },
    methods: {
      async handleChangePais (value) {
        this.$refs.select_state.loading = true
        const params = {}
        params.attr = {country_id: value}
        const response = await mb.statics('States').list(params)
        this.province = response.data.map((element) => {
          return {id: element.id_state, text: element.state_name}
        })
        this.$refs.select_state.loading = false
        this.club_members.id_state = this.province[0].id
      },
      openModalCreateadviser () {
        this.showModalCreateadviser = true
      },
      adviserAdded (refresh) {
        this.showModalCreateadviser = false
        refresh ? this.refreshadviser() : ''
      },
      async refreshadviser () {
        this.loading = true
        await this.$refs.select_adviser.load()
        this.loading = false
      },
      disabledDate (current) {
        // Can not select days before today and today
        return current && current > moment().subtract(17, 'years')
      },
      validate () {
        if (this.$refs.form.validate()) {
          this.set_member(this.club_members)
          return true
        }
        return false
      }
    }
  }
</script>

<style scoped>
  @import "club_members_form.css";
</style>

