<template>
  <div ref="form_container" class="card position-relative mb-0" style="padding:1rem" v-on:keyup.enter="save_model">
    <spinner v-if="loading"/>
    <div class="card-header p-0">
    </div>
    <div class="card-body p-0">
      <tc-form
        :feedbacks="mb.statics('Users').feedbacks"
        :vobject="$v"
        nested="users"
        ref="form"
        class="form-row"
      >
        <tc-form-item style="text-align: center">
          <a-upload
            name="avatar"
            listType="picture-card"
            class="avatar-uploader"
            style="display: inline-table"
            :showUploadList="false"
            :before-upload="beforeUpload"
            @change="handleImageChange"
          >
            <img id="image" height="102px" width="102px" v-show="users.image"
                 :src="mb.statics('Users').getImageURL(users.image)" alt="Image"/>
            <div v-if="!users.image">
              <a-icon :type="loading ? 'loading' : 'plus'"/>
              <div class="ant-upload-text">Subir</div>
            </div>
          </a-upload>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6  px-3">
          <label>Usuario<span class="required_field">*</span></label>
          <tc-input placeholder="Ingrese el usuario" name="username" v-model="users.username"></tc-input>
        </tc-form-item>
        <tc-form-item v-if="!is_update" class="form-group mb-0 col-md-6  px-3">
          <label>Autogenerar contraseña</label>
          <div class="col-md-12 mt-10">
            <a-switch v-model="autogenerate"/>
          </div>
        </tc-form-item>
        <tc-form-item v-if="!autogenerate" class="form-group mb-0 col-md-6 px-3">
          <label>Contraseña</label>
          <tc-input placeholder="Ingrese la contraseña" type="password" name="pass" v-model="users.pass"></tc-input>
        </tc-form-item>

        <tc-form-item v-if="!autogenerate" class="form-group mb-0 col-md-6 px-3">
          <label>Confirmar contraseña </label>
          <tc-input placeholder="Confirme la contraseña" type="password" v-model="users.confirm_password"
                    name="confirm_password"></tc-input>
        </tc-form-item>

      </tc-form>
    </div>
  </div>
</template>

<script>
  import * as mb from '../../../../../entities/models'

  export default {
    name: 'users_members',
    inject: {
      set_user: {
        default: () => {
        }
      },
      pusers: {
        default: () => {
        }
      }
    },
    props: {
      model: {
        type: Object,
        default: () => {
        }
      },
      modal: {
        type: Boolean,
        default: false
      },
      popoverPlacement: {
        type: String,
        default: 'bottomLeft'
      }
    },
    validations: mb.statics('Users').validations,
    data () {
      return {
        showModalCreateRoles: false,
        mb,
        autogenerate: true,
        loading: false,
        users: {},
      }
    },
    computed: {
      usersFeedbacks () {
        return mb.statics('Users').feedbacks
      },
      is_update(){
        return this.users.id_user
      },
      params () {
        const params = {}
        return params
      },
    },

    mounted: function () {
       this.users=this.pusers()?this.pusers():mb.instance('Users')
    },
    methods: {
      handleImageChange (info) {
        let reader = new FileReader()
        reader.onload = function (e) {
          document.getElementById('image').setAttribute('src', e.target.result)
        }
        reader.readAsDataURL(info.file)
        this.users.image = info.file
      },
      beforeUpload (file) {
        // const isJpgOrPng = file.type === 'image/jpeg' || file.type === 'image/png';
        // if (!isJpgOrPng) {
        //   alert('Solo puede subir imágenes');
        // }
        return false
      },
      validate () {
        if (this.$refs.form.validate()) {
          this.set_user(this.users)
          return true
        }
        return false
      }
    }
  }
</script>

<style scoped>
  @import "club_members_form.css";
</style>

