<template>
  <a-spin :spinning="loading">
    <div ref="form_container" class="">
      <spinner v-if="loading"/>
      <div class="">
        <a-steps :current="current">
          <a-step title="Datos del Miembro"/>
          <a-step title="Datos del Usuario"/>
        </a-steps>
        <div class="steps-content py-3">
          <keep-alive>
            <component ref="dynamicComponent" @onSave="save" :is="steps[current]"></component>
          </keep-alive>
        </div>
        <div class="steps-action d-flex">
          <a-button class @click="prev" v-if="current>0">Anterior</a-button>
          <div class="d-flex ml-auto align-center flex-row">
            <a-button icon="save" v-if="current==1" type="primary" @click="save">Salvar</a-button>
            <a-button class="ml-2" v-if="current<1" type="primary" @click="next">Siguiente</a-button>
          </div>
        </div>
      </div>
    </div>
  </a-spin>
</template>

<script>
  import * as mb from '../../../../../entities/models'
  import club_members_form from './club_members_form'
  import users_members from './users_members'
  import * as utils from '../../../../../entities/utils/utils'

  export default {
    name: 'wizard_member',
    provide: function () {
      return {
        set_member: this.set_member,
        set_user: this.set_user,
        pclub_members: this.pclub_members,
        pusers: this.pusers
      }
    },
    inject: {
      close_modal: {
        default: () => {
        }
      },
    },
    props: {
      model: {
        type: Object,
        default: () => {
        }
      },
      modal: {
        type: Boolean,
        default: false
      },
      popoverPlacement: {
        type: String,
        default: 'bottomLeft'
      }
    },
    computed: {

    },
    methods: {
      pclub_members () {
        return this.club_members
      },
      pusers () {
        return this.users
      },
      save () {
        if (!this.$refs.dynamicComponent.validate()) {
          return 0
        }
        this.loading = true
        this.club_members.club_members_birthday = moment(this.club_members.club_members_birthday).format('DD/MM/YYYY')
        this.users.nombre_usuario = this.club_members.club_members_name
        this.users.apellido_usuario = this.club_members.club_member_last_name
        this.users.email = this.club_members.club_members_email
        this.users.phone = this.club_members.club_members_phone
        this.users.status = 'P'
        const params = {}
        params.club_members = this.club_members
        params.users = this.users
        const data = utils.objectToFormData(params)
        data.append('image', this.users.image)
        data.append('club_members_picture', this.users.image)
        data.append('id_user', this.$store.site.user.id_user)
        data.append('id_user_ref', this.$store.site.user.id_user)
        mb.statics('Club_members')
          .custom('post', 'register_member', data, {'Content-Type': 'multipart/form-data'})
          .then((response) => {
            if (utils.process_response(response, 'insertado')) {
              this.modal ? this.close_modal(null, true) : this.$router.push({name: 'contract_types_list'})
            }
            this.loading = false
          })
          .catch((error) => {
            this.loading = false
            utils.process_error(error)
          })
      },
      set_member (data) {
        this.club_members = data
      },
      set_user (data) {
        this.users = data
      },
      cancel () {
      },
      next () {
        if (!this.$refs.dynamicComponent.validate()) {
          return 0
        }
        this.current++
      },
      prev () {
        this.current--
      }
    },
    components: {
      club_members_form,
      users_members
    },
    data () {
      return {
        loading: false,
        current: 0,
        club_members: mb.instance('Club_members'),
        user: mb.instance('Users'),
        stepsCount: 4,
        steps: {
          0: 'club_members_form',
          1: 'users_members',
        }
      }
    },
    beforeMount: async function () {
      if(this.model.get_id()) {
        this.club_members = mb.instance('Club_members', this.model)
        const data = await mb.statics('Users').view(this.club_members.id_user)
        this.users = mb.instance('Users', data.data)
      }
      else{
        this.club_members = mb.instance('Club_members', {})
      }

    },
    mounted: async function () {

    }
  }
</script>

<style scoped>

</style>
