<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model()">
    <spinner v-if="loading" />
    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0" >

      <tc-form
        :feedbacks="mb.statics('States').feedbacks"
        :vobject="$v"
        nested="states"
        ref="form"
        class="form-row"
      >
      <tc-form-item class="form-group p-0 col-6">
        <label>State_name<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el valor state_name' name='state_name' v-model="states.state_name"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>Country_code</label>
        <tc-input placeholder='Ingrese el valor country_code' name='country_code' v-model="states.country_code"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>District</label>
        <tc-input placeholder='Ingrese el valor district' name='district' v-model="states.district"></tc-input>
      </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Countries</label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el Countries"
              name="country_id"
              :search_params= "{}"
              ref="select_country"
              :successFeed="false"
              :defaultValue="states.country_id"
              v-model="states.country_id"
              :url="mb.statics('Countries').select_2_url"
            />
            <a-button type="dashed"
                      icon="plus"
                      class="dashed-primary rounded mt-1 ml-2"
                      @click="openModalCreatecountry">
            </a-button>
          </div>
        </tc-form-item>

        <a-modal
          @cancel="showModalCreatecountry = false"
          v-if="showModalCreatecountry"
          class="modal-form"
          :visible="true"
          :header="null"
          :footer="null"
          :maskClosable="false"
        >
          <countries_form :model="null" @close_modal="countryAdded"/>
        </a-modal>
      <tc-form-item class="form-group p-0 col-6">
        <label>Population</label>
        <tc-input placeholder='Ingrese el valor population'   type_car='num'  name='population' v-model="states.population"></tc-input>
      </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button v-if="!states.get_id()" :disabled="loading" class="btn btn-primary" @click="save_model(true)">Añadir y nuevo</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancel</button>
    </div>
  </div>
</template>

<script>
import States from "../../../../../entities/models/modules/nomenclatures/states.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models"
  import Countries_form from '../../countries/form/countries_form';

export default {
  name: "states_form",
  inject: {
      close_modal: { default: ()=>{} },
      load_data: {default: () => {} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
      modal: {
        type: Boolean,
        default: false
      },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: mb.statics('States').validations,
  data() {
    return {
      loading: false,
      mb,      // This property is for load static or instance class
      states: mb.instance( 'States'),
      showModalCreatecountry: false,
      countries_list: [],
    };
  },
  computed: {
    statesFeedbacks() {
      return mb.statics('States').feedbacks;
    },
    button_text() {
      return this.states.get_id() ? "Modificar" : "Añadir";
    },
    modalTitle() {
      return this.states.get_id()
        ? "Modificar States"
        : "Añadir States";
    }
  },

  mounted: function() {
    this.states = mb.instance( 'States',this.model);

  },
  components: {

       Countries_form,
             },
  methods: {
      openModalCreatecountry() {
        this.showModalCreatecountry = true;
      },
      countryAdded(refresh) {
        this.showModalCreatecountry = false;
        refresh?this.refreshcountry():'';
      },
      async refreshcountry() {
        this.loading = true;
        await this.$refs.select_country.load();
        this.loading = false;
      },
      cancel(){
        if (this.model === null) {
          this.$emit('close_modal',false)
        } else {
        this.modal?this.close_modal(null,false):this.$router.push({name: 'states_list'})
       }
      },
    save_model(and_new=false) {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.states.get_id() ? "actualizado" : "añadido";
        this.states
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
                if (this.model === null) {
                  this.$emit('close_modal',true)
                  return;
               }
                else
                   !and_new?this.modal?this.close_modal(null,true):this.$router.push({name: 'states_list'}):this.states=mb.instance('States');this.load_data();this.$refs.form.vobject.$reset()
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "states_form.css";
</style>

