<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Acceso</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Seguridad</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Usuarios del Sistema</li>
      </ol>
    </nav>
    <div>
      <div class="row">
        <div class="col-md-6">
          <a-button-group style="margin-bottom: 10px">
            <a-tooltip placement="topLeft" title="Añadir nuevo elemento">
              <a-button icon="plus" type="primary" @click="showModalForm">Agregar</a-button>
            </a-tooltip>
            <a-tooltip placement="topLeft" title="Eliminar elementos seleccionados">
              <a-button icon="delete" type="danger" @click="showDeleteConfirm">Eliminar</a-button>
            </a-tooltip>
          </a-button-group>
        </div>
        <div class="col-md-6" style="text-align: end;">
          <div class="form-group">
            <div class="input-group mb-3">
              <a-tooltip placement="topLeft" title="Buscar..">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  v-model="filter"
                  placeholder="Buscar"
                  aria-label
                />
              </a-tooltip>
              <div class="input-group-append">
                <a-tooltip placement="topLeft" title="Limpiar filtros">
                  <a-button
                    style="text-align: end"
                    class="rounded-0"
                    type="primary"
                    @click="filter=''"
                  >
                    <i class="ti ti-eraser" style="margin-right: 10px"/>Limpiar
                  </a-button>
                </a-tooltip>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <h6 style="text-align: left">Listado de Usuarios del Sistema</h6>
          </div>
          <div class="col-md-6" style="text-align: end;float: right">
            <div class="row">
              <div class="col-md-8" style="text-align: end">
                <p style="text-align: end">
                  Elementos seleccionados {{selectedRowKeys.length}}/{{data.length}}
                </p>
              </div>
              <div class="col-md-3">
                <a-dropdown-button style="margin-left: 45%;">
                  Exportar
                  <a-menu slot="overlay">
                    <a-menu-item key="1" @click="exportToExcel">
                      <a-icon type="file-excel" theme="twoTone" twoToneColor="#52c41a"/>
                      Excel
                    </a-menu-item>
                    <!--                    <a-menu-item key="2" @click=""><a-icon type="file-pdf" theme="twoTone" twoToneColor="#c41c33" />PDF</a-menu-item>-->

                    <a-menu-item key="3" @click="exportToCSV">
                      <a-icon type="file-text" theme="twoTone" twoToneColor="#2771c4"/>
                      CSV
                    </a-menu-item>
                  </a-menu>
                </a-dropdown-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a-modal
        @cancel="onCloseModal"
        class="modal-form"
        width="55rem"
        :visible="show_modal_form"
        :destroyOnClose="true"
        on-ok="handleOk"
        :header="null"
        :footer="null"
        :maskClosable="false"
      >
        <users_form :modal=true :model="selected_model"/>
      </a-modal>

      <a-modal
        @cancel="onCloseModal"
        class="modal-form"
        width="55rem"
        :visible="show_modal_pass"
        :destroyOnClose="true"
        on-ok="handleOk"
        :header="null"
        :footer="null"
        :title="'Cambiar contraseña'"
        :maskClosable="false"
      >
        <users_pass :modal=true :model="selected_model"/>
      </a-modal>

      <a-table
        :columns="columns"
        :rowKey="record => record.id_user"
        :dataSource="data"
        :rowSelection="rowSelection"
        :loading="loading"
        :pagination="pagination.$data"
      >
        <a slot="action" slot-scope="record" href="javascript:;">
          <a-dropdown>
            <a-menu slot="overlay">
              <a-menu-item key="2" @click="showModalPass(record)" v-if="!is_user(record.id_user)">
                <i type="delete" style="padding-right: 5px;color: deepskyblue;font-size: 20px;"
                   class="ti ti-lock"/>Cambiar Contraseña
              </a-menu-item>
              <a-menu-item key="3" @click="onEditing(record)">
                <i type="success" style="padding-right: 5px;color: #1c7430;font-size: 20px;"
                   class="ti ti-pencil-alt"/>Modificar Elemento
              </a-menu-item>
              <a-menu-item key="4" @click="showDeleteSelected(record)">
                <i type="delete" style="padding-right: 5px;color: red;font-size: 20px;"
                   class="ti ti-trash"/>Eliminar Elemento
              </a-menu-item>
              <a-menu-item key="5" @click="confirm_reset(record)">
                <i type="delete" style="padding-right: 5px;color: #8e54e9;font-size: 20px;"
                   class="ti ti-email"/>Reiniciar Contraseña
              </a-menu-item>
              <a-menu-item key="6" @click="restart_member(record)">
                <i type="delete" style="padding-right: 5px;color: #8e54e9;font-size: 20px;"
                   class="dashicons dashicons-admin-users"/>Reinsertar Miembro
              </a-menu-item>
            </a-menu>
            <a-button>
              Acciones <a-icon type="down" />
            </a-button>
          </a-dropdown>
        </a>
        <template slot="image" slot-scope="record">
          <a-popover :title="record.nombre_usuario +' '+record.apellido_usuario">
            <template slot="content">
              <a-avatar :size="80" :src="mb.statics('Users').getImageURL(record.image)"/>
            </template>
            <a-avatar size="large" :src="mb.statics('Users').getImageURL(record.image)"/>
          </a-popover>
        </template>
        <template slot="activo" slot-scope="active">
          <i v-if="active==='1'" style="color:green;font-size: 20px" class="ti ti-arrow-circle-down"></i>
          <i v-if="active==='0'" style="color:red;font-size: 20px" class="ti ti-na"></i>
        </template>
        <a slot="status" slot-scope="record" href="javascript:;">
          <a-tooltip placement="topLeft" title="Usuario activo ">
            <div v-if="record.status==='A'" class="badge badge-success badge-pill">Activo</div>
          </a-tooltip>
          <a-tooltip placement="topLeft" title="Usuario activo, sin cambiar la contraseña">
            <div v-if="record.status==='NP'" class="badge badge-info badge-pill">Activo</div>
          </a-tooltip>
          <a-tooltip placement="topLeft" title="Ususario pendiente de aceptación">
            <div v-if="record.status==='P'" @click="active_pending(record)" class="badge badge-warning badge-pill">
              Pendiente
            </div>
          </a-tooltip>
          <a-tooltip placement="topLeft" title="Usuario inactivo">
            <div v-if="record.status==='I'" class="badge badge-danger badge-pill">Inactivo</div>
          </a-tooltip>
        </a>
      </a-table>
    </div>
  </div>
</template>

<script>
  import Users from '../../../../../entities/models/modules/security/users.model'
  import * as utils from '../../../../../entities/utils/utils'
  import * as mb from '../../../../../entities/models'
  import action_buttons from '../../../../shared/table/action_buttons/action_buttons'
  import pagination_functions from '../../../../shared/table/pagination/pagination_options'
  import vantdpagination from '../../../../shared/table/pagination/antd_pagination'
  import users_form from '../form/users_form'
  import users_pass from '../form/users_pass'
  import SiteModel from '../../../../../entities/models/site.model'
  import {openNotificationWithIcon} from '../../../../../entities/utils/utils'

  export default {
    name: 'users_list',
    provide: function () {
      return {
        close_modal: this.onCloseModal
      }
    },
    data () {
      return {
        data: [],
        self: null,
        users_list: [],
        filter: null,
        columns: mb.statics('Users').show_columns(['username'], false),
        loading: false,
        text_select: 'Marcar todos',
        selectedRowKeys: [],
        pagination: vantdpagination,
        selected_model: mb.instance('Users'),
        show_modal_form: false,
        show_modal_pass: false,
        mb
      }
    },
    components: {
      action_buttons,
      pagination_functions,
      vantdpagination,
      users_form,
      users_pass
    },
    watch: {
      filter: function () {
        this.loading=true
        this.data = this.users_list.data.filter(this.filter_data)
        this.loading=false

      },
      selectedRowKeys: function () {
        if (this.selectedRowKeys.length == this.data.length) {
          this.text_select = 'Desmarcar todos'
        } else {
          this.text_select = 'Marcar todos'
        }
      }
    },
    computed: {
      rowSelection () {
        const {selectedRowKeys} = this
        return {
          selectedRowKeys,
          hideDefaultSelections: true,
          selections: [
            {
              key: 'all-data',
              text: this.text_select,
              onSelect: () => {
                if (this.selectedRowKeys.length == this.data.length) {
                  this.selectedRowKeys = []
                } else {
                  this.selectedRowKeys = this.data.map(e => {
                    return e.id_user
                  })
                }
              },

            }
          ],
          onSelection: this.onSelection,
          onChange: this.onChange,
          getCheckboxProps: record => {
            return ({
              props: {
                disabled: Number.parseInt(record.id_user) === this.$store.site.user.id_user, // Column configuration not to be checked
                name: record.id_user.toString(),
              }
            })
          },
        }
      }
    },
    methods: {
      showDeleteSelected(model) {
        let _this = this;
        this.selected_model = mb.instance('Users', model)
        this.$confirm({
          title: 'Desea eliminar este elemento?',
          icon: "delete",
          // icon:()=>{return ( <a-icon type="delete" style="color:red"/> )},
          okText: 'Si',
          okType: 'danger',
          class: 'delete_confirm',
          cancelText: 'No',
          async onOk() {
            try {
              const response = await _this.selected_model.delete();
              utils.process_response(response, 'delete')
              _this.load_data();
            } catch (error) {
              utils.process_error(error)
            }
          },
          onCancel() {

          },
        });
      },
      confirm_reset(model) {
        let _this = this;
        this.selected_model = mb.instance('Users', model)
        this.$confirm({
          title: 'Desea reiniciar la contraseña de este usuario?',
          icon:()=>{return ( <a-icon type="info" style="color:blue;font-size:25px"/> )},
          okText: 'Si',
          okType: 'danger',
          class: 'primary',
          cancelText: 'No',
          async onOk() {
            try {
              _this.loading = true
              SiteModel.custom('post','site/reset_pass',{email:_this.selected_model.email})
                .then((response) => {
                  if(response.data.success) {
                    openNotificationWithIcon('success', 'Reinicio de contraseña', "Se ha enviado un correo con la nueva contraseña")
                  }
                  else
                    openNotificationWithIcon('error', 'Reinicio de contraseña', response.data.message)
                  _this.loading = false
                })
                .catch((error) => {
                  _this.loading = false
                  utils.process_error(error)
                })
            } catch (error) {
              utils.process_error(error)
            }
          },
          onCancel() {

          },
        });
      },
      restart_member(model) {
        let _this = this;
        this.selected_model = mb.instance('Users', model)
        this.$confirm({
          title: 'Desea restaurar el acceso de miembro del club de este usuario?',
          icon:()=>{return ( <a-icon type="info" style="color:blue;font-size:25px"/> )},
          okText: 'Si',
          okType: 'danger',
          class: 'primary',
          cancelText: 'No',
          async onOk() {
            try {
              _this.loading = true
              mb.statics('Club_members').custom('post','restart_member',{id:_this.selected_model.get_id()})
                .then((response) => {
                  if(response.data.success) {
                    _this.$info({
                      title: 'Usted ha restaurado el miembro del club con correo '+_this.selected_model.email,
                      content: h('div',{}, [
                        h('p', 'Debe actualizar los datos de este miembro ya qe se le insertaron datos iniciales'),
                      ]),
                      onOk() {},
                    });
                  }
                  else
                    openNotificationWithIcon('error', 'Restaurar miembro', response.data.message)
                  _this.loading = false
                })
                .catch((error) => {
                  _this.loading = false
                  utils.process_error(error)
                })
            } catch (error) {
              utils.process_error(error)
            }
          },
          onCancel() {

          },
        });
      },

      active_pending (record) {
        if (!record.arrayclub_members[0].id_country) {
          const h = this.$createElement
          this.$info({
            title: 'Error en activar usuario',
            content: h('div', {}, [
              h('p', 'Este miembro no tiene pais asociado')
            ]),
            onOk () {
            },
          })
        } else {
          this.$confirm({
            title: 'Desea aceptar este miembro?',
            content: 'Marcar el usuario ' + record.email + ' como activo',
            onOk () {
              let params = {}
              params.id = record.arrayclub_members[0].id_club_members
              mb.statics('Club_members').custom('post', 'send_email', params)
            },
            onCancel () {
            },
          })
        }
      },
      is_user (id_user) {
        return this.$store.site.user.id_user === Number.parseInt(id_user)
      },
      exportToExcel () {
        utils.exportToExcelVinstance(this)
      },
      exportToCSV () {
        utils.exportToCSV(this)
      },
      onCloseModal (e, reload_data = false) {
        this.selected_model = new Users()
        this.show_modal_form = false
        this.show_modal_pass = false
        reload_data ? this.load_data() : ''
      },
      onShowPass (model) {
        this.selected_model = mb.instance('Users', model)
        this.showModalPass()
      },
      showModalForm () {
        this.show_modal_form = !this.show_modal_form
      },
      showModalPass (record) {
        this.selected_model=mb.instance("Users",record)
        this.show_modal_pass = !this.show_modal_pass
      },
      filter_data (object) {
        return utils.filter_object_column(object, this.filter, this.columns)
      },
      onChange: function (selectedRowKeys) {
        this.selectedRowKeys = selectedRowKeys
      },
      showDeleteConfirm () {
        if (this.selectedRowKeys.length == 0) {
          utils.openNotificationWithIcon(
            'error',
            'Eliminar elementos seleccionados',
            'Debe seleccionar al menos un elemento'
          )
          return
        }
        let _this = this
        this.$confirm({
          title: 'Desea eliminar los elementos seleccionados?',
          icon: 'delete',
          // icon:()=>{return ( <a-icon type="delete" style="color:red"/> )},
          okText: 'Si',
          okType: 'danger',
          class: 'delete_confirm',
          cancelText: 'No',
          async onOk () {
            try {
              const response = await Users.delete_by_ids(
                _this.selectedRowKeys
              )
              utils.process_response(response, 'borrado(s)')
              _this.selectedRowKeys = []
              _this.load_data()
            } catch (error) {
              utils.process_error(error)
              _this.selectedRowKeys = []
            }
          },
          onCancel () {
          }
        })
      },
      async load_data () {
        try {
          this.loading = true
          var params = {
            relations: ['role', 'arrayclub_members']
          }
          const resp = await mb.statics('Users').list(params)
          this.users_list = resp
          this.data = this.users_list.data.filter(this.filter_data)
          this.loading = false
        } catch (error) {
          utils.process_error(error)
          this.loading = false
        }
      },

      async delete_selected () {
      },

      onEditing (model) {
        this.selected_model = new Users(model)
        this.showModalForm()
      }
    },

    mounted () {
      this.loading = true
      this.data = []
      this.load_data()
      this.self = this
      this.pagination.$options.props = {
        load_data: this.load_data
      }
    }
  }
</script>

<style>
  @import "users_list.css";
</style>

