<template>
  <div ref="form_container" class="card position-relative mb-0" style="padding:1rem" v-on:keyup.enter="save_model">
    <spinner v-if="loading" />
    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0" >
      <tc-form
        :feedbacks="mb.statics('Contracts').feedbacks"
        :vobject="$v"
        nested="contracts"
        ref="form"
        class="form-row"
      >
        <tc-form-item style="text-align: left" class="form-group mb-0 col-md-12 px-3">
          <label >Documento</label>
          <a-upload
            name="avatar"
            listType="picture-card"
            class="avatar-uploader"
            style="display: inline-table"
            :showUploadList="false"
            :beforeUpload="beforeUpload"
            @change="handleDocumentChange"
          >
            <img id="contract_attachment" height="102px" width="102px" v-show="contracts.contract_attachment" :src="mb.statics('Contracts').getDocumentURL(contracts.contract_attachment)" alt="Document"/>
            <div v-if="!contracts.contract_attachment">
              <a-icon :type="loading ? 'loading' : 'plus'"/>
              <div class="ant-upload-text">Subir</div>
            </div>
          </a-upload>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Fecha de inicio*</label>
          <div class="d-flex flex-row">
            <tc-date-picker placeholder="Ingrese fecha" name="contract_start_date" v-model="contracts.contract_start_date"></tc-date-picker>
          </div>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Fecha de fin*</label>
          <div class="d-flex flex-row">
            <tc-date-picker :options="optionsFn" placeholder="Ingrese fecha" name="contract_end_date" v-model="contracts.contract_end_date"></tc-date-picker>
          </div>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-12 px-3">
          <label>Título del contrato*</label>
          <tc-input placeholder="Ingrese el título del contrato" name="contract_title" v-model="contracts.contract_title"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Tipo de contrato*</label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el tipo"
              name="contract_type_id"
              :successFeed="false"
              :defaultValue="contracts.contract_type_id"
              v-model="contracts.contract_type_id"
              :url="mb.statics('Contract_types').select_2_url"
            />
          </div>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Tipo de pago*</label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el tipo"
              name="payment_type_id"
              :successFeed="false"
              :defaultValue="contracts.payment_type_id"
              v-model="contracts.payment_type_id"
              :url="mb.statics('Payment_types').select_2_url"
            />
          </div>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Salario neto*</label>
          <tc-input placeholder="Ingrese el salario" name="contract_net_salary" v-model="contracts.contract_net_salary"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Cantidad de pagos*</label>
          <tc-input placeholder="Ingrese la cantidad" v-model="contracts.contract_payment_quantity" name="contract_payment_quantity"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Horas de trabajo*</label>
          <tc-input placeholder="Ingrese la cantidad" v-model="contracts.contract_work_hours" name="contract_work_hours"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Días por semana*</label>
          <tc-input placeholder="Ingrese la cantidad web" name="contract_days_per_week" v-model="contracts.contract_days_per_week"></tc-input>
        </tc-form-item>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Unidad*</label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione la unidad"
              name="contract_payment_unity_id"
              :successFeed="false"
              :defaultValue="contracts.contract_payment_unity_id"
              v-model="contracts.contract_payment_unity_id"
              :url="mb.statics('Contract_payment_unities').select_2_url"
            />
          </div>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Estado*</label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el estado"
              name="contract_status_id"
              :successFeed="false"
              :defaultValue="contracts.contract_status_id"
              v-model="contracts.contract_status_id"
              :url="mb.statics('Contract_status').select_2_url"
            />
          </div>
        </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-3">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancelar</button>
    </div>
  </div>
</template>

<script>
import Contracts from "../../../../../entities/models/modules/managment/contracts.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models";

export default {
  name: "contracts_form",
  inject: {
    close_modal: { default: ()=>{} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
    modal: {
      type: Boolean,
      default: false
    },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    },
    employee_id: {
      type: Number
    }
  },
  validations: mb.statics('Contracts').validations,
  data() {
    return {
      // This property must have the same name of the model
      mb,
      loading: false,
      contracts: mb.instance('Contracts'),
      employees: mb.instance('Employees'),
      contract_types: mb.instance('Contract_types'),
      payment_types: mb.instance('Payment_types'),
      contract_payment_unities: mb.instance('Contract_payment_unities'),
      contract_status: mb.instance('Contract_status')
    };
  },
  computed: {
    contractsFeedbacks() {
      return mb.statics('Contracts').feedbacks;
    },
    button_text() {
      return this.contracts.get_id() ? "Modificar" : "Agregar";
    },
    modalTitle() {
      return this.contracts.get_id()
        ? "Editar Contrato"
        : "Agregar Contrato";
    }
  },

  mounted: function() {
    this.contracts = mb.instance('Contracts', this.model);
    this.contracts.employee_id = Number.parseInt(this.$route.params.employee_id)
    this.contracts.created_at = (this.$route.params.created_at)
    this.contracts.updated_at = (this.$route.params.updated_at)

  },
  components: {},
  methods: {
    disabledStartDate(startValue) {
      startValue = this.contracts.contract_start_date;
      const endValue = this.contracts.contract_end_date;
      if (!startValue || !endValue) {
        return false;
      }
      return startValue.valueOf() > endValue.valueOf();
    },
    disabledEndDate(endValue) {
      endValue = this.contracts.contract_end_date;
      const startValue = this.contracts.contract_start_date;
      if (!endValue || !startValue) {
        return false;
      }
      return startValue.valueOf() >= endValue.valueOf();
    },
    optionsFn(date) {
      date = this.contracts.contract_end_date.split('/');
      let date3 = this.contracts.contract_start_date.split('-');
      let date2 = `${date[0]}-${date[1]}-${date[2]}`;
      let date4 = `${date3[2]}-${date3[1]}-${date3[0]}`;
      return date2 > date4;
    },
    handleDocumentChange (info) {
      let reader = new FileReader()
      reader.onload = function (e) {
        document.getElementById('contract_attachment').setAttribute('src', e.target.result)
      }
      reader.readAsDataURL(info.file)
      this.contracts.contract_attachment = info.file
    },
    beforeUpload (file) {
      return false
    },
    save_model() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.contracts.get_id() ? "actualizado" : "insertado";
        this.contracts.isFormData = (this.contracts.contract_attachment instanceof File) ? true : false;
        this.contracts
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
              // this.$emit("close_modal",null,true)
              this.modal?this.close_modal(null,true):this.$router.push({name: 'contracts_list'})
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    },
    cancel(){
      // this.$emit("close_modal",null,true)
      this.modal?this.close_modal(null,false):this.$router.push({name: 'contracts_list'})
    },
  }
};
</script>

<style scoped>
@import "contracts_form.css";
</style>

