<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model()">
    <spinner v-if="loading" />
    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0" >

      <tc-form
        :feedbacks="mb.statics('Servicio_productos').feedbacks"
        :vobject="$v"
        nested="servicio_productos"
        ref="form"
        class="form-row"
      >
      <tc-form-item class="form-group p-0 col-6">
        <label>Name<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el valor name' name='name' v-model="servicio_productos.name"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>Description<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el valor description' name='description' v-model="servicio_productos.description"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>Price<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el valor price'   type_car='dec'  name='price' v-model="servicio_productos.price"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>Max_part<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el valor max_part'   type_car='num'  name='max_part' v-model="servicio_productos.max_part"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>State<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el valor state' name='state' v-model="servicio_productos.state"></tc-input>
      </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button v-if="!servicio_productos.get_id()" :disabled="loading" class="btn btn-primary" @click="save_model(true)">Añadir y nuevo</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancel</button>
    </div>
  </div>
</template>

<script>
import Servicio_productos from "../../../../../entities/models/modules/managment/servicio_productos.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models"

export default {
  name: "servicio_productos_form",
  inject: {
      close_modal: { default: ()=>{} },
      load_data: {default: () => {} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
      modal: {
        type: Boolean,
        default: false
      },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: mb.statics('Servicio_productos').validations,
  data() {
    return {
      loading: false,
      mb,      // This property is for load static or instance class
      servicio_productos: mb.instance( 'Servicio_productos'),
    };
  },
  computed: {
    servicio_productosFeedbacks() {
      return mb.statics('Servicio_productos').feedbacks;
    },
    button_text() {
      return this.servicio_productos.get_id() ? "Modificar" : "Añadir";
    },
    modalTitle() {
      return this.servicio_productos.get_id()
        ? "Modificar Servicio_productos"
        : "Añadir Servicio_productos";
    }
  },

  mounted: function() {
    this.servicio_productos = mb.instance( 'Servicio_productos',this.model);

  },
  components: {

             },
  methods: {
      cancel(){
        if (this.model === null) {
          this.$emit('close_modal',false)
        } else {
        this.modal?this.close_modal(null,false):this.$router.push({name: 'servicio_productos_list'})
       }
      },
    save_model(and_new=false) {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.servicio_productos.get_id() ? "actualizado" : "añadido";
        this.servicio_productos
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
                if (this.model === null) {
                  this.$emit('close_modal',true)
                  return;
               }
                else
                   !and_new?this.modal?this.close_modal(null,true):this.$router.push({name: 'servicio_productos_list'}):this.servicio_productos=mb.instance('Servicio_productos');this.load_data();this.$refs.form.vobject.$reset()
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "servicio_productos_form.css";
</style>

