<template>
  <a-config-provider :locale="es_ES">
    <div>
      <Home v-if="auth=='logged'"/>
      <Login v-if="!auth"/>
      <Reset v-if="auth=='reset'"/>
    </div>
  </a-config-provider>
</template>

<script>
import es_ES from 'ant-design-vue/lib/locale-provider/es_ES'
import Login from './components/layout/templates/Login'
import Home from './components/layout/templates/Home'
import Reset from './components/layout/templates/Reset'

export default {
  name: 'app',
  provide: function () {
    return {
      logout: this.logout,
      login: this.login,
      set_auth: this.set_auth
    }
  },
  data () {
    return {
      es_ES,
      auth: this.$store.site.user != null ? 'logged' : false
    }
  },
  computed: {},

  methods: {
    logout () {
      this.auth = this.$store.site.logout()
    },
    login () {
      this.auth = this.$store.site.user != null ? 'logged' : false
      if (this.$store.site.is_member && this.$route.name !== 'index' && !this.$route.name) {
        this.$router.push({name: 'index'})
      }
    },
    set_auth (value) {
      this.auth = value
    }
  },
  components: {Login, Home, Reset},
  mounted () {
    if (this.$route.name === 'reset_pass' || this.$route.name === 'init_pass' || this.$route.name === 'register_member') {
      this.auth = 'reset'
    }
  }
}
</script>

<style scoped>
</style>
