<template>
  <div>
    <div class="user-welcome d-block d-xl-flex flex-nowrap align-items-center">
      <div class="page-title mb-2 mb-sm-0">
        <h1>Transacciones de Bitrix</h1>
      </div>
      <div class="ml-auto d-flex align-items-center secondary-menu text-center">
        <a-tooltip>
          <template slot='title'>
            Actualizar lista
          </template>
          <a href="javascript:void(0);" @click="load_bitrix_deals(1)" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Todo list">
            <i class="fe fe-refresh-ccw btn btn-icon text-primary"></i>
          </a>
        </a-tooltip>
      </div>
      <div class="ml-xl-4 mt-xl-0 ml-0 mt-3 d-flex align-items-center">
        <div class="input-group">
          <input @keyup.enter="load_bitrix_deals(1)" id="search_bar" type="text" class="form-control form-control-sm" placeholder="Estado: LOSE, WON, etc" aria-label="LOSE, WON, etc" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button @click="load_bitrix_deals(1)" class="btn btn-primary btn-xs" type="button" id="button-addon2"><i class="ti ti-search"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="m-t-40 card">
      <div class="">
        <a-spin :spinning="spinning" :indicator="indicator" >
          <a-icon slot="indicator" type="loading" style="font-size: 32px" spin/>
          <vue-good-table
            max-height="50%"
            :columns="columns"
            :rows="rows"/>
        </a-spin>
      </div>

    </div>
    <div class="user-welcome d-block d-xl-flex flex-nowrap align-items-center">
      <div class="ml-auto d-flex align-items-center secondary-menu text-center">
        <a-pagination :showTotal="total => `${total_res} contactos en total`"
                      :total="total_res"
                      :pageSize="50"
                      @change="getContactsOffset"
        />
      </div>
    </div>
  </div>
</template>

<script>

import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import axios from 'axios'
export default {
  name: 'bitrix_deals',
  components: {
    VueGoodTable,
  },
  data(){
    let total_res


    return{
      indicator: <a-icon type="loading" style="font-size: 24px" spin />,
      spinning: false,
      total_res,
      columns: [
        {
          label: 'Titulo',
          field: 'TITLE',
          sortable: false,
        },
        {
          label: 'Tipo',
          field: 'TYPE_ID',
          sortable: false,
        },
        {
          label: 'ESTADO',
          field: 'STAGE_ID',
          sortable: false,
        },
        {
          label: 'Creado',
          field: 'DATE_CREATE',
          sortable: false,
        },
        {
          label: 'Moneda',
          field: 'CURRENCY_ID',
          sortable: false,
        },
        {
          label: 'OPPORTUNITY',
          field: 'OPPORTUNITY',
          sortable: false,
        },
        {
          label: 'Comentario',
          field: 'COMMENTS',
          sortable: false,
          html: true,
        },
      ],
      rows: [{}],
    }
  },
  methods:{
    convert(str) {
      console.log('Convirtiendo '+str)
      var date = new Date(str),
        mnth = ("0" + (date.getMonth() + 1)).slice(-2),
        day = ("0" + date.getDate()).slice(-2);
      return [date.getFullYear(), mnth, day].join("-");
    },
    getContactsOffset(value){
      this.load_bitrix_deals(value);
    },
    load_bitrix_deals(start){
      let search='';
      this.rows = [{}];
      let _this = this;
      this.spinning = true;
      let bContactP
      let offset

      search = document.getElementById('search_bar')
      offset = (start * 50)-50;
      bContactP={
        "offset": offset,
        "search_val": search.value
      }
      axios.post(process.env.BASE_URL+"managment/bitrix/bitrix_getdeals",bContactP).then((result) => {
        this.rows = result.data.result;
        this.total_res = result.data.total;
        _this.spinning = false;
        if (result.data.error){
          this.$message.error('Ha ocurrido un error al sincronizar las transacciones de Bitrix');
        }
      });
    },
  },
  mounted () {
    this.load_bitrix_deals(0)
  },

}
</script>

<style scoped>

</style>
