<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model()">
    <spinner v-if="loading"/>
    <div class="card-body p-0">

      <tc-form
        :feedbacks="mb.statics('Payment_recurrency').feedbacks"
        :vobject="$v"
        nested="payment_recurrency"
        ref="form"
        class="form-row"
      >
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Servicio</label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el Services"
              name="id_service"
              ref="select_service"
              :successFeed="false"
              :defaultValue="payment_recurrency.id_service"
              v-model="payment_recurrency.id_service"
              :url="mb.statics('Services').select_2_url"
            />

          </div>
        </tc-form-item>

        <a-modal
          @cancel="showModalCreateservice = false"
          v-if="showModalCreateservice"
          class="modal-form"
          :title="'Añadir services'"
          :visible="true"
          :header="null"
          :footer="null"
          :maskClosable="false"
        >
          <services_form :model="null" @close_modal="serviceAdded"/>
        </a-modal>

        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Fecha de siguiente pago<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-date-picker
              name="initial_date"
              :disabled-date="disabledDate"
              v-model="payment_recurrency.initial_date"
            />
          </div>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Dias recurrentes<span class='required_field'>*</span></label>
          <tc-input placeholder='Ingrese el valor' type_car='num' name='recurrency_date'
                    v-model="payment_recurrency.recurrency_date"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Activo</label>
          <div>
            <a-switch v-model="payment_recurrency.active"/>
          </div>
        </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button v-if="!payment_recurrency.get_id()" :disabled="loading" class="btn btn-primary" @click="save_model(true)">
        Añadir y nuevo
      </button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancel</button>
    </div>
  </div>
</template>

<script>
  import Payment_recurrency from '../../../../../entities/models/modules/billings/payment_recurrency.model'
  import * as utils from '../../../../../entities/utils/utils'
  import * as mb from '../../../../../entities/models'
  import Services_form from '../../../managment/services/form/services_form'
  import Club_members_form from '../../../managment/club_members/form/club_members_form'

  export default {
    name: 'payment_recurrency_form',
    inject: {
      close_modal: {
        default: () => {
        }
      },
      load_data: {
        default: () => {
        }
      }
    },
    props: {

      model: {
        type: Object,
        default: () => {
        }
      },
      club_member: {
        type: Object,
        default: () => {
        }
      },
      modal: {
        type: Boolean,
        default: false
      },
      popoverPlacement: {
        type: String,
        default: 'bottomLeft'
      }
    },
    validations: mb.statics('Payment_recurrency').validations,
    data () {
      return {
        loading: false,
        mb,      // This property is for load static or instance class
        payment_recurrency: mb.instance('Payment_recurrency'),
        showModalCreateservice: false,
        services_list: [],
        showModalCreateclub_members: false,
        club_members_list: [],
      }
    },
    computed: {
      payment_recurrencyFeedbacks () {
        return mb.statics('Payment_recurrency').feedbacks
      },
      button_text () {
        return this.payment_recurrency.get_id() ? 'Actualizar' : 'Añadir'
      },
    },

    mounted: function () {
      this.payment_recurrency = mb.instance('Payment_recurrency', this.model)

    },
    components: {

      Services_form,
      Club_members_form,
    },
    methods: {
      disabledDate (current) {
        return current && current < moment().endOf('day')
      },
      openModalCreateservice () {
        this.showModalCreateservice = true
      },
      serviceAdded (refresh) {
        this.showModalCreateservice = false
        refresh ? this.refreshservice() : ''
      },
      async refreshservice () {
        this.loading = true
        await this.$refs.select_service.load()
        this.loading = false
      },
      openModalCreateclub_members () {
        this.showModalCreateclub_members = true
      },
      club_membersAdded (refresh) {
        this.showModalCreateclub_members = false
        refresh ? this.refreshclub_members() : ''
      },
      async refreshclub_members () {
        this.loading = true
        await this.$refs.select_club_members.load()
        this.loading = false
      },
      cancel () {
        if (!this.model) {
          this.$emit('close_modal', false)
        } else {
          this.modal ? this.close_modal(null, false) : this.$router.push({name: 'payment_recurrency_list'})
        }
      },
      save_model (and_new = false) {
        if (this.$refs.form.validate()) {
          this.loading = true
          const accion = this.payment_recurrency.get_id() ? 'actualizado' : 'añadido'
          this.payment_recurrency.id_club_members=this.club_member.id_club_members
          this.payment_recurrency
            .save()
            .then((response) => {
              if (utils.process_response(response, accion)) {
                if (!this.model && !and_new && this.modal) {

                  this.$emit('close_modal', true)
                  return
                } else {
                  !and_new ? this.modal ? this.close_modal(null, true) : this.$router.push({name: 'payment_recurrency_list'}) : this.payment_recurrency = mb.instance('Payment_recurrency')
                }
                this.load_data()
                this.$refs.form.vobject.$reset()

              }
              this.loading = false
            })
            .catch((error) => {
              this.loading = false
              utils.process_error(error)
            })
        }
      }
    }
  }
</script>

<style scoped>
  @import "payment_recurrency_form.css";
</style>

