<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model">
    <spinner v-if="loading" />
    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0" >
      <tc-form
        :feedbacks="mb.statics('Role').feedbacks"
        :vobject="$v"
        nested="role"
        ref="form"
        class="form-row"
      >
        <tc-form-item class="form-group mb-0 col-md-12 px-3">
          <label>Rol</label>
          <tc-input placeholder="Ingrese el rol" name="role_name" v-model="role.role_name"></tc-input>
        </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-3">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancelar</button>
    </div>
  </div>
</template>

<script>
import Role from "../../../../../entities/models/modules/security/role.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models";

export default {
  name: "role_form",
  inject: {
    close_modal: { default: ()=>{} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
    modal: {
      type: Boolean,
      default: false
    },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: mb.statics('Role').validations,
  data() {
    return {
      // This property must have the same name of the model
      mb,
      loading: false,
      role: mb.instance('Role')
    };
  },
  computed: {
    roleFeedbacks() {
      return mb.statics('Role').feedbacks;
    },
    button_text() {
      return this.role.get_id() ? "Modificar" : "Agregar";
    },
    modalTitle() {
      return this.role.get_id()
        ? "Editar Rol"
        : "Agregar Rol";
    }
  },

  mounted: function() {
    this.role = mb.instance('Role', this.model);

  },
  components: {},
  methods: {
    cancel(){
      this.modal?this.close_modal(null,false):this.$router.push({name: 'role_list'})
    },
    save_model() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.role.get_id() ? "actualizado" : "insertado";
        this.role
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
              this.modal?this.close_modal(null,true):this.$router.push({name: 'role_list'})
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "role_form.css";
</style>

