<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model()">
    <spinner v-if="loading" />
    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0" >

      <tc-form
        :feedbacks="mb.statics('Failed_jobs').feedbacks"
        :vobject="$v"
        nested="failed_jobs"
        ref="form"
        class="form-row"
      >
      <tc-form-item class="form-group p-0 col-12">
        <label>Connection<span class='required_field'>*</span></label>
        <a-textarea size="large" v-model="failed_jobs.connection"></a-textarea>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-12">
        <label>Queue<span class='required_field'>*</span></label>
        <a-textarea size="large" v-model="failed_jobs.queue"></a-textarea>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>Payload<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el valor payload' name='payload' v-model="failed_jobs.payload"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>Exception<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el valor exception' name='exception' v-model="failed_jobs.exception"></tc-input>
      </tc-form-item>
        <tc-form-item class="form-group mb-0 col-md-6 px-3">
          <label>Failed_at<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-date-picker name="failed_at" v-model="failed_jobs.failed_at"></tc-date-picker>
          </div>
        </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button v-if="!failed_jobs.get_id()" :disabled="loading" class="btn btn-primary" @click="save_model(true)">Añadir y nuevo</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancel</button>
    </div>
  </div>
</template>

<script>
import Failed_jobs from "../../../../../entities/models/modules/managment/failed_jobs.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models"

export default {
  name: "failed_jobs_form",
  inject: {
      close_modal: { default: ()=>{} },
      load_data: {default: () => {} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
      modal: {
        type: Boolean,
        default: false
      },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: mb.statics('Failed_jobs').validations,
  data() {
    return {
      loading: false,
      mb,      // This property is for load static or instance class
      failed_jobs: mb.instance( 'Failed_jobs'),
    };
  },
  computed: {
    failed_jobsFeedbacks() {
      return mb.statics('Failed_jobs').feedbacks;
    },
    button_text() {
      return this.failed_jobs.get_id() ? "Modificar" : "Añadir";
    },
    modalTitle() {
      return this.failed_jobs.get_id()
        ? "Modificar Failed_jobs"
        : "Añadir Failed_jobs";
    }
  },

  mounted: function() {
    this.failed_jobs = mb.instance( 'Failed_jobs',this.model);

  },
  components: {

             },
  methods: {
      cancel(){
        if (this.model === null) {
          this.$emit('close_modal',false)
        } else {
        this.modal?this.close_modal(null,false):this.$router.push({name: 'failed_jobs_list'})
       }
      },
    save_model(and_new=false) {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.failed_jobs.get_id() ? "actualizado" : "añadido";
        this.failed_jobs
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
                if (this.model === null) {
                  this.$emit('close_modal',true)
                  return;
               }
                else
                   !and_new?this.modal?this.close_modal(null,true):this.$router.push({name: 'failed_jobs_list'}):this.failed_jobs=mb.instance('Failed_jobs');this.load_data();this.$refs.form.vobject.$reset()
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "failed_jobs_form.css";
</style>

