<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model()">
    <spinner v-if="loading" />
    <div class="card-body p-0" >

      <tc-form
        :feedbacks="mb.statics('Logs').feedbacks"
        :vobject="$v"
        nested="logs"
        ref="form"
        class="form-row"
      >
      <tc-form-item class="form-group p-0 col-6">
        <label>Log_action<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el valor log_action' name='log_action' v-model="logs.log_action"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>Log_description<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el valor log_description' name='log_description' v-model="logs.log_description"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>User_id<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el valor user_id'   type_car='num'  name='user_id' v-model="logs.user_id"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>Table</label>
        <tc-input placeholder='Ingrese el valor table' name='table' v-model="logs.table"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>Id_table</label>
        <tc-input placeholder='Ingrese el valor id_table'   type_car='num'  name='id_table' v-model="logs.id_table"></tc-input>
      </tc-form-item>
      <tc-form-item class="form-group p-0 col-6">
        <label>Name_user<span class='required_field'>*</span></label>
        <tc-input placeholder='Ingrese el valor name_user' name='name_user' v-model="logs.name_user"></tc-input>
      </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button v-if="!logs.get_id()" :disabled="loading" class="btn btn-primary" @click="save_model(true)">Añadir y nuevo</button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancel</button>
    </div>
  </div>
</template>

<script>
import Logs from "../../../../../entities/models/modules/security/logs.model";
import * as utils from "../../../../../entities/utils/utils";
import * as mb from "../../../../../entities/models"

export default {
  name: "logs_form",
  inject: {
      close_modal: { default: ()=>{} },
      load_data: {default: () => {} }
  },
  props: {
    model: {
      type: Object,
      default: () => {}
    },
      modal: {
        type: Boolean,
        default: false
      },
    popoverPlacement: {
      type: String,
      default: "bottomLeft"
    }
  },
  validations: mb.statics('Logs').validations,
  data() {
    return {
      loading: false,
      mb,      // This property is for load static or instance class
      logs: mb.instance( 'Logs'),
    };
  },
  computed: {
    logsFeedbacks() {
      return mb.statics('Logs').feedbacks;
    },
    button_text() {
      return this.logs.get_id() ? "Modificar" : "Añadir";
    },
    modalTitle() {
      return this.logs.get_id()
        ? "Modificar Logs"
        : "Añadir Logs";
    }
  },

  mounted: function() {
    this.logs = mb.instance( 'Logs',this.model);

  },
  components: {

             },
  methods: {
      cancel(){
        if (this.model === null) {
          this.$emit('close_modal',false)
        } else {
        this.modal?this.close_modal(null,false):this.$router.push({name: 'logs_list'})
       }
      },
    save_model(and_new=false) {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const accion=this.logs.get_id() ? "actualizado" : "añadido";
        this.logs
          .save()
          .then((response) => {
            if(utils.process_response(response,accion)) {
                if (this.model === null) {
                  this.$emit('close_modal',true)
                  return;
               }
                else
                   !and_new?this.modal?this.close_modal(null,true):this.$router.push({name: 'logs_list'}):this.logs=mb.instance('Logs');this.load_data();this.$refs.form.vobject.$reset()
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            utils.process_error(error);
          });
      }
    }
  }
};
</script>

<style scoped>
@import "logs_form.css";
</style>

