<template>
  <div>
    <h1>Gestión de Eventos</h1>
    <a-tabs :defaultActiveKey="defaultActiveKey" :activeKey="activeKey " @change="onchange">
      <a-tab-pane key="1">
      <span slot="tab">
        <i class="ti ti-map-alt" style="font-size: 25px"></i>
        Datos del Evento
      </span>
        <event_form/>
      </a-tab-pane>
      <a-tab-pane key="2">
      <span slot="tab">
        <i class="ti ti-user" style="font-size: 25px"></i>
        Participantes
      </span>
        <event_participant_list/>
      </a-tab-pane>
      <a-tab-pane key="3">
      <span slot="tab">
        <i class="ti ti-bag" style="font-size: 25px"></i>
        Productos
      </span>
        <event_product_list/>
      </a-tab-pane>
      <a-tab-pane key="4">
      <span slot="tab">
        <i class="ti ti-notepad" style="font-size: 25px"></i>
        Documento
      </span>
        <upload_document/>
      </a-tab-pane>
    </a-tabs>
  </div>
</template>

<script>
  import event_form from './event_form'
  import event_participant_list from '../../event_participant/list/event_participant_list'
  import * as mb from '../../../../../entities/models'
  import event_product_list from '../../event_product/list/event_product_list'
  import upload_document from './upload_document'

  export default {
    name: 'event_tab_form',
    provide: function () {
      return {
        set_event: this.set_event,
        get_event: this.get_event
      }
    },
    components: {
      event_form,
      event_participant_list,
      event_product_list,
      upload_document
    },
    methods: {
      onchange (key) {
        if (Number.parseInt(key) > 1 && !this.event.get_id()) {
          const caract = key === '2' ? 'participantes' : 'productos'
          this.$warning({
            title: 'Evento',
            content: 'Debe insertar el evento antes de editar sus ' + caract
          })
          this.activeKey = '1'
          return
        }
        this.activeKey = key
      },
      set_event (event) {
        this.event = event
      },
      get_event () {
        return this.event
      }
    },
    beforeMount () {
      this.defaultActiveKey = '1'
    },
    data () {
      return {
        event: mb.instance('Event'),
        defaultActiveKey: '1',
        activeKey: '1',
        mb
      }
    }
  }
</script>

<style scoped>

</style>
