<template>
  <div ref="form_container" class="card position-relative mb-0" v-on:keyup.enter="save_model()">
    <spinner v-if="loading"/>
    <div class="card-header p-0">
      <h4>{{modalTitle}}</h4>
    </div>
    <div class="card-body p-0">

      <tc-form
        :feedbacks="mb.statics('Event').feedbacks"
        :vobject="$v"
        nested="event"
        ref="form"
        class="form-row"
      >
        <tc-form-item class="form-group p-3 col-3">
          <label>Nombre del evento<span class='required_field'>*</span></label>
          <tc-input placeholder='Ingrese el valor ' name='event_name'
                    v-model="event.event_name"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group p-3 col-3">
          <label>Precio<span class='required_field'>*</span></label>
          <tc-input placeholder='Ingrese el valor ' type_car='dec' name='event_price'
                    v-model="event.event_price"></tc-input>
        </tc-form-item>
        <tc-form-item class="form-group p-3 col-3">
          <label>Fecha inicio<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-date-picker name="date_init" @change="changeDateInit" :disabled-date="disabledDate" v-model="event.date_init"></tc-date-picker>
          </div>
        </tc-form-item>
        <tc-form-item class="form-group p-3 col-2">
          <label>Todo el día<span class='required_field'>*</span></label>
          <div>
            <a-switch v-model="event.is_all_day"/>
          </div>
        </tc-form-item>

        <tc-form-item class="form-group p-3 col-3">
          <label>Lugar<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el Locations"
              name="id_location"
              :search_params="{}"
              ref="select_location"
              :successFeed="false"
              :defaultValue="event.id_location"
              v-model="event.id_location"
              :url="mb.statics('Locations').select_2_url"
            />
            <a-button type="dashed"
                      icon="plus"
                      class="dashed-primary rounded mt-1 ml-2"
                      @click="openModalCreatelocation">
            </a-button>
          </div>
        </tc-form-item>
        <a-modal
          @cancel="showModalCreatelocation = false"
          v-if="showModalCreatelocation"
          class="modal-form"
          :visible="true"
          :header="null"
          :footer="null"
          :maskClosable="false"
        >
          <locations_form :model="null" @close_modal="locationAdded"/>
        </a-modal>


        <tc-form-item class="form-group p-3 col-3">
          <label>Tipo de Registro<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el Register_type"
              name="id_register_type"
              :search_params="{}"
              ref="select_register_type"
              :successFeed="false"
              :defaultValue="event.id_register_type"
              v-model="event.id_register_type"
              :url="mb.statics('Register_type').select_2_url"
            />
            <a-button type="dashed"
                      icon="plus"
                      class="dashed-primary rounded mt-1 ml-2"
                      @click="openModalCreateregister_type">
            </a-button>
          </div>
        </tc-form-item>
        <a-modal
          @cancel="showModalCreateregister_type = false"
          v-if="showModalCreateregister_type"
          class="modal-form"
          :visible="true"
          :header="null"
          :footer="null"
          :maskClosable="false"
        >
          <register_type_form :model="null" @close_modal="register_typeAdded"/>
        </a-modal>
        <tc-form-item class="form-group p-3 col-3">
          <label>Tipo de evento<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-autocomplete
              placeholder="Seleccione el Event_type"
              name="id_event_type"
              :search_params="{}"
              ref="select_event_type"
              :successFeed="false"
              :defaultValue="event.id_event_type"
              v-model="event.id_event_type"
              :url="mb.statics('Event_type').select_2_url"
            />
            <a-button type="dashed"
                      icon="plus"
                      class="dashed-primary rounded mt-1 ml-2"
                      @click="openModalCreateevent_type">
            </a-button>
          </div>
        </tc-form-item>
        <tc-form-item class="form-group p-3 col-2">
          <label>Estado</label>
          <div>
            <a-switch checkedChildren="Activo" unCheckedChildren="Cancelado" v-model="estado"/>
          </div>
        </tc-form-item>

        <tc-form-item v-if="!event.is_all_day" class="form-group p-3 col-md-3">
          <label>Fecha Fin<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-date-picker name="date_end" v-model="event.date_end" :disabled-date="disabledDateEnd"></tc-date-picker>
          </div>
        </tc-form-item>
        <tc-form-item v-if="!event.is_all_day" class="form-group p-3 col-md-3">
          <label>Duración<span class='required_field'>*</span></label>
          <div class="d-flex flex-row">
            <tc-time-picker placeholder="Seleccione la duración" name="event_duration" format="HH:mm" v-model="event.event_duration"></tc-time-picker>
          </div>
        </tc-form-item>
        <tc-form-item class="form-group p-3 col-md-3">
          <label>Cantidad de Participantes<span class='required_field'>*</span></label>
          <tc-input placeholder='Ingrese el valor ' type_car='num' name='amount_guess'
                    v-model="event.amount_guess"></tc-input>
        </tc-form-item>

        <div class="row col-md-12">
          <tc-form-item class="form-group p-3 col-6">
            <label>Correos Responsables<span class='required_field'>*</span>
              <p>(separados por ,)</p></label>
            <div>
              <a-textarea size="large" v-model="event.emails"></a-textarea>
            </div>
          </tc-form-item>
          <tc-form-item class="form-group p-3 col-6">
            <label>Teléfonos responsables<span
              class='required_field'>*</span><span><p>(separados por ,)</p></span></label>
            <a-textarea size="large" v-model="event.phones"></a-textarea>
          </tc-form-item>
        </div>


        <a-modal
          @cancel="showModalCreateevent_type = false"
          v-if="showModalCreateevent_type"
          class="modal-form"
          :visible="true"
          :header="null"
          :footer="null"
          :maskClosable="false"
        >
          <event_type_form :model="null" @close_modal="event_typeAdded"/>
        </a-modal>
        <tc-form-item v-if="false" class="form-group p-3 col-4">
          <label>Documento</label>
          <a-textarea size="large" v-model="event.documents"></a-textarea>
        </tc-form-item>
      </tc-form>
    </div>
    <div class="card-footer p-0">
      <button :disabled="loading" class="btn btn-primary" @click="save_model()">{{button_text}}</button>
      <button v-if="!event.get_id()" :disabled="loading" class="btn btn-primary" @click="save_model(true)">Añadir y
        nuevo
      </button>
      <button :disabled="loading" class="btn btn-danger" @click="cancel()">Cancel</button>
    </div>
  </div>
</template>

<script>
  import Event from '../../../../../entities/models/modules/managment/event.model'
  import * as utils from '../../../../../entities/utils/utils'
  import * as mb from '../../../../../entities/models'
  import Register_type_form from '../../../nomenclatures/register_type/form/register_type_form'
  import Event_type_form from '../../../nomenclatures/event_type/form/event_type_form'
  import Locations_form from '../../../nomenclatures/locations/form/locations_form'

  export default {
    name: 'event_form',
    inject: {
      close_modal: {
        default: () => {
        }
      },
      load_data: {
        default: () => {
        }
      },
      set_event: {
        default: () => {
        }
      },
      get_event: {
        default: () => {
        }
      }
    },
    props: {
      model: {
        type: Object,
        default: () => {
        }
      },
      modal: {
        type: Boolean,
        default: false
      },
      popoverPlacement: {
        type: String,
        default: 'bottomLeft'
      }
    },
    validations: mb.statics('Event').validations,
    data () {
      return {
        loading: false,
        estado: true,
        columns_email: [{
          title: 'Correo',
          dataIndex: 'email',
          width: '30%',
          scopedSlots: {customRender: 'name'},
        }],
        columns_phone: [{
          title: 'Teléfonos',
          dataIndex: 'phone',
          width: '30%',
          scopedSlots: {customRender: 'name'},
        }],
        mb,      // This property is for load static or instance class
        event: mb.instance('Event'),
        showModalCreateregister_type: false,
        register_type_list: [],
        showModalCreateevent_type: false,
        event_type_list: [],
        showModalCreatelocation: false,
        locations_list: [],
        email_list: [],
        phones_list: []
      }
    },
    computed: {
      eventFeedbacks () {
        return mb.statics('Event').feedbacks
      },
      button_text () {
        return this.event.get_id() ? 'Modificar' : 'Añadir'
      },
      modalTitle () {
        return this.event.get_id()
          ? 'Modificar Evento'
          : 'Añadir Evento'
      }
    },

    beforeMount: async function () {
      this.loading=true
      if(this.$route.name=="add_event_template" && !this.$route.params.template){
        this.$router.push({name: 'event_list'})
      }
      if (this.$route.params.id) {
        const event = await mb.statics('Event').view(this.$route.params.id).then(response => response.data).catch(data => {
          if (data.response.status == 404) {
            this.$router.push({name: 'event_list'})
          }
          return data
        })
        this.event = mb.instance('Event', event)
        this.set_event(this.event)
      } else {
        this.event = mb.instance('Event', this.model)
      }
      this.loading=false

    },
    components: {
      Register_type_form,
      Event_type_form,
      Locations_form,
    },
    watch: {
      estado (newValue, oldValue) {
        this.event.state = newValue ? 'Activo' : 'Cancelado'
      },
    },
    methods: {
      disabledDate (current) {
        // Can not select days before today and today
        return current && current < moment().subtract(1,'days')
      },
      changeDateInit (current) {
        // Can not select days before today and today
        return this.event.date_end = current
      },
      disabledDateEnd (current) {
        // Can not select days before today and today
        return current && current < moment(this.event.date_init)
      },
      addEmails () {

      },
      onCellChangeEmail (key, dataIndex, value) {
        const dataSource = [...this.email_list]
        const target = dataSource.find(item => item.key === key)
        if (target) {
          target[dataIndex] = value
          this.email_list = dataSource
        }
      },
      onDeleteEmail (key) {
        const dataSource = [...this.email_list]
        this.email_list = dataSource.filter(item => item.key !== key)
      },
      openModalCreateregister_type () {
        this.showModalCreateregister_type = true
      },
      register_typeAdded (refresh) {
        this.showModalCreateregister_type = false
        refresh ? this.refreshregister_type() : ''
      },
      async refreshregister_type () {
        this.loading = true
        await this.$refs.select_register_type.load()
        this.loading = false
      },
      openModalCreateevent_type () {
        this.showModalCreateevent_type = true
      },
      event_typeAdded (refresh) {
        this.showModalCreateevent_type = false
        refresh ? this.refreshevent_type() : ''
      },
      async refreshevent_type () {
        this.loading = true
        await this.$refs.select_event_type.load()
        this.loading = false
      },
      openModalCreatelocation () {
        this.showModalCreatelocation = true
      },
      locationAdded (refresh) {
        this.showModalCreatelocation = false
        refresh ? this.refreshlocation() : ''
      },
      async refreshlocation () {
        this.loading = true
        await this.$refs.select_location.load()
        this.loading = false
      },
      cancel () {
        if (this.model === null) {
          this.$emit('close_modal', false)
        } else {
          this.modal ? this.close_modal(null, false) : this.$router.push({name: 'event_list'})
        }
      },
      save_model (and_new = false) {
        if (this.$refs.form.validate()) {
          this.loading = true
          const accion = this.event.get_id() ? 'actualizado' : 'añadido'
          if (this.event.is_all_day) {
            this.event.date_end = this.event.date_init
            this.event.event_duration = '12:00'
          }
          this.event
            .save()
            .then((response) => {
              if (utils.process_response(response, accion)) {
                if (this.model === null) {
                  this.$emit('close_modal', true)
                  return
                } else {
                  !and_new ? this.modal ? this.close_modal(null, true) : this.$router.push({name: 'event_list'}) : this.event = mb.instance('Event')
                }
                this.$refs.form.vobject.$reset()
              }
              this.loading = false
            })
            .catch((error) => {
              this.loading = false
              utils.process_error(error)
            })
        }
      }
    }
  }
</script>

<style scoped>
  @import "event_form.css";
</style>

