<template>
  <a-spin tip="Subiendo documento..." :spinning="loading">
    <div style="height: 300px">
      <a-upload
        @change="handleChange"
        :showUploadList="false"
        :beforeUpload="beforeUpload"
        :fileList="fileList"

      >
        <a-button>
          <a-icon type="upload" /> Subir
        </a-button>
      </a-upload>
      <a-button v-if="event.documents" type="primary"  @click="download" icon="download" >Descargar</a-button>
    </div>
  </a-spin>

</template>
<script>
  import * as utils from '../../../../../entities/utils/utils'
  import * as mb from '../../../../../entities/models'

  export default {
    name: 'upload_document',
    inject: {
      get_event: {
        default: () => {
        }
      },
    },
    data () {
      return {
        loading: false,
        mb,
        fileList: [],
        event:null
      }

    },
    mounted () {
      this.event=this.get_event()
    },
    methods: {
      download(){
        window.open(mb.statics('Event').getDocumentURL(this.event.documents))
      },
      beforeUpload () {
        return false
      },
      handleChange (info) {
        this.loading = true
        const event = this.get_event()
        event.documents = info.file
        event.isFormData = (event.documents instanceof File) ? true : false
        delete event.created_at
        delete event.date_end
        delete event.date_init
        event.save()
          .then((response) => {
            utils.process_response(response, 'actualizado')
            this.loading = false
          })
          .catch((error) => {
            this.loading = false
            utils.process_error(error)
          })
      },
    },
  }
</script>
