<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Gestión</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Equipo</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Empleados</li>
      </ol>
    </nav>
    <div>
      <div class="row">
        <div class="col-md-6">
          <a-button-group style="margin-bottom: 10px">
            <a-tooltip placement="topLeft" title="Añadir nuevo elemento">
              <a-button icon="plus" type="primary" @click="showModalForm">Agregar</a-button>
            </a-tooltip>
            <a-tooltip placement="topLeft" title="Eliminar elementos seleccionados">
              <a-button icon="delete" type="danger" @click="showDeleteConfirm">Eliminar</a-button>
            </a-tooltip>
          </a-button-group>
        </div>
        <div class="col-md-6" style="text-align: end;">
          <div class="form-group">
            <div class="input-group mb-3">
              <a-tooltip placement="topLeft" title="Buscar..">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  v-model="filter"
                  placeholder="Buscar"
                  aria-label
                />
              </a-tooltip>
              <div class="input-group-append">
                <a-tooltip placement="topLeft" title="Limpiar filtros">
                  <a-button
                    style="text-align: end"
                    class="rounded-0"
                    type="primary"
                    @click="filter=''"
                  >
                    <i class="ti ti-eraser" style="margin-right: 10px" />Limpiar
                  </a-button>
                </a-tooltip>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <h6 style="text-align: left">Listado de Empleados</h6>
          </div>
          <div class="col-md-6" style="text-align: end;float: right" >
            <div class="row">
              <div class="col-md-8" style="text-align: end">
                <p style="text-align: end">
                  Elementos seleccionados {{selectedRowKeys.length}}/{{data.length}}
                </p>
              </div>
              <div class="col-md-3">
                <a-dropdown-button style="margin-left: 45%;" >
                  Exportar
                  <a-menu slot="overlay">
                    <a-menu-item key="1" @click="exportToExcel"><a-icon type="file-excel" theme="twoTone" twoToneColor="#52c41a" />Excel</a-menu-item>
<!--                    <a-menu-item key="2" @click=""><a-icon type="file-pdf" theme="twoTone" twoToneColor="#c41c33" />PDF</a-menu-item>-->
                    <a-menu-item key="3" @click="exportToCSV"><a-icon type="file-text" theme="twoTone" twoToneColor="#2771c4" />CSV</a-menu-item>
                  </a-menu>
                </a-dropdown-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a-modal
        @cancel="onCloseModal"
        class="modal-form"
        width="55rem"
        :visible="show_modal_form"
        :destroyOnClose="true"
        on-ok="handleOk"
        :header="null"
        :footer="null"
        :maskClosable="false"

      >
<!--        <employees_form :model="selected_model" @close_modal="onCloseModal"/>-->
        <employees_form :modal=true :model="selected_model" />
      </a-modal>

      <a-table
        :columns="columns"
        :rowKey="record => record.id_employee"
        :dataSource="data"
        :rowSelection="rowSelection"
        :loading="loading"
        :pagination="pagination.$data"
      >
        <a slot="action" slot-scope="record" href="javascript:;">
          <action_buttons
            :object="record"
            :visible_view="false"
            :v_instance="self"
            :class_name="selected_model.class_name()">
            <a-tooltip placement="top" title="Crear contrato" :props="employee_id" @click="goToContract(record)">
              <i class=" ti ti-agenda" style="padding-right: 5px;color: #1fb473;font-size: 20px;" />
            </a-tooltip>
            <a-tooltip placement="top" title="Crear Nómina" :props="employee_id" @click="goToPayroll(record)">
              <i class=" ti ti-bag" style="padding-right: 5px;color: #1fb473;font-size: 20px;" />
            </a-tooltip>
          </action_buttons>
        </a>
        <template slot="employee_picture" slot-scope="record">
          <a-popover :title="record.employee_name +' '+record.employee_last_name">
            <template slot="content">
              <a-avatar :size="80" :src="mb.statics('Employees').getImageURL(record.employee_picture)"/>
            </template>
            <a-avatar size="large" :src="mb.statics('Employees').getImageURL(record.employee_picture)"/>
          </a-popover>
        </template>
      </a-table>
    </div>
  </div>
</template>

<script>
import Employees from "../../../../../entities/models/modules/managment/employees.model";
import * as utils from "../../../../../entities/utils/utils";
import action_buttons from "../../../../shared/table/action_buttons/action_buttons";
import pagination_functions from "../../../../shared/table/pagination/pagination_options";
import vantdpagination from "../../../../shared/table/pagination/antd_pagination";
import employees_form from "../form/employees_form";
import * as mb from "../../../../../entities/models";

export default {
  name: "employees_list",
  provide: function () {
    return {
      close_modal: this.onCloseModal
    }
  },
  data() {
    return {
      data: [],
      self: null,
      employees_list: [],
      filter: null,
      columns: mb.statics('Employees').show_columns(["employee_attachment","employee_email_owned","employee_address","employee_postal_code","states.id_state","language.id_language","currencies.id_currency","countries.id_country","employee_work_zone","created_at","updated_at"],false),
      loading: false,
      text_select: "Marcar todos",
      selectedRowKeys: [],
      pagination: vantdpagination,
      selected_model: mb.instance('Employees'),
      show_modal_form: false,
      mb,
      employee_id: 'record.id_employee'
    };
  },
  components: {
    action_buttons,
    pagination_functions,
    vantdpagination,
    employees_form
  },
  watch: {
    filter: function() {
      this.data = this.employees_list.data.filter(this.filter_data);
    },
    selectedRowKeys: function() {
      if (this.selectedRowKeys.length == this.data.length) {
        this.text_select = "Desmarcar todos";
      } else {
        this.text_select = "Marcar todos";
      }
    }
  },
  computed: {
    rowSelection() {
      const { selectedRowKeys } = this;
      return {
        selectedRowKeys,
        hideDefaultSelections: true,
        selections: [
          {
            key: "all-data",
            text: this.text_select,
            onSelect: () => {
              if (this.selectedRowKeys.length == this.data.length) {
                this.selectedRowKeys = [];
              } else {
                this.selectedRowKeys = this.data.map(e => {
                  return e.id_employees;
                });
              }
            }
          }
        ],
        onSelection: this.onSelection,
        onChange: this.onChange
      };
    }
  },
  methods: {
    goToPayroll (record) {
      this.$router.push({
        name: 'payrolls_form',
        params: {
          employee_id: record.id_employee,
          created_at: record.created_at ,
          updated_at: record.updated_at ,
          employee: record
        }
      })
      this.$router.go(1)
    },

    goToContract (record) {
      this.$router.push({
        name: 'contracts_form',
        params: {
          employee_id: record.id_employee,
          created_at: record.created_at ,
          updated_at: record.updated_at ,
          employee: record
        }
      })
      this.$router.go(1)
    },
    exportToExcel () {
      utils.exportToExcelVinstance(this)
    },
    exportToCSV () {
      utils.exportToCSV(this)
    },
    onCloseModal(e,reload_data=false) {
      this.selected_model = new Employees();
      this.show_modal_form = false;
      reload_data?this.load_data():''
    },
    showModalForm() {
      this.show_modal_form = !this.show_modal_form;
    },
    filter_data(object) {
      return utils.filter_object_column(object, this.filter,this.columns);
    },
    onChange: function(selectedRowKeys) {
      this.selectedRowKeys = selectedRowKeys;
    },
    showDeleteConfirm() {
      if (this.selectedRowKeys.length == 0) {
        utils.openNotificationWithIcon(
          "error",
          "Eliminar elementos seleccionados",
          "Debe seleccionar al menos un elemento"
        );
        return;
      }
      let _this = this;
      this.$confirm({
        title: "Desea eliminar los elementos seleccionados?",
        icon: "delete",
        // icon:()=>{return ( <a-icon type="delete" style="color:red"/> )},
        okText: "Si",
        okType: "danger",
        class: "delete_confirm",
        cancelText: "No",
        async onOk() {
          try {
            const response = await Employees.delete_by_ids(
                _this.selectedRowKeys
              );
               utils.process_response(response, "deleted");
              _this.selectedRowKeys=[];
              _this.load_data();
            } catch (error) {
              utils.process_error(error);
              _this.selectedRowKeys=[];
            }
        },
        onCancel() {}
      });
    },
    async load_data() {
      try {
        this.loading = true;
        var params = {};
        params.relations = [ 'country', 'state', 'language', 'payment_type', 'currency', 'employee_status', 'work_country']
        const resp = await Employees.list(params);
        this.employees_list = resp;
        this.data = this.employees_list.data.filter(this.filter_data);
        this.loading = false;
      } catch (error) {
        utils.process_error(error);
        this.loading = false;
      }
    },

    async delete_selected() {},

    onEditing(model) {
      this.selected_model = new Employees(model);
      this.showModalForm();
    },
  },

  mounted() {
    this.loading = true;
    this.data = [];
    this.load_data();
    this.self = this;
    this.pagination.$options.props = {
      load_data: this.load_data
    };
  }
};
</script>

<style>
@import "employees_list.css";
</style>

